﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.CompleteTrainingViewModel



@using (Html.BeginForm("CompleteTraining", "Instructors", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-add-note" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.TrainingID)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                   @InstructorsStrings.CompleteTraining
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @InstructorsStrings.CompleteTrainingInstructions
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@InstructorsStrings.ReportCompletion</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>