﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorRoleViewModel

<h5 style="font-weight:bold;" class="bottom-margin-25x inline-header">
    @InstructorsStrings.InstructorRole
</h5>
<div class="circle" style="min-height: 50px;">
    @*<h5 class="strong inline-header">@InstructorsStrings.TrainingFolder</h5>*@
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.RoleName:</span> @Model.Name</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.RequiredHours:</span> @Model.RequiredHours</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.ExpirationDaysRule:</span> @Model.ExpirationDaysRule</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.StartingValidity:</span> @Model.StartingValidity.GetDescription()</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.StartingRenewal:</span> @Model.StartingRenewal</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.AutomaticRenewal:</span> @Html.GetIcon(Model.AutomaticRenewal ? Icons.Ok : Icons.No, InstructorsStrings.AutomaticRenewal)</div>
</div>
