﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.DAL
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using Microsoft.Ajax.Utilities
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorViewModel



<div class="circle">
    <h5 class="strong inline-header">@InstructorsStrings.PersonalDetails</h5>

    <div class="col-sm-6">
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.InstructorID:</span> @Model.InstructorID</div>
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.FirstNameHE:</span> @Model.FirstNameHE</div>
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.LastNameHE:</span> @Model.LastNameHE</div>
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.FirstNameEN:</span> @Model.FirstNameEN</div>
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.LastNameEN:</span> @Model.LastNameEN</div>
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.PassportID:</span> @Model.PassportID</div>
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.Address:</span> @String.Format("{0}, {1} {2}", Model.Address, Model.City, Model.ZipCode)</div>
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.HomePhone:</span> @Model.HomePhone</div>
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.CellPhone:</span> @Model.CellPhone</div>
        <div class="col-sm-12 bottom-padding-2x"><span class="strong padding-right-5px">@AccountStrings.EmailAddress:</span> @Model.Email</div>
    </div>
    <div class="col-sm-6">


        @if (String.IsNullOrEmpty(Model.ImageURL))
        {
            <img src="~/Content/img/avatar-2.jpg" title="@InstructorsStrings.InstructorProfilePicture" class="profile-picture" />
        }
        else
        {
            <img src="@Url.Content(String.Format("{0}\\{1}\\{2}",AppConfig.InstructorProfilePictureRelativePath, Model.ID.ToString(), Model.ImageURL))" title="@Model.FullNameHE" class="profile-picture" />
        }
        @if (User.IsInRole(eRole.Agent.ToString()) || User.IsInRole(eRole.Staf.ToString()) || User.IsInRole(eRole.SchoolManager.ToString()) || User.IsInRole(eRole.Administrator.ToString()))
        {
            @(Ajax.LinkForBootstrapModal("UpdateProfilePicture", "Instructors", routeValues: new { ID = Model.ID })
              .HtmlAttributes(new { @class = "btn btn-sm", id = "InstructorUpdateCertificate", title = InstructorsStrings.UpdateProfilePicture })
              .RawLabel(@<text>@InstructorsStrings.UpdateProfilePicture</text>)
              .LoadingPanelID("InstructorFolderLoadingPanelContainer")
              .ModalWindowContainerID("InstructorFolderModalWindowContainer")
              .UseExsistingModalcontainer(true))
        }
    </div>
    <div class="col-sm-12">
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.OrganizationalStatus:</span> @Model.OrganizationalStatus.GetDescription()</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.ValidityStartDate:</span> @String.Format("{0}", Model.ValidityStartDate != null ? ((DateTime)Model.ValidityStartDate).ToString(AppConfig.FormatDate) : "")</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.ValidityEndTime:</span> @String.Format("{0}", Model.ValidityEndTime != null ? ((DateTime)Model.ValidityEndTime).ToString(AppConfig.FormatDate) : "")</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.InstructorValidity:</span> @Model.InstructorValidity.GetDescription()</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.CertificateID:</span> @Model.CertificateID</div>
        <div class="col-sm-6">&nbsp;</div>
    </div>
</div>

@Html.Partial("_InstructorRoleDetails", Model.InstructorRoleModel)

<h5 class="strong inline-header">@InstructorsStrings.ValidityStatus</h5>
@switch (@Model.InstructorValidity)
{
    case eInstructorValidity.NoRecords:
        <p class="alert alert-info">@String.Format(InstructorsStrings.InstructorValidityStatus, "")</p>
        break;
    case eInstructorValidity.NotValid:
        <p class="alert alert-danger">@String.Format(InstructorsStrings.InstructorValidityStatus, Model.ValidityEndTime != null ? ((DateTime)Model.ValidityEndTime).ToString(AppConfig.FormatDate) : "")</p>
        break;
    case eInstructorValidity.Valid:
        <p class="alert alert-success">@String.Format(InstructorsStrings.InstructorValidityStatus, ((DateTime)Model.ValidityEndTime).ToString(AppConfig.FormatDate))</p>
        break;
}
