﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorGroupsViewModel>


<h5 class="strong inline-header">@InstructorsStrings.InstructorGroups</h5>
@Html.Grid(Model).Columns(col =>
{
    col.For(c => Html.ActionLink(c.GroupExternalId.ToString(), "GroupFolderManagement", "Groups", new { ID = c.GroupId }, null)).Named(GroupsStrings.ExpeditionID);
    col.For(c => c.DestinationName.GetDescription()).Named(TripsStrings.Destenation);
    col.For(c => c.GroupDepartureDate).Named(TripsStrings.DepartureDate).Format(AppConfig.FormatDateGrid);
    col.For(c => c.InstituteId).Named(SchoolsStrings.InstituteID);
    col.For(c => c.SchoolName).Named(SchoolsStrings.Name);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "instructorGroups").Empty(CommonStrings.Empty)