﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorTrainingViewModel>


<h5 class="strong inline-header">@InstructorsStrings.InstructorTrainings</h5>
@Html.Grid(Model).Columns(col =>
{
    col.For(c => c.TrainingDetails.Name).Named(InstructorsStrings.TrainingName);
    col.For(c => c.TrainingDetails.TrainingDate).Named(InstructorsStrings.TrainingDate).Format(AppConfig.FormatDateGrid);
    col.For(c => c.TrainingDetails.TrainingHours).Named(InstructorsStrings.TrainingHours);
    col.For(c => c.TrainingDetails.TrainingType.GetDescription()).Named(InstructorsStrings.TrainingType);
    col.For(c => Html.GetIcon(c.CountToValidity ? Icons.Ok : Icons.No, InstructorsStrings.TrainingCounts)).Named(InstructorsStrings.TrainingCounts);
    col.For(c => Html.GetIcon(c.TrainingDetails.IsCompleted? Icons.Ok : Icons.No,InstructorsStrings.IsCompleted)).Named(InstructorsStrings.IsCompleted);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "InstructorTrainingList").Empty(CommonStrings.Empty)