﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.TrainingViewModel




@using (Html.BeginForm("AddTraining", "Instructors", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-instructorRole" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => Model.IsUpdate)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @if (Model.IsUpdate)
                {
                    <h4>@InstructorsStrings.UpdateTraining</h4>
                }
                else
                {
                    <h4>@InstructorsStrings.AddTraining</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TrainingDate, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.TrainingDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" }.Disable(Model.IsCompleted && (!User.IsInRole(eRole.Staf.ToString()) || !User.IsInRole(eRole.Administrator.ToString()))))
                                @Html.ValidationMessageFor(model => model.TrainingDate)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TrainingLocation, new { @class = "control-label" })
                                @Html.EnumDropDownListFor(model => model.TrainingLocation, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                                @Html.ValidationMessageFor(model => model.TrainingLocation)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TrainingHours, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.TrainingHours, new { @class = "form-control" }.Disable(Model.IsCompleted && (!User.IsInRole(eRole.Staf.ToString()) || !User.IsInRole(eRole.Administrator.ToString()))))
                                @Html.ValidationMessageFor(model => model.TrainingHours)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TrainingType, new { @class = "control-label" })
                                @Html.EnumDropDownListFor(model => model.TrainingType, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" }.Disable(Model.IsCompleted && (!User.IsInRole(eRole.Staf.ToString()) || !User.IsInRole(eRole.Administrator.ToString()))))
                                @Html.ValidationMessageFor(model => model.TrainingType)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RoleID, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.RoleID, new SelectList(Model.Roles.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" }.Disable(Model.IsCompleted && (!User.IsInRole(eRole.Staf.ToString()) || !User.IsInRole(eRole.Administrator.ToString()))))
                                @Html.ValidationMessageFor(model => model.RoleID)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TrainingRegion, new { @class = "control-label" })
                                @Html.EnumDropDownListFor(model => model.TrainingRegion, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" }.Disable(Model.IsCompleted && (!User.IsInRole(eRole.Staf.ToString()) || !User.IsInRole(eRole.Administrator.ToString()))))
                                @Html.ValidationMessageFor(model => model.TrainingRegion)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TrainingTypeID, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.TrainingTypeID, new SelectList(Model.TrainingTypes.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" }.Disable(Model.IsCompleted && (!User.IsInRole(eRole.Staf.ToString()) || !User.IsInRole(eRole.Administrator.ToString()))))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>
