﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorFileViewModel

@using (Html.BeginForm("AddFile", "Instructors", FormMethod.Post, new { enctype = "multipart/form-data", id="group-addfile-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.InstructorID)
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => Model.IsUpdate)
    @Html.HiddenFor(model => model.ID)
    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@GroupsStrings.AddFile</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-10 col-md-8 col-sm-6">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-4"})
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            @if (!Model.IsUpdate)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Attachment, new {@class = "control-label col-md-4"})
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Attachment, new { type = "file", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Attachment)
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<input type="submit" id="btnSubmit" value="@CommonStrings.SaveAndClose" class="btn btn-default"/>*@
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="~/Scripts/Common/jquery.validate.filetypevalidation.js"></script>
<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>