﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.TrainingViewModel

<h4 style="font-weight:bold;" class="bottom-margin-25x">
    @InstructorsStrings.TrainingFolder
</h4>
<div class="circle">
    @*<h5 class="strong inline-header">@InstructorsStrings.TrainingFolder</h5>*@
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.TrainingName:</span> @Model.Name</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.TrainingDate:</span> @Model.TrainingDate.ToString(AppConfig.FormatDate)</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.TrainingHours:</span> @Model.TrainingHours</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.TrainingType:</span> @Model.TrainingType.GetDescription()</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.TrainingLocation:</span> @Model.TrainingLocation.GetDescription()</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.IsCompleted:</span> @Html.GetIcon(Model.IsCompleted? Icons.Yes : Icons.No)</div>
</div>
