﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorViewModel

@using (Html.BeginForm("UpdateMyFile", "Instructors", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-add-instructor" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UpdateOperation)
    @Html.HiddenFor(model => model.TrainingID)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                    @InstructorsStrings.UpdateInstructor

                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.InstructorID, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.InstructorID, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.InstructorID)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstNameHE, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.FirstNameHE, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstNameHE)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastNameHE, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LastNameHE, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastNameHE)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstNameEN, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.FirstNameEN, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstNameEN)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastNameEN, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LastNameEN, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastNameEN)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PassportID, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PassportID, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PassportID)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.City, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.City)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ZipCode, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ZipCode)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HomePhone, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.HomePhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.HomePhone)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CellPhone, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.CellPhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CellPhone)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" }.Disable(!Model.UpdateSensativeData))
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.OrganizationalStatus, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EnumDropDownListFor(model => model.OrganizationalStatus, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                                    @Html.ValidationMessageFor(model => model.OrganizationalStatus)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SEXeum, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EnumDropDownListFor(model => model.SEXeum, new { @class = "form-control chosen-select chosen-rtl" })
                                    @Html.ValidationMessageFor(model => model.SEXeum)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<input type="submit" id="btnSubmit" value="@CommonStrings.SaveAndClose" class="btn btn-default"/>*@
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>

<script type="text/javascript">
    $(function () {

        $("#GenerateID").click(function (e) {
            e.preventDefault();
            $("#InstructorID").val(randomID());
        });

        function calcCode(val) {
            var sum = 0;
            for (var i = 0; i < 8; i++) {
                var digit = parseInt(val[i]);
                if (isNaN(digit))
                    return;
                var result = digit * (i % 2 == 0 ? 1 : 2);
                while (result > 0) {
                    sum += result % 10;
                    result = parseInt(result / 10);
                }
            }
            return (10 - (sum % 10)) % 10;
        }

        function calccode(e) {
            // filter out all key codes except numbers and specials
            var keynum = null;
            var code = e.keyCode || e.charCode;
            if (code > 30 && !e.ctrlKey) {
                keynum = code - 48;
                if (keynum < 0 || keynum > 9) {
                    // not allowed
                    e.preventDefault();
                    return;
                }
            }

            if (keynum === null)
                return; // skip ctrl keys

            var val = this.value + '' + keynum; // don't forget to add the key that was pressed
            if (val.length < 8)
                return;
            if (val.length > 9) {
                e.preventDefault(); // don't let the user type more chars
            }
            val = val.substr(0, 8); // verify we look only at the first 8 digits
            var code = calcCode(val);
            this.value = val + '' + code;
            e.preventDefault(); // don't let the browser add the pressed key, because we alread did
        }

        function randomID() {
            var val = "999";
            for (var i = 0; i < 5; i++)
                val += '' + parseInt(Math.random() * 10);
            val += '' + calcCode(val);
            return val;
        }

    });
</script>