﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.UpdateTrainingInstructorsExpirationDates

@using (Html.BeginForm("UpdateInstructorsExpirationDates", "Instructors", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-update-instrcutor-expiration" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.TrainingID)


    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                    @InstructorsStrings.UpdateInstructorExpiration
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-10 col-md-8 col-sm-6">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.ValidityStartDate, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ValidityStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", data_value = DateTime.Now.ToString("dd/MM/yyyy") })
                                @Html.ValidationMessageFor(model => model.ValidityStartDate)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ValidityEndTime, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ValidityEndTime, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", data_value = DateTime.Now.ToString("dd/MM/yyyy") })
                                @Html.ValidationMessageFor(model => model.ValidityEndTime)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>