﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorsViewModel

@{
    ViewBag.Title = InstructorsStrings.InstructorsManagement;
    Layout = "~/Views/Shared/_InstructorManagementMenu.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}

<h2>@InstructorsStrings.InstructorsManagement</h2>

@using (Html.BeginForm("GetFilteredInstructors", "Instructors", FormMethod.Post))
{
    if (Model.AllowFilterByRole)
    {
        <div class="form-group col-sm-4 col-xs-12">
            @Html.LabelFor(model => model.RoleID, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.RoleID, new SelectList(Model.Roles.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "control-label chosen-select chosen-rtl" })
        </div>
    }

    <div class="form-group col-sm-4 col-xs-12">
        @Html.LabelFor(model => model.InstructorID, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.InstructorID, new { @class = "form-control" })
    </div>

    <div class="form-group col-sm-4 col-xs-12">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
    </div>

    <div class="col-md-1 pull-left">
        <input type="submit" value="@CommonStrings.Search" class="btn btn-default" />
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

<div class="btn-group pull-left">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @CommonStrings.Actions <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="@Url.Action("DownloadInstructorList")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>
        </li>
    </ul>
</div>

@Html.Grid(Model.Instructors).Columns(col =>
    {
//col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "UpdateInstructor", "Instructors", new { ID = c.ID }, null)).Named("");
col.For(c => @Html.GetLinkWithHtml(Html.GetIcon(Icons.Folder, InstructorsStrings.InstructorFolder).ToString(), "InstructorFolder", "Instructors", new { ID = c.ID }, null)).Named("").Encode(false);
        col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateInstructor", "Insructors", Html.GetIcon(Icons.Edit, null).ToString(), new { ID = c.ID }, new { @class = "lable lable-default", id = "UpdateInstructor", title = InstructorsStrings.UpdateInstructor })).Named("").Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Editing));
        col.For(c => c.InstructorID).Named(InstructorsStrings.InstructorID);
        col.For(c => String.Format("{0} {1}", c.FirstNameHE, c.LastNameHE)).Named(AccountStrings.FullName);
        col.For(c => String.Format("{0} {1}", c.FirstNameEN, c.LastNameEN)).Named(AccountStrings.FullNameEnglish);
        col.For(c => c.PassportID).Named(InstructorsStrings.PassportID);
        col.For(c => c.Address).Named(InstructorsStrings.Address);
        col.For(c => c.City).Named(InstructorsStrings.City);
        col.For(c => c.ZipCode).Named(InstructorsStrings.ZipCode);
        col.For(c => c.HomePhone).Named(InstructorsStrings.HomePhone);
        col.For(c => c.CellPhone).Named(InstructorsStrings.CellPhone);
        col.For(c => c.Email).Named(AccountStrings.EmailAddress);
        col.For(c => c.InstructorRoleModel.Name).Named(InstructorsStrings.InstructorRole);
        col.For(c => c.ValidityStartDate).Named(InstructorsStrings.ValidityStartDate).Format(AppConfig.FormatDateGrid);
        col.For(c => c.ValidityEndTime).Named(InstructorsStrings.ValidityEndTime).Format(AppConfig.FormatDateGrid);
        col.For(c => c.InstructorValidity.GetDescription()).Named(InstructorsStrings.InstructorValidity);
        col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteInstructor", "Insructors", Html.GetIcon(Icons.Delete, null).ToString(), new { ID = c.ID, Title = String.Format("{0} {1}", c.FirstNameHE, c.LastNameHE) }, new { @class = "lable lable-default", id = "DeleteInstructor", title = InstructorsStrings.DeleteInstructor })).Named("").Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Deleting));
    }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsManagement").Empty(CommonStrings.Empty)


<div id="InstructorsModalWindowContainer" class="modal fade"></div>
<div id="InstructorsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>


@section scripts
{

    @Scripts.Render("~/bundles/datepicker");
    @Scripts.Render("~/bundles/chosen")

}