﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.TrainingsViewModel

@{
    /**/

    /**/

    ViewBag.Title = InstructorsStrings.TrainingsManagement;
    Layout = "~/Views/Shared/_InstructorManagementMenu.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}

<h2>@InstructorsStrings.TrainingsManagement</h2>

@using (Html.BeginForm("GetTrainings", "Instructors", FormMethod.Post))
{
    @*<h5 class="filters-header">סינון נתונים</h5>*@
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.RoleID, new { @class = "control-label" })
        @Html.DropDownListFor(model => model.RoleID, new SelectList(Model.Roles.Items, "ID", "Name"), CommonStrings.ShowAll, new { @class = "control-label chosen-select chosen-rtl" })
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.FilterFromDate, new { @class = "control-label " })
        @Html.TextBoxFor(model => model.FilterFromDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.FilterToDate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.FilterToDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.TrainingLocation, new { @class = "control-label" })
        @Html.EnumDropDownListFor(m => m.TrainingLocation, CommonStrings.ShowAll, new { @class = "control-label chosen-select chosen-rtl" })
    </div>
    if (!User.IsInRole(eRole.TrainingManager.ToString()))
    {
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Region, new { @class = "control-label" })
            @Html.EnumDropDownListFor(m => m.Region, CommonStrings.ShowAll, new { @class = "control-label chosen-select chosen-rtl" })
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.Region)
    }
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.TrainingTypeID, new { @class = "control-label" })
        @Html.DropDownListFor(model => model.TrainingTypeID, new SelectList(Model.TrainingTypes.Items, "ID", "Name"), CommonStrings.ShowAll, new { @class = "control-label chosen-select chosen-rtl" })
    </div>

    <div class="form-group col-md-4 checkbox-form">
        @Html.CheckBoxFor(m => m.CompletedTraining, new { @class = "form-control form-checkbox" })
        @Html.LabelFor(m => m.CompletedTraining)
    </div>

    <div class="col-md-1 pull-left margin-top-20px">
        <input type="submit" value="@CommonStrings.Search" class="btn btn-default" />
    </div>
    <hr class="light-seperator" />
}

@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Training_Editing))
{
    @(Ajax.LinkForBootstrapModal("AddTraining", "Instructors", null)
    .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "trainignsAddAddTraining", title = InstructorsStrings.AddTraining })
    .RawLabel(@<text>@InstructorsStrings.AddTraining</text>)
    .LoadingPanelID("TrainingsLoadingPanelContainer")
    .ModalWindowContainerID("TrainingsModalWindowContainer")
    .UseExsistingModalcontainer(true)
    )
}
@Html.Grid(Model.Trainings).Columns(col =>
{
    col.For(c => @Html.GetLinkWithHtml(Html.GetIcon(Icons.Folder, InstructorsStrings.TrainingFolder).ToString(), "TrainingFolder", "Instructors", new { ID = c.ID }, null)).Named(InstructorsStrings.TrainingFolder).Encode(false);
    col.For(c => c.Name).Named(InstructorsStrings.TrainingName);
    col.For(c => c.TrainingRegion != null ? c.TrainingRegion.GetDescription() : null).Named(SchoolsStrings.Region);
    col.For(c => c.TrainingDate).Named(InstructorsStrings.TrainingDate).Format(AppConfig.FormatDateGrid);
    col.For(c => c.TrainingLocation.GetDescription()).Named(InstructorsStrings.TrainingLocation);
    col.For(c => c.TrainingHours).Named(InstructorsStrings.TrainingHours);
    col.For(c => c.InstructorRole.Name).Named(InstructorsStrings.RoleName);
    col.For(c => c.TrainingType.GetDescription()).Named(InstructorsStrings.ValidationType);
    col.For(c => Html.GetIcon(c.IsCompleted ? Icons.Ok : Icons.No, null)).Named(InstructorsStrings.IsCompleted);
    col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateTraining", "Instructors", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Training_Editing));
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteTraining", "Instructors", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, @Title = c.Name }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Training_Deleting));
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "trainingsList").Empty(CommonStrings.Empty)


<div id="TrainingsModalWindowContainer" class="modal fade"></div>
<div id="TrainingsLoadingPanelContainer" class="modal-loading-panel" style="display: none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");
    @Scripts.Render("~/bundles/chosen")

}