﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@model IEnumerable<FlightScheduling.DAL.Abstractions.Result<FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorToOpenUserModel>>

@{
    ViewBag.Title = InstructorsStrings.InstructorsManagement;
    Layout = "~/Views/Shared/_InstructorManagementMenu.cshtml";
}


<h2>תוצאות יצירת משתמשים למדריכים</h2>


@Html.Grid(Model).Columns(col =>
    {
//col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "UpdateInstructor", "Instructors", new { ID = c.ID }, null)).Named("");
        col.For(c => c.Value.ID).Named(InstructorsStrings.InstructorID);
        col.For(c => String.Format("{0} {1}", c.Value.FirstName, c.Value.LastName)).Named(AccountStrings.FullName);
        col.For(c => c.Value.Email).Named(AccountStrings.EmailAddress);
        col.For(c => c.IsSuccuss?"הצליח":"נכשל").Named(InstructorsStrings.InstructorRole);
    }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "InstructorResultManagement").Empty(CommonStrings.Empty)


