﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.DAL
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorFolderViewModel

@{
    ViewBag.Title = String.Format(InstructorsStrings.InstructorFolder, Model.InstructorDetails.FirstNameHE + " " + Model.InstructorDetails.LastNameHE);
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
}

<h2>@String.Format(InstructorsStrings.InstructorFolder, Model.InstructorDetails.FirstNameHE + " " + Model.InstructorDetails.LastNameHE)</h2>
<div class="innerTripDetails">
    <div class="row section">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="col-sm-12">
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_CreateUser) && !Model.UserIsCreated)
                {
                    @Html.ActionLink(InstructorsStrings.CreateActualUser, "CreateActualUser", "Instructors", new { ID = Model.InstructorDetails.ID }, new
                    {
                        @class = "btn btn-primary btn-sm pull-left"
                    })
                }
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Viewing) && (User.IsInRole(eRole.Instructor.ToString()) || User.IsInRole(eRole.GroupManager.ToString())))
                {
                    @(Ajax.LinkForBootstrapModal("UpdateMyFileInstructor", "Instructors", routeValues: new { })
                        .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "InstructorUpdateCertificate", title = CommonStrings.Update })
                        .RawLabel(@<text>@CommonStrings.Update</text>)
                        .LoadingPanelID("InstructorFolderLoadingPanelContainer")
                        .ModalWindowContainerID("InstructorFolderModalWindowContainer")
                        .UseExsistingModalcontainer(true)
                        )
                }
                <!-- Instructor Details -->
                @Html.Partial("_InstructorDetails", Model.InstructorDetails)

                <h5 class="strong inline-header">
                    @InstructorsStrings.StatusForNextRenewal
                    @* Checking if the role is not automatic renewal and it reached the required hours to show the button to update certificate *@
                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_UpdateCetificate))
                    {
                        if (!Model.InstructorDetails.InstructorRoleModel.AutomaticRenewal && Model.HoursAcquired >= Model.InstructorDetails.InstructorRoleModel.RequiredHours || String.IsNullOrEmpty(Model.InstructorDetails.CertificateID))
                        {
                            @(Ajax.LinkForBootstrapModal("UpdateInstructorCertificate", "Instructors", routeValues: new { ID = Model.InstructorDetails.ID })
                                .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "InstructorUpdateCertificate", title = InstructorsStrings.UpdateCertificate })
                                .RawLabel(@<text>@InstructorsStrings.UpdateCertificate</text>)
                                .LoadingPanelID("InstructorFolderLoadingPanelContainer")
                                .ModalWindowContainerID("InstructorFolderModalWindowContainer")
                                .UseExsistingModalcontainer(true)
                                )
                        }
                    }

                    @* Allowing to grant qualification manually *@
                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_UpdateExpiration))
                    {
                        @(Ajax.LinkForBootstrapModal("UpdateInstructorExpiration", "Instructors", routeValues: new { ID = Model.InstructorDetails.ID, CertificateID = Model.InstructorDetails.CertificateID })
                            .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "InstructorUpdateCertificate", title = InstructorsStrings.UpdateInstructorExpiration })
                            .RawLabel(@<text>@InstructorsStrings.UpdateInstructorExpiration</text>)
                            .LoadingPanelID("InstructorFolderLoadingPanelContainer")
                            .ModalWindowContainerID("InstructorFolderModalWindowContainer")
                            .UseExsistingModalcontainer(true)
                            )
                    }
                </h5>
                <div class="col-sm-12">
                    @Html.GetProgressBar(Model.Percentange, Model.HoursAcquired, (int)Model.InstructorDetails.InstructorRoleModel.RequiredHours, true, false, false)
                </div>


            </div>
        </div>
        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Files_Viewing))
        {
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col-sm-12 bottom-margin-25x">
                    <h5 class="strong display-inline">@InstructorsStrings.InstructorFiles</h5>
                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Files_Editing))
                    {
                        @(Ajax.LinkForBootstrapModal("AddFile", "Instructors", routeValues: new { ID = Model.InstructorDetails.ID })
                            .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left", id = "GroupFolderAddFile", title = InstructorsStrings.AddFile })
                            .RawLabel(@<text>@InstructorsStrings.AddFile</text>)
                            .LoadingPanelID("InstructorFolderLoadingPanelContainer")
                            .ModalWindowContainerID("InstructorFolderModalWindowContainer")
                            .UseExsistingModalcontainer(true)
                            )


                        <!-- Groups Files Details -->
                        @Html.Partial("_InstructorFolderFiles", Model.Files)
                    }
                </div>
                <!-- Group Notes-->
                <div>&nbsp;</div>
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_TrackingNotes_Viewing))
                {
                    <h5 class="strong display-inline">@GroupsStrings.GroupNotes</h5>
                    if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_TrackingNotes_Editing))
                    {
                        @(Ajax.LinkForBootstrapModal("AddNote", "Instructors", routeValues: new { ID = Model.InstructorDetails.ID })
                            .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "InstructorFolderAddNote", title = InstructorsStrings.AddNote })
                            .RawLabel(@<text>@InstructorsStrings.AddNote</text>)
                            .LoadingPanelID("InstructorFolderLoadingPanelContainer")
                            .ModalWindowContainerID("InstructorFolderModalWindowContainer")
                            .UseExsistingModalcontainer(true)
                            )
                    }

                    @Html.Partial("_InstructorNotes", Model.Notes)
                }
                <div class="col-sm-12 bottom-margin-25x">
                    @Html.Partial("_InstructorTrainings", Model.Trainings)
                </div>
                <div class="col-sm-12 bottom-margin-25x">
                    @Html.Partial("_InstructorGroups", Model.InstructorGroups)
                </div>
            </div>
        }
    </div>
</div>

<div id="InstructorFolderModalWindowContainer" class="modal fade"></div>
<div id="InstructorFolderLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
}