﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.DAL
@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.TrainingFolderViewModel

@{
    ViewBag.Title = InstructorsStrings.TrainingFolder;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}
<h2>@InstructorsStrings.TrainingFolder</h2>
<div class="innerTripDetails">
    <div class="row section">
        <div class="col-lg-6">
            @Html.Partial("_TrainingDetails", Model.TrainingDetails)
        </div>
        <div class="col-lg-6">
            @Html.Partial("_InstructorRoleDetails", Model.TrainingDetails.InstructorRole)
        </div>
    </div>

    @if (!Model.TrainingDetails.IsCompleted && Model.TrainingDetails.TrainingType == eTrainingType.RenewalTraining && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Editing))
    {
        <div class="row section">
            <div class="col-lg-12">
                @using (Html.BeginForm("RegisterInstructor", "Instructors", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.InstructorRegistrationToTraining.TrainingID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.InstructorRegistrationToTraining.InstructorsRegistration, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.InstructorRegistrationToTraining.InstructorID, new SelectList(Model.InstructorRegistrationToTraining.InstructorsRegistration.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        </div>
                    </div>
                    <input type="submit" id="btnSubmit" value="@CommonStrings.Save" class="btn btn-default" />
                }
            </div>
        </div>
    }
    <div class="row selction">
        <div class="col-lg-12">
            <div class="btn-group pull-left">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @CommonStrings.Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @if (!Model.TrainingDetails.IsCompleted && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Training_ClosingTraining))
                    {
                        <li>
                            @(Ajax.LinkForBootstrapModal("CompleteTraining", "Instructors", routeValues: new { ID = Model.TrainingDetails.ID })
                                    .HtmlAttributes(new { @class = "form-validation", id = "CompleteTraining", title = InstructorsStrings.CompleteTraining })
                                    .RawLabel(@<text>@InstructorsStrings.CompleteTraining</text>)
                        .LoadingPanelID("TrainingFolderLoadingPanelContainer")
                        .ModalWindowContainerID("TrainingFolderModalWindowContainer")
                        .UseExsistingModalcontainer(true)
                            )
                        </li>
                    }
                    @if (!Model.TrainingDetails.IsCompleted && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Training_UpdateInstructorCertificate))
                    {
                        <li>
                            @(Ajax.LinkForBootstrapModal("UpdateInstructorsExpirationDates", "Instructors", routeValues: new { TrainingID = Model.TrainingDetails.ID })
                            .HtmlAttributes(new { @class = "form-validation", id = "UpdateInstructorsTrainingExpiration", title = InstructorsStrings.UpdateInstructorExpiration })
                            .RawLabel(@<text>@InstructorsStrings.UpdateInstructorExpiration</text>)
                            .LoadingPanelID("TrainingFolderLoadingPanelContainer")
                            .ModalWindowContainerID("TrainingFolderModalWindowContainer")
                            .UseExsistingModalcontainer(true)
                            )
                        </li>
                    }

                    @if (Model.TrainingDetails.TrainingType == eTrainingType.InitialTraining && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Editing))
                    {
                        <li>
                            @(Ajax.LinkForBootstrapModal("AddNewInstructor", "Instructors", routeValues: new { TrainingID = Model.TrainingDetails.ID })
                                                                                  .HtmlAttributes(new { @class = "form-validation", id = "AddInstructor", title = InstructorsStrings.AddInstructor })
                                                                                  .RawLabel(@<text>@InstructorsStrings.AddInstructor</text>)
.LoadingPanelID("TrainingFolderLoadingPanelContainer")
.ModalWindowContainerID("TrainingFolderModalWindowContainer")
.UseExsistingModalcontainer(true)
                            )
                        </li>
                        <li>
                            @(Ajax.LinkForBootstrapModal("ImportNewInstructors", "Instructors", routeValues: new { TrainingID = Model.TrainingDetails.ID })
                                                                                  .HtmlAttributes(new { @class = "form-validation", id = "ImportNewInstructors", title = InstructorsStrings.ImportNewInstructors })
                                                                                  .RawLabel(@<text>@InstructorsStrings.ImportNewInstructors</text>)
.LoadingPanelID("TrainingFolderLoadingPanelContainer")
.ModalWindowContainerID("TrainingFolderModalWindowContainer")
.UseExsistingModalcontainer(true)
                            )
                        </li>
                    }
                </ul>
            </div>

            @Html.Partial("_InstructorsList", Model.Instructors)
        </div>
    </div>
</div>

<div id="TrainingFolderModalWindowContainer" class="modal fade"></div>
<div id="TrainingFolderLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>



@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")

}

