﻿@model FlightScheduling.DAL.CustomEntities.GroupForms.TripActicity
@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

<div class="fa fa-bus fa-3x activity-icon"></div>
<div class="activity-hours">@Model.EndTime.ToString("HH:mm") - @Model.StartTime.ToString("HH:mm")</div>
<div class="activity-content">
    <div class="activity-name">@(String.Format(GroupFormsStrings.DriveTo, Model.ActivityTypeEnum.GetDescription(), Model.Site.Name)) </div>
    <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.Location: </span>@Model.Site.City.CityName</div>
</div>
@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_TripPlan_Edit) && (bool)ViewData["EditMode"])
{
    <div class="pull-left activity-action">
        @(Ajax.LinkForBootstrapModal("EditDriveActivity", "GroupForms", routeValues: new { ActivityID = Model.ID })
                                                            .HtmlAttributes(new { id = "ActivityTripEdit", title = GroupFormsStrings.EditActivity })
                                                            .RawLabel(@<text>@Html.GetIcon(Icons.Edit, null)</text>)
                                                                                                            .LoadingPanelID("Group60FormsModalWindowContainer")
                                                                                                            .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                                                                                                            .UseExsistingModalcontainer(false)
        )
    </div>
}