﻿@model FlightScheduling.DAL.CustomEntities.GroupForms.TripActicity
@using FlightScheduling.Language

<div class="fa fa-binoculars fa-3x activity-icon"></div>
<div class="activity-hours">@Model.EndTime.ToString("HH:mm") - @Model.StartTime.ToString("HH:mm")</div>
<div class="activity-content">
    <div class="activity-name">@Model.Name </div>
    <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.Location: </span>@Model.City.CityName</div>
    @if (!String.IsNullOrEmpty(Model.Comments))
    {
        <div class="activity-location"><span class="acticity-loaction-text">@CommonStrings.Comments: </span>@Model.Comments</div>
    }
    <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.IsExtendedActivity: </span>@(Model.IsExtended? CommonStrings.Yes : CommonStrings.No )</div>
    @if (Model.IsExtended)
    {
        <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.SchoolName: </span>@Model.SchoolName</div>
        <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.SchoolAddress: </span>@Model.SchoolAddress</div>
        <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.ContactName: </span>@Model.ContactName</div>
        <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.ContactEmail: </span>@Model.ContactEmail</div>
        <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.ContactCell: </span>@Model.ContactCell</div>
        <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.ContactPhone: </span>@Model.ContactPhone</div>
    }

</div>
