﻿@model IEnumerable<FlightScheduling.DAL.CustomEntities.GroupForms.TripActicity>
@using FlightScheduling.DAL


@foreach (var _activity in Model.OrderBy(a => a.StartTime))
{
    <div class="col-sm-12 activity-row">

        @switch (_activity.ActivityTypeEnum)
        {
            case eActivityType.Hotel:
            case eActivityType.Site:
            case eActivityType.Resturant:
            case eActivityType.Synagogue:
            {
                @Html.Partial("_ActivityBasicTime", _activity)
                break;
            }
            case eActivityType.RestroomBreak:
            case eActivityType.LightsOut:
            case eActivityType.Lunch:
            case eActivityType.WakeUp:
            {
                @Html.Partial("_ActivityNoSiteTime", _activity)
                break;
            }
            case eActivityType.Drive:
            {
                @Html.Partial("_ActivityDriveTime", _activity)
                break;
            }
            case eActivityType.Activity:
                @Html.Partial("_ActivityExtendedTime", _activity)
                break;
            case eActivityType.PreparationTime:
            {
                @Html.Partial("_ActivityPreparationTime", _activity)
                break;
            }
            default:
                break;
        }
    </div>
}