﻿@model FlightScheduling.DAL.CustomEntities.GroupForms.TripActicity
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start


<div class="fa fa-clock-o fa-3x activity-icon"></div>
<div class="activity-hours">@Model.EndTime.ToString("HH:mm") - @Model.StartTime.ToString("HH:mm")</div>
<div class="activity-content">
    <div class="activity-name">@Model.ActivityTypeEnum.GetDescription()</div>
    <div class="activity-location"><span class="acticity-loaction-text">מיקום: </span>@Model.City.CityName</div>
    @if (!String.IsNullOrEmpty(Model.Comments))
    {
        <div class="activity-location"><span class="acticity-loaction-text">@CommonStrings.Comments: </span>@Model.Comments</div>
    }
</div>
@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_TripPlan_Edit) && (bool)ViewData["EditMode"])
{
    <div class="pull-left activity-action">
        @(Ajax.LinkForBootstrapModal("EditNoSiteActivity", "GroupForms", routeValues: new { ActivityID = Model.ID, CurrentDate = Model.StartTime.ToString(AppConfig.FormatDate), IsFirstDay = ViewData["IsFirstDay"] })
                            .HtmlAttributes(new { id = "ActivityTripEdit", title = GroupFormsStrings.EditActivity })
                            .RawLabel(@<text>@Html.GetIcon(Icons.Edit, null)</text>)
                                                .LoadingPanelID("Group60FormsModalWindowContainer")
                                                .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                                                .UseExsistingModalcontainer(false)
        )
    </div>
}