﻿@model FlightScheduling.DAL.CustomEntities.GroupForms.TripActicity
@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure

@switch (Model.ActivityTypeEnum)
{
    case FlightScheduling.DAL.eActivityType.Lunch:
        <div class="fa fa-cutlery fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.RestroomBreak:
        <div class="fas fa-restroom fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.WakeUp:
        <div class="fa fa-sun-o fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.LightsOut:
        <div class="fa fa-moon-o fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.NightDiscussion:
        <div class="fa fa-comments-o fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.Ceremony:
        <div class="fas fa-bullhorn fa-3x activity-icon"></div>
        break;
    default:
        break;
}
<div class="activity-hours">@Model.EndTime.ToString("HH:mm") - @Model.StartTime.ToString("HH:mm")</div>
<div class="activity-content">
    <div class="activity-name">@Model.ActivityTypeEnum.GetDescription() </div>
    <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.Location: </span>@Model.City.CityName</div>
    @if (!String.IsNullOrEmpty(Model.Comments))
    {
        <div class="activity-location"><span class="acticity-loaction-text">@CommonStrings.Comments: </span>@Model.Comments</div>
    }
</div>
@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_TripPlan_Edit) && (bool)ViewData["EditMode"])
{
    <div class="pull-left activity-action">
        @(Ajax.LinkForBootstrapModal("EditNoSiteActivity", "GroupForms", routeValues: new { ActivityID = Model.ID, CurrentDate = Model.StartTime.ToString(AppConfig.FormatDate), IsFirstDay = ViewData["IsFirstDay"] })
                                                    .HtmlAttributes(new { id = "ActivityTripEdit", title = GroupFormsStrings.EditActivity })
                                                    .RawLabel(@<text>@Html.GetIcon(Icons.Edit, null)</text>)
                                                                                            .LoadingPanelID("Group60FormsModalWindowContainer")
                                                                                            .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                                                                                            .UseExsistingModalcontainer(false)
        )
    </div>
}