﻿@model FlightScheduling.DAL.CustomEntities.GroupForms.TripActicity
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start


@switch (Model.ActivityTypeEnum)
{
    case FlightScheduling.DAL.eActivityType.Hotel:
        <div class="fa fa-hotel fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.Site:
        <div class="fa fa-building fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.Resturant:
        <div class="fa fa-utensils fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.Synagogue:
        <div class="fa fa-building fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.Activity:
        break;
    case FlightScheduling.DAL.eActivityType.Lunch:
        <div class="fa fa-cutlery fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.RestroomBreak:
        <div class="fa fa-battery-quarter fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.WakeUp:
        <div class="fa fa-sun-o fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.NightDiscussion:
        <div class="fa fa-comments-o fa-3x activity-icon"></div>
        break;
    case FlightScheduling.DAL.eActivityType.LightsOut:
        break;
    default:
        break;
}
<div class="activity-hours">@Model.EndTime.ToString("HH:mm") - @Model.StartTime.ToString("HH:mm")</div>
<div class="activity-content">
    <div class="activity-name">@Model.ActivityTypeEnum.GetDescription() @(Model.Site != null ? Model.Site.Name : "") </div>
    <div class="activity-location"><span class="acticity-loaction-text">@GroupFormsStrings.Location: </span>@( Model.Site != null ? Model.Site.City.CityName : "")</div>
    @if (!String.IsNullOrEmpty(Model.Comments))
    {
        <div class="activity-location"><span class="acticity-loaction-text">@CommonStrings.Comments: </span>@Model.Comments</div>
    }
</div>
@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_TripPlan_Edit) && (bool)ViewData["EditMode"])
{
    <div class="pull-left activity-action">
        @(Ajax.LinkForBootstrapModal("EditSiteActivity", "GroupForms", routeValues: new { ActivityID = Model.ID, CurrentDate = Model.StartTime.ToString(AppConfig.FormatDate), IsFirstDay = ViewData["IsFirstDay"] })
                                                            .HtmlAttributes(new { id = "ActivityTripEdit", title = GroupFormsStrings.EditActivity })
                                                            .RawLabel(@<text>@Html.GetIcon(Icons.Edit, null)</text>)
                                                                                                            .LoadingPanelID("Group60FormsModalWindowContainer")
                                                                                                            .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                                                                                                            .UseExsistingModalcontainer(false)
        )
    </div>
}
