﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupFileViewModel

@using (Html.BeginForm("AddManagerStatementFile", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "group-addfile-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => model.UserID)
    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@GroupsStrings.AddFile</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-10 col-md-8 col-sm-6">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Attachment, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div>@(String.Format(GroupsStrings.FileTypesMessage, "PDF, Doc, Docx"))</div>
                                    @Html.TextBoxFor(m => m.Attachment, new { type = "file", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Attachment)
                                </div>
                            </div>
                            <h5 class="strong">@GroupsStrings.FileTemplates</h5>
                            <ul>
                                <li><a href="https://drive.google.com/file/d/1IaWJPDSzjgbT71NcO6x1UBF5IgyQgH5u/view?usp=sharing" target="_blank" alt="@GroupsStrings.ManagerStatement">@GroupsStrings.ManagerStatement</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>