﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.AddGuideViewModel



@using (Html.BeginForm("AddInstructorForm60", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-instructor" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID, new { id = "GroupID" })

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@GroupFormsStrings.AddGuide</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                <label>@GroupFormsStrings.Guide</label>
                                <div class="form-text-help">@GroupFormsStrings.EnterGuideIDorName</div>
                                <input type="text" id="expedition-instructor" name="expedition-instructor" placeholder="@GroupFormsStrings.SearchForGuide" class="form-control" />
                                <p id="expedition-instructor-expired-validation" class="alert alert-danger hidden" style="margin-top:10px;">
                                    <span id="expedition-instructor-expired-validation-text" class="hidden"></span>
                                </p>
                                @Html.HiddenFor(m => m.InstructorID, new { id = "InstructorID" })
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.IsGroupManager, new { @class = "form-control form-checkbox" })
                                @Html.LabelFor(m => m.IsGroupManager)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactNumber)
                                @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ContactNumber)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Comments)
                                <div class="form-text-help">@GroupFormsStrings.GuideIsNotQualified</div>
                                @Html.TextAreaFor(m => m.Comments, new { type = "text", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Comments)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="save-and-close" class="btn btn-default validate-form" disabled="disabled">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>

<script type="text/javascript">
    $(function () {

        function checkifEmailExists() {

            var email = $("#Email");

            if (email.val().length > 0) {
                $("#save-and-close").removeAttr("disabled");
            } else {
                $("#save-and-close").attr("disabled");

            }
        }

        $("#Email").change(function () {
            checkifEmailExists();
        });

        $("#expedition-instructor").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("SearchForGuide", "GroupForms")",
                        type: "GET",
                        data: "SearchTerm=" + $("#expedition-instructor").val(),
                        success: function (result) {
                            var json = jQuery.parseJSON(result);
                            response(json);
                        }
                    });
                },
                minLength: 3,
                open: function () { },
                close: function () { },
                focus: function (event, ui) { },
                select: function (event, ui) {
                    //$("#expedition-manager").val(ui.item.ID);
                    console.log(ui.item.ID);
                    console.log(ui.item);
                    $("#expedition-instructor").val(ui.item.FirstName + ', ' + ui.item.LastName);
                    $("#InstructorID").val(ui.item.InternalID);
                    $("#Email").val(ui.item.Email);
                    checkifEmailExists();
                    return false;
                }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div><div class='ac_instructor_picture'><img src='@Url.Content("~/content/")" + item.InstructorPictureUrl + "' alt='InstructorProfile' /></div><div class='ac_instructor_row'><div class='ac_instrctor_name'>" + item.FirstName + ", " + item.LastName + "</div><div class='ac_instructorID'>תז: " + item.ID + " |</div><div class='ac_instructorValidity'>" + item.ValidityLabel + "</div></div></div>")
                .appendTo(ul);
            };

        $('#form-add-instructor').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

});
</script>