﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.ParticipantViewModel

@{
    string disabled = Model.UpdateOperation ? "disabled" : "";
}


@using (Html.BeginForm("BasicContact", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-participant" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.CreationDate)
    @Html.HiddenFor(model => model.UpdateDate)
    @Html.HiddenFor(model => model.ParticipantTypeEnum)
    @Html.HiddenFor(model => model.UpdateOperation)
    @Html.HiddenFor(model => model.ID)

    <div class="modal-dialog modal-lg" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@(Model.UpdateOperation ? CommonStrings.Update : CommonStrings.Add) @Model.ParticipantTypeEnum.GetDescription()</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-12">
                        <div>
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    @Html.LabelFor(model => model.ParticipantID, new { @class = "control-label" })
                                    @if (Model.UpdateOperation)
                                    {
                                        @Html.TextBoxFor(model => model.ParticipantID, new { @class = "form-control", disabled = "disabled" })
                                        @Html.HiddenFor(m => m.ParticipantID)
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ParticipantID, new { @class = "form-control" })
                                    }
                                    @Html.ValidationMessageFor(model => model.ParticipantID)
                                </div>
                            </div>
                            @if (Model.ParticipantTypeEnum != FlightScheduling.DAL.eParticipantType.Polani && Model.ParticipantTypeEnum != FlightScheduling.DAL.eParticipantType.PolaniPhotographer)
                            {
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12">
                                        @Html.LabelFor(model => model.FirstNameHe, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.FirstNameHe, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FirstNameHe)
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        @Html.LabelFor(model => model.LastNameHe, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.LastNameHe, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LastNameHe)
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.FirstNameEn, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.FirstNameEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstNameEn)
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.LastNameEn, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.LastNameEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastNameEn)
                                </div>
                            </div>
                            @if (Model.ParticipantTypeEnum != FlightScheduling.DAL.eParticipantType.Polani && Model.ParticipantTypeEnum != FlightScheduling.DAL.eParticipantType.PolaniPhotographer)
                            {
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12">
                                        @Html.LabelFor(model => model.PassportNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.PassportNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PassportNumber)
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        @Html.LabelFor(model => model.PassportExperationDate, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.PassportExperationDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                        @Html.ValidationMessageFor(model => model.PassportExperationDate)
                                    </div>
                                </div>
                            }
                            <div class="row">
                                @if (Model.ParticipantTypeEnum != FlightScheduling.DAL.eParticipantType.Polani && Model.ParticipantTypeEnum != FlightScheduling.DAL.eParticipantType.PolaniPhotographer)
                                {
                                    <div class="form-group col-md-6 col-sm-12">
                                        @Html.LabelFor(model => model.Birthday, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Birthday, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                        @Html.ValidationMessageFor(model => model.Birthday)
                                    </div>
                                }
                                <div class="form-group col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.SEXeum, new { @class = "control-label" })
                                    @Html.EnumDropDownListFor(model => model.SEXeum, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SEXeum)
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ContactNumber)
                                </div>
                                @if (Model.ParticipantTypeEnum == FlightScheduling.DAL.eParticipantType.MedicalPersonal)
                                {
                                    <div class="form-group col-md-6 col-sm-12">
                                        @Html.LabelFor(model => model.Speciality, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Speciality, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Speciality)
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        @Html.LabelFor(model => model.MedicalTypeEnum, new { @class = "control-label" })
                                        @Html.EnumDropDownListFor(model => model.MedicalTypeEnum, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MedicalTypeEnum)
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>