﻿@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.FormCommentsViewModel
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language

@*FORM COMMENTS*@
<div class="row">
    <div class="col-lg-12">
        <div class="section-header">@GroupFormsStrings.Comments</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @if (User.IsInRole(eRole.Staf.ToString()) || User.IsInRole(eRole.Administrator.ToString()) || User.IsInRole(eRole.CountyManager.ToString()))
            {
                <label for="Comments">@GroupFormsStrings.SendMessageToGroupLeader</label>
            }
            else if (User.IsInRole(eRole.SchoolManager.ToString()))
            {
                <label for="Comments">@GroupFormsStrings.SendMessageToAdministration</label>
            }
            <textarea id="form-comment" data-FormID="@Model.FormID" data-FormChapterType="@Model.FormChapterType" rows="3" class="form-control"></textarea>

        </div>
        <button type="button" id="send-comment" class="btn btn-primary pull-left" disabled="disabled">@CommonStrings.AddComment</button>
    </div>
</div>

<div id="form-comments" class="form-comments">
    @Html.Partial("_FormListOfComments", Model.Comments)
</div>


<script type="text/javascript" src="~/Scripts/Controllers/GroupFormsComments.js"></script>

