﻿@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.GroupForms.FormCommentViewModel>
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure

<div class="row">
    @foreach (var message in Model)
    {
        <div class="col-sm-12 comment-section">
            <div class="col-sm-12">
                @if (FunctionHelpers.User.UserID == message.UserID)
                {
                    @*<div class="comment-delete">
                        <a href="@Url.Action("DeleteMessage", "GroupForms", new { @ID = message.ID, title = String.Format("{0} {1}", message.FirstName, message.LastName) })" title="@CommonStrings.Delete">@Html.Raw(Html.GetIcon(Icons.Delete, CommonStrings.Remove).ToHtmlString())  @CommonStrings.Delete</a>
                    </div>*@
                }
                <div class="comment-username">@message.LastName @message.FirstName</div>
                <div class="comment-date">@message.UpdateDate.ToString("HH:mm") @message.UpdateDate.ToString("dd/MM/yyyy")</div>

            </div>
            <div class="col-sm-12 comment-text">
                @Html.Raw(message.Comment)
            </div>
        </div>
    }
</div> 