﻿@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupForm60ViewModel
@using FlightScheduling.Language

<div class="col-sm-3 hidden-xs form-menu">
    <h3 class="form-menu-title">@GroupFormsStrings.Form60 - @Model.GroupExternalID</h3>
    <div class="form-menu-step @(Model.ChapterType == FlightScheduling.DAL.eFormChapterType.Flights ? "from-menu-step-active" : "")">
        <div class="step-number">1</div>
        <a href="@Url.Action("Get60Flights", new { GroupID = Model.GroupID })">
            <div class="step-number-text">@GroupFormsStrings.StepOne - @GroupFormsStrings.FlightStep</div>
        </a>
    </div>
    <div class="form-menu-step @(Model.ChapterType == FlightScheduling.DAL.eFormChapterType.TripPlan ? "from-menu-step-active" : "")">
        <div class="step-number">2</div>
        <a href="@Url.Action("GetForm80TripPlan", new { GroupID = Model.GroupID })">
            <div class="step-number-text">@GroupFormsStrings.StepTwo - @GroupFormsStrings.TripPlanStep</div>
        </a>
    </div>
    <div class="form-menu-step @(Model.ChapterType == FlightScheduling.DAL.eFormChapterType.Contacts ? "from-menu-step-active" : "")">
        <div class="step-number">3</div>
        <a href="@Url.Action("GetContacts", new { GroupID = Model.GroupID })">
            <div class="step-number-text">@GroupFormsStrings.StepThree - @GroupFormsStrings.LogisticsStep</div>
        </a>
    </div>
    <div>
        <a class="pull-left btn btn-default btn-sm margin-top-10px" href="@Url.Action("GetForm60", new { GroupID = Model.GroupID})">@CommonStrings.ReturnToGroup</a>
    </div>
</div>


