﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupGeneralDetailsViewModel
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

<div class="row">
    <div class="col-sm-12">
        <h5 class="strong">@GroupsStrings.GroupFolderData</h5>
        <div>
            <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ExpeditionID:</span>@Model.GroupExternalID</div>
            <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.NumberOfBuses:</span> @Model.NumberOfBuses</div>
            <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ContactName:</span> @Model.ContactName</div>
            <div class="col-sm-6 bottom-padding-2x">
                <span class="strong padding-right-5px">@GroupsStrings.ContactPhone:</span> @Model.ContactPhone
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit))
                {
                    @(Ajax.LinkForBootstrapModal("UpdateGroupContactDetails", "Groups", routeValues: new { ID = Model.GroupID })
                                            .HtmlAttributes(new { @class = "btn btn-sm btn-default", id = "UpdateContactDetails", title = GroupsStrings.UpdateGroupContactDetails })
                                            .RawLabel(@<text>@GroupsStrings.UpdateGroupContactDetails</text>)
                                            .LoadingPanelID("GroupFormsModalWindowContainer")
                                            .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                                            .UseExsistingModalcontainer(true)
                    )
                }
            </div>
            
        </div>
    </div>
</div>

