﻿@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupFormFullStatus
@using FlightScheduling.Language

<div class="col-sm-3 hidden-xs form-menu">
    <h3 class="form-menu-title">@GroupFormsStrings.Form180 - @Model.SchoolName</h3>
    <div class="form-menu-step @(Model.CurrentGroupFormStep == FlightScheduling.DAL.eFormChapterType.Administration ? "from-menu-step-active" : "")">
        <div class="step-number @Html.GetFormStatusColorClass(Model.AdministrationFormStatusEnum)">1</div>
        <a href="@Url.Action("Get180AdministrativeForm", new { GroupID = Model.GroupID, SchoolID = Model.SchoolID })">
            <div class="step-number-text">@GroupFormsStrings.StepOne - @GroupFormsStrings.AdministrationStep</div>
        </a>
        <div class="step-number-status"><span class="label @Html.GetFormStatusClass(Model.AdministrationFormStatusEnum)">@Model.AdministrationFormStatusEnum.GetDescription()</span></div>
    </div>
    <div class="form-menu-step @(Model.CurrentGroupFormStep == FlightScheduling.DAL.eFormChapterType.Instructors ? "from-menu-step-active" : "")">
        <div class="step-number @Html.GetFormStatusColorClass(Model.InstructorFormStatusEnum)">2</div>
        <a href="@Url.Action("Get180InstructorsForm", new { GroupID = Model.GroupID, SchoolID = Model.SchoolID })">
            <div class="step-number-text">@GroupFormsStrings.StepTwo - @GroupFormsStrings.InstructorsStep</div>
        </a>
        <div class="step-number-status"><span class="label @Html.GetFormStatusClass(Model.InstructorFormStatusEnum)">@Model.InstructorFormStatusEnum.GetDescription()</span></div>
    </div>

    <div class="form-menu-step @(Model.CurrentGroupFormStep == FlightScheduling.DAL.eFormChapterType.Plan ? "from-menu-step-active" : "")">
        <div class="step-number @Html.GetFormStatusColorClass(Model.GroupPlanFormStatusEnum)">3</div>
        <a href="@Url.Action("Get180PlanForm", new { GroupID = Model.GroupID, SchoolID = Model.SchoolID })">
            <div class="step-number-text">@GroupFormsStrings.StepThree - @GroupFormsStrings.PreparationPlanShort</div>
        </a>
        <div class="step-number-status"><span class="label @Html.GetFormStatusClass(Model.GroupPlanFormStatusEnum)">@Model.GroupPlanFormStatusEnum.GetDescription()</span></div>

    </div>
    <div>
        <a class="pull-left btn btn-default btn-sm margin-top-10px" href="@Url.Action("GetGroup180Forms", new { GroupID = Model.GroupID})">@CommonStrings.ReturnTo180Forms</a>
    </div>
</div>


