﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.DAL
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.TripCommonActivityViewModel



@using (Html.BeginForm("ManageBasicActivity", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-manage_flight" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.IsUpdate)
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => Model.StartTime)
    @Html.HiddenFor(model => Model.ActivityTypeEnum)


    <div class="modal-dialog modal-lg" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@(Model.IsUpdate ? GroupFormsStrings.EditActivity : GroupFormsStrings.AddActivity) @Model.ActivityTypeEnum.GetDescription()</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @Html.ValidationSummary(true)

                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.StartTimeValue, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.StartTimeValue, new SelectList(Model.StartTimeHours.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        @Html.ValidationMessageFor(m => m.StartTimeValue)
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.SiteID, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.SiteID, new SelectList(Model.Sites.Items, "ID", "Name", "Group", null, null), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        @Html.ValidationMessageFor(m => m.SiteID)
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.durationValue, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.durationValue, new SelectList(Model.Duration.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        @Html.ValidationMessageFor(m => m.durationValue)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(model => model.Comments, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Comments)
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" id="save-and-close" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>

<script type="text/javascript">
    $(function () {
    });
</script>