﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.DAL
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupActualFlightViewModel

@{ 
    string DisableDestinations = PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Flights_EditDestinations) ? "" : "hidden";
    int GoingNumberOfParticipantsLimit = Model.GoingNumberOfPassgengersRequired;
    int ReturningNumberOfParticipantsLimit = Model.ReturningNumberOfPassgengersRequired;
    if (Model.IsUpdate)
    {
        GoingNumberOfParticipantsLimit = Model.GroupDetails.NumberofParticipants;
        ReturningNumberOfParticipantsLimit = Model.GroupDetails.NumberofParticipants;
    }
}



@using (Html.BeginForm("ManageFlight", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-manage_flight" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => Model.IsUpdate)
    @Html.HiddenFor(model => Model.ID)


    <div class="modal-dialog modal-lg" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@(Model.IsUpdate ? FlightsStrings.EditFlight : FlightsStrings.CreateFlight)</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @Html.ValidationSummary(true)

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.DirectionEnum, new { @class = "control-label" })
                        @Html.EnumDropDownListFor(m => m.DirectionEnum, CommonStrings.SelectValue, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DirectionEnum)
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.NumberOfPassengers, new { @class = "control-label" })
                        <div class="form-text-help" data-flight-direction="@eFlightDirection.Going" data-flight-going-limit="@GoingNumberOfParticipantsLimit">@(String.Format(GroupFormsStrings.GoingNumberOfPaggengersValidation, GoingNumberOfParticipantsLimit))</div>
                        <div class="form-text-help" data-flight-direction="@eFlightDirection.Return" data-flight-returning-limit="@ReturningNumberOfParticipantsLimit">@(String.Format(GroupFormsStrings.ReturningNumberOfPaggengersValidation, ReturningNumberOfParticipantsLimit))</div>
                        @Html.TextBoxFor(m => m.NumberOfPassengers, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NumberOfPassengers)
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 @DisableDestinations">
                        @Html.LabelFor(model => model.DestanationLocationEnum, new { @class = "control-label" })
                        @Html.EnumDropDownListFor(m => m.DestanationLocationEnum, CommonStrings.SelectValue, new { @class = "form-control" }.Disable(!PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Flights_EditDestinations)))
                        @Html.ValidationMessageFor(m => m.DestanationLocationEnum)
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 @DisableDestinations">
                        @Html.LabelFor(model => model.ArrivalLocationEnum, new { @class = "control-label" })
                        @Html.EnumDropDownListFor(m => m.ArrivalLocationEnum, CommonStrings.SelectValue, new { @class = "form-control" }.Disable(!PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Flights_EditDestinations)))
                        @Html.ValidationMessageFor(m => m.ArrivalLocationEnum)
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.FlightNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FlightNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FlightNumber)
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.Airline, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Airline, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Airline)
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.Departure, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Departure, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", data_initial_date = Model.TripDetails.DepartureDate.ToString("dd/MM/yyyy"), data_flight_destination = Model.TripDetails.DestinationID })
                        @Html.ValidationMessageFor(m => m.Departure)
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.DepartureTime, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.DepartureTimeValue, new SelectList(Model.DepartureTime.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        @Html.ValidationMessageFor(m => m.DepartureTime)
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.Arrival, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Arrival, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", data_initial_date = Model.TripDetails.ReturningDate.ToString("dd/MM/yyyy"), data_flight_destination = Model.TripDetails.ReturingField })
                        @Html.ValidationMessageFor(m => m.Arrival)
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.ArrivalTime, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.ArrivalTimeValue, new SelectList(Model.ArrivalTime.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        @Html.ValidationMessageFor(m => m.ArrivalTime)
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" id="save-and-close" @(Model.IsUpdate ? "" : "disabled='disabled'") class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>

<script type="text/javascript">
    $(function () {

        $('#DirectionEnum').on('change', function () {
            var directionFlight = $('#DirectionEnum').children("option:selected").val();
            validateNumberOfParticipants();
            setDates(directionFlight);
        });

        $('#NumberOfPassengers').focusout(function () {
            validateNumberOfParticipants();

        });

        function validateNumberOfParticipants() {
            //Get the flight firection
            var directionFlight = $('#DirectionEnum').children("option:selected").val();
            var currentPassengers = parseInt($("#NumberOfPassengers").val());
            // submit buttom

            debugger;

            if (directionFlight === "1") {
                // Going Flight
                var goingLimit = parseInt($("div").find(`[data-flight-direction='Going']`).attr('data-flight-going-limit'));

                if (currentPassengers > goingLimit || currentPassengers == 0) {
                    changeSubmitButtonState(true);
                } else {
                    changeSubmitButtonState(false);
                }
            } else if (directionFlight === "2") {
                // Returning Flight

                // Going Flight
                var returningLimit = parseInt($("div").find(`[data-flight-direction='Returning']`).attr('data-flight-returning-limit'));

                if (currentPassengers > returningLimit || currentPassengers === 0) {
                    changeSubmitButtonState(true);
                } else {
                    changeSubmitButtonState(false);

                }
            } else {
                changeSubmitButtonState(false);
            }
        }

        function changeSubmitButtonState(state) {
            var submitButton = $('#save-and-close');
            submitButton.prop("disabled", state);
        }

        function setDates(direction) {
            debugger;
            var arrival = $("#Arrival");
            var departure = $("#Departure");
            var departureLocation = $("#DestanationLocationEnum");
            var ArrivalLocation = $("#ArrivalLocationEnum");

            if (direction === "1") {
                departure.val(departure.attr('data-initial-date'));
                arrival.val(departure.attr('data-initial-date'));
                departureLocation.val('1');
                ArrivalLocation.val(departure.attr('data-flight-destination'));
            } else if (direction === "2") {
                departure.val(arrival.attr('data-initial-date'));
                arrival.val(arrival.attr('data-initial-date'));
                departureLocation.val(arrival.attr('data-flight-destination'));
                ArrivalLocation.val('1');
            }
        }
    });
</script>