﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.DAL
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.TripTravelActivityViewModel



@using (Html.BeginForm("ManageDriveActivity", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-manage_flight" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.IsUpdate)
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => Model.StartTime)
    @Html.HiddenFor(model => Model.ActivityTypeEnum)


    <div class="modal-dialog modal-lg" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@(Model.IsUpdate ? GroupFormsStrings.EditActivity : GroupFormsStrings.AddActivity) @Model.ActivityTypeEnum.GetDescription()</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @Html.ValidationSummary(true)

                    @if (!Model.IsUpdate)
                    {
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            @Html.Label(GroupFormsStrings.CityName, new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.CityID, new SelectList(Model.Cities.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        </div>
                    }
                    @if (!Model.IsUpdate)
                    {
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            @Html.Label(GroupFormsStrings.SiteType, new { @class = "control-label" })
                            @Html.EnumDropDownListFor(m => m.SiteTypes, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">@(Model.ActivityTypeEnum == eActivityType.Drive ? GroupFormsStrings.DriveToLable : GroupFormsStrings.WalkToLable)</label>
                            @Html.DropDownListFor(model => model.SiteID, new SelectList(Model.Sites.Items, "ID", "Name", "Group", null, null), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                            @Html.ValidationMessageFor(m => m.SiteID)
                        </div>
                    }
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <label class="control-label">@(Model.ActivityTypeEnum == eActivityType.Drive ? GroupFormsStrings.DriveStartTime : GroupFormsStrings.WalkStartTime)</label>
                        @Html.DropDownListFor(model => model.StartTimeValue, new SelectList(Model.StartTimeHours.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        @Html.ValidationMessageFor(m => m.StartTimeValue)
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <label class="control-label">@(Model.ActivityTypeEnum == eActivityType.Drive ? GroupFormsStrings.DriveDuration : GroupFormsStrings.WalkDuration)</label>
                        @Html.DropDownListFor(model => model.durationValue, new SelectList(Model.Duration.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                        @Html.ValidationMessageFor(m => m.durationValue)
                    </div>
                    @if (!Model.IsUpdate)
                    {
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            @Html.Label(GroupFormsStrings.DurationInNextActivity, new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.nextActivityDurationValue, new SelectList(Model.NexActivityDuration.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                            @Html.ValidationMessageFor(m => m.nextActivityDurationValue)
                        </div>
                    }
                </div>


            </div>

            <div class="modal-footer">
                @if (!Model.IsUpdate)
                {<button type="button" id="save-and-close" class="btn btn-default validate-form" disabled="disabled">
                        <span class="button-text">@CommonStrings.SaveAndClose</span>
                        <div class="white-v"></div>
                    </button>
                }
                else
                {
                    <button type="button" id="save-and-close" class="btn btn-default validate-form">
                        <span class="button-text">@CommonStrings.SaveAndClose</span>
                        <div class="white-v"></div>
                    </button>
                }

                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>

<script type="text/javascript">
    $(function () {

        $('#SiteID').on('change', function () {
            debugger;
            checkFormValidity();
        });

        function checkFormValidity() {
            debugger;
            var Site = $("#SiteID");
            var validation = true;
            if (Site.val() === "") {
                validation = false;
            }

            if (validation) {
                $("#save-and-close").removeAttr('disabled');
            } else {
                $("#save-and-close").attr('disabled', 'disabled');
            }
        }

        $("#CityID").change(function () {
            populateSites();
        });

        $("#SiteTypes").change(function () {
            populateSites();
        });

        function populateSites() {
            debugger;
            var CityID = $("#CityID");
            var SiteType = $("#SiteTypes");
            var Sites = $("#SiteID");
            debugger;
            if (CityID.val() === "" || CityID.val() === "0" || SiteType.val() === "" || SiteType.val() === "0") {
                console.log("No data");
            } else {
                 $.ajax({
                        url: "@Url.Action("GetSitesByCityAndSiteType", "GroupForms")",
                        type: "GET",
                     data: "CityID=" + CityID.val() + "&SiteType=" + SiteType.val(),
                        success: function (result) {
                            var json = jQuery.parseJSON(result);
                            Sites.find("option").not(':first').remove().end();
                            $.each(json, function (i , item) {
                                Sites.append($("<option />").val(item.ID).text(item.Name));
                            });
                            Sites.trigger("chosen:updated");
                        }
                    });
            }
        }
    });

</script>