﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.Move180ViewModel

@using (Html.BeginForm("MoveForm180", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-add-subschool" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => Model.SchoolID)
    @Html.HiddenFor(model => Model.GroupFormID)
    @Html.HiddenFor(model => model.TargetGroupSchoolID)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@GroupFormsStrings.MoveForm180</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.TargetGroupID, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.TargetGroupID, new SelectList(Model.Groups, "GroupID", "GroupExternalID"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                                @Html.ValidationMessageFor(model => model.TargetGroupID)
                            </div>
                            <div id="move_alert" class="col-sm-12 hidden">
                                <p class="alert alert-danger">
                                    <input type="checkbox" id="override_form" />
                                    @GroupFormsStrings.Move180Alert
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<input type="submit" id="btnSubmit" value="@CommonStrings.SaveAndClose" class="btn btn-default"/>*@
                <button id="save_button" type="button" class="btn btn-default validate-form disabled">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>

<script type="text/javascript">
    $(function () {

        $('#TargetGroupID').on('change', function (e) {

            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            
            if (valueSelected) {
                $.ajax({
                    url: "@Url.Action("CheckIfTargetGroupHas180Form", "GroupForms")",
                    type: "GET",
                    data: "GroupID=" + valueSelected + "&SchoolID=" + @Model.SchoolID,
                    success: function (result) {
                        var json = jQuery.parseJSON(result);
                        console.log(json);

                        if (json.GroupSchoolID !== null) {
                            console.log("Has value");
                            $("#TargetGroupSchoolID").val(json.GroupSchoolID);
                            console.log($("#TargetGroupSchoolID").val());
                            toggleSave(false);
                        } else {
                            console.log("No value");
                            toggleSave(true);
                        }
                    }
                });
            } else {
                $("#save_button").addClass("disabled");
            }
        });

        function toggleSave(toggle) {
            var _savebutton = $("#save_button");
            var _move_alert = $('#move_alert');
            debugger;
            if (toggle) {
                _savebutton.removeClass("disabled");
                _move_alert.addClass("hidden");
            } else {
                _savebutton.addClass("disabled");
                _move_alert.removeClass("hidden");
            }
        }

        $('#override_form').click(function () {
            var _savebutton = $("#save_button");
            if (this.checked) {
                _savebutton.removeClass("disabled");
            }
        });

    });
</script>