﻿@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupTripPlanForDay
@using FlightScheduling.Language
@using FlightScheduling.DAL
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

@{
    string CurrentDate = Model.CurrentDate.ToString(AppConfig.FormatDate);
    string disabled = Model.DisableMenu ? "disabled" : "";
}
@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_TripPlan_Edit) && Model.Form60Data.EditMode)
{
    <div class="col-sm-4">
        <div class="btn-group pull-left">
            <button type="button" class="btn btn-default dropdown-toggle margin-top-10px @disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @CommonStrings.Add <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (var ActivityType in Model.ActivitiesMenu)
                {
                <li>
                    @switch (ActivityType)
                    {
                        case eActivityType.Hotel:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageBasicActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, SiteType = eSiteType.Hotel, ActivityType = eActivityType.Hotel, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                                                                                                                                                      .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                                                                                                                                                      .RawLabel(@<text>@ActivityType.GetDescription()</text>)
                                     .LoadingPanelID("Group60FormsModalWindowContainer")
                                     .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                                     .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        case eActivityType.Site:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageBasicActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, SiteType = eSiteType.Site, ActivityType = eActivityType.Site, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                                                                                                                                                     .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                                                                                                                                                     .RawLabel(@<text>@ActivityType.GetDescription()</text>)
              .LoadingPanelID("Group60FormsModalWindowContainer")
              .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
              .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        case eActivityType.Resturant:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageBasicActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, SiteType = eSiteType.Resturant, ActivityType = eActivityType.Resturant, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                                                                                                                                                     .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                                                                                                                                                     .RawLabel(@<text>@ActivityType.GetDescription()</text>)
              .LoadingPanelID("Group60FormsModalWindowContainer")
              .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
              .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        case eActivityType.Synagogue:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageBasicActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, SiteType = eSiteType.Synagogue, ActivityType = eActivityType.Synagogue, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                                                                                                                                                     .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                                                                                                                                                     .RawLabel(@<text>@ActivityType.GetDescription()</text>)
              .LoadingPanelID("Group60FormsModalWindowContainer")
              .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
              .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        case eActivityType.Drive:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageDriveActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, Model.TravelWithinCityOnly, CurrentDate, ActivityType = eActivityType.Drive, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                                                                                                                                                         .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                                                                                                                                                         .RawLabel(@<text>@ActivityType.GetDescription()</text>)
              .LoadingPanelID("Group60FormsModalWindowContainer")
              .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
              .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        case eActivityType.Walking:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageDriveActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, Model.TravelWithinCityOnly, CurrentDate, ActivityType = eActivityType.Walking, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                                                                                                                                                         .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                                                                                                                                                         .RawLabel(@<text>@ActivityType.GetDescription()</text>)
              .LoadingPanelID("Group60FormsModalWindowContainer")
              .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
              .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        case eActivityType.Activity:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageExtendedActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, CurrentDate, IsFirstDay = Model.DayNumber == 1 }).HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                .RawLabel(@<text>@ActivityType.GetDescription()</text>)
                                .LoadingPanelID("Group60FormsModalWindowContainer")
                                .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                                    .UseExsistingModalcontainer(false))

                                break;
                            }
                        case eActivityType.Ceremony:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageNoSiteActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, ActivityType = eActivityType.Ceremony, CurrentDate, IsFirstDay = Model.DayNumber == 1 })
                                .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                .RawLabel(@<text>@ActivityType.GetDescription()</text>)
                                .LoadingPanelID("Group60FormsModalWindowContainer")
                                .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                                .UseExsistingModalcontainer(false))
                                break;
                            }
                        case eActivityType.Lunch:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageNoSiteActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, ActivityType = eActivityType.Lunch, CurrentDate, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                                                                                                                                    .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                                                                                                                                    .RawLabel(@<text>@ActivityType.GetDescription()</text>)
                .LoadingPanelID("Group60FormsModalWindowContainer")
                .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                .UseExsistingModalcontainer(false))
                                break;
                            }
                        case eActivityType.RestroomBreak:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageNoSiteActivity", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, ActivityType = eActivityType.RestroomBreak, CurrentDate, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                                                                                                                                    .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                                                                                                                                    .RawLabel(@<text>@ActivityType.GetDescription()</text>)
                .LoadingPanelID("Group60FormsModalWindowContainer")
                .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        case eActivityType.PreparationTime:
                            break;
                        case eActivityType.WakeUp:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageNoSiteActivity", "GroupForms",
                                                                                                                                                    routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, ActivityType = eActivityType.WakeUp, CurrentDate, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                    .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                    .RawLabel(@<text>@ActivityType.GetDescription()</text>)
                .LoadingPanelID("Group60FormsModalWindowContainer")
                .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        case eActivityType.NightDiscussion:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageNoSiteActivity", "GroupForms",
                                                                                                                                                    routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, ActivityType = eActivityType.NightDiscussion, CurrentDate, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                    .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                    .RawLabel(@<text>@ActivityType.GetDescription()</text>)
                .LoadingPanelID("Group60FormsModalWindowContainer")
                .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        case eActivityType.LightsOut:
                            {
                                @(Ajax.LinkForBootstrapModal("ManageNoSiteActivity", "GroupForms",
                                                                                                                                                    routeValues: new { Model.GroupDetails.GroupID, Model.LastActivityID, ActivityType = eActivityType.LightsOut, CurrentDate, IsFirstDay = Model.DayNumber == 1 })
                                                                                                                                                    .HtmlAttributes(new { id = "ActivityCreation", title = ActivityType.GetDescription() })
                                                                                                                                                    .RawLabel(@<text>@ActivityType.GetDescription()</text>)
                .LoadingPanelID("Group60FormsModalWindowContainer")
                .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                .UseExsistingModalcontainer(false)
                                )
                                break;
                            }
                        default:
                            break;
                    }

                </li>
                }
            </ul>
        </div>
    </div>
}