﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupPlanDetails



@using (Html.BeginForm("UpdatePlan", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-instructor" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupPlanID, new { id = "FormID" })
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => Model.SchoolID)
    @Html.HiddenFor(m => m.ID)


    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@CommonStrings.Update @GroupFormsStrings.PreparationPlan</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.GroupPlanSubjectID, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.GroupPlanSubjectID, new SelectList(Model.Subjects.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.GroupPlanSubjectID)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PlanName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PlanName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Instructor, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Instructor, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Instructor)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PlanHours, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.PlanHours, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(m => m.PlanHours)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PlanDate, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.PlanDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(m => m.PlanDate)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PlanLocation, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.PlanLocation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PlanLocation)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="save-and-close" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>