﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupForm60ViewModel
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using Endilo.Helpers
@using FlightScheduling.DAL


@*SAVE FORM FOR STAF MANAGER*@
<div class="row">
    <div class="col-lg-12">
        <div class="section-header">
            @GroupFormsStrings.Form60AgencyApproval -
            <span class="label @Html.GetFormStatusClass(Model.AgencyApprovalStatusEnum)">@Model.AgencyApprovalStatusEnum.GetDescription()</span>
            (@(String.Format(GroupFormsStrings.ApprovedBy, Model.AgencyApprovalUserName)))

        </div>
    </div>
</div>

@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_AgencyApprovalStatus) && Model.EditMode && Model.AgencyApprovalStatusEnum != eGroupFormStatus.Approved)
{
    <div class="row">
        <div class="col-md-12" id="form_approval_section">
            <p>@GroupFormsStrings.AgencyApprovalInfoMessage</p>
            <button type="button" id="approve_form_agency" class="btn btn-success pull-left margin-right-10px" data-dismiss="modal">@CommonStrings.Approved</button>
            <button type="button" id="reject_form_agency" class="btn btn-danger pull-left margin-right-10px">@CommonStrings.Reject</button>

        </div>
        <div class="col-md-12 hidden" id="form_success_message_agency">
            <p class="alert alert-success">@(String.Format("{0}, {1} {2}", FunctionHelpers.User.FirstName, FunctionHelpers.User.LastName, GroupFormsStrings.FormUpdatedSuccessfuly))</p>
        </div>
    </div>
}
@*END OF SAVE FORM FOR STAF MANAGER*@

<script type="text/javascript">
    $(function () {

        $("#reject_form_agency").click(function () {
            changeFormStatus(@Model.GroupID, false);
        });

        $("#approve_form_agency").click(function () {
            changeFormStatus(@Model.GroupID, true);
        });

        function changeFormStatus(groupFormID, FormStatus) {
                $.ajax({
                    url: "@Url.Action("UpdateForm60AgencyStatus", "GroupForms")",
                    type: "POST",
                    data: "GroupID=" + @Model.GroupID + "&FormStatus=" + FormStatus,
                    success: function (result) {
                        var json = jQuery.parseJSON(result);
                        console.log(json);

                        if (json.Success == true) {
                            $("#form_success_message_agency").removeClass("hidden");


                            setTimeout(function () {
                              window.location.replace('@Url.Action("GetGroupsDetails","Groups")');
                            }, 2000);

                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }


    });
</script>