﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupForm60ViewModel

@{
    ViewBag.Title = GroupsStrings.GroupsManagement;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}
@Html.Partial("_GroupManagementMenu", Model.GroupFolderData.GroupFolderData)
<h2>@GroupFormsStrings.Form60</h2>
<div class="col-lg-4 col-lg-offset-8 col-md-4 col-md-offset-8 pull-left">
    @Html.ActionLink(GroupFormsStrings.EditForm, "Get60Flights", new { GroupID = Model.GroupID }, new { @class = "btn btn-primary" })
    @Html.RawActionLink(Html.GetIcon(Icons.Print).ToString(), "Form60Report", "GroupForms", new { GroupID = Model.GroupID },
    new {
    @class = "btn btn-default",
    target = "blank",
    data_toggle="tooltip",
    data_placement = "top",
    title=CommonStrings.Print
    })
</div>

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-box">
        <h5 style="font-weight:bold;" class="bottom-margin-25x">@GroupsStrings.GroupFolderData</h5>
        <div>
            <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@CommonStrings.LastUpdateDate:</span> @Model.UpdateDate.ToString(AppConfig.FormatDate)</div>
            <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupFormsStrings.Form60FinalApproval:</span>@Html.GetForm60StatusTag(Model.FormStatusEnum)</div>
            <div class="col-sm-6 col-sm-offset-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupFormsStrings.Form60AgencyApproval:</span>@Html.GetFormStatusLable(Model.AgencyApprovalStatusEnum)</div>
            <div class="col-sm-6 col-sm-offset-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupFormsStrings.Form60PlanApproval:</span>@Html.GetFormStatusLable(Model.PlanApprovalStatusEnum)</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-box">
        @Html.Partial("_GroupFolderData60", Model.GroupFolderData)
    </div>

    @if (Model.ManagerData != null)
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-box">
            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_EditManagerDetails))
            {
                <div>
                    @(Ajax.LinkForBootstrapModal("UpdateGroupManagerDetails", "GroupForms", routeValues: new { Model.GroupID, Model.ManagerData.InstructorID })
                                                        .HtmlAttributes(new { id = "UpdateGroupManagerDetails", title = CommonStrings.Edit, @class = "btn btn-default btn-xs" })
                                                        .RawLabel(@<text>@Html.GetIcon(Icons.Edit, null) @CommonStrings.Update</text>)
                                                                                    .LoadingPanelID("Group60FormsModalWindowContainer")
                                                                                    .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                                                                                    .UseExsistingModalcontainer(false)
                    )
                </div>
            }
            @Html.Partial("_GroupManagerDetails", Model.ManagerData)


        </div>
    }
</div>

@Html.Partial("_GroupSchools", Model.Schools)

<div id="Group60FormsModalWindowContainer" class="modal fade"></div>
<div id="Group60FormsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
}
