﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupTripPlanForDay
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL
@using Endilo.Helpers
@using FlightScheduling.Website.Infrastructure
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

@{
    ViewBag.Title = GroupFormsStrings.Form60 + " - " + GroupFormsStrings.TripPlanStep;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData.Add("EditMode", Model.Form60Data.EditMode);
    ViewData.Add("IsFirstDay", Model.DayNumber == 1);
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
    @Styles.Render("~/Content/css/Icons")
    @Styles.Render("~/Content/css/IncreaseFontSize")
}

<div class="container-fluid margin-buttom-30px">
    <div class="row">
        @Html.Partial("_Group60FormNavigation", Model.Form60Data)
        <div class="col-sm-9" id="form_content">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="pull-left btn btn-primary btn-xs" onclick="window.print()">@CommonStrings.Print</a>
                    <h2>@GroupFormsStrings.StepTwo - @GroupFormsStrings.TripPlanStep</h2>
                    <div class="form-status">@GroupFormsStrings.FormStatus <span class="label @Html.GetFormStatusClass(Model.Form60Data.PlanApprovalStatusEnum)">@Model.Form60Data.PlanApprovalStatusEnum.GetDescription()</span></div>
                    <p>@GroupFormsStrings.FormInstructions</p>
                </div>

            </div>
            @if (Model.TripDates != null && Model.TripDates.Count() > 0)
            {
                <div class="row">
                    <h3>@GroupFormsStrings.TripPlanByDays</h3>
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            @foreach (var Day in Model.TripDates)
                            {
                                <li role="presentation" class="@(Model.CurrentDate == Day.Key ? "active" : "")"><a href="@Url.Action("GetForm80TripPlan", new { GroupID = Model.GroupDetails.GroupID, TripDayDate = Day.Key })">יום @Day.Value - @Day.Key.ToString("dd/MM")</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-8">
                    <div class="blue-header">@(String.Format(GroupFormsStrings.DayNumberForTheWeek, Model.DayNumber))</div>
                    <div class="blue-header">@(String.Format(GroupFormsStrings.TripDayFormat, Model.CurrentDate.ToString("dddd"), Model.CurrentDate.ToString("dd"), Model.CurrentDate.ToString("MMMM"))) </div>
                </div>
                @* TRIP ACTIVITY MENU *@
                @Html.Partial("_TripActivityMenu", Model)
                @* END TRIP ACTIVITY MENU *@
            </div>
            @* START PRESENTING AGENDA*@
            <div class="row">
                <div class="row">
                    @if (Model.DayNumber == 1)
                    {
                        <p class="alert alert-info">
                            <i class="fa fa-info fa-lg"></i>
                            @GroupFormsStrings.StayInTheSameRegionLanded
                        </p>
                    }

                    @foreach (var _message in Model.Warnings)
                    {
                        @Html.GetAlert(_message)
                    }
                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_TripPlan_Edit) && Model.Form60Data.EditMode)
                    {
                        <div class="pull-left">
                            @(Ajax.LinkForBootstrapModal("DeleteTripDay", "GroupForms", routeValues: new { ID = Model.GroupDetails.GroupID, GroupID = Model.GroupDetails.GroupID, title = Model.CurrentDate.ToString(), day = Model.CurrentDate.ToString() })
                                                                                            .HtmlAttributes(new { id = "ActivityTripDeletion", title = GroupFormsStrings.DeleteEntireDay, @class = "btn btn-default btn-xs" })
                                                                                            .RawLabel(@<text>@Html.GetIcon(Icons.Delete, null) @GroupFormsStrings.DeleteEntireDay </text>)
                                            .LoadingPanelID("Group60FormsModalWindowContainer")
                                            .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                                            .UseExsistingModalcontainer(false)
                            )
                        </div>
                    }
                </div>
                @foreach (var _activity in Model.Activities.OrderBy(a => a.StartTime))
                {
                    <div class="col-sm-12 activity-row">

                        @switch (_activity.ActivityTypeEnum)
                        {
                            case eActivityType.Hotel:
                            case eActivityType.Site:
                            case eActivityType.Resturant:
                            case eActivityType.Synagogue:
                            case eActivityType.WakeUp:
                                {
                                    @Html.Partial("_ActivityBasicTime", _activity)
                                    break;
                                }
                            case eActivityType.RestroomBreak:
                            case eActivityType.LightsOut:
                            case eActivityType.Lunch:
                            case eActivityType.NightDiscussion:
                            case eActivityType.Ceremony:
                                {
                                    @Html.Partial("_ActivityNoSiteTime", _activity)
                                    break;
                                }
                            case eActivityType.Drive:
                            case eActivityType.Walking:
                                {
                                    @Html.Partial("_ActivityDriveTime", _activity)
                                    break;
                                }
                            case eActivityType.Activity:
                                @Html.Partial("_ActivityExtendedTime", _activity)
                                break;
                            case eActivityType.PreparationTime:
                                {
                                    @Html.Partial("_ActivityPreparationTime", _activity, ViewData)
                                    break;
                                }
                            default:
                                break;
                        }
                        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_TripPlan_Edit) && Model.Form60Data.EditMode)
                        {
                            <div class="pull-left activity-action">

                                @(Ajax.LinkForBootstrapModal("DeleteTripActivity", "GroupForms", routeValues: new { ID = _activity.ID, Name = String.Format("{0} {1}", _activity.ActivityTypeEnum.GetDescription(), _activity.Name) })
                                                                .HtmlAttributes(new { id = "ActivityTripDeletion", title = GroupFormsStrings.DeleteTripActivity })
                                                                .RawLabel(@<text>@Html.GetIcon(Icons.Delete, null)</text>)
                .LoadingPanelID("Group60FormsModalWindowContainer")
                .ModalWindowContainerID("Group60FormsLoadingPanelContainer")
                .UseExsistingModalcontainer(false)
                                )
                            </div>
                        }
                    </div>

                }

            </div>
            @* END PRESENTING AGENDA*@

            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_TripPlan_Edit) && Model.Form60Data.EditMode)
            {
                @*Move to next step*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.SaveandSubmitForm</div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        @Html.ActionLink(GroupFormsStrings.MoveToNextStep, "GetContacts", new { Model.Form60Data.GroupID }, new { @class = "btn btn-success" })
                    </div>
                </div>

                @*END OF Move to next step*@

                @*COMMNETS SECTION*@
                @(Html.Partial("_FormCommentsForm60", Model.FormComments))
                @*END OF COMMNETS SECTION*@
            }
        </div>
    </div>
</div>
}
<div id="Group60FormsModalWindowContainer" class="modal fade"></div>
<div id="Group60FormsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")


    <script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
    <script type="text/javascript">
        $(function () {


        });
    </script>

}
