﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupPlanForm180ViewModel
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.DAL
@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods

@{
    ViewBag.Title = GroupFormsStrings.Form180 + " - " + GroupFormsStrings.PreparationPlan;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
    @Scripts.Render("~/bundles/noty")

}

@using (Html.BeginForm("Save180GroupPlanForm", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "180-instructors-step-form" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid margin-buttom-30px">
        <div class="row">
            @{ Html.RenderAction("GetGroup180FormNavigation", "GroupForms", new { SchoolID = Model.SchoolData.SchoolID, GroupID = Model.GroupDetails.GroupID, CurrentFormStep = eFormChapterType.Plan }); }

            <div class="col-sm-9" id="form_content">
                <div class="row">
                    <div class="col-sm-12">
                        @*<a href="#" class="pull-left btn btn-primary btn-xs" onclick="window.print()">@CommonStrings.Print</a>*@
                        <h2>@GroupFormsStrings.StepThree - @GroupFormsStrings.PreparationPlan</h2>
                        <div class="form-status">@GroupFormsStrings.FormStatus <span class="label @Html.GetFormStatusClass(Model.GroupPlanFormDetails.GroupFormStatusEnum)">@Model.GroupPlanFormDetails.GroupFormStatusEnum.GetDescription()</span></div>
                        <p>@GroupFormsStrings.FormInstructions</p>
                    </div>
                </div>
                @Html.HiddenFor(m => m.GroupPlanFormDetails.ID, new { id = "GroupFormID" })
                @Html.HiddenFor(m => m.GroupID, new { id = "GroupID" })
                @Html.HiddenFor(m => m.GroupPlanFormDetails.CreationDate)
                @Html.HiddenFor(m => m.GroupPlanFormDetails.FormStatus)

                @*School Details*@
                @Html.HiddenFor(m => m.SchoolData.SchoolID)

                <div class="row bottom-margin-25x">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.PreparationPlan</div>
                    </div>
                    @if ((User.IsInRole(eRole.SchoolManager.ToString())) && !Model.IsDisabled && !Model.ApprovalMode)
                    {
                        @(Ajax.LinkForBootstrapModal("AddPlan", "GroupForms", routeValues: new { Model.GroupPlanFormDetails.ID, Model.GroupID, Model.SchoolData.SchoolID })
                                                                                                                                            .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left", id = "GroupFormInstructor", title = GroupFormsStrings.AddPlan })
                                                                                                                                            .RawLabel(@<text>@GroupFormsStrings.AddPlan</text>)
                                                                .LoadingPanelID("GroupFormsModalWindowContainer")
                                                                .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                                                                .UseExsistingModalcontainer(false)
                        )
                    }
                </div>
                @foreach (var _Subject in Model.Subjects)
                {
                    <div class="row bottom-margin-25x">
                        <div class="col-sm-6 col-xs-12 bottom-margin-5x">
                            <span class="strong">@_Subject.Name</span>
                        </div>
                        <div class="col-sm-6 col-xs-12 left">
                            <span class="strong">@_Subject.HoursRequired @GroupFormsStrings.GroupPlanHoursRequired</span>
                            <span class="pipe"> | </span>
                            <span class="strong @(_Subject.HoursRequired > Model.GroupPlansDetails.Where(x => x.GroupPlanSubjectID == _Subject.ID).Sum(x => x.PlanHours) ? "note-red" : "")">@Model.GroupPlansDetails.Where(x => x.GroupPlanSubjectID == _Subject.ID).Sum(x => x.PlanHours) @GroupFormsStrings.RegisteredHours</span>
                        </div>
                        <div class="col-xs-12">
                            @Html.Grid(Model.GroupPlansDetails.Where(x => x.GroupPlanSubjectID == _Subject.ID)).Columns(col =>
                                    {
                                        col.For(c => c.GroupPlanSubjectName).Named(AdministrationStrings.PlanSubjectName).Attributes(@style => "width: 15%;");
                                        col.For(c => c.PlanName).Named(GroupFormsStrings.PlanName).Attributes(@style => "width: 15%;");
                                        col.For(c => c.Instructor).Named(GroupFormsStrings.Instructor).Attributes(@style => "width: 15%;");
                                        col.For(c => c.PlanHours).Named(GroupFormsStrings.PlanHours).Attributes(@style => "width: 15%;");
                                        col.For(c => c.PlanDate).Named(GroupFormsStrings.PlanDate).Format("{0:dd/MM/yyyy}").Attributes(@style => "width: 15%;");
                                        col.For(c => c.PlanLocation).Named(GroupFormsStrings.PlanLocation).Attributes(@style => "width: 15%;");
                                        col.For(c => @Ajax.LinkForBootstrapModalNo("UpdatePlan", "GroupForms", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID, Model.GroupID, Model.SchoolData.SchoolID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false).Visible(!Model.IsDisabled).Attributes(@style => "width: 5%;");
                                        col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Delete, null).ToString(), "DeletePlan", "GroupForms", new { @ID = c.ID, @title = c.PlanName, Model.GroupID, Model.SchoolData.SchoolID }, null)).Named(CommonStrings.Delete).Visible(!Model.IsDisabled).Attributes(@style => "width: 5%;");
                                    }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "GroupPlanManagement").Empty(CommonStrings.Empty)
                        </div>
                    </div>

                }
                @if (!Model.IsValid)
                {
                    <div class="note-red"></div>
                }

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.GroupPlanFormDetails.EdicationPlanDetails, new { @class = "control-label" })
                            @Html.TextAreaFor(m => m.GroupPlanFormDetails.EdicationPlanDetails, new { @class = "form-control", @rows = "5" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.GroupPlanFormDetails.EdicationPlanDetails)
                        </div>
                    </div>
                </div>

                @*COMMNETS SECTION*@
                @(Html.Partial("_FormComments", Model.FormComments))
                @*END OF COMMNETS SECTION*@

                @if (User.IsInRole(eRole.SchoolManager.ToString()) && !Model.ApprovalMode && Model.GroupPlanFormDetails.GroupFormStatusEnum != eGroupFormStatus.Approved && Model.GroupPlanFormDetails.GroupFormStatusEnum != eGroupFormStatus.WaitingApproval)
                {
                    @*SAVE FORM FOR SCHOOL MANAGER*@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-header">@GroupFormsStrings.SaveandSubmitForm</div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            @Html.HiddenFor(m => m.SaveAndSubmit, new { id = "SaveAndSubmit" })
                            <button type="button" id="save_draft" class="btn btn-primary pull-left margin-right-10px">@CommonStrings.SaveDraft</button>
                            <button type="submit" id="save_and_proceed" class="btn btn-success pull-left margin-right-10px" @(Model.IsValid ? "" : "disabled='disabled'") data-dismiss="modal">@GroupFormsStrings.SaveAndSubmit</button>
                        </div>
                    </div>

                    @*END OF SAVE FORM FOR SCHOOL MANAGER*@
                }



                @if (Model.ApprovalMode)
                {
                    @*SAVE FORM FOR STAF MANAGER*@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-header">@GroupFormsStrings.FormApproval</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" id="form_approval_section">
                            <button type="button" id="approve_form" class="btn btn-success pull-left margin-right-10px" data-dismiss="modal">@CommonStrings.Approved</button>
                            <button type="button" id="reject_form" class="btn btn-danger pull-left margin-right-10px">@CommonStrings.Reject</button>

                        </div>
                        <div class="col-md-12 hidden" id="form_success_message">
                            <p class="alert alert-success">@(String.Format("{0}, {1} {2}", FunctionHelpers.User.FirstName, FunctionHelpers.User.LastName, "הטופס עודכן בהצלחה"))</p>
                        </div>
                    </div>
                    @*END OF SAVE FORM FOR STAF MANAGER*@
                }

            </div>
        </div>
    </div>
}

<div id="GroupFormsModalWindowContainer" class="modal fade"></div>
<div id="GroupFormsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")

    <script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#reject_form").click(function () {
                changeFormStatus($("#GroupFormID").val(), false);
            });

            $("#approve_form").click(function () {
                changeFormStatus($("#GroupFormID").val(), true);
            });

            $("#save_and_proceed").click(function () {
                $("#SaveAndSubmit").val(true);
                var _theForm = $("#180-administrative-step-form");
                _theForm.validate();
                if (_theForm.valid()) {
                    // will also trigger unobtrusive validation only for this element if in place
                    // add your extra logic here to execute only when element is valid
                    submitForm();
                }
            });

            $("#save_draft").click(function () {
                var n = new noty({
                    text: 'הטופס נשמר בהצלחה',
                    layout: 'bottomLeft',
                    type: 'success',
                    timeout: false,
                    closeWith: ['click', 'button', 'hover'],
                    theme: 'relax'
                }).show();
            });


            function disableForm() {
                $("#save_form").attr("disabled", "disabled");
                $("#save_and_proceed").attr("disabled", "disabled");
            }

            function enableForm() {
                $("#save_form").removeAttr("disabled");
                $("#save_and_proceed").removeAttr("disabled");
            }

            function fixSidebarHeight() {
                $(".form-menu").css("height", $("#form_content").height() + "px");
            }

            function submitForm() {
                $("#180-administrative-step-form").submit();
            }

            fixSidebarHeight();

             function changeFormStatus(groupFormID, FormStatus) {
                $.ajax({
                    url: "@Url.Action("ChangePlanFormStatus", "GroupForms")",
                    type: "POST",
                    data: "GroupFormID=" + groupFormID + "&FormStatus=" + FormStatus,
                    success: function (result) {
                        var json = jQuery.parseJSON(result);
                        console.log(json);

                        if (json.Success == true) {
                            $("#form_success_message").removeClass("hidden");


                            setTimeout(function () {
                                var url = "@AppConfig.GetSiteRootUrl" + "@Url.Action("GetGroup180Forms", new { GroupID = Model.GroupID })";
                                window.location.replace(url);
                            }, 2000);

                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }


        });
    </script>

}
