﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupInstructorsForm180ViewModel
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.DAL
@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods

@{
    ViewBag.Title = GroupFormsStrings.Form180 + " - " + GroupFormsStrings.InstructorsStep;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
}

@using (Html.BeginForm("Save180InstructorsForm", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "180-instructors-step-form" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid margin-buttom-30px">
        <div class="row">
            @{ Html.RenderAction("GetGroup180FormNavigation", "GroupForms", new { SchoolID = Model.SchoolData.SchoolID, GroupID = Model.GroupDetails.GroupID, CurrentFormStep = eFormChapterType.Instructors }); }

            <div class="col-sm-9" id="form_content">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" class="pull-left btn btn-primary btn-xs" onclick="window.print()">@CommonStrings.Print</a>
                        <h2>@GroupFormsStrings.StepTwo - @GroupFormsStrings.InstructorsStep</h2>
                        <div class="form-status">@GroupFormsStrings.FormStatus <span class="label @Html.GetFormStatusClass(Model.InstructorFormDetails.GroupFormStatusEnum)">@Model.InstructorFormDetails.GroupFormStatusEnum.GetDescription()</span></div>
                        <p>@GroupFormsStrings.FormInstructions</p>
                    </div>

                </div>
                @Html.HiddenFor(m => m.InstructorFormDetails.ID, new { id = "GroupFormID" })
                @Html.HiddenFor(m => m.GroupID, new { id = "GroupID" })
                @Html.HiddenFor(m => m.InstructorFormDetails.CreationDate)
                @Html.HiddenFor(m => m.InstructorFormDetails.FormStatus)

                @*School Details*@
                @Html.HiddenFor(m => m.SchoolData.SchoolID)

                @*//General Details*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.GeneralDetails</div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><p>@GroupsStrings.NumberOfBuses @Model.GroupDetails.NumberofBuses</p></div>
                    <div class="col-lg-12"><p>@Html.Raw(GroupFormsStrings.NumberOfRequiredInstructors) @Model.GeneralDetails.MinimumNumberOfInstructors</p></div>
                </div>

                @*//General Details*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.InstructorsStep</div>
                    </div>

                    @if (User.IsInRole(eRole.SchoolManager.ToString()) && !Model.IsDisabled && !Model.ApprovalMode)
                    {
                        @(Ajax.LinkForBootstrapModal("AddInstructor", "GroupForms", routeValues: new { Model.GroupID, Model.SchoolData.SchoolID })
                                                                                                                            .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left", id = "GroupFormInstructor", title = GroupFormsStrings.AddInstructor })
                                                                                                                            .RawLabel(@<text>@GroupFormsStrings.AddInstructor</text>)
                                                                    .LoadingPanelID("GroupFormsModalWindowContainer")
                                                                    .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                                                                    .UseExsistingModalcontainer(false)
                        )
                    }
                </div>
                <div class="row">
                    @foreach (var _instructor in Model.Instructors)
                    {
                        <div class="col-sm-12">
                            <div class="instructor-picture">

                                @if (String.IsNullOrEmpty(_instructor.ImageURL))
                                {
                                    <img class="instructor-image" src='~/Content/images/icons8-user-80.png' alt='פרופיל משתמש' />
                                }
                                else
                                {
                                    <img class="instructor-image" src='@Url.Content("~/content/")" + @_instructor.ImageURL +"' alt='@(String.Format("{0} {1}", _instructor.FirstName, _instructor.LastName))' />
                                }

                            </div>
                            <div class="instructor-maindata">
                                <div class="instructor-name">@_instructor.FirstName @_instructor.LastName</div>
                                <div class="instructor-details">
                                    <span class="display-block instructor-id">@InstructorsStrings.InstructorID: @_instructor.InstructorID</span>
                                    <span class="display-block instructor-phoneNumber">@InstructorsStrings.CellPhone: @_instructor.PhoneNumber</span>
                                    <span class="display-block instructor-groupManager">@InstructorsStrings.RoleName: @(_instructor.IsGroupManager ? GroupFormsStrings.GroupManager : _instructor.IsDeputyDirector ? GroupFormsStrings.GroupDeputyDirector : _instructor.RoleName)</span>
                                    <span class="display-block instructor-validity">
                                        @InstructorsStrings.ValidityStatus:
                                        @Html.GetInstructorValidityLabel(_instructor.IsValid)
                                    </span>
                                    <div class="display-block">

                                        @if (Model.InstructorFormDetails.GroupFormStatusEnum != eGroupFormStatus.Approved && User.IsInRole(eRole.SchoolManager.ToString()))
                                        {

                                            <a href="@Url.Action("RemoveInstructor", "GroupForms", new { @ID = _instructor.AssociationID, title = String.Format("{0} {1}", _instructor.FirstName, _instructor.LastName), GroupID = Model.GroupID, SchoolID = Model.SchoolData.SchoolID })" title="@CommonStrings.Remove">@Html.Raw(Html.GetIcon(Icons.Delete, CommonStrings.Remove).ToHtmlString())  @CommonStrings.Remove</a>
                                        }

                                    </div>
                                </div>

                                <div class="instructor-comments">
                                    @if (!String.IsNullOrEmpty(_instructor.Comments))
                                    {<span class="strong">@CommonStrings.Comment:</span><span class="margin-right-10px">@_instructor.Comments</span>}
                                </div>
                                <div class="seperator"></div>
                            </div>

                        </div>
                    }
                    @if (!Model.IsValid)
                    {
                        <div class="note-red">@String.Format(GroupFormsStrings.RequiredInstructorsValidationAlert, Model.GeneralDetails.MinimumNumberOfInstructors)</div>
                    }
                </div>

                @*COMMNETS SECTION*@
                @(Html.Partial("_FormComments", Model.FormComments))
                @*END OF COMMNETS SECTION*@

                @if (User.IsInRole(eRole.SchoolManager.ToString()) && !Model.ApprovalMode && Model.InstructorFormDetails.GroupFormStatusEnum != eGroupFormStatus.Approved && Model.InstructorFormDetails.GroupFormStatusEnum != eGroupFormStatus.WaitingApproval)
                {
                    @*SAVE FORM FOR SCHOOL MANAGER*@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-header">@GroupFormsStrings.SaveandSubmitForm</div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            @Html.HiddenFor(m => m.SaveAndSubmit, new { id = "SaveAndSubmit" })
                            <button type="button" id="save_draft" class="btn btn-primary pull-left margin-right-10px">@CommonStrings.SaveDraft</button>
                            <button type="submit" id="save_and_proceed" class="btn btn-success pull-left margin-right-10px" @(Model.IsValid ? "" : "disabled='disabled'") data-dismiss="modal">@GroupFormsStrings.SaveandProceed</button>
                        </div>
                    </div>

                    @*END OF SAVE FORM FOR SCHOOL MANAGER*@
                }



                @if (Model.ApprovalMode)
                {
                    @*SAVE FORM FOR STAF MANAGER*@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-header">@GroupFormsStrings.FormApproval</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" id="form_approval_section">
                            <button type="button" id="approve_form" class="btn btn-success pull-left margin-right-10px" data-dismiss="modal">@CommonStrings.Approved</button>
                            <button type="button" id="reject_form" class="btn btn-danger pull-left margin-right-10px">@CommonStrings.Reject</button>

                        </div>
                        <div class="col-md-12 hidden" id="form_success_message">
                            <p class="alert alert-success">@(String.Format("{0}, {1} {2}", FunctionHelpers.User.FirstName, FunctionHelpers.User.LastName, "הטופס עודכן בהצלחה"))</p>
                        </div>
                    </div>
                    @*END OF SAVE FORM FOR STAF MANAGER*@
                }

            </div>
        </div>
    </div>
}

<div id="GroupFormsModalWindowContainer" class="modal fade"></div>
<div id="GroupFormsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")
    @Scripts.Render("~/bundles/noty")

    <script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#reject_form").click(function () {
                changeFormStatus($("#GroupFormID").val(), false);
            });

            $("#approve_form").click(function () {
                changeFormStatus($("#GroupFormID").val(), true);
            });

            $("#save_and_proceed").click(function () {
                $("#SaveAndSubmit").val(true);
                var _theForm = $("#180-administrative-step-form");
                _theForm.validate();
                if (_theForm.valid()) {
                    // will also trigger unobtrusive validation only for this element if in place
                    // add your extra logic here to execute only when element is valid
                    submitForm();
                }
            });

            $("#save_draft").click(function () {
                var n = new noty({
                    text: 'הטופס נשמר בהצלחה',
                    layout: 'bottomLeft',
                    type: 'success',
                    timeout: false,
                    closeWith: ['click', 'button', 'hover'],
                    theme: 'relax'
                }).show();
            });

            function disableForm() {
                $("#save_form").attr("disabled", "disabled");
                $("#save_and_proceed").attr("disabled", "disabled");
            }

            function enableForm() {
                $("#save_form").removeAttr("disabled");
                $("#save_and_proceed").removeAttr("disabled");
            }

            function fixSidebarHeight() {
                $(".form-menu").css("height", $("#form_content").height() + "px");
            }

            function submitForm() {
                $("#180-administrative-step-form").submit();
            }

            fixSidebarHeight();

             function changeFormStatus(groupFormID, FormStatus) {
                $.ajax({
                    url: "@Url.Action("ChangeInstructorFormStatus", "GroupForms")",
                    type: "POST",
                    data: "GroupFormID=" + groupFormID + "&FormStatus=" + FormStatus,
                    success: function (result) {
                        var json = jQuery.parseJSON(result);
                        console.log(json);

                        if (json.Success == true) {
                            $("#form_success_message").removeClass("hidden");

                            setTimeout(function () {
                                var url = "@AppConfig.GetSiteRootUrl" + "@Url.Action("GetGroup180Forms", new { GroupID = Model.GroupID })";
                                window.location.url(url);
                                window.location.reload();
                            }, 2000);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }


        });
    </script>

}
