﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.AdministrationForm180ViewModel
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL
@using Endilo.Helpers
@using FlightScheduling.Website.Infrastructure
@using Flight.DAL.FlightDB.Methods

@{
    ViewBag.Title = GroupFormsStrings.Form180 + " - " + GroupFormsStrings.AdministrationStep;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
}

@using (Html.BeginForm("Save180AdministrativeForm", "GroupForms", FormMethod.Post, new { enctype = "multipart/form-data", id = "180-administrative-step-form" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid margin-buttom-30px">
        <div class="row">

            @{ Html.RenderAction("GetGroup180FormNavigation", "GroupForms", new { SchoolID = Model.SchoolData.SchoolID, GroupID = Model.GroupDetails.GroupID, CurrentFormStep = eFormChapterType.Administration }); }

            <div class="col-sm-9" id="form_content">
                <div class="row">
                    <div class="col-sm-12">
                        @*<a href="#" class="pull-left btn btn-primary btn-xs" onclick="window.print()">@CommonStrings.Print</a>*@
                        <h2>@GroupFormsStrings.StepOne - @GroupFormsStrings.AdministrationStep</h2>
                        <div class="form-status">@GroupFormsStrings.FormStatus <span class="label @Html.GetFormStatusClass(Model.AdministrativeFormData.GroupFormStatusEnum)">@Model.AdministrativeFormData.GroupFormStatusEnum.GetDescription()</span></div>
                        <p>@GroupFormsStrings.FormInstructions</p>
                    </div>

                </div>
                @Html.HiddenFor(m => m.AdministrativeFormData.ID, new { id = "GroupFormID" })
                @Html.HiddenFor(m => m.GroupDetails.GroupID, new { id = "GroupID" })
                @Html.HiddenFor(m => m.AdministrativeFormData.CreationDate)
                @Html.HiddenFor(m => m.AdministrativeFormData.FormStatus)
                @Html.HiddenFor(m => m.GeneralFormData.ID)

                @*School Details*@
                @Html.HiddenFor(m => m.SchoolData.SchoolID)
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.SchoolDetails @Model.SchoolData.SchoolName</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><p>@GroupFormsStrings.School @Model.SchoolData.SchoolName</p></div>
                    <div class="col-lg-12"><p>@SchoolsStrings.InstituteID @Model.SchoolData.InstituteID</p></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchoolData.SchoolEmail)
                            @Html.TextBoxFor(m => m.SchoolData.SchoolEmail, new { type = "email", @class = "form-control" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.SchoolData.SchoolEmail)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchoolData.SchoolStream)
                            @Html.DropDownListFor(m => m.SchoolData.SchoolStream, Helpers.SelectListItemsFor<eSchoolStreams>(Model.SchoolData.SchoolStreamEnum), "בחר אופציה", new { @class = "form-control", data_placeholder = "בחר אופציה" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.SchoolData.SchoolStream)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchoolData.SchoolFax)
                            @Html.TextBoxFor(m => m.SchoolData.SchoolFax, new { @class = "form-control" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.SchoolData.SchoolFax)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchoolData.SchoolPhone)
                            @Html.TextBoxFor(m => m.SchoolData.SchoolPhone, new { @class = "form-control" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.SchoolData.SchoolPhone)
                        </div>
                        <div class="form-group checkbox-form">
                            @Html.CheckBoxFor(m => m.SchoolData.IsSpecialEducation, new { @class = "form-control form-checkbox" }.Disable(Model.IsDisabled))
                            @Html.LabelFor(m => m.SchoolData.IsSpecialEducation)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AdministrativeFormData.ClassTypeEnum)
                            @Html.EnumDropDownListFor(m => m.AdministrativeFormData.ClassTypeEnum, CommonStrings.SelectValue, new { @class = "form-control" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.AdministrativeFormData.ClassTypeEnum)
                        </div>
                    </div>
                </div>

                @*School Manager Details*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.SchoolManagerDetails</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchoolData.Manager)
                            @Html.TextBoxFor(m => m.SchoolData.Manager, new { @class = "form-control" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.SchoolData.Manager)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchoolData.ManagerEmail)
                            @Html.TextBoxFor(m => m.SchoolData.ManagerEmail, new { type = "email", @class = "form-control" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.SchoolData.ManagerEmail)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchoolData.ManagerPhone)
                            @Html.TextBoxFor(m => m.SchoolData.ManagerPhone, new { @class = "form-control" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.SchoolData.ManagerPhone)
                        </div>
                    </div>
                </div>

                @*End of school manager*@

                @*EXPEDITION MANAGER*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.HeadOfGroupDetails</div>
                    </div>
                </div>
                @if (((int)(Model.SchoolData.IsAdministrativeInstitude) == 0))
                {
                    <div class="row">
                        <div class="col-md-6">
                            @if (User.IsInRole(eRole.SchoolManager.ToString()) && !(Model.IsDisabled))
                            {
                                <div class="form-group">
                                    <label>@GroupFormsStrings.NameofHeadofGroup</label>
                                    <div class="form-text-help">@GroupFormsStrings.EnterGroupIDorName</div>
                                    <input type="text" id="expedition-manager" placeholder="@GroupFormsStrings.SearchforGroupLeader" class="form-control" />
                                    <p id="expedition-manager-expired-validation" class="alert alert-danger hidden" style="margin-top:10px;">
                                        <span id="expedition-manager-expired-validation-text" class="hidden"></span>
                                        <span id="polinWebsite" class="hidden"><a href="http://edu.gov.il/noar/minhal/Pages/hp.aspx">@GroupFormsStrings.PolinWebsite</a></span>
                                    </p>
                                    @Html.ValidationMessageFor(m => m.ManagerData.InstructorID)

                                </div>
                            }
                            <div id="manager-data" class="manager-data-box @(Model.ManagerData.InstructorID == null ? "hidden" : "")">
                                <div class="pull-left"><img src="@Url.Content(Model.ManagerData.PictureProfile)" class="profile-picture-big" alt="תמונת פרופיל" /></div>
                                <div class="col-lg-12"><p id="expedition-manager-email" class="strong">@(Model.ManagerData.InstructorID != null ? String.Format("{0}, {1}", Model.ManagerData.FirstNameHE, Model.ManagerData.LastNameHE) : "")</p></div>
                                <div class="col-lg-12"><p id="expedition-manager-email">@(Model.ManagerData.InstructorID != null ? Model.ManagerData.Email : "")</p></div>
                                <div class="col-lg-12"><p id="expedition-manager-phone">@(Model.ManagerData.InstructorID != null ? Model.ManagerData.HomePhone : "")</p></div>
                                <div class="col-lg-12"><p id="expedition-manager-cell">@(Model.ManagerData.InstructorID != null ? Model.ManagerData.CellPhone : "")</p></div>

                            </div>
                        </div>
                    </div>
                }
                @*EXPEDITION MANAGER*@


                @*TRIP DETAILS*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.TripDetails</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12"><p>@TripsStrings.DepartureDate: @(Model.TripDetails.DepartureDate.ToString(AppConfig.FormatDate))</p></div>
                    <div class="col-lg-12"><p>@TripsStrings.ReturnDate: @(Model.TripDetails.ReturnDate.ToString(AppConfig.FormatDate))</p></div>
                    <div class="col-lg-12"><p>@TripsStrings.Destenation: @Model.TripDetails.Destenation.GetDescription()</p></div>
                    <div class="col-lg-12"><p>@TripsStrings.TakeOffField: @Model.TripDetails.ReturnedFrom.GetDescription()</p></div>
                </div>

                @*END TRIP DETAILS*@

                @*AGENCY DETAILS*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.AgencyDetails</div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.AdministrativeFormData.ID)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.GroupDetails.Agencies)
                            @Html.DropDownListFor(m => m.GroupDetails.AgencyID, new SelectList(Model.GroupDetails.Agencies.Items, "ID", "Name"), new { @class = "form-control", data_placeholder = "בחר אופציה" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.GroupDetails.AgencyID)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.GroupDetails.NumberofBuses)
                            @if (Model.BusesEditingDisabled)
                            {
                                <div class="form-text-help">@GroupFormsStrings.BusesDisabledEditingAlert</div>
                            }
                            else
                            {
                                <div class="form-text-help">@GroupFormsStrings.NumberofBusesAlert</div>
                            }
                            @Html.TextBoxFor(m => m.GroupDetails.NumberofBuses, new { type = "number", @class = "form-control", max = Model.GroupDetails.NumberofBuses, data_max = Model.GroupDetails.NumberofBuses, id = "NumberofBuses" }.Disable(Model.IsDisabled || Model.BusesEditingDisabled))
                            <div id="form_alert_max_buses" class="Red hidden">@(String.Format(@GroupFormsStrings.OrderLessBusesAlert, Model.GroupDetails.NumberofBuses))</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AdministrativeFormData.CostPerStudent)
                            <div class="form-text-help">@GroupFormsStrings.CostPerStudentNote</div>
                            @Html.TextBoxFor(m => m.AdministrativeFormData.CostPerStudent, new { @class = "form-control", type="number", min = "1", step = "any" }.Disable(Model.IsDisabled))
                            @Html.ValidationMessageFor(m => m.AdministrativeFormData.CostPerStudent)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AdministrativeFormData.Contract)
                            @if (!Model.IsDisabled)
                            {
                                <div class="form-text-help">@GroupFormsStrings.LoadContractPDFOnly</div>
                                @Html.TextBoxFor(m => m.AdministrativeFormData.Contract, new { type = "file", @class = "form-control" }.Disable(Model.IsDisabled))
                                @Html.ValidationMessageFor(m => m.AdministrativeFormData.Contract)
                            }
                            @if (!String.IsNullOrEmpty(Model.AdministrativeFormData.ContractUrl))
                            {
                                <div class="file-download"><a href="@(Url.Content(AppConfig.Groups180FormsFileStorageRelative + "/" + Model.AdministrativeFormData.ContractUrl))" target="_blank"><span class="glyphicon glyphicon-file"></span> הורד חוזה</a></div>
                            }
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AdministrativeFormData.SignaturePage)
                            @if (!Model.IsDisabled)
                            {
                                <div class="form-text-help">@GroupFormsStrings.LoadSIgnaturePDFOnly <div class="pull-left"><a href="https://drive.google.com/open?id=14SFu9s1YmfZlA7niV1_KRvAR3zyE-q6M" target="_blank" class="btn btn-primary btn-xs" title="@GroupFormsStrings.DownloadManagerStatment">@GroupFormsStrings.DownloadManagerStatment</a></div></div>
                                @Html.TextBoxFor(m => m.AdministrativeFormData.SignaturePage, new { type = "file", @class = "form-control" }.Disable(Model.IsDisabled))
                                @Html.ValidationMessageFor(m => m.AdministrativeFormData.SignaturePage)
                            }
                            @if (!String.IsNullOrEmpty(Model.AdministrativeFormData.SignatureUrl))
                            {
                                <div class="file-download"><a href="@(Url.Content(AppConfig.Groups180FormsFileStorageRelative + "/" + Model.AdministrativeFormData.SignatureUrl))" target="_blank"><span class="glyphicon glyphicon-file"></span> הורד דף חתימות</a></div>
                            }
                        </div>
                    </div>
                </div>

                @*END OF AGENCY DETAILS*@



                @*COMMNETS SECTION*@
                @(Html.Partial("_FormComments", Model.FormComments))
                @*END OF COMMNETS SECTION*@

                @if (!Model.ApprovalMode && Model.AdministrativeFormData.GroupFormStatusEnum != eGroupFormStatus.Approved)
                {
                    @*SAVE FORM FOR SCHOOL MANAGER*@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-header">@GroupFormsStrings.SaveandSubmitForm</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.HiddenFor(m => m.SaveAndSubmit, new { id = "SaveAndSubmit" })
                            <button type="button" id="save_form" class="btn btn-primary pull-left margin-right-10px">@CommonStrings.SaveDraft</button>
                            <button type="submit" id="save_and_proceed" class="btn btn-success pull-left margin-right-10px" data-dismiss="modal">@GroupFormsStrings.SaveandProceed</button>
                        </div>
                    </div>

                    @*END OF SAVE FORM FOR SCHOOL MANAGER*@
                }

                @if (Model.ApprovalMode)
                {
                    @*SAVE FORM FOR STAF MANAGER*@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-header">@GroupFormsStrings.FormApproval</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" id="form_approval_section">
                            <button type="button" id="approve_form" class="btn btn-success pull-left margin-right-10px" data-dismiss="modal">@CommonStrings.Approved</button>
                            <button type="button" id="reject_form" class="btn btn-danger pull-left margin-right-10px">@CommonStrings.Reject</button>

                        </div>
                        <div class="col-md-12 hidden" id="form_success_message">
                            <p class="alert alert-success">@(String.Format("{0}, {1} {2}", FunctionHelpers.User.FirstName, FunctionHelpers.User.LastName, "הטופס עודכן בהצלחה"))</p>
                        </div>
                    </div>
                    @*END OF SAVE FORM FOR STAF MANAGER*@
                }

            </div>
        </div>
    </div>
}

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")


    <script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#reject_form").click(function () {
                changeFormStatus($("#GroupFormID").val(), false);
            });

            $("#approve_form").click(function () {
                changeFormStatus($("#GroupFormID").val(), true);
            });

            //Save form
            $("#save_form").click(function (e) {
                $("#SaveAndSubmit").val(false);
                var _theForm = $("#180-administrative-step-form");
                _theForm.validate();
                if (_theForm.valid()) {
                    // will also trigger unobtrusive validation only for this element if in place
                    // add your extra logic here to execute only when element is valid
                    submitForm();
                }
            });

            $("#save_and_proceed").click(function () {
                $("#SaveAndSubmit").val(true);
                var _theForm = $("#180-administrative-step-form");
                _theForm.validate();
                if (_theForm.valid()) {
                    // will also trigger unobtrusive validation only for this element if in place
                    // add your extra logic here to execute only when element is valid
                    submitForm();
                }
            });

            $("#NumberofBuses").change(function () {
                var _this = $(this);
                if (_this.attr("data-max") < _this.val()) {
                    $("#form_alert_max_buses").removeClass("hidden");
                    disableForm();
                } else {
                    $("#form_alert_max_buses").addClass("hidden");
                    enableForm();
                }
            });

            function disableForm() {
                $("#save_form").attr("disabled", "disabled");
                $("#save_and_proceed").attr("disabled", "disabled");
            }

            function enableForm() {
                $("#save_form").removeAttr("disabled");
                $("#save_and_proceed").removeAttr("disabled");
            }

            function fixSidebarHeight() {
                $(".form-menu").css("height", $("#form_content").height() + "px");
            }

            function submitForm() {
                $("#180-administrative-step-form").submit();
            }

            fixSidebarHeight();

        $("#expedition-manager").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: "@Url.Action("SearchForGroupManager", "GroupForms")",
                    type: "GET",
                    data: "SearchTerm=" + $("#expedition-manager").val(),
                    success: function (result) {
                        var json = jQuery.parseJSON(result);
                        response(json);
                    }
                });


            },
            minLength: 3,
            open: function () { },
            close: function () { },
            focus: function (event, ui) { },
            select: function (event, ui) {
                $("#expedition-manager").val(ui.item.ID);
                $("#polinWebsite").addClass("hidden");
                $.ajax({
                    url: "@Url.Action("CheckInstructorRegistration", "GroupForms")",
                    type: "GET",
                    data: "InstructorID=" + ui.item.ID + "&GroupID=" + $('#GroupID').val() + "&InternalID=" + ui.item.InternalID,
                    success: function (result) {
                        var json = jQuery.parseJSON(result);
                        console.log(json);
                        if (json.Success == false && json.AllowOverRide == false) {
                            $("#expedition-manager-expired-validation").removeClass("hidden");
                            $("#expedition-manager-expired-validation-text").removeClass("hidden");
                            $("#expedition-manager-expired-validation-text").text(json.ErrorReason);
                        } else if (json.Success == false || json.AllowOverRide == true) {

                                $("#expedition-manager-expired-validation").removeClass("hidden");
                                $("#expedition-manager-expired-validation-text").removeClass("hidden");
                                $("#polinWebsite").removeClass("hidden");
                                $("#expedition-manager-expired-validation-text").text(json.ErrorReason);

                            //Add the manager to the DB
                            AddManagertoDB(json);
                        } else {
                            $("#expedition-manager-expired-validation").addClass("hidden");
                            $("#expedition-manager-expired-validation-text").addClass("hidden");
                            $("#polinWebsite").addClass("hidden");

                            //Add the manager to the DB
                            AddManagertoDB(json);
                        }
                    }
                });



                return false;
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div><div class='ac_instructor_picture'><img src='@Url.Content("~/content/")" + item.InstructorPictureUrl + "' alt='InstructorProfile' /></div><div class='ac_instructor_row'><div class='ac_instrctor_name'>" + item.FirstName + ", " + item.LastName + "</div><div class='ac_instructorID'>תז: " + item.ID + " |</div><div class='ac_instructorValidity'>" + item.ValidityLabel + "</div></div></div>")
                .appendTo(ul);
        };


        //$("#InstructorID").focusout(function () {
        //    if ($("#InstructorID").val() == "") {
        //        $("#btnSubmit").addClass("disabled");

        //    }
        //});

        //$("#overrideActioninput").click(function () {
        //    if ($(this).is(':checked')) {
        //        $("#btnSubmit").removeClass("disabled");
        //    } else {
        //        $("#btnSubmit").addClass("disabled");
        //    }
        //});

        function AddManagertoDB(json) {
            $.ajax({
                    url: "@Url.Action("AddManagerToGroup", "GroupForms")",
                    type: "POST",
                    data: "InstructorID=" + json.InstructorID + "&GroupID=" + $('#GroupID').val(),
                    success: function (result) {
                        var json = jQuery.parseJSON(result);
                        console.log(json);
                    }
                });
            }

            function changeFormStatus(groupFormID, FormStatus) {
                $.ajax({
                    url: "@Url.Action("ChangeAdministrationFormStatus", "GroupForms")",
                    type: "POST",
                    data: "GroupFormID=" + groupFormID + "&FormStatus=" + FormStatus,
                    success: function (result) {
                        var json = jQuery.parseJSON(result);
                        console.log(json);

                        if (json.Success == true) {
                            $("#form_success_message").removeClass("hidden");
                            setTimeout(function () {
                                var url = "@AppConfig.GetSiteRootUrl" + "@Url.Action("GetGroup180Forms", new { GroupID = Model.GroupDetails.GroupID })";
                                window.location.replace(url);
                            }, 2000);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
    });
    </script>

}
