﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.ContactsViewModel
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL
@using Endilo.Helpers
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

@{
    ViewBag.Title = GroupFormsStrings.Form60 + " - " + GroupFormsStrings.LogisticsStep;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
    @Styles.Render("~/Content/css/IncreaseFontSize")

}

<div class="container-fluid margin-buttom-30px">
    <div class="row">

        @Html.Partial("_Group60FormNavigation", Model.Form60Data)


        <div class="col-sm-9" id="form_content">
            <div class="row">
                <div class="col-sm-12">
                    @*<a href="#" class="pull-left btn btn-primary btn-xs" onclick="window.print()">@CommonStrings.Print</a>*@
                    @Html.ActionLink(@CommonStrings.Print, "PrintContantsPage", new { Model.GroupDetails.GroupID }, new { @class = "pull-left btn btn-primary btn-xs" })
                    <h2>@GroupFormsStrings.StepThree - @GroupFormsStrings.LogisticsStep</h2>
                    <div class="form-status">@GroupFormsStrings.FormStatus <span class="label @Html.GetFormStatusClass(Model.Form60Data.FormStatusEnum)">@Model.Form60Data.FormStatusEnum.GetDescription()</span></div>
                    <p>@GroupFormsStrings.FormInstructions</p>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("_GroupForm60LogisticsGeneralDetails", Model.GroupDetails)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6 bottom-padding-2x">
                        <span class="strong padding-right-5px">@GroupFormsStrings.ManagerStatement:</span>
                        @if (Model.ManagerStatement != null && Model.ManagerStatement.Url != null)
                        {
                            <a href="@(Url.Content(AppConfig.GroupFilesPathRootRelative + Model.ManagerStatement.Url))" target="_blank"><span class="glyphicon glyphicon-file"></span> @GroupFormsStrings.DownloadManagerStatment</a>
                        }
                        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode)
                        {
                            @(Ajax.LinkForBootstrapModal("AddManagerStatementFile", "GroupForms", routeValues: new { ID = Model.GroupDetails.GroupID })
                        .HtmlAttributes(new { @class = "btn btn-default btn-sm", id = "GroupFolderAddFile", title = GroupsStrings.AddFile })
                        .RawLabel(@<text>@GroupsStrings.AddFile</text>)
.LoadingPanelID("GroupFormsModalWindowContainer")
.ModalWindowContainerID("GroupFormsLoadingPanelContainer")
.UseExsistingModalcontainer(false)
                            )
                        }
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="section-header">@GroupFormsStrings.SummaryGroupParticipantsByType</div>
                </div>
                <div class="col-sm-12">
                    @foreach (var item in Model.ParticipantTypeReport)
                    {
                        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@item.ParticipantType:</span> @item.NumberOfParticipants</div>

                    }
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="section-header">
                        <span>@GroupFormsStrings.Guides</span>
                        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode)
                        {
                            @(Ajax.LinkForBootstrapModal("AddInstructorForm60", "GroupForms", routeValues: new { Model.GroupDetails.GroupID })
                                    .HtmlAttributes(new { @class = "btn btn-default btn-sm pull-left margin-top--5px", id = "GroupFormInstructor", title = GroupFormsStrings.AddGuide })
                                    .RawLabel(@<text>@GroupFormsStrings.AddGuide</text>)
.LoadingPanelID("GroupFormsModalWindowContainer")
.ModalWindowContainerID("GroupFormsLoadingPanelContainer")
.UseExsistingModalcontainer(false)
                            )
                        }
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.Grid(Model.Instructors).Columns(col =>
               {
                   col.For(c => c.FullNameHe).Named(GroupFormsStrings.ContactName);
                   col.For(c => c.FullNameEn).Named(GroupFormsStrings.ContactNameEnglish);
                   col.For(c => c.PassportID).Named(GroupsStrings.PassportNumber);
                   col.For(c => c.ValidityEndTime).Named(InstructorsStrings.ValidityEndTime).Format("{0:dd/MM/yyyy}");
                   col.For(c => Html.GetIcon(c.IsGroupManager ? Icons.Ok : Icons.No, null)).Named(GroupFormsStrings.IsGuideManager);
                   col.For(c => c.ContactNumber).Named(GroupFormsStrings.ContactPhone);
                   col.For(c => Html.Mailto(c.Email)).Named(AccountStrings.EmailAddress);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("RemoveInstructorForm60", "GroupForms", @Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, title = c.FullNameHe, c.GroupID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode);
               }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "FlightsManagement").Empty(CommonStrings.Empty)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="section-header">
                        <span>@GroupFormsStrings.Staff</span>
                        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode)
                        {
                            <div class="btn-group pull-left margin-top--20px">
                                <button type="button" class="btn btn-default dropdown-toggle margin-top-10px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @CommonStrings.Add <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        @(Ajax.LinkForBootstrapModal("BasicContact", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, ParticipantType = eParticipantType.MedicalPersonal })
                                                .HtmlAttributes(new { id = "ActivityCreation", title = eParticipantType.MedicalPersonal.GetDescription() })
                                                .RawLabel(@<text>@eParticipantType.MedicalPersonal.GetDescription()</text>)
                        .LoadingPanelID("GroupFormsModalWindowContainer")
                        .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                        .UseExsistingModalcontainer(false)
                                        )
                                    </li>
                                    <li>
                                        @(Ajax.LinkForBootstrapModal("BasicContact", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, ParticipantType = eParticipantType.Testimony })
                                                .HtmlAttributes(new { id = "ActivityCreation", title = eParticipantType.Testimony.GetDescription() })
                                                .RawLabel(@<text>@eParticipantType.Testimony.GetDescription()</text>)
                        .LoadingPanelID("GroupFormsModalWindowContainer")
                        .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                        .UseExsistingModalcontainer(false)
                                        )
                                    </li>
                                    <li>
                                        @(Ajax.LinkForBootstrapModal("BasicContact", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, ParticipantType = eParticipantType.Polani })
                                                .HtmlAttributes(new { id = "ActivityCreation", title = eParticipantType.Polani.GetDescription() })
                                                .RawLabel(@<text>@eParticipantType.Polani.GetDescription()</text>)
                        .LoadingPanelID("GroupFormsModalWindowContainer")
                        .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                        .UseExsistingModalcontainer(false)
                                        )
                                    </li>
                                    <li>
                                        @(Ajax.LinkForBootstrapModal("BasicContact", "GroupForms", routeValues: new { Model.GroupDetails.GroupID, ParticipantType = eParticipantType.PolaniPhotographer })
                                                .HtmlAttributes(new { id = "ActivityCreation", title = eParticipantType.PolaniPhotographer.GetDescription() })
                                                .RawLabel(@<text>@eParticipantType.PolaniPhotographer.GetDescription()</text>)
                        .LoadingPanelID("GroupFormsModalWindowContainer")
                        .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                        .UseExsistingModalcontainer(false)
                                        )
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>

                </div>
            </div>
            @* BASIC CONTANT STARTS *@
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="strong">@eParticipantType.MedicalPersonal.GetDescription()</h5>
                </div>
                <div class="col-sm-12">
                    @Html.Grid(Model.BasicContacts.Where(p => p.ParticipantTypeEnum == eParticipantType.MedicalPersonal)).Columns(col =>
               {
                   col.For(c => c.ParticipantID).Named(GroupsStrings.ParticipantID);
                   col.For(c => String.Format("{0} {1}", c.FirstNameHe, c.LastNameHe)).Named(GroupFormsStrings.ContactName);
                   col.For(c => String.Format("{0} {1}", c.FirstNameEn, c.LastNameEn)).Named(GroupFormsStrings.ContactNameEnglish);
                   col.For(c => c.PassportNumber).Named(GroupsStrings.PassportNumber);
                   col.For(c => c.PassportExperationDate).Named(GroupsStrings.PassportExperationDate).Format("{0:dd/MM/yyyy}");
                   col.For(c => c.Birthday).Named(GroupsStrings.Birthday).Format("{0:dd/MM/yyyy}");
                   col.For(c => c.SEXeum.GetDescription()).Named(GroupsStrings.SEX);
                   col.For(c => c.ContactNumber).Named(GroupFormsStrings.ContactPhone);
                   col.For(c => c.MedicalType != null? c.MedicalTypeEnum.GetDescription() : "").Named(GroupFormsStrings.MedicalType);
                   col.For(c => c.Speciality).Named(GroupsStrings.Speciality);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateBasicContact", "GroupForms", @Html.GetIcon(Icons.Edit, null).ToString(), new { c.ID }, new { @class = "lable lable-default", title = CommonStrings.Edit })).Named(CommonStrings.Edit).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteContact", "GroupForms", @Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, name = c.FirstNameHe, c.GroupID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode);
               }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "FlightsManagement").Empty(CommonStrings.Empty)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="strong">@eParticipantType.Testimony.GetDescription()</h5>
                </div>
                <div class="col-sm-12">
                    @Html.Grid(Model.BasicContacts.Where(p => p.ParticipantTypeEnum == eParticipantType.Testimony)).Columns(col =>
               {
                   col.For(c => c.ParticipantID).Named(GroupsStrings.ParticipantID);
                   col.For(c => String.Format("{0} {1}", c.FirstNameHe, c.LastNameHe)).Named(GroupFormsStrings.ContactName);
                   col.For(c => String.Format("{0} {1}", c.FirstNameEn, c.LastNameEn)).Named(GroupFormsStrings.ContactNameEnglish);
                   col.For(c => c.PassportNumber).Named(GroupsStrings.PassportNumber);
                   col.For(c => c.PassportExperationDate).Named(GroupsStrings.PassportExperationDate).Format("{0:dd/MM/yyyy}");
                   col.For(c => c.Birthday).Named(GroupsStrings.Birthday).Format("{0:dd/MM/yyyy}");
                   col.For(c => c.SEXeum.GetDescription()).Named(GroupsStrings.SEX);
                   col.For(c => c.ContactNumber).Named(GroupFormsStrings.ContactPhone);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateBasicContact", "GroupForms", @Html.GetIcon(Icons.Edit, null).ToString(), new { c.ID }, new { @class = "lable lable-default", title = CommonStrings.Edit })).Named(CommonStrings.Edit).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteContact", "GroupForms", @Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, name = c.FirstNameHe, c.GroupID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode);
               }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "FlightsManagement").Empty(CommonStrings.Empty)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="strong">@eParticipantType.Polani.GetDescription()</h5>
                </div>
                <div class="col-sm-12">
                    @Html.Grid(Model.BasicContacts.Where(p => p.ParticipantTypeEnum == eParticipantType.Polani)).Columns(col =>
               {
                   col.For(c => c.ParticipantID).Named(GroupsStrings.ParticipantID);
                   col.For(c => String.Format("{0} {1}", c.FirstNameEn, c.LastNameEn)).Named(GroupFormsStrings.ContactNameEnglish);
                   col.For(c => c.SEXeum.GetDescription()).Named(GroupsStrings.SEX);
                   col.For(c => c.ContactNumber).Named(GroupFormsStrings.ContactPhone);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateBasicContact", "GroupForms", @Html.GetIcon(Icons.Edit, null).ToString(), new { c.ID }, new { @class = "lable lable-default", title = CommonStrings.Edit })).Named(CommonStrings.Edit).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteContact", "GroupForms", @Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, name = c.FirstNameHe, c.GroupID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode);
               }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "FlightsManagement").Empty(CommonStrings.Empty)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="strong">@eParticipantType.PolaniPhotographer.GetDescription()</h5>
                </div>
                <div class="col-sm-12">
                    @Html.Grid(Model.BasicContacts.Where(p => p.ParticipantTypeEnum == eParticipantType.PolaniPhotographer)).Columns(col =>
               {
                   col.For(c => c.ParticipantID).Named(GroupsStrings.ParticipantID);
                   col.For(c => String.Format("{0} {1}", c.FirstNameEn, c.LastNameEn)).Named(GroupFormsStrings.ContactNameEnglish);
                   col.For(c => c.SEXeum.GetDescription()).Named(GroupsStrings.SEX);
                   col.For(c => c.ContactNumber).Named(GroupFormsStrings.ContactPhone);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateBasicContact", "GroupForms", @Html.GetIcon(Icons.Edit, null).ToString(), new { c.ID }, new { @class = "lable lable-default", title = CommonStrings.Edit })).Named(CommonStrings.Edit).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteContact", "GroupForms", @Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, name = c.FirstNameHe, c.GroupID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Contacts_Edit) && Model.Form60Data.EditMode);
               }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "FlightsManagement").Empty(CommonStrings.Empty)
                </div>
            </div>
            @* BASIC CONTANT ENDS *@

            @{ Html.RenderPartial("_UpdateFormFinalStatus", Model.Form60Data); }

            @{ Html.RenderPartial("_UpdateFormAgencyApproval", Model.Form60Data); }

            @{ Html.RenderPartial("_UpdateFormPlanApproval", Model.Form60Data); }

            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_View, PermissionBitEnum.Form60_FormSubmit) && Model.Form60Data.EditMode)
            {
                @*Move to next step*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.SaveandSubmitForm</div>
                    </div>
                </div>

                <div class="row">
                    <p class="alert alert-info">@GroupFormsStrings.SavingAlertForManager</p>

                    <div class="col-md-12">
                        @Html.ActionLink(GroupFormsStrings.SaveandSubmitForm, "SubmitForm60", new { Model.Form60Data.GroupID }, new { @class = "btn btn-success" })
                    </div>
                </div>

                @*END OF Move to next step*@
            }

            @*COMMNETS SECTION*@
            @(Html.Partial("_FormCommentsForm60", Model.FormComments))
            @*END OF COMMNETS SECTION*@

        </div>
    </div>
</div>

<div id="GroupFormsModalWindowContainer" class="modal fade"></div>
<div id="GroupFormsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")


    <script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
    <script type="text/javascript">
        $(function () {


        });
    </script>

}
