﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.Website.Infrastructure;
@using FlightScheduling.DAL;
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.Group180FormsViewModel

@{
    ViewBag.Title = GroupsStrings.GroupsManagement;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}
@Html.Partial("_GroupManagementMenu", Model.GroupFolderData.GroupFolderData)
<h2>@GroupFormsStrings.Group180Forms</h2>

@*@Html.Grid(Model.Forms).Columns(col =>
    {
        col.For(c => @Html.ActionLink(GroupFormsStrings.EditForm, "Get180AdministrativeForm", new { GroupID = c.GroupID, SchoolID = c.SchoolID }, new { @class = "btn btn-primary btn-xs" })).Named("");
        col.For(c => c.SchoolName).Named(SchoolsStrings.Name);
        col.For(c => @Html.ActionLink(c.InstituteID.ToString(), "EditSchool", "Schools", new { ID = c.SchoolID }, null)).Named(SchoolsStrings.InstituteID);
        col.For(c => c.GroupFormUpdateDate).Named(CommonStrings.UpdateDate).Format(AppConfig.FormatDateGrid);
        col.For(c => @Html.GetLinkWithHtml(c.AdministrationFormStatusEnum.GetDescription(), "Get180AdministrativeForm", "GroupForms", new { GroupID = c.GroupID, SchoolID = c.SchoolID }, null)).Named(GroupFormsStrings.AdministrationStep);
        col.For(c => @Html.GetLinkWithHtml(c.InstructorFormStatusEnum.GetDescription(), "Get180InstructorsForm", "GroupForms", new { GroupID = c.GroupID, SchoolID = c.SchoolID }, null)).Named(GroupFormsStrings.InstructorsStep);
        col.For(c => @Html.GetLinkWithHtml(c.GroupPlanFormStatusEnum.GetDescription(), "Get180PlanForm", "GroupForms", new { GroupID = c.GroupID, SchoolID = c.SchoolID }, null)).Named(GroupFormsStrings.PreparationPlan);
    }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsformsManagement").Empty(CommonStrings.Empty)*@

<div class="row">
    @foreach (var _form in Model.Forms)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-box">
            <div class="row">
                <div class="col-xs-12">
                    <h6 class="form-header section-header">@_form.SchoolName</h6>
                    <div class="form-additional-info">@SchoolsStrings.InstituteID: @_form.InstituteID</div>
                </div>
            </div>
            <div class="row bottom-margin-5x margin-top-10px">
                <div class="col-xs-12 bottom-margin-5x">
                    <div class="form-step-header">@GroupFormsStrings.StepOne - @GroupFormsStrings.AdministrationStep</div>
                    <div class="form-additional-info">@CommonStrings.UpdateDate: @_form.GroupFormUpdateDate.ToString(AppConfig.FormatDate)</div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-field">@GroupFormsStrings.FormStatus</div>
                    <div class="form-field">@Html.GetFormStatusLable(_form.AdministrationFormStatusEnum)</div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-field">@GroupFormsStrings.Comments</div>
                    <div class="form-field">@_form.AdministrationNumberOfComments</div>
                </div>
            </div>
            <div class="row bottom-margin-5x margin-top-10px">
                <div class="col-xs-12 bottom-margin-5x">
                    <div class="form-step-header">@GroupFormsStrings.StepTwo - @GroupFormsStrings.InstructorsStep</div>
                    <div class="form-additional-info">@CommonStrings.UpdateDate: @_form.GroupFormUpdateDate.ToString(AppConfig.FormatDate)</div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-field">@GroupFormsStrings.FormStatus</div>
                    <div class="form-field">@Html.GetFormStatusLable(_form.InstructorFormStatusEnum)</div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-field">@GroupFormsStrings.Comments</div>
                    <div class="form-field">@_form.InstructorsNumberOfComments</div>
                </div>
            </div>
            <div class="row bottom-margin-5x margin-top-10px">
                <div class="col-xs-12 bottom-margin-5x">
                    <div class="form-step-header">@GroupFormsStrings.StepThree - @GroupFormsStrings.PreparationPlan</div>
                    <div class="form-additional-info">@CommonStrings.UpdateDate: @_form.GroupFormUpdateDate.ToString(AppConfig.FormatDate)</div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-field">@GroupFormsStrings.FormStatus</div>
                    <div class="form-field">@Html.GetFormStatusLable(_form.GroupPlanFormStatusEnum)</div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-field">@GroupFormsStrings.Comments</div>
                    <div class="form-field">@_form.PlanNumberOfComments</div>
                </div>
            </div>
            <div class="row bottom-margin-5x margin-top-10px center">
                <div class="col-xs-12">
                    @if (User.IsInRole(eRole.SchoolManager.ToString()))
                    {
                        @Html.ActionLink(GroupFormsStrings.EditForm, "Get180AdministrativeForm", new { GroupID = _form.GroupID, SchoolID = _form.SchoolID }, new { @class = "btn btn-primary" })
                    }
                    else if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form180_Adimistrative_Approval) && _form.AdministrationFormStatusEnum != eGroupFormStatus.New)
                    {
                        @Html.ActionLink(GroupFormsStrings.FormApproval, "Get180AdministrativeForm", new { GroupID = _form.GroupID, SchoolID = _form.SchoolID }, new { @class = "btn btn-primary" })

                    }
                    else if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form180_Instructors_Approval) && _form.InstructorFormStatusEnum != eGroupFormStatus.New)
                    {
                        @Html.ActionLink(GroupFormsStrings.FormApproval, "Get180InstructorsForm", new { GroupID = _form.GroupID, SchoolID = _form.SchoolID }, new { @class = "btn btn-primary" })

                    }
                    else if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form180_Plan_Approval) && _form.GroupPlanFormStatusEnum != eGroupFormStatus.New)
                    {
                        @Html.ActionLink(GroupFormsStrings.FormApproval, "Get180PlanForm", new { GroupID = _form.GroupID, SchoolID = _form.SchoolID }, new { @class = "btn btn-primary" })

                    }
                    else if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form180_Adimistrative_Editing) || 
                             PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form180_Instructors_Editing) ||
                             PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form180_Plan_Editing))
                    {
                        @Html.ActionLink(GroupFormsStrings.EditForm, "Get180AdministrativeForm", new { GroupID = _form.GroupID, SchoolID = _form.SchoolID }, new { @class = "btn btn-primary" })
                    }
                </div>
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form180_MoveForm))
                {
                    <div class="col-xs-12">
                        @(Ajax.LinkForBootstrapModal("MoveForm180", "GroupForms", null, routeValues: new { _form.GroupFormID, _form.GroupID, _form.SchoolID })
                                .HtmlAttributes(new { @class = "btn btn-default btn-xs pull-left form-validation", id = "CityAdd", title = GroupFormsStrings.MoveForm180 })
                                .RawLabel(@<text>@GroupFormsStrings.MoveForm180</text>)
                            .LoadingPanelID("GroupFormsModalWindowContainer")
                            .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                            .UseExsistingModalcontainer(false)
                        )
                    </div>
                }
            </div>
        </div>
    }

</div>

<div id="GroupFormsModalWindowContainer" class="modal fade"></div>
<div id="GroupFormsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")

}