﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupActualFlightsViewModel
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL
@using Endilo.Helpers
@using FlightScheduling.Website.Infrastructure
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

@{
    ViewBag.Title = GroupFormsStrings.Form60 + " - " + GroupFormsStrings.FlightStep;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
    @Styles.Render("~/Content/css/IncreaseFontSize")
}

<div class="container-fluid margin-buttom-30px">
    <div class="row">

        @Html.Partial("_Group60FormNavigation", Model.Form60Data)


        <div class="col-sm-9" id="form_content">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="pull-left btn btn-primary btn-xs" onclick="window.print()">@CommonStrings.Print</a>
                    @Html.ActionLink(@CommonStrings.Print, "PrintGet60Flights", new { Model.GroupDetails.GroupID }, new { @class = "pull-left btn btn-primary btn-xs" })
                    <h2>@GroupFormsStrings.StepOne - @GroupFormsStrings.FlightStep</h2>
                    <div class="form-status">@GroupFormsStrings.FormStatus <span class="label @Html.GetFormStatusClass(Model.Form60Data.AgencyApprovalStatusEnum)">@Model.Form60Data.AgencyApprovalStatusEnum.GetDescription()</span></div>
                    <p>@GroupFormsStrings.FormInstructions</p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("_GroupDetailsForm60Details", Model.GroupDetails)
                </div>
            </div>

            @*//General Details*@
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-header">@GroupFormsStrings.FlightStep</div>
                </div>

                @foreach (var _message in Model.Warnings)
                {
                    @Html.GetAlert(_message)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Flights_Edit) && Model.Form60Data.EditMode)
                {
                    @(Ajax.LinkForBootstrapModal("AddFlight", "GroupForms", routeValues: new { GroupID = Model.Form60Data.GroupID })
                                                            .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left", id = "GroupFormFlight", title = FlightsStrings.CreateFlight })
                                                            .RawLabel(@<text>@FlightsStrings.CreateFlight</text>)
                                        .LoadingPanelID("GroupFormsModalWindowContainer")
                                        .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                                        .UseExsistingModalcontainer(false)
                    )
                }
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.Grid(Model.Flights).Columns(col =>
               {
                   col.For(c => c.DirectionEnum.GetDescription()).Named(GroupFormsStrings.FlightDirection);
                   col.For(c => c.DestanationLocationEnum.GetDescription()).Named(FlightsStrings.DepartureField);
                   col.For(c => c.ArrivalLocationEnum.GetDescription()).Named(FlightsStrings.DestenationField);
                   col.For(c => c.Airline).Named(FlightsStrings.AirlineName);
                   col.For(c => c.FlightNumber).Named(FlightsStrings.FlightNumber);
                   col.For(c => c.Departure).Named(FlightsStrings.DepartureDate).Format("{0:dd/MM/yyyy HH:mm}");
                   col.For(c => c.Arrival).Named(FlightsStrings.ArrivalDate).Format("{0:dd/MM/yyyy HH:mm}");
                   col.For(c => c.NumberOfPassengers).Named(FlightsStrings.NumberOfPassengers);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("EditFlight", "GroupForms", @Html.GetIcon(Icons.Edit, null).ToString(), new { FlightID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Edit })).Named(CommonStrings.Edit).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Flights_Edit) && Model.Form60Data.EditMode);
                   col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteActualFlight", "GroupForms", @Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, name = c.FlightNumber, c.GroupID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Flights_Edit) && Model.Form60Data.EditMode);
               }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "FlightsManagement").Empty(CommonStrings.Empty)
                </div>
            </div>

            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_Flights_Edit) && Model.Form60Data.EditMode)
            {
                @*Move to next step*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header">@GroupFormsStrings.SaveandSubmitForm</div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        @Html.ActionLink(GroupFormsStrings.MoveToNextStep, "GetForm80TripPlan", new { Model.Form60Data.GroupID }, new { @class = "btn btn-success" })
                    </div>
                </div>

                @*END OF Move to next step*@
            }


            @*COMMNETS SECTION*@
            @(Html.Partial("_FormCommentsForm60", Model.FormComments))
            @*END OF COMMNETS SECTION*@
        </div>
    </div>
</div>
}
<div id="GroupFormsModalWindowContainer" class="modal fade"></div>
<div id="GroupFormsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")


    <script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
    <script type="text/javascript">
        $(function () {


        });
    </script>

}
