﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Administration.GlobalNotification

@using (Html.BeginForm("SendGlobalNotification", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-global-notification" }))
{
    @Html.AntiForgeryToken()
    for (int i = 0; i < Model.Recipients.Count(); i++)
    {
        @Html.HiddenFor(m => Model.Recipients[i].Email)
        @Html.HiddenFor(m => Model.Recipients[i].ID)
    }


    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@NotificationStrings.SendMessage</h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-info">@(string.Format(NotificationStrings.GlobalNotificataionMessage, Model.Recipients.Count()))</p>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Subject, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Subject)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Message, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control tinymce" })
                        @Html.ValidationMessageFor(model => model.Message)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
@Scripts.Render("~/bundles/tinymce")