﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Users.UpdateUsersAccessToSystem

@using (Html.BeginForm("ChangeUsersAccessToSystem", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-associate-school" }))
{
    @Html.AntiForgeryToken()
    for (int i = 0; i < Model.SelectedUsers.Count(); i++)
    {
        @Html.HiddenFor(m => m.SelectedUsers[i])
    }


    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@AccountStrings.UpdateAccessToSystem</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-10 col-md-8 col-sm-6">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.AccessList, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.SelectedAccess, new SelectList(Model.AccessList.Items, "ID", "Name"),CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                                @Html.ValidationMessageFor(model => model.AccessList)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>