﻿@using FlightScheduling.Language
@using Flight.DAL.FlightDB.Methods
@model FlightScheduling.Website.Models.Account.UserModel
@{
    ViewBag.Title = AdministrationStrings.EditSchoolUser;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/css/chosen")
}

<h2>@AdministrationStrings.EditSchoolUser</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.UserID)

    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">


            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.Role)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" }.Disable(!User.IsInRole(eRole.Administrator.ToString())))
                    @Html.ValidationMessageFor(model => model.Email)
                    @Html.ValidationMessage("UsersExsits")

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PermissionRoles, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.PermissionRoleID, new SelectList(Model.PermissionRoles.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PermissionRoles)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <input type="submit" value="@CommonStrings.Add" class="btn btn-primary pull-left" />
                </div>
            </div>

        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/chosen")
}

