﻿@using Endilo.Helpers
@using FlightScheduling.Language
@using MvcContrib.UI.Grid
@model FlightScheduling.Web.Areas.Administration.Models.UsersViewModel

@{
    ViewBag.Title = AdministrationStrings.Users;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
}

<h2>@AdministrationStrings.Users</h2>
@using (Html.BeginForm("GetUsers", "Users", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-md-4" id="filter-OrderStatus">
            @Html.LabelFor(model => model.Roles, null, new { @class = "control-label" })
                @Html.EnumDropDownListFor(model => model.Roles, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Activation, null, new { @class = "control-label" })
                @Html.ListBoxFor(m => m.SelectedActivation, new MultiSelectList(Model.Activation.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
        </div>

        <div class="form-group col-md-4 checkbox-form">
            @Html.CheckBoxFor(m => m.ShowDeletedUsers, new { @class = "form-control form-checkbox" })
            @Html.LabelFor(model => model.ShowDeletedUsers, new { @class = "control-label" })
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <hr class="light-seperator" />
}
<div class="row">
    <div class="btn-group pull-left">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CommonStrings.Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="multi-action disabled">
                <a href="#" id="update-permission-role" data-container="UsersModalWindowContainer" data-action="@Url.Action("UpdateUserPermissionsRole","Users")">@PermissionStrings.UpdateUserRole</a>
            </li>
            <li class="multi-action disabled">
                <a href="#" id="update-access-toSystem" data-container="UsersModalWindowContainer" data-action="@Url.Action("UpdateUsersAccessToSystem","Users")">@AccountStrings.UpdateAccessToSystem</a>
            </li>
            <li class="multi-action disabled">
                <a href="#" id="compose-global-notification" data-container="UsersModalWindowContainer" data-action="@Url.Action("ComposeGlobalNotification","Users")">@NotificationStrings.SendMessage</a>
            </li>
        </ul>
    </div>


    <div class="col-12">
        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                @AdministrationStrings.AddUser <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/Administration/Users/AddAdministrator">@AdministrationStrings.AddAdministrator</a></li>
                <li><a href="/Administration/Users/AddAgent">@AdministrationStrings.AddAgent</a></li>
                <li><a href="/Administration/Users/AddStaf">@AdministrationStrings.AddStaf</a></li>
                <li><a href="/Administration/Users/AddViewerUser">@AdministrationStrings.AddViewer</a></li>
                <li><a href="/Administration/Users/AddTrainingManager">@AdministrationStrings.AddTrainingManager</a></li>
                <li><a href="/Administration/Users/AddCountyManager">@AdministrationStrings.AddCountyManager</a></li>
            </ul>
        </div>
    </div>
</div>
@if (!Model.ShowDeletedUsers)
{
    @Html.Grid(Model.UserModels).Columns(col =>
{
    col.For(c => c.UserID).Named(AccountStrings.UserID);
    col.For(c => String.Format("{0} {1}", c.FirstName, c.LastName)).Named(AccountStrings.FullName);
    col.For(c => c.Email).Named(AccountStrings.EmailAddress);
    col.For(c => c.Role != null ? c.Role.GetDescription() : "").Named(AccountStrings.Role);
    col.For(c => c.Phone).Named(AccountStrings.Phone);
    col.For(c => c.CreationDate.ToString("dd/MM/yyyy")).Named(AccountStrings.CreationDate);
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Restore, null).ToString(), "RestoreUser", "Users", new { UserID = c.UserID }, null)).Named(CommonStrings.Restore);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "userManagement").Empty(CommonStrings.Empty)
}
else
{
    @Html.Grid(Model.UserModels).Columns(col =>
{
    col.For(c => Html.CheckBox(c.UserID.ToString(), false, new { ID = c.UserID, @class = "form-control form-checkbox table-checkbox tcheck" }).ToString()).Named("").Header("<th><input type=\"checkbox\" class=\"form-control form-checkbox table-checkbox\" id='chkHeader' /></th>").Sortable(false).Encode(false).HeaderAttributes(new Dictionary<string, object> { { "style", "width:20px" } });
    col.For(c => c.UserID).Named(AccountStrings.UserID);
    col.For(c => String.Format("{0} {1}", c.FirstName, c.LastName)).Named(AccountStrings.FullName);
    col.For(c => c.Email).Named(AccountStrings.EmailAddress);
    col.For(c => c.Role != null ? c.Role.GetDescription() : "").Named(AccountStrings.Role);
    col.For(c => c.Phone).Named(AccountStrings.Phone);
    col.For(c => c.PermissionRoleName).Named(PermissionStrings.RoleName);
    col.For(c => @Html.GetLable(c.IsActivate, c.IsActivate ? CommonStrings.AccessAllowed : CommonStrings.AccessDenied)).Named(SchoolsStrings.IsActive);
    col.For(c => c.CreationDate.ToString("dd/MM/yyyy")).Named(AccountStrings.CreationDate);
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "Edit", "Users", new { UserID = c.UserID }, null)).Named(CommonStrings.Edit);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteUserConfirm", "Users", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.UserID }, new { @class = "lable lable-default", title = FlightsStrings.LinkFlight })).Named(CommonStrings.Delete).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "userManagement").Empty(CommonStrings.Empty)

}



<div id="UsersModalWindowContainer" class="modal fade"></div>
<div id="UsersLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>
@section scripts
{
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")
}
