﻿.picker {
    width: 100vw;
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    color: #1b3445;
    position: absolute;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.picker__holder, .picker__frame {
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
}

.picker__holder {
    position: fixed;
    transition: background 0.15s ease-out, top 0s 0.15s;
    -webkit-backface-visibility: hidden;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.picker__frame {
    position: absolute;
    margin: 0 auto;
    min-width: 256px;
    width: 300px;
    max-height: 350px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    /*transition: all 0.15s ease-out;*/
}

.picker--opened .picker__holder {
    top: 0;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
    zoom: 1;
    background: rgba(27, 52, 69, 0.4);
    transition: background 0.15s ease-out;
}

.picker--opened .picker__frame {
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

@media (min-height: 35.875em) {
    .picker--opened .picker__frame {
        top: 10%;
        bottom: auto;
    }
}

.picker__wrap {
    display: table;
    width: 100%;
    height: 100%;
}

@media (min-height: 28.875em) {
    .picker__wrap {
        display: block;
    }
}

.picker__box {
    padding: 0;
    border-radius: 2px;
    overflow: hidden;
    background: #ffffff;
    display: table-cell;
    vertical-align: middle;
}

@media (min-height: 28.875em) {
    .picker__box {
        display: block;
        border: 1px solid #777777;
        border-top-color: #898989;
        border-bottom-width: 0;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    }
}

.picker__date-display {
    text-align: center;
    background-color: #26a69a;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 300;
}

.picker__weekday-display {
    background-color: #1f897f;
    padding: 10px;
    font-weight: 200;
    letter-spacing: .5;
    font-size: 1rem;
    margin-bottom: 15px;
}

.picker__month-display {
    text-transform: uppercase;
    font-size: 2rem;
}

.picker__day-display {
    font-size: 4.5rem;
    font-weight: 400;
}

.picker__year-display {
    font-size: 1.8rem;
    /*color: rgba(255, 255, 255, 0.4);*/
}

.picker__calendar-container {
    padding: 0 1rem;
}

.picker__header {
    text-align: center;
    position: relative;
    margin-top: .75em;
}

.picker__month, .picker__year {
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em;
}

.picker__select--year.browser-default {
    display: inline;
    background-color: #ffffff;
    width: 26%;
}

select:disabled {
    color: rgba(0, 0, 0, 0.3);
}

select.browser-default {
    display: inline-block;
    background-color: #ffffff;
    font-family: almoni-neue-dl, arial, sans-serif;
    font-size: .9rem;
    padding: 5px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    height: 1.8rem;
    margin-left: .2rem;
    margin-right: .2rem;
}

input.browser-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a2adb5;
    border-radius: 0;
    outline: none;
    height: 2rem;
    font-family: almoni-neue-dl, arial, sans-serif;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.picker__day--highlighted:hover, .picker--focused .picker__day--highlighted {
    cursor: pointer;
}

.picker__day--infocus:hover {
    cursor: pointer;
    color: #000;
    font-weight: 500;
}

.picker__day--infocus {
    color: #595959;
    letter-spacing: -.3;
    padding: .6rem 0;
    font-weight: 400;
    border: 1px solid transparent;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    background-color: #26a69a;
    color: #ffffff;
}

.picker__day--outfocus {
    display: none;
    padding: .75rem 0;
    color: #fff;
}

.picker__day--disabled:before {
    border-top-color: #aaaaaa;
}

.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #dddddd;
    cursor: default;
}

.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
    background: #bbbbbb;
}

.picker__select--month, .picker__select--year {
    height: 2em;
    padding: 0;
    margin-left: .25em;
    margin-right: .25em;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
    cursor: pointer;
    color: #000000;
    background: #a1ded8;
}

.picker__nav--prev {
    right: -1em;
    padding-left: 1.25em;
}

.picker__nav--prev, .picker__nav--next {
    position: absolute;
    padding: .75em 1.25em;
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    top: -0.25em;
}

.picker__nav--next {
    left: -1em;
    padding-right: 1.25em;
}

    .picker__nav--prev:before, .picker__nav--next:before {
        content: " ";
        border-top: .5em solid transparent;
        border-bottom: .5em solid transparent;
        border-right: 0.75em solid #676767;
        width: 0;
        height: 0;
        display: block;
        margin: 0 auto;
    }

.picker__nav--prev:before {
    border-right: 0;
    border-left: 0.75em solid #676767;
}

.picker__footer {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.btn-flat {
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    border: none;
    cursor: pointer;
    transition: background-color .2s;
}

.picker__close, .picker__today {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #26a69a;
}

.picker__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: 1rem;
    width: 100%;
    margin-top: 0;
    /*margin-bottom: .5rem;*/
}

    .picker__table td, .picker__table th {
        padding: 15px 5px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-radius: 2px;
        line-height: 1.1;
    }

    .picker__table td {
        margin: 0;
        padding: 0;
    }

.picker__weekday {
    width: 14.285714286%;
    font-size: .9em;
    padding-bottom: .25em;
    color: #999999;
    font-weight: 500;
}

.monthpicker_input {
    line-height: 2.5rem;
}

.monthpicker.disabled {
    pointer-events: none;
}
