/*!
 * Styling for RTL (right-to-left) languages using pickadate.js
 */.picker{direction:rtl}.picker__nav--next{right:auto;left:-1em}.picker__nav--prev{left:auto;right:-1em}
.picker__nav--next:before {
    border-left: 0;
    content: " ";
    border-top: .4em solid transparent;
    border-bottom: .4em solid transparent;
    border-right: 0.75em solid #676767;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
}
.picker__nav--prev:before {
    border-right: 0;
    content: " ";
    border-top: .4em solid transparent;
    border-bottom: .4em solid transparent;
    border-left: 0.75em solid #676767;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
}