﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.AddorUpdateStafToGroupViewModel

@{
    string disabled = Model.IsUpdate ? "" : "disabled";
}



@using (Html.BeginForm("AddorUpdateStafToGroup", "Groups", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-instructor" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID, new { id = "GroupID" })
    @Html.HiddenFor(model => Model.IsUpdate)
    @Html.HiddenFor(model => Model.ID)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@GroupsStrings.AddStaf</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            @if (!Model.IsUpdate)
                            {
                                <div class="form-group">
                                    <label>@GroupFormsStrings.Staff</label>
                                    <div class="form-text-help">@GroupsStrings.EnterStaffIdOrName</div>
                                    <input type="text" id="expedition-staf" name="expedition-staf" placeholder="@GroupsStrings.SearchforStaf" class="form-control" />
                                    <p id="expedition-instructor-expired-validation" class="alert alert-danger hidden" style="margin-top:10px;">
                                        <span id="expedition-instructor-expired-validation-text" class="hidden"></span>
                                    </p>

                                </div>
                            }

                            @Html.HiddenFor(m => m.InstructorID, new { id = "InstructorID" })
                            @Html.HiddenFor(m => m.InstructorExternalID, new { id = "InstructorExternalID" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Roles, null, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.RoleID, new MultiSelectList(Model.Roles.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
                                @Html.ValidationMessageFor(model => model.Roles)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Schools, null, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.SchoolID, new MultiSelectList(Model.Schools.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
                                @Html.ValidationMessageFor(model => model.Schools)
                            </div>

                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.IsGroupManager, new { @class = "form-control form-checkbox" })
                                @Html.LabelFor(m => m.IsGroupManager)
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.IsDeputyDirector, new { @class = "form-control form-checkbox" })
                                @Html.LabelFor(m => m.IsDeputyDirector)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Comments)
                                @Html.TextAreaFor(m => m.Comments, new { type = "text", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Comments)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (Model.IsUpdate)
                {
                    <input type="submit" class="btn btn-default" value="@CommonStrings.SaveAndClose" />
                }
                else
                {
                    <button type="button" id="save-and-close" class="btn btn-default validate-form" @(disabled)>
                        <span class="button-text">@CommonStrings.SaveAndClose</span>
                        <div class="white-v"></div>
                    </button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>

<script type="text/javascript">
    $(function () {



        $("#expedition-staf").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("SearchForStaf", "Groups")",
                        type: "GET",
                        data: "SearchTerm=" + $("#expedition-staf").val(),
                        success: function (result) {
                            var json = jQuery.parseJSON(result);
                            response(json);
                        }
                    });
                },
                minLength: 3,
                open: function () { },
                close: function () { },
                focus: function (event, ui) { },
                select: function (event, ui) {
                    //$("#expedition-manager").val(ui.item.ID);
                    console.log(ui.item.ID);
                    console.log(ui.item);
                    $("#expedition-staf").val(ui.item.FirstName + ', ' + ui.item.LastName);
                    $("#InstructorID").val(ui.item.InternalID);
                    $("#InstructorExternalID").val(ui.item.ID);
                    return false;
                }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div><div class='ac_instructor_picture'><img src='@Url.Content("~/content/")" + item.InstructorPictureUrl + "' class='profile-picture' alt='InstructorProfile' /></div><div class='ac_instructor_row'><div class='ac_instrctor_name'>" + item.FirstName + ", " + item.LastName + "</div><div class='ac_instructorID'>תז: " + item.ID + " |</div><div class='ac_instructorValidity'>" + item.ValidityLabel + "| </div><div class='ac_instructorID'>" + item.RoleName + "</div></div></div>")
                .appendTo(ul);
            };

        $('#form-add-instructor').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        $("#expedition-staf").focusout(function () {
            if ($("#InstructorID").val() == "") {
                $("#save-and-close").addAttr("disabled","disabled");
            } else {
                $("#save-and-close").removeAttr("disabled");

            }
        });

        $("#IsGroupManager").change(function () {

            if ($(this).is(":checked")) {
                $("#IsDeputyDirector").prop('checked', false);
            }
        });

        $("#IsDeputyDirector").change(function () {

            if ($(this).is(":checked")) {
                $("#IsGroupManager").prop('checked', false);
            }
        });

    });
</script>