﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupSubSchoolViewModel

@using (Html.BeginForm("AddSubSchool", "Groups", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-add-subschool" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => model.IsPrimary)
    @Html.HiddenFor(model => model.IsUpdate)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@(Model.IsUpdate? GroupsStrings.UpdateSubSchool : GroupsStrings.AddSubSchool)</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-10 col-md-8 col-sm-6">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            @if (!Model.IsUpdate)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Schools, new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.SchoolID, new SelectList(Model.Schools.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
                                        @Html.ValidationMessageFor(model => model.Schools)
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.NumberOfInstructors, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.NumberOfInstructors, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NumberOfInstructors)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<input type="submit" id="btnSubmit" value="@CommonStrings.SaveAndClose" class="btn btn-default"/>*@
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>