﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupFolderDataViewModel
<h4 style="font-weight:bold;" class="bottom-margin-25x">
    @GroupsStrings.GroupFolderData
</h4>
<div class="circle">
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ExpeditionID:</span>@Model.GroupFolderData.GroupExternalID</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.NumberOfBuses:</span> @Model.GroupFolderData.GroupNumberOfBuses</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.NumberOfParticipants:</span> @Model.GroupFolderData.GroupNumberofParticipants</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ExpeditionStatus:</span> @Model.GroupFolderData.GroupStatusEnum.GetDescription()</div>
    @*<div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@String.Format("{0} {1}", GroupsStrings.ExpeditionStatus, GroupsStrings.FileType180170):</span>@Html.GetGroupFileStatusTag(Model.GroupFolderData.GF180FileStatusEnum)</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@String.Format("{0} {1}", GroupsStrings.ExpeditionStatus, GroupsStrings.FileType60):</span>@Html.GetGroupFileStatusTag(Model.GroupFolderData.GF60FileStatusEnum)</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@String.Format("{0} {1}", GroupsStrings.ExpeditionStatus, GroupsStrings.FileTypeFinalPDF):</span>@Html.GetGroupFileStatusTag(Model.GroupFolderData.GFFINPDFFileStatusEnum)</div>*@
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ParticipantRegistrationStatus:</span><span class="@Html.GetNumberOfParticipantsAlertIndication(Model.AssignedParticipants, Model.GroupFolderData.GroupNumberofParticipants)">@String.Format("{0}/{1}", Model.AssignedParticipants, Model.GroupFolderData.GroupNumberofParticipants)</span></div>
</div>

