﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupParticipantViewModel

@{
    string disabled = Model.UpdateOperation ? "disabled" : "";
}


@using (Html.BeginForm("AddParticipant", "Groups", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-participant" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.CreationDate)
    @Html.HiddenFor(model => model.UpdateDate)
    @Html.HiddenFor(model => model.UpdateOperation)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@GroupsStrings.AddParticipant</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-10 col-md-8 col-sm-6">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Schools, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.SchoolInstituteID, new SelectList(Model.Schools.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
                                    @Html.ValidationMessageFor(model => model.Schools)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ParticipantID, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @if (Model.UpdateOperation)
                                    {
                                        @Html.TextBoxFor(model => model.ParticipantID, new { @class = "form-control", disabled = "disabled" })
                                        @Html.HiddenFor(m => m.ParticipantID)
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ParticipantID, new { @class = "form-control" })
                                    }
                                    @Html.ValidationMessageFor(model => model.ParticipantID)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstNameHe, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.FirstNameHe, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstNameHe)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastNameHe, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LastNameHe, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastNameHe)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstNameEn, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.FirstNameEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstNameEn)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastNameEn, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LastNameEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastNameEn)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PassportNumber, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PassportNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PassportNumber)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PassportExperationDate, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.PassportExperationDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                    @Html.ValidationMessageFor(model => model.PassportExperationDate)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Birthday, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Birthday, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                    @Html.ValidationMessageFor(model => model.Birthday)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SEX, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EnumDropDownListFor(model => model.SEX, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SEX)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ParticipantTypeEnum, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.ParticipantTypeEnum, new SelectList(Model.ParticipantTypeMenu, "ParticipantType", "Description"), CommonStrings.SelectValue, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ParticipantTypeEnum)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ClassTypeEnum, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EnumDropDownListFor(m => m.ClassTypeEnum, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ParticipantTypeEnum)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Comments)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>