﻿@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Areas.Administration.Models.Common
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupInstructorsViewModel

<h5 class="strong inline-header">@GroupsStrings.Instructors</h5>
@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_AddStaff))
{
    @(Ajax.LinkForBootstrapModal("AddorUpdateStafToGroup", "Groups", routeValues: new { Model.GroupID })
                                                                                                                                  .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left", id = "GroupAddStaf", title = GroupsStrings.AddStaf })
                                                                                                                                  .RawLabel(@<text>@GroupsStrings.AddStaf</text>)
                                                                                                                                                                                            .LoadingPanelID("GroupFolderModalWindowContainer")
                                                                                                                                                                                            .ModalWindowContainerID("GroupFolderLoadingPanelContainer")
                                                                                                                                                                                            .UseExsistingModalcontainer(false)
    )
    @*<div class="row section">
                <div class="col-lg-12">
                    @using (Html.BeginForm("RegisterInstructor", "Groups", FormMethod.Post, new { ID = "registerInstructor", data_InstructorID = "" }))
                    {
                        @Html.HiddenFor(m => m.GroupID)
                        <div class="form-group">
                            @Html.LabelFor(model => model.InstructorID, new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.InstructorID, new { @class = "form-control" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                @Html.LabelFor(model => model.InstructorsSearch, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.InstructorID, new SelectList(Model.InstructorsSearch.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl autocomplete" })
                                </div>
                            </div>
            <input type="submit" id="btnSubmit" value="@CommonStrings.Add" class="btn btn-default disabled" />
        }
                </div>
            </div>*@
}
<p class="alert alert-danger hidden" id="InstructorError">
    <span id="alertError"></span>
    <span id="overideAction" class="hidden" style="display: inline-block;">
        <input id="overrideActioninput" type="checkbox" value="false" /> @InstructorsStrings.RegisterOverideAction
    </span>
</p>
<a href="@Url.Action("DownloadGroupInstructors",new {ID = Model.GroupID})" data-toggle="tooltip" data-placement="top" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>
@foreach (CustomSelectListItem Role in Model.Roles.Items)
{
    <h5 class="strong">@Role.Name | (@Model.Instructors.Count(i => i.RoleID == Role.ID))</h5>
    foreach (var _item in Model.Instructors.Where(i => i.RoleID == Role.ID))
    {
        <div class="instructor-row">
            <div class="instructor-picture">
                <a href="@Url.Action("InstructorFolder", "Instructors", new { @ID = _item.InstructorInternalID })">
                    <img src='@(String.Format("{0}{1}", Url.Content("~/content/"), _item.InstructorPictureUrl))' class='profile-picture' alt='InstructorProfile' />
                </a>
            </div>
            <div class="instructor-data">
                <div class="instructor-name">@_item.FullNameHE <div class="instructor-validity">@Html.GetInstructorValidityLabel(_item.InstructorValidity == FlightScheduling.DAL.eInstructorValidity.Valid ? true : false)</div></div>
                <div class="instructor-details">
                    @if (!String.IsNullOrEmpty(_item.InstructorID))
                    {
                        <span class="instrutor-ID"><span class="dark-gray"><i class="far fa-id-card"></i></span> @_item.InstructorID</span>
                    }
                    @if (!String.IsNullOrEmpty(_item.PassportID))
                    {
                        <span class="instrutor-ID"><span class="dark-gray"><i class="fas fa-passport"></i></span> @_item.PassportID</span>
                    }
                </div>
            </div>
            <div class="additional-data">
                <div class="instructor-role">@_item.RoleEnum.GetDescription()</div>
                <div class="school-data">@_item.SchoolName</div>
            </div>
            <div class="instructor-indication">
                @if (_item.IsGroupManager)
                {
                    <div class="icon-indication"><i class="fas fa-user-tie"></i></div>
                    <div class="role-name">@GroupFormsStrings.GroupManager</div>
                }
                @if (_item.IsDeputyDirector)
                {
                    <div class="icon-indication"><i class="fas fa-user-tie"></i></div>
                    <div class="role-name">@GroupFormsStrings.GroupDeputyDirector</div>
                }
            </div>
            <div class="actions">
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_DeleteStaff))
                {
                    @(Ajax.LinkForBootstrapModal("UnassignInstructor", "Groups", routeValues: new { @ID = _item.ID, title = _item.FullNameHE, GroupID = Model.GroupID })
                                                            .HtmlAttributes(new { id = "deleteInstructor", title = CommonStrings.Delete, @class = "groups-action" })
                                                            .RawLabel(@<text>@Html.GetIcon(Icons.Delete, null)</text>)
                                                                                    .LoadingPanelID("GroupDetailsModalWindowContainer")
                                                                                    .ModalWindowContainerID("GroupDetailsLoadingPanelContainer")
                                                                                    .UseExsistingModalcontainer(false)
                    )
                }
            </div>
            <div class="actions">
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_AddStaff))
                {
                    @(Ajax.LinkForBootstrapModal("UpdateStafToGroup", "Groups", routeValues: new { @ID = _item.ID })
                                                    .HtmlAttributes(new { id = "editInstructorGroup", title = CommonStrings.Edit, @class = "groups-action" })
                                                    .RawLabel(@<text>@Html.GetIcon(Icons.Edit, null)</text>)
                                                                        .LoadingPanelID("GroupDetailsModalWindowContainer")
                                                                        .ModalWindowContainerID("GroupDetailsLoadingPanelContainer")
                                                                        .UseExsistingModalcontainer(false)
                    )
                }
            </div>

        </div>
    }
}

@*@Html.Grid(Model.Instructors).Columns(col =>
    {
        col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Folder, InstructorsStrings.InstructorFolder).ToString(), "InstructorFolder", "Instructors", new { ID = c.InstructorInternalID }, null)).Named("").CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Viewing));
        col.For(c => c.FullNameHE).Named(InstructorsStrings.FullNameHE);
        col.For(c => c.FullNameEN).Named(InstructorsStrings.FullNameEN);
        col.For(c => c.InstructorID).Named(InstructorsStrings.InstructorID);
        col.For(c => c.PassportID).Named(InstructorsStrings.PassportID);
        col.For(c => c.RoleName).Named(InstructorsStrings.RoleName);
        col.For(c => c.SchoolName).Named(SchoolsStrings.Name);
        col.For(c => @Html.GetInstructorValidityLabel(c.InstructorValidity == FlightScheduling.DAL.eInstructorValidity.Valid ? true : false)).Named(InstructorsStrings.InstructorValidity);
        col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateStafToGroup", "Groups", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Edit })).Named(CommonStrings.Edit).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_AddStaff));
        col.For(c => @Ajax.LinkForBootstrapModalNo("UnassignInstructor", "Groups", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, title = String.Format("{0}", c.FullNameHE), GroupID = Model.GroupID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_DeleteStaff));
    }).RowAttributes(x =>
    {
        if (x.Item.IsGroupManager)
        {
            return new Dictionary<string, object> { { "class", "LightYellow" } };
        }
        return new Dictionary<string, object>();
    }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "InstructorRegistrationList").Empty(CommonStrings.Empty)*@


<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
@*@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_AddStaff))
    {
        <script type="text/javascript">
        $(function () {

            $("#InstructorID").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url: "@Url.Action("SearchForInstructor", "Groups")",
                        type: "GET",
                        data: "SearchTerm=" + $("#InstructorID").val(),
                        success: function (result) {
                            var json = jQuery.parseJSON(result);
                            response(json);
                            //response($.map(data, function (item) {
                            //    // your operation on data
                            //}));
                        }
                    });


                },
                minLength: 3,
                open: function () { },
                close: function () { },
                focus: function (event, ui) { },
                select: function (event, ui) {
                    $("#InstructorID").val(ui.item.ID);
                    $.ajax({
                        url: "@Url.Action("CheckInstructorRegistration", "Groups")",
                        type: "GET",
                        data: "InstructorID=" + ui.item.ID + "&GroupID=" + $('#GroupID').val(),
                        success: function (result) {
                            var json = jQuery.parseJSON(result);

                            if (json.Success == false) {
                                $("#alertError").text(json.ErrorReason);
                                $("#InstructorError").removeClass("hidden");
                            } else {
                                $("#btnSubmit").removeClass("disabled");
                            }

                            if (json.AllowOverRide == true) {
                                $("#overideAction").removeClass("hidden");
                            } else {
                                $("#overideAction").addClass("hidden");
                            }
                        }
                    });



                    return false;
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<div><div class='ac_instructor_picture'><img class='user-profile-picture-small' src='@Url.Content("~/content/")" + item.InstructorPictureUrl + "' alt='InstructorProfile' /></div><div class='ac_instructor_row'><div class='ac_instrctor_name'>" + item.FirstName + ", " + item.LastName + "</div><div class='ac_instructorID'>תז: " + item.ID + " |</div><div class='ac_instructorValidity'>" + item.ValidityLabel + "</div></div></div>")
                    .appendTo(ul);
                        };


            $("#InstructorID").focusout(function () {
                            if ($("#InstructorID").val() == "") {
                    $("#btnSubmit").addClass("disabled");

                            }
                        });

            $("#overrideActioninput").click(function () {
                            if ($(this).is(':checked')) {
                    $("#btnSubmit").removeClass("disabled");
                            } else {
                    $("#btnSubmit").addClass("disabled");
                            }
                        });
                    });
        </script>
    }*@