﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Groups.GroupSchoolsViewModel>



@*@Html.Grid(Model).Columns(col =>
{
    col.For(c => @Html.ActionLink(c.InstituteID.ToString(), "EditSchool", "Schools", new { ID = c.SchoolID }, null)).Named(SchoolsStrings.InstituteID).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_SchoolView));
    col.For(c => c.SchoolName).Named(SchoolsStrings.InstituteID);
    col.For(c => Html.GetIcon(c.IsPrimary ? Icons.Ok : Icons.No, null)).Named(GroupsStrings.SchoolIsPrimary);
    col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateSubSchool", "Groups", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false).CellCondition(c => !c.IsAdministrativeInstitude && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_UpdateSubSchool));
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteSubSchool", "Groups", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, @Title = c.SchoolName, @GroupID = c.GroupID, @SchoolID = c.SchoolID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).CellCondition(c => !c.IsPrimary && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_DeleteSubSchool));
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsNotesList").Empty(CommonStrings.Empty)*@
<div style="margin-top:15px;"></div>
@foreach (var _data in Model)
{
<div class="card-container">
    <div class="card-section" style="min-width: 120px;width: 20%;">
        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_SchoolView))
        {
            <div class="card-data">@Html.ActionLink(_data.SchoolName, "EditSchool", "Schools", new { ID = _data.SchoolID, GroupID = _data.GroupID }, null) </div>
        }
        else
        {
            <div class="card-data">@_data.SchoolName</div>
        }
        <div class="card-data">@_data.InstituteID @(_data.RegionEnum != null ? _data.RegionEnum.GetDescription() : "")</div>
    </div>
    <div class="card-section" style="min-width: 310px;width: 40%">
        <div class="card-data">@_data.Manager</div>
        <div class="card-data"><span class="card-inline-data"><i class="fa fa-envelope"></i> @_data.ManagerEmail</span> <span class="card-inline-data"><i class="fa fa-phone"></i>@_data.ManagerPhone</span></div>
    </div>
    <div class="card-section">
        <div class="card-data">@(_data.IsPrimary? GroupsStrings.SchoolIsPrimary : GroupsStrings.SeconderySchool)</div>
    </div>
    @if (!_data.IsAdministrativeInstitude && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_UpdateSubSchool))
    {
        <div class="card-section">
            <div class="card-data">
                @(Ajax.LinkForBootstrapModal("UpdateSubSchool", "Groups", routeValues: new { @ID = _data.ID })
                        .HtmlAttributes(new { id = "createGroups", title = CommonStrings.Delete, @class = "groups-action" })
                        .RawLabel(@<text>@Html.GetIcon(Icons.Edit, null)</text>)
                                .LoadingPanelID("GroupDetailsModalWindowContainer")
                                .ModalWindowContainerID("GroupDetailsLoadingPanelContainer")
                                .UseExsistingModalcontainer(false)
                )
            </div>
        </div>
    }
    @if (!_data.IsPrimary && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_DeleteSubSchool))
    {
        <div class="card-section">
            <div class="card-data">
                @(Ajax.LinkForBootstrapModal("DeleteSubSchool", "Groups", routeValues: new { @ID = _data.ID, @Title = _data.SchoolName, @GroupID = _data.GroupID, @SchoolID = _data.SchoolID })
                    .HtmlAttributes(new { id = "createGroups", title = CommonStrings.Delete, @class = "groups-action" })
                    .RawLabel(@<text>@Html.GetIcon(Icons.Delete, null)</text>)
                            .LoadingPanelID("GroupDetailsModalWindowContainer")
                            .ModalWindowContainerID("GroupDetailsLoadingPanelContainer")
                            .UseExsistingModalcontainer(false)
                )
            </div>
        </div>
    }
    </div>
}
