﻿@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Groups.GroupNoteViewModel>


<div class="row">
    @foreach (var remark in Model.OrderByDescending(m => m.UpdateDate))
    {
        <div class="remark">
            <div class="col-md-4 remark-writer">@(String.Format("{0} {1}", remark.UserFirstName, remark.UserLastName))</div>
            <div class="col-md-8 remark-date">@SchoolsStrings.Name @remark.SchoolName | @remark.UpdateDate.ToString(AppConfig.FormatDateAndTime)</div>
            <div class="col-md-12 remark-note">@remark.Notes</div>
            <div class="col-md-12 remark-actions">
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_NotesEditing))
                {
                    @(Ajax.LinkForBootstrapModal("UpdateNote", "Groups", routeValues: new { @ID = remark.ID })
                                                     .HtmlAttributes(new { id = "genericRemarkDeletion", title = CommonStrings.Update, @class = "remark-action" })
                                                     .RawLabel(@<text>@Html.GetIcon(Icons.Edit, null)</text>)
                                                      .LoadingPanelID("GroupFolderModalWindowContainer")
                                                      .ModalWindowContainerID("GroupFolderLoadingPanelContainer")
                                                      .UseExsistingModalcontainer(false)
                    )
                }
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_NotesDeleting))
                {
                    @(Ajax.LinkForBootstrapModal("DeleteNote", "Groups", routeValues: new { remark.ID, @Title = remark.Notes })
                                                     .HtmlAttributes(new { id = "genericRemarkDeletion", title = CommonStrings.Delete, @class = "remark-action" })
                                                     .RawLabel(@<text>@Html.GetIcon(Icons.Delete, null)</text>)
                                                      .LoadingPanelID("GroupFolderModalWindowContainer")
                                                      .ModalWindowContainerID("GroupFolderLoadingPanelContainer")
                                                      .UseExsistingModalcontainer(false)
                    )
                }
            </div>
        </div>
    }
</div>

@*@Html.Grid(Model).Columns(col =>
    {
        col.For(c => string.Format("{0} {1}", c.UserFirstName, c.UserLastName)).Named(GroupsStrings.Writer);
        col.For(c => c.SchoolName).Named(SchoolsStrings.Name);
        col.For(c => c.UpdateDate).Named(CommonStrings.UpdateDate).Format("{0:dd/MM/yyyy hh:mm:ss}");
        col.For(c => c.Notes).Named(GroupsStrings.FileComments);
        col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateNote", "Groups", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_NotesEditing));
        col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteNote", "Groups", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, @Title = c.Notes }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_NotesDeleting));
    }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsNotesList").Empty(CommonStrings.Empty)*@