﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.DAL
@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupFolderDataViewModel

<h4 class="bottom-margin-25x">
    @GroupsStrings.GroupFolderData
    @if (Model.GroupFolderData.FinalStatusEnum == eFinalStatus.Approved)
    {
        <p class="alert alert-success pull-left col-sm-8" style="font-weight: 100;font-size: 14px;">@GroupsStrings.ExpeditionIsApproved</p>
    }
</h4>

<div class="circle">
    <div class="row">
        <h5 class="strong inline-header">@GroupsStrings.GroupFolderData</h5>
        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Edit))
        {
            <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.GroupsCreation:</span>@Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "CreateGroups", "Groups", new { ID = Model.GroupFolderData.Order.ID }, null)</div>

        }
            <div class="col-sm-6 bottom-padding-2x">
                <span class="strong padding-right-5px">@GroupsStrings.ExpeditionID:</span>@Model.GroupFolderData.GroupExternalID
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Edit))
                {
                    @(Ajax.LinkForBootstrapModal("UpdateExpeditionNumber", "Groups", routeValues: new { ID = Model.GroupFolderData.GroupID })
                    .HtmlAttributes(new { @class = "", id = "UpdateContactDetails", title = GroupsStrings.UpdateGroupExternalID })
                    .RawLabel(@<text>@Html.Raw(Html.GetIcon(Icons.Edit, null).ToString())</text>)
                    .LoadingPanelID("GroupFolderLoadingPanelContainer")
                    .ModalWindowContainerID("GroupFolderModalWindowContainer")
                    .UseExsistingModalcontainer(true))
                }
            </div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ExpeditionColor:</span>@Html.AddInstitudeRetangle(Model.GroupFolderData.GroupColor.Code, Model.GroupFolderData.GroupExternalID.ToString())  @Model.GroupFolderData.GroupColor.ColorCodeName.GetDescription()</div>
        <div class="col-sm-6 bottom-padding-2x">
            <span class="strong padding-right-5px">@AgenciesStrings.Name:</span> @Model.GroupFolderData.Order.Agencies.Name
            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_UpdateAgency))
            {
                @(Ajax.LinkForBootstrapModal("UpdateGroupAgency", "Groups", routeValues: new { ID = Model.GroupFolderData.GroupID })
                .HtmlAttributes(new { @class = "", id = "UpdateGroupAgency", title = GroupsStrings.UpdateGroupAgency })
                .RawLabel(@<text>@Html.Raw(Html.GetIcon(Icons.Edit, null).ToString())</text>)
                .LoadingPanelID("GroupFolderLoadingPanelContainer")
                .ModalWindowContainerID("GroupFolderModalWindowContainer")
                .UseExsistingModalcontainer(true))
            }
        </div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.NumberOfBuses:</span> @Model.GroupFolderData.GroupNumberOfBuses</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.NumberOfParticipants:</span> @Model.GroupFolderData.GroupNumberofParticipants</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ExpeditionStatus:</span> @Model.GroupFolderData.GroupStatusEnum.GetDescription()</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ParticipantRegistrationStatus:</span><span class="@Html.GetNumberOfParticipantsAlertIndication(Model.AssignedParticipants, Model.GroupFolderData.GroupNumberofParticipants)">@String.Format("{0}/{1}", Model.AssignedParticipants, Model.GroupFolderData.GroupNumberofParticipants)</span></div>


        @*<div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@String.Format("{0} {1}", GroupsStrings.ExpeditionFileStatus, GroupsStrings.FileType180170):</span>@Html.GetGroupFileStatusTag(Model.GroupFolderData.GF180FileStatusEnum)</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@String.Format("{0} {1}", GroupsStrings.ExpeditionFileStatus, GroupsStrings.FileType60):</span>@Html.GetGroupFileStatusTag(Model.GroupFolderData.GF60FileStatusEnum)</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@String.Format("{0} {1}", GroupsStrings.ExpeditionFileStatus, GroupsStrings.FileTypeFinalPDF):</span>@Html.GetGroupFileStatusTag(Model.GroupFolderData.GFFINPDFFileStatusEnum)</div>*@
        <div class="col-sm-6 bottom-padding-2x">
            <span class="strong padding-right-5px">@GroupsStrings.ExpeditionFinalStatus:</span> @Model.GroupFolderData.FinalStatusEnum.GetDescription()
            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Approval))
            {
                @: |
                @(Ajax.LinkForBootstrapModal("UpdateGroupFinalStatus", "Groups", routeValues: new { ID = Model.GroupFolderData.GroupID })
                .HtmlAttributes(new { @class = "btn btn-xs btn-primary", id = "UpdateContactDetails", title = GroupsStrings.ChangeExpeditionFinalStatus })
                .RawLabel(@<text>@GroupsStrings.ChangeExpeditionFinalStatus</text>)
                .LoadingPanelID("GroupFolderLoadingPanelContainer")
                .ModalWindowContainerID("GroupFolderModalWindowContainer")
                .UseExsistingModalcontainer(true))
            }
        </div>
        <div class="col-sm-6 bottom-padding-2x">&nbsp;</div>
        <div class="col-sm-6 bottom-padding-2x">&nbsp;</div>
    </div>
    <div class="row">
        <h5 class="strong inline-header">@SchoolsStrings.SchoolDetails</h5>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@SchoolsStrings.InstituteID:</span> @Html.ActionLink(Model.GroupFolderData.School.InstituteID.ToString(), "EditSchool", "Schools", new { ID = Model.GroupFolderData.School.ID }, null)</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@SchoolsStrings.Name:</span> @Model.GroupFolderData.School.Name</div>
    </div>
    <div class="row">
        <h5 class="strong inline-header">@ExpeditionStrings.ExpeditionDetails</h5>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ID:</span> @Html.ActionLink(Model.GroupFolderData.Order.ID.ToString(), "EditExpedition", "Expeditions", new { area = "", ID = Model.GroupFolderData.Order.ID }, null)</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ExpeditionManager:</span> @Model.GroupFolderData.Order.Manager</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ExpeditionManagerPhone:</span> <a href="tel:@Model.GroupFolderData.Order.ManagerPhone">@Model.GroupFolderData.Order.ManagerPhone</a></div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ExpeditionManagerEmail:</span> <a href="mailto:@Model.GroupFolderData.Order.ManagerEmail">@Model.GroupFolderData.Order.ManagerEmail</a></div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ExpeditionManagerCell:</span> <a href="tel:@Model.GroupFolderData.Order.ManagerCell">@Model.GroupFolderData.Order.ManagerCell</a></div>
        <div class="col-sm-6 bottom-padding-2x">&nbsp;</div>
    </div>
    <div class="row">
        <h5 class="strong inline-header">@TripsStrings.TripDetails</h5>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.ID:</span>@Html.ActionLink(Model.GroupFolderData.Trip.ID.ToString(), "TripManagement", "Trips", new { ID = Model.GroupFolderData.Trip.ID }, null)</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.Destenation:</span> @Model.GroupFolderData.Trip.DestenationEnum.GetDescription()</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.DepartureDate:</span> @Model.GroupFolderData.Trip.DepartureDate.ToString("dd/MM/yyyy")</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.ReturnDate:</span> @Model.GroupFolderData.Trip.ReturningDate.ToString("dd/MM/yyyy")</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ContactName:</span> @Model.GroupFolderData.ContactName</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ContactPhone:</span> @Model.GroupFolderData.ContactPhone</div>
        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_UpdateContact) && Model.GroupFolderData.Trip.DepartureDate >= DateTime.Today)
        {
            @(Ajax.LinkForBootstrapModal("UpdateGroupContactDetails", "Groups", routeValues: new { ID = Model.GroupFolderData.GroupID })
            .HtmlAttributes(new { @class = "btn btn-xs btn-default", id = "UpdateContactDetails", title = GroupsStrings.UpdateGroupContactDetails })
            .RawLabel(@<text>@GroupsStrings.UpdateGroupContactDetails</text>)
            .LoadingPanelID("GroupFolderLoadingPanelContainer")
            .ModalWindowContainerID("GroupFolderModalWindowContainer")
            .UseExsistingModalcontainer(true))
        }
    </div>
</div>
