﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupFileViewModel

@using (Html.BeginForm("AddFile", "Groups", FormMethod.Post, new { enctype = "multipart/form-data", id = "group-addfile-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => model.UserID)
    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@GroupsStrings.AddFile</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-10 col-md-8 col-sm-6">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FileType, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @*@if (User.IsInRole(eRole.Staf.ToString()) || User.IsInRole(eRole.Administrator.ToString()))
                                        {*@
                                    @*@Html.EnumDropDownListFor(model => model.FileType, new { @class = "form-control" })*@
                                    @Html.EnumDropDownListFor(model => model.FileType, (val) => val != eGroupFileType.F180170 && val != eGroupFileType.ManagerStatement, CommonStrings.SelectValue, new { @class = "form-control" })
                                    @*}
                                        else if (User.IsInRole(eRole.SchoolManager.ToString()))
                                        {
                                            @Html.EnumDropDownListFor(model => model.FileType, (val) => val != eGroupFileType.IntialPDF && val != eGroupFileType.FinalPDF, null, new { @class = "form-control" })
                                        }*@

                                    @Html.ValidationMessageFor(model => model.FileType)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Attachment, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div>@(String.Format(GroupsStrings.FileTypesMessage, "PDF, Doc, Docx"))</div>
                                    @Html.TextBoxFor(m => m.Attachment, new { type = "file", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Attachment)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="strong">@GroupsStrings.FileTemplates</h5>
                <ul>
                    <li><a href="https://drive.google.com/file/d/1OdoHAqvjxj8LhjYlYtV_Q-49UB-kUcSB/view?usp=sharing" target="_blank" alt="@GroupsStrings.DownloadFile60">@GroupsStrings.DownloadFile60</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                @*<input type="submit" id="btnSubmit" value="@CommonStrings.SaveAndClose" class="btn btn-default"/>*@
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>