﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupNoteViewModel

@using (Html.BeginForm("AddNote", "Groups", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-add-note" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UpdateOperation)

    <div class="modal-dialog" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                    @if (Model.UpdateOperation)
                    {
                        @GroupsStrings.UpdateNote
                    }
                    else
                    {
                        @GroupsStrings.AddNote
                    }
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-8 col-sm-6">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Schools, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.SchoolID, new SelectList(Model.Schools.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
                                @Html.ValidationMessageFor(model => model.Schools)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Notes, new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Notes)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<input type="submit" id="btnSubmit" value="@CommonStrings.SaveAndClose" class="btn btn-default"/>*@
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>