﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Groups.GroupFileViewModel>


@foreach (var _file in Model)
{
    <div class="file-container">
        <div class="row">
            <div class="col-sm-5 file-header">@Html.ActionLink(_file.Name, "DownloadFile", "Groups", new { @FilePath = _file.Url, @FileName = _file.Name }, null) <span class="file-status">@Html.Raw(Html.GetGroupFileStatusTag(_file.FileStatus).ToHtmlString())</span></div>
            <div class="col-sm-7 date">@GroupsStrings.FileType @_file.FileType.GetDescription() | @_file.CreationDate.ToString(AppConfig.FormatDateAndTime)</div>
        </div>
        <div class="row file-comments">
            @*@if (!String.IsNullOrEmpty(_file.CountyManagerComments) || !String.IsNullOrEmpty(_file.Comments))
            {
                <div class="col-sm-12 file-comments-title">@CommonStrings.Comments</div>
            }*@

            @if (!String.IsNullOrEmpty(_file.CountyManagerComments))
            {
                <div class="col-md-12 file-comment"><span class="file-writer">@GroupsStrings.CountyManagerComments - </span>@_file.CountyManagerComments</div>
            }

            @if (!String.IsNullOrEmpty(_file.Comments))
            {
                <div class="col-md-12 file-comment"><span class="file-writer">@(String.Format("{0} {1}", _file.UserFirstName, _file.UserLastName)) - </span>@_file.Comments</div>
            }
        </div>
        <div class="col-md-12 file-actions">
            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_EditingFiles))
            {
                @(Ajax.LinkForBootstrapModal("UpdateFileStatus", "Groups", routeValues: new { @ID = _file.ID })
                                                                 .HtmlAttributes(new { id = "genericRemarkDeletion", title = CommonStrings.Update, @class = "remark-action" })
                                                                 .RawLabel(@<text>@Html.GetIcon(Icons.Edit, null)</text>)
                                                                        .LoadingPanelID("GroupFolderModalWindowContainer")
                                                                        .ModalWindowContainerID("GroupFolderLoadingPanelContainer")
                                                                        .UseExsistingModalcontainer(false)
                )
                @(Ajax.LinkForBootstrapModal("DeleteFile", "Groups", routeValues: new { _file.ID, @fileName = _file.Name })
                                                                 .HtmlAttributes(new { id = "genericRemarkDeletion", title = CommonStrings.Delete, @class = "remark-action" })
                                                                 .RawLabel(@<text>@Html.GetIcon(Icons.Delete, null)</text>)
                                                                        .LoadingPanelID("GroupFolderModalWindowContainer")
                                                                        .ModalWindowContainerID("GroupFolderLoadingPanelContainer")
                                                                        .UseExsistingModalcontainer(false)
                )
            }
        </div>
    </div>
}

@*@Html.Grid(Model).Columns(col =>
{
    col.For(c => @Html.ActionLink(c.Name, "DownloadFile", "Groups", new { @FilePath = c.Url, @FileName = c.Name }, null)).Named(GroupsStrings.FileName);
    col.For(c => c.FileType.GetDescription()).Named(GroupsStrings.FileType);
    col.For(c => @Html.GetIcon(c.CountyManagerApproval ? Icons.Yes : Icons.No, GroupsStrings.GF180CountyManagerApproval)).Named(String.Empty);
    col.For(c => @Html.GetGroupFileStatusTag(c.FileStatus).ToHtmlString()).Named(GroupsStrings.FileStatus).Encode(false);
    col.For(c => c.CreationDate).Named(CommonStrings.CreationDate).Format("{0:dd/MM/yyyy HH:mm:ss}");
    col.For(c => String.IsNullOrEmpty(c.CountyManagerComments) ? String.Format("<div class='strong'>{0}: {1} {2}</div><p>{3}</p>", GroupsStrings.Writer, c.UserFirstName, c.UserLastName , c.Comments) : String.IsNullOrEmpty(c.Comments) ? String.Format("<div class='strong'>{0}</div><p>{1}</p>", GroupsStrings.CountyManagerComments, c.CountyManagerComments) : String.Format("<div class='strong'>{0}: {1} {2}</div><p>{3}</p><div class='strong'>{4}:</div><p>{5}</p>", GroupsStrings.Writer, c.UserFirstName, c.UserLastName, c.Comments, GroupsStrings.CountyManagerComments, c.CountyManagerComments)).Encode(false).Named(GroupsStrings.FileComments);
    col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateFileStatus", "Groups", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_EditingFiles));
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteFile", "Groups", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, @fileName = c.Name }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_EditingFiles));
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsFilesList").Empty(CommonStrings.Empty)*@