﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Groups.GroupViewModel>


<h5 class="strong inline-header">@InstructorsStrings.InstructorGroups</h5>
@Html.Grid(Model).Columns(col =>
{
    col.For(c => Html.ActionLink(c.GroupExternalID.ToString(), "GroupFolderManagement", "Groups", new { ID = c.ID }, null)).Named(GroupsStrings.ExpeditionID);
    col.For(c => c.NumberOfBuses.GetDescription()).Named(GroupsStrings.NumberOfBuses);
    col.For(c => c.NumberOfParticipants).Named(GroupsStrings.NumberOfParticipants);
    col.For(c => c.OrderID).Named(ExpeditionStrings.ID);
    col.For(c => c.DepartureDate).Named(TripsStrings.DepartureDate).Format(AppConfig.FormatDateGrid);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "instructorGroups").Empty(CommonStrings.Empty)