﻿@using Endilo.Helpers
@using FlightScheduling.Language
@model FlightScheduling.DAL.Expeditions

<h4 class="header"><i class="fa fa-newspaper-o"></i> @ExpeditionStrings.ExpeditionDetails</h4>
<div class="circle">
    <div class="col-sm-12"><strong>@ExpeditionStrings.ID:</strong> @Model.ID</div>
    <div class="col-sm-6"><strong>@TripsStrings.DepartureDate:</strong> @Model.Trips.DepartureDate.ToString("dd/MM/yyyy")</div>
    <div class="col-sm-6"><strong>@TripsStrings.ReturnDate:</strong> @Model.Trips.ReturningDate.ToString("dd/MM/yyyy")</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.NumOfPassengers:</strong> @Model.NumberOFpassengers</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.TotalBusesPerDay:</strong> @Model.BasesPerDay</div>
</div>