﻿@using Endilo.Helpers
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure;
@model FlightScheduling.Web.Areas.Administration.Models.Groups.TripDetailsViewModel

<h4 class="header"><i class="fa fa-newspaper-o"></i> @TripsStrings.TripDetails</h4>
<div class="box-gray">
    <div class="col-sm-12"><strong>@TripsStrings.ID:</strong> @Model.TripID</div>
    <div class="col-sm-12"><strong>@TripsStrings.Destenation:</strong> @Model.Destenation.GetDescription()</div>
    <div class="col-sm-12"><strong>@TripsStrings.TakeOffField:</strong> @Model.ReturnedFrom.GetDescription()</div>
    <div class="col-sm-6"><strong>@TripsStrings.DepartureDate:</strong> @Model.DepartureDate.ToString(AppConfig.FormatDate)</div>
    <div class="col-sm-6"><strong>@TripsStrings.ReturnDate:</strong> @Model.ReturningDate.ToString(AppConfig.FormatDate)</div>
</div>