﻿@using Endilo.Helpers
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.OrderDetailsViewModel

<h4 class="header"><i class="fa fa-newspaper-o"></i> @ExpeditionStrings.ExpeditionDetails</h4>
<div class="box-gray">
    <div class="col-sm-12"><strong>@ExpeditionStrings.ID:</strong> @Model.ID</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.NumOfPassengers:</strong> @Model.NumOfPassangersRequired</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.TotalBusesPerDay:</strong> @Model.BusesRequiredPerDay</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.Status:</strong> @Html.GetStatusTag(Model.eStatus)</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.ExpeditionManager:</strong> @Model.ExpeditionManager</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.ExpeditionManagerPhone:</strong> @Model.ExpeditionManagerPhone</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.ExpeditionManagerCell:</strong> @Model.ExpeditionManagerCell</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.ExpeditionManagerEmail:</strong> @Model.ExpeditionManagerEmail</div>
    <div class="col-sm-6"><strong>@ExpeditionStrings.AgentStatus:</strong> @Html.GetAgentStatusTag(Model.eAgentStatus)</div>
</div>