﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.UpdateGroupAgencyViewModel

@using (Html.BeginForm("UpdateGroupAgency", "Groups", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-update-contact-details" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.GroupID)


    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                    @GroupsStrings.UpdateGroupAgency
                </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-10 col-md-8 col-sm-6">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Agencies, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.AgencyID, new SelectList(Model.Agencies.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl", @ID = "GroupAgencyID" })
                                    @Html.ValidationMessageFor(model => model.AgencyID)
                                </div>
                            </div>
                            <p id="errorDescription" class="alert alert-danger" style="display: none;"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" id="btnSubmitID" value="@CommonStrings.SaveAndClose" class="btn btn-default" />
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>
