﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupFileViewModel

@using (Html.BeginForm("UpdateFileStatus", "Groups", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => Model.GroupID)
    @Html.HiddenFor(model => model.UserID)
    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@GroupsStrings.UpdateFileStatus</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="circle" style="min-height:50px;margin-bottom:15px;">
                                <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.FileName:</span>@Model.Name</div>
                                <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.FileType:</span>@Model.FileType.GetDescription()</div>
                            </div>
                            @if (User.IsInRole(eRole.CountyManager.ToString()))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CountyManagerApproval)
                                        @Html.CheckBoxFor(model => model.CountyManagerApproval, new {@class="form-control" })
                                        @Html.ValidationMessageFor(model => model.CountyManagerApproval)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CountyManagerComments, new { @class = "control-label" })
                                        @Html.TextAreaFor(model => model.CountyManagerComments, new { @class = "form-control" })
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FileStatus, new { @class = "control-label" })
                                        @Html.EnumDropDownListFor(model => model.FileStatus, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FileStatus)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Comments, new { @class = "control-label" })
                                        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" id="btnSubmit" value="@CommonStrings.SaveAndClose" class="btn btn-default" />
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>
            </div>
        </div>
    </div>
}