﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupsCreationViewModel

@{
    ViewBag.Title = "CreateGroups";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
@if (Model.UpdateGroup)
{
    <h2>@GroupsStrings.UpdateGroups</h2>
}
else
{
    <h2>@GroupsStrings.GroupsCreation</h2>
}
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_OrderDetails", Model.Order)
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Order.ID)
            @Html.HiddenFor(m => m.Order.AgencyID)
            @Html.HiddenFor(model => model.Order.BasesPerDay)
            @Html.HiddenFor(model => model.Order.NumberOFpassengers)
            @Html.HiddenFor(m => m.UpdateGroup)

            <h3>@GroupsStrings.GroupsDetails</h3>
            if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
            {
                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.ValidationSummary(false, ValidationStrings.ValidationErrors)
                </div>
            }
            @*@Html.ValidationMessage("NumberOfBusesValidation", new { @class = "alert alert-warning" })
                @Html.ValidationMessage("NumberOfParticipantsValidation", new { @class = "alert alert-warning" })
                @Html.ValidationMessage("NumberOfParticipantsPerBusValidation", new {@class = "alert alert-warning" })*@
            <input type="button" id="addGroup" value="@CommonStrings.Add" class="btn btn-default" />
            <table class="table table-hover table-responsive table-condensed" id="departureFlights">
                <thead>
                    <tr>
                        <th>@GroupsStrings.ExpeditionID</th>
                        <th>@GroupsStrings.NumberOfBuses</th>
                        <th>@GroupsStrings.NumberOfParticipants</th>
                        <th>@GroupsStrings.ExpeditionStatus</th>
                        <th>@GroupsStrings.ExpeditionColor</th>
                    </tr>
                </thead>
                <tbody data-collection="groups">
                    @for (int i = 0; i < Model.Groups.Count; i++)
                {
                        <tr data-collection="group">
                            <td>
                                <span id="GroupExternalID">@Model.Groups[i].GroupExternalID</span>
                                <input type="hidden" data-name="ID" data-ID="@Model.Groups[i].ID"  name="@String.Format("Groups[{0}].ID", i)" value="@Model.Groups[i].ID" />
                                <input type="hidden" data-name="ExternalID" data-externalID="@Model.Groups[i].GroupExternalID" name="@String.Format("Groups[{0}].GroupExternalID", i)" value="@Model.Groups[i].GroupExternalID" />
                                <input type="hidden" data-name="OrderID" data-OrderID="@Model.Groups[i].OrderID" name="@String.Format("Groups[{0}].OrderID", i)" value="@Model.Groups[i].OrderID" />
                            </td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control small_textbox" data-name="NumberOfBuses" type="text" name="@String.Format("Groups[{0}].NumberOfBuses", i)" value="@Model.Groups[i].NumberOfBuses" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control small_textbox" data-name="NumberOfParticipants" type="text" name="@String.Format("Groups[{0}].NumberOfParticipants", i)" value="@Model.Groups[i].NumberOfParticipants" />
                                </div>
                            </td>
                            <td>
                                @Model.Groups[i].GroupStatus.GetDescription()
                                <input type="hidden" data-name="GroupStatus" name="@String.Format("Groups[{0}].GroupStatus", i)" value="@Model.Groups[i].GroupStatus" />
                            </td>
                            <td>
                                <div class="form-group">
                                    <select class="form-control" data-name="Color" name="@String.Format("Groups[{0}].Color.ID", i)">
                                        <option value="-1">@CommonStrings.SelectValue</option>
                                        @for (int z = 0; z < Model.GroupColors.Count; z++)
                                        {
                                            if (Model.GroupColors[z].ID != 2)
                                            {
                                                if (Model.Groups[i].Color.ID == @Model.GroupColors[z].ID)
                                                {
                                                <option style="background-color: @Model.GroupColors[z].Code;" selected value="@Model.GroupColors[z].ID">@Model.GroupColors[z].ColorCodeName.GetDescription()</option>
                                                }
                                                else
                                                {
                                                <option style="background-color: @Model.GroupColors[z].Code;" value="@Model.GroupColors[z].ID">@Model.GroupColors[z].ColorCodeName.GetDescription()</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="submit" id="btnSubmit" value="@CommonStrings.Save" class="btn btn-default" />
        }
    </div>
</div>

<script type="text/javascript">

    $(function () {

        $("#addGroup").click(function() {
            console.log($("tr[data-collection='group']").length);
            var newElementNumber = $("tr[data-collection='group']").length;

            var lastElement = $("tr[data-collection='group']").last();

            var newElement = lastElement.clone();

            newElement.find("input[data-name='ID']").attr("name", "Groups[" + newElementNumber + "].ID");
            newElement.find("input[data-name='ID']").val(0);

            newElement.find("input[data-name='ExternalID']").attr("name", "Groups[" + newElementNumber + "].GroupExternalID");
            newElement.find("input[data-name='ExternalID']").val(parseInt(lastElement.find("input[data-name='ExternalID']").val()) + 1);
            newElement.find("span[ID='GroupExternalID']").text(parseInt(lastElement.find("input[data-name='ExternalID']").val()) + 1);

            newElement.find("input[data-name='OrderID']").attr("name", "Groups[" + newElementNumber + "].OrderID");

            newElement.find("input[data-name='NumberOfBuses']").attr("name", "Groups[" + newElementNumber + "].NumberOfBuses");
            newElement.find("input[data-name='NumberOfBuses']").val("");

            newElement.find("input[data-name='NumberOfParticipants']").attr("name", "Groups[" + newElementNumber + "].NumberOfParticipants");
            newElement.find("input[data-name='NumberOfParticipants']").val("");


            newElement.find("input[data-name='GroupStatus']").attr("name", "Groups[" + newElementNumber + "].GroupStatus");

            newElement.find("select[data-name='Color']").attr("name", "Groups[" + newElementNumber + "].Color.ID");

            $("tbody[data-collection='groups']").append(newElement);
        });
       


    });
</script>