﻿@model FlightScheduling.Web.Areas.Administration.Models.Groups.DailyDashboardViewModel
@using FlightScheduling.Language
@using FlightScheduling.Web.Areas.Administration.Models.Groups

@{
    ViewBag.Title = "Daily DashBoard";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
    string _width = "width: 25%";
}

<div class="row dailyDashboard-header">
    <div class="col-md-6"><h1>@DailyDashboardStrings.PageTitle - @Model.StartDate.ToString("dddd dd MMMM, yyyy")</h1></div>
    <div class="col-md-6"><h4 class="text-left">@DailyDashboardStrings.LastUpdateDate: @Model.LastUpdateDate.ToString("dd/MM/yyyy HH:mm")</h4></div>
    <div class="col-md-12"><div class="text-left"><a href="#" id="refreshData">@DailyDashboardStrings.RefreshData</a> | <a href="/" ><i class="fa fa-home"></i></a></div></div>
</div>
<div class="row">
    <div class="col-md-4"><div class="card"><div class="text-center"><i class="fa fa-bus fa-10x dailydashboard-category"></i></div><h1 class="text-center dailydashboard-category-header">@Model.NumberOfBuses</h1><h1 class="text-center dailydashboard-category-header">@DailyDashboardStrings.NumberOfBuses</h1></div></div>
    <div class="col-md-4"><div class="card"><div class="text-center"><i class="fa fa-folder-open fa-10x dailydashboard-category"></i></div><h1 class="text-center dailydashboard-category-header">@Model.NumberOfGroups</h1><h1 class="text-center dailydashboard-category-header">@DailyDashboardStrings.NumberOfGroups</h1></div></div>
    <div class="col-md-4"><div class="card"><div class="text-center"><i class="fa fa-users fa-10x dailydashboard-category"></i></div><h1 class="text-center dailydashboard-category-header">@Model.NumberOfParticipants</h1><h1 class="text-center dailydashboard-category-header">@DailyDashboardStrings.NumberOfParticipants</h1></div></div>
</div>
<div class="line-seperator"></div>
<div class="row dailydashbaord-groups-row ">
    @foreach (var group in Model.GroupsRawData)
    {
    <div class="card">
        <div class="col-sm-12"><h3 class="group-header">@Html.ActionLink(String.Format("{0} {1}", DailyDashboardStrings.GroupNumber.ToString(), group.GroupExternalID.ToString()), "GroupFolderManagement", "Groups", new { ID = group.GroupID }, null)</h3></div>
        <div class="col-sm-12">

            @Html.Grid(Model.GroupsData.Where(g => g.GroupID == group.GroupID)).Columns(col =>
                                        {
                                            col.For(c => @Html.ActionLink(c.InstituteID.ToString(), "EditSchool", "Schools", new { ID = c.SchoolID }, null)).Named(SchoolsStrings.InstituteID).Attributes(style => _width);
                                            col.For(c => c.SchoolName).Named(SchoolsStrings.Name).Attributes(style => _width);
                                            col.For(c => c.AgencyName).Named(AgenciesStrings.Name).Attributes(style => _width);
                                            col.For(c => c.RegionEnum != null ? c.RegionEnum.GetDescription() : "").Named(SchoolsStrings.Region).Attributes(style => _width);
                                        }).Attributes(@class => "table table-hover table-responsive table-condensed table-bigger-fonts", @id => "schools").Empty(CommonStrings.Empty)
        </div>
    </div>
    }
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {

            setInterval(function () {
                window.location.reload();
            }, 7200000);  //Two hours

            $("#refreshData").click(function () {
                window.location.reload();
            })

        });
    </script>

}