﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.Website.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupsDetailsViewModel

@{
    /**/

    ViewBag.Title = GroupsStrings.GroupsManagement;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}
<h2>@GroupsStrings.GroupsManagement</h2>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("GetGroupsDetails", "Groups", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.SchoolID)
            @Html.HiddenFor(m => m.AgencyID)
            @Html.HiddenFor(m => m.Region)
            @Html.HiddenFor(m => m.NewLayout)
            @Html.HiddenFor(m => m.ShowAdministrative)
            @Html.HiddenFor(m => m.IsPrimary)
            if (Model.GroupIDs != null && Model.GroupIDs.Count() > 0)
            {
                @Html.HiddenFor(m => m.GroupIDs)
            }

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.OrderID, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.OrderID, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.GroupID, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.GroupID, new { @class = "form-control" })
            </div>
            if (!User.IsInRole(eRole.Agent.ToString()))
            {
                <div class="form-group col-md-4" id="filter-OrderStatus">
                    @Html.LabelFor(model => model.GroupFinalStatus, null, new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => Model.GroupFinalStatus, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                </div>
            }
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.InstituteID, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.InstituteID, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
                </div>
            </div>

        }
    </div>
</div>
<div>&nbsp;</div>
<h4 class="strong margin-top-10px">@GroupsStrings.GroupsDetails</h4>
@foreach (var _group in Model.GroupsNewView)
{
<div class="groups-container" style="border-right: 8px solid @_group.GroupColor.Code;">
    <div class="groups-number"><a href="@Url.Action("GroupFolderManagement", "Groups", new { ID = _group.GroupID})">@_group.GroupExternalID</a></div>
    <div class="groups-details">
        <a href="@Url.Action("EditSchool","Schools", new { _group.School.ID })">
            <div class="groups-details-school">@_group.School.Name</div>
            <div class="groups-details-institute">@_group.School.InstituteID @(_group.School.RegionEnum != null ? _group.School.RegionEnum.GetDescription() : "")</div>
        </a>
    </div>
    <div class="groups-trip-details">
        <a href="@Url.Action("TripManagement","Trips", new { ID = _group.Trip.ID})">
            <div class="groups-trip-date-title">@TripsStrings.DepartureDate</div>
            <div class="groups-trip-date">@_group.Trip.DepartureDate.ToString(AppConfig.FormatDateMonthLong)</div>
            <div class="groups-trip-destination">@_group.Trip.DestenationEnum.GetDescription()</div>
        </a>
    </div>
    <div class="groups-buses">
        <div class="groups-buses-number">@_group.GroupNumberOfBuses</div>
        <div class="groups-buses-icon"><i class="fa fa-bus"></i></div>
    </div>
    <div class="groups-participants">
        <a href="@Url.Action("GetGroupParticipants","Groups", new { ID = _group.GroupID })">
            <div class="groups-participants-number">@_group.GroupNumberofParticipants</div>
            <div class="groups-participants-icon"><i class="fa fa-users"></i></div>
        </a>
    </div>
    <div class="groups-form180">
        <a href="@Url.Action("GetGroup180Forms", "GroupForms", new { _group.GroupID })">
            <div class="groups-form180-number">@_group.NumberOf180Forms</div>
            <div class="groups-form180-title">@GroupFormsStrings.TotalNumberOf180Forms</div>
        </a>
    </div>
    <div class="groups-status">
        <div class="groups-status-title">@GroupFormsStrings.AdministrationStep</div>
        <div class="groups-status-indication">@Html.GetProgressBar(_group.AdministrationPercentageCompletion, _group.AdministrationFormCompletion, _group.NumberOf180Forms, false, true, _group.AdministrationTotalApproval == 100)</div>
    </div>
    <div class="groups-status">
        <div class="groups-status-title">@GroupFormsStrings.InstructorsStep</div>
        <div class="groups-status-indication">@Html.GetProgressBar(_group.InstructorPercentageCompletion, _group.InstructorFormCompletion, _group.NumberOf180Forms, false, true, _group.InstructorTotalApproval == 100)</div>
    </div>
    <div class="groups-status">
        <div class="groups-status-title">@GroupFormsStrings.PreparationPlanShort</div>
        <div class="groups-status-indication">@Html.GetProgressBar(_group.PlanPercentageCompletion, _group.PlanFormCompletion, _group.NumberOf180Forms, false, true, _group.PlanTotalApproval == 100)</div>
    </div>
    <div class="groups-status-60">
        <a href="@Url.Action("GetForm60", "GroupForms", new { _group.GroupID })">
            <div class="groups-status-title">@(String.Format("{0} {1}", GroupFormsStrings.Form, GroupsStrings.FileType60))</div>
            <div class="groups-status-indication">
                <div class="groups-form60-icon" data-toggle="tooltip" data-placement="top" data-html="true" title="@String.Format("{0} {1}: {2} {3} {4}", GroupFormsStrings.FormStatus, GroupFormsStrings.Form60AgencyApproval, _group.AgencyApprovalStatusEnum.GetDescription(),CommonStrings.LastUpdateDate, _group.Form60SubmitDate)"><i class="fa fa-check icon-@(Html.GetTraficLightClassColor(_group.AgencyApprovalStatusEnum))"></i></div>
                <div class="groups-form60-icon" data-toggle="tooltip" data-placement="top" data-html="true" title="@String.Format("{0} {1}: {2} {3} {4}", GroupFormsStrings.FormStatus, GroupFormsStrings.Form60PlanApproval, _group.PlanApprovalStatusEnum.GetDescription(),CommonStrings.LastUpdateDate, _group.Form60SubmitDate)"><i class="fa fa-calendar icon-@(Html.GetTraficLightClassColor(_group.PlanApprovalStatusEnum))"></i></div>
                <div class="groups-form60-icon" data-toggle="tooltip" data-placement="top" data-html="true" title="@String.Format("{0} {1}: {2} {3} {4}", GroupFormsStrings.FormStatus, GroupFormsStrings.Form60FinalApproval, _group.GF60FormStatusEnum.GetDescription(),CommonStrings.LastUpdateDate, _group.Form60SubmitDate)"><i class="fa fa-flag-checkered icon-@(Html.GetTraficLightClassColorForm60(_group.GF60FormStatusEnum))"></i></div>
            </div>
        </a>
    </div>
    <div class="groups-form-60-date">
        <div class="group-form-60-date-title">@GroupFormsStrings.Form60Date</div>
        <div class="group-form-60-date-status">
            @if (_group.Form60FileCreationDate != null)
            {
                @(((DateTime)_group.Form60FileCreationDate).ToString(AppConfig.FormatDate))

            }
        </div>
    </div>
    @* THIS IS THE DATE OF THE NEW FORM 60, THIS SHOULD RETURN WHEN THE PILOT IS DONE*@
    @*<div class="groups-status-date">@(_group.GF60UpdateDate != null ? ((DateTime)_group.GF60UpdateDate).ToString(AppConfig.FormatDate) : "")</div>*@
    <div class="groups-final-status">
        <div class="groups-final-status-title">@GroupsStrings.FinalApproval</div>
        <div class="groups-final-status-indication"><i class="fa fa-plane icon-@(_group.FinalStatusEnum == FlightScheduling.DAL.eFinalStatus.Approved? "green" : "gray")"></i></div>
    </div>
    <div class="groups-actions">

        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_MoveGroup))
        {
            <a href="@Url.Action("MoveOrderSelectTripStep", "Groups", new { GroupID = _group.GroupID })" class="groups-action">@Html.GetIcon(Icons.Move, GroupsStrings.MoveGroup)</a>
        }

        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_View))
        {
            <a href="@Url.Action("GroupFolderManagement", "Groups", new { @ID = _group.GroupID })" class="groups-action">@Html.GetIcon(Icons.Folder, null)</a>
        }

        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Edit))
        {
            <a href="@Url.Action("CreateGroups", "Groups", new { @ID = _group.Order.ID })" class="groups-action">@Html.GetIcon(Icons.Add, null)</a>
        }

        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Delete))
        {
            @(Ajax.LinkForBootstrapModal("DeleteGroup", "Groups", routeValues: new { @ID = _group.GroupID, title = _group.GroupExternalID })
                                                                                                                        .HtmlAttributes(new { id = "createGroups", title = CommonStrings.Delete, @class = "groups-action" })
                                                                                                                        .RawLabel(@<text>@Html.GetIcon(Icons.Delete, null)</text>)
                                                                                                                                                                                    .LoadingPanelID("GroupDetailsModalWindowContainer")
                                                                                                                                                                                    .ModalWindowContainerID("GroupDetailsLoadingPanelContainer")
                                                                                                                                                                                    .UseExsistingModalcontainer(false)
            )
        }
    </div>
</div>
}

@*@Html.Grid(Model.GroupsNewView).Columns(col =>
    {
        col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Folder, null).ToString(), "GroupFolderManagement", "Groups", new { ID = c.GroupID }, null)).Named("").CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_View));
        col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "CreateGroups", "Groups", new { ID = c.Order.ID }, null)).Named("").CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Edit));
        col.For(c => @Html.ActionLink(c.GroupExternalID.ToString(), "GroupFolderManagement", new { @ID = c.GroupID })).Named(GroupsStrings.ExpeditionID);
        col.For(c => @Html.AddInstitudeRetangle(c.GroupColor.Code, c.GroupExternalID.ToString())).Named(GroupsStrings.ExpeditionColor);
        col.For(c => c.GroupNumberOfBuses).Named(GroupsStrings.NumberOfBuses);
        col.For(c => c.GroupNumberofParticipants).Named(GroupsStrings.NumberOfParticipants);
        col.For(c => c.Trip.DepartureDate).Named(TripsStrings.DepartureDate).Format(AppConfig.FormatDateGrid);
        col.For(c => c.Trip.DestenationEnum.GetDescription()).Named(TripsStrings.Destenation);
        col.For(c => c.School.Name).Named(SchoolsStrings.Name);
        col.For(c => c.School.RegionEnum != null ? c.School.RegionEnum.GetDescription() : "").Named(SchoolsStrings.Region);
        col.For(c => Html.ActionLink(c.School.InstituteID.ToString(), "EditSchool", "Schools", new { ID = c.School.ID }, null)).Named(SchoolsStrings.InstituteID);
        col.For(c => Html.ActionLink(c.NumberOf180Forms.ToString(), "GetGroup180Forms", "GroupForms", new { GroupID = c.GroupID }, null)).Named(GroupFormsStrings.TotalNumberOf180Forms);
        col.For(c => Html.GetProgressBar(c.AdministrationPercentageCompletion, c.AdministrationFormCompletion, c.NumberOf180Forms, false, true,c.AdministrationTotalApproval == 100)).Named(GroupFormsStrings.AdministrationStep).Attributes(@class => "fixed-width");
        col.For(c => Html.GetProgressBar(c.InstructorPercentageCompletion, c.InstructorFormCompletion, c.NumberOf180Forms, false, true, c.InstructorTotalApproval == 100)).Named(GroupFormsStrings.InstructorsStep).Attributes(@class => "fixed-width");
        col.For(c => Html.GetProgressBar(c.PlanPercentageCompletion, c.PlanFormCompletion, c.NumberOf180Forms, false, true, c.PlanTotalApproval == 100)).Named(GroupFormsStrings.PreparationPlanShort).Attributes(@class => "fixed-width");
        col.For(c => String.Format("{0} {1:dd/MM/yyyy}", @Html.GetForm60StatusTag(c.GF60FormStatusEnum), c.GF60UpdateDate)).Named(String.Format("{0} {1}", GroupFormsStrings.Form, GroupsStrings.FileType60)).Format(AppConfig.FormatDateGrid).Encode(false);
        col.For(c => Html.GetIcon(c.FinalStatusEnum == FlightScheduling.DAL.eFinalStatus.Approved ? Icons.Ok : Icons.No, null)).Named(GroupsStrings.FinalApproval);
        //col.For(c => @Html.GetGroupFileStatusTag(c.GF60FileStatusEnum)).Named(String.Format("{0} {1}", GroupsStrings.FileStatus, GroupsStrings.FileType60));
        col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteGroup", "Groups", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.GroupID, title = c.GroupExternalID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Delete));
    }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsManagement").Empty(CommonStrings.Empty)*@

<div id="GroupDetailsModalWindowContainer" class="modal fade"></div>
<div id="GroupDetailsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
}