﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupsDetailsViewModel

@{
    ViewBag.Title = GroupsStrings.GroupsManagement;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}
<h2>@GroupsStrings.GroupsManagement</h2>


@using (Html.BeginForm("GetGroupsDetails", "Groups", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SchoolID)
    @Html.HiddenFor(m => m.AgencyID)
    @Html.HiddenFor(m => m.Region)
    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OrderID, new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.OrderID, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GroupID, new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.GroupID, new { @class = "form-control" })
        </div>
    </div>


    <div>&nbsp;</div>
    if (!User.IsInRole(eRole.Agent.ToString()))
    {
    <div class="form-group" id="filter-OrderStatus">
        @Html.LabelFor(model => model.GroupFinalStatus, null, new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.EnumDropDownListFor(model => Model.GroupFinalStatus, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
        </div>
    </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.InstituteID, new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.InstituteID, new { @class = "form-control" })
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
        </div>
    </div>

}
<div>&nbsp;</div>
<h4 class="strong margin-top-10px">@GroupsStrings.GroupsDetails</h4>
@Html.Grid(Model.Groups).Columns(col =>
{
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Folder, null).ToString(), "GroupFolderManagement", "Groups", new { ID = c.GroupID }, null)).Named("");
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "CreateGroups", "Groups", new { ID = c.Order.ID }, null)).Named("").Visible(User.IsInRole(eRole.Administrator.ToString()) || User.IsInRole(eRole.Staf.ToString()));
    col.For(c => @Html.ActionLink(c.GroupExternalID.ToString(), "GroupFolderManagement", new { @ID = c.GroupID })).Named(GroupsStrings.ExpeditionID);
    col.For(c => c.Trip.DepartureDate.Year).Named(GroupsStrings.Year);
    col.For(c => c.GroupStatusEnum.GetDescription()).Named(GroupsStrings.ExpeditionStatus);
    col.For(c => @Html.AddInstitudeRetangle(c.GroupColor.Code, c.GroupExternalID.ToString())).Named(GroupsStrings.ExpeditionColor);
    col.For(c => c.GroupNumberOfBuses).Named(GroupsStrings.NumberOfBuses);
    col.For(c => c.GroupNumberofParticipants).Named(GroupsStrings.NumberOfParticipants);
    col.For(c => c.Trip.DepartureDate).Named(TripsStrings.DepartureDate).Format(AppConfig.FormatDateGrid);
    col.For(c => c.Trip.DestenationEnum.GetDescription()).Named(TripsStrings.Destenation);
    col.For(c => @Html.ActionLink(c.Order.ID.ToString(), "EditExpedition", "Expeditions", new { area = "", @ID = c.Order.ID }, null)).Named(ExpeditionStrings.ID);
    col.For(c => c.School.Name).Named(SchoolsStrings.Name);
    col.For(c => @Html.ActionLink(c.School.InstituteID.ToString(), "EditSchool", "Schools", new { ID = c.School.ID }, null)).Named(SchoolsStrings.InstituteID);
    col.For(c => @Html.GetGroupFileStatusTag(c.GF180FileStatusEnum)).Named(String.Format("{0} {1}", GroupsStrings.FileStatus, GroupsStrings.FileType180170));
    col.For(c => @Html.GetIcon(c.GF180CountyManagerApproval ? Icons.Yes : Icons.No, null)).Named(GroupsStrings.GF180CountyManagerApproval);
    col.For(c => @Html.GetGroupFileStatusTag(c.GF60FileStatusEnum)).Named(String.Format("{0} {1}", GroupsStrings.FileStatus, GroupsStrings.FileType60));
    col.For(c => @Html.GetGroupFileStatusTag(c.GFFINPDFFileStatusEnum)).Named(String.Format("{0} {1}", GroupsStrings.FileStatus, GroupsStrings.FileTypeFinalPDF));
    col.For(c => @Html.GetIcon(c.CountSubOfFiles > 0 ? Icons.Yes : Icons.No, null)).Named(GroupsStrings.SubGroupFilesExists);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteGroup", "Groups", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.GroupID, title = c.GroupExternalID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).Visible(User.IsInRole(eRole.Staf.ToString()) || User.IsInRole(eRole.Administrator.ToString()));
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsManagement").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");
    @Scripts.Render("~/bundles/chosen")

}