﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupFolderViewModel

@{
    ViewBag.Title = GroupsStrings.GroupFolder;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
}

@Html.Partial("_GroupManagementMenu", Model.GroupFolderData.GroupFolderData)
<div class="innerTripDetails">
    <div class="row section">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Group Folder Details -->
                    @Html.Partial("_GroupFolderData", Model.GroupFolderData)
                </div>
                <div class="col-sm-12">
                    <!-- Instructors Groups-->
                    @Html.Partial("_GroupInstructors", Model.Instructors)
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 bottom-margin-25x">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="strong display-inline">@GroupsStrings.GroupFiles</h5>
                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_AddingFiles))
                    {
                        @(Ajax.LinkForBootstrapModal("AddFile", "Groups", routeValues: new { ID = Model.GroupID })
                                                                                                                          .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left", id = "GroupFolderAddFile", title = GroupsStrings.AddFile })
                                                                                                                          .RawLabel(@<text>@GroupsStrings.AddFile</text>)
                                                                        .LoadingPanelID("GroupFolderModalWindowContainer")
                                                                        .ModalWindowContainerID("GroupFolderLoadingPanelContainer")
                                                                        .UseExsistingModalcontainer(false)
                        )

                    }

                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_ViewFiles))
                    {
                        <!-- Groups Files Details -->
                        @Html.Partial("_GroupFolderFiles", Model.Files)


                        <h5 class="strong display-inline">
                            @GroupsStrings.AdditionalFiles
                        </h5>
                        @Html.Partial("_GroupFolderFiles", Model.OtherFiles)


                    }
                </div>
                <div class="col-sm-12">
                    <!-- Group Notes-->
                    <div>&nbsp;</div>
                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_NotesViewing))
                    {
                        <h5 class="strong display-inline">@GroupsStrings.GroupNotes</h5>

                        if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_NotesEditing))
                        {
                            @(Ajax.LinkForBootstrapModal("AddNote", "Groups", routeValues: new { ID = Model.GroupID })
                                                                                                                              .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "GroupFolderAddNote", title = GroupsStrings.AddNote })
                                                                                                                              .RawLabel(@<text>@GroupsStrings.AddNote</text>)
                                                                                .LoadingPanelID("GroupFolderModalWindowContainer")
                                                                                .ModalWindowContainerID("GroupFolderLoadingPanelContainer")
                                                                                .UseExsistingModalcontainer(false)
                            )
                        }

                        @Html.Partial("_GroupNotes", Model.Notes)
                    }
                </div>
                <div class="col-sm-12">
                    <!-- Group SubSchools-->
                    <div>&nbsp;</div>
                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_ViewSubSchool))
                    {
                        <h5 class="strong display-inline">@GroupsStrings.SubSchools</h5>
                        if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_AddSubSchool))
                        {
                            @(Ajax.LinkForBootstrapModal("AddSubSchool", "Groups", routeValues: new { Model.GroupID })
                                                                                                                              .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "GroupFolderAddNote", title = GroupsStrings.AddSubSchool })
                                                                                                                              .RawLabel(@<text>@GroupsStrings.AddSubSchool</text>)
                                                                            .LoadingPanelID("GroupFolderModalWindowContainer")
                                                                            .ModalWindowContainerID("GroupFolderLoadingPanelContainer")
                                                                            .UseExsistingModalcontainer(false)
                            )
                        }

                        @Html.Partial("_GroupSubSchools", Model.Schools)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="GroupFolderModalWindowContainer" class="modal fade"></div>
<div id="GroupFolderLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")

}