﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupParticipantsViewModel

@{
    ViewBag.Title = GroupsStrings.ParticipantList;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
}

@Html.Partial("_GroupManagementMenu", Model.GroupMainData.GroupFolderData)

<div class="row section">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Group Folder Details -->
        @Html.Partial("_GroupFolderDataLight", Model.GroupMainData)
        <div>&nbsp;</div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 bottom-margin-25x">
        <h4 class="strong display-inline">@GroupsStrings.ParticipantList</h4>

        <div class="btn-group pull-left">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @CommonStrings.Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_EditParticipants) && Model.GroupMainData.GroupFolderData.Trip.DepartureDate > SystemConfigurationRepository.DisableExpeditions)
                {
                    <li>
                        @(Ajax.LinkForBootstrapModal("UploadImportParticipants", "Groups", routeValues: new { ID = Model.GroupID })
                                    .HtmlAttributes(new { id = "GroupImportParticipant", title = GroupsStrings.ImportParticipants })
                                    .RawLabel(@<text>@GroupsStrings.ImportParticipants</text>)
                            .LoadingPanelID("GroupParticipantModalWindowContainer")
                            .ModalWindowContainerID("GroupParticipantLoadingPanelContainer")
                            .UseExsistingModalcontainer(false)
                        )
                    </li>
                    <li>
                        @(Ajax.LinkForBootstrapModal("AddParticipant", "Groups", routeValues: new { ID = Model.GroupID })
                                    .HtmlAttributes(new { id = "GroupAddParticipant", title = GroupsStrings.AddParticipant })
                                    .RawLabel(@<text>@GroupsStrings.AddParticipant</text>)
                            .LoadingPanelID("GroupParticipantModalWindowContainer")
                            .ModalWindowContainerID("GroupParticipantLoadingPanelContainer")
                            .UseExsistingModalcontainer(false)
                        )
                    </li>

                }
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_DeleteMultipleParticipants) && Model.GroupMainData.GroupFolderData.Trip.DepartureDate > SystemConfigurationRepository.DisableExpeditions)
                {
                    <li class="multi-action disabled">
                        <a href="#" id="delete-participant-role" data-container="GroupParticipantModalWindowContainer" data-return-param="@Model.GroupID" data-action="@Url.Action("DeleteParticipants", "Groups")">@GroupsStrings.DeleteParticipants</a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("DownloadGroupParticipants",new {ID = Model.GroupID})" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>
                </li>
                <li>
                    <a href="@Url.Action("GetJoinedPaticipantList",new {ID = Model.GroupID})" title="@GroupsStrings.DownloadJoinedPaticipantionList">@Html.Raw(Html.GetIcon(Icons.Excel, GroupsStrings.DownloadJoinedPaticipantionList).ToHtmlString())  @GroupsStrings.DownloadJoinedPaticipantionList</a>
                </li>
            </ul>
        </div>


        @Html.Grid(Model.Participants).Columns(col =>
   {
       col.For(c => Html.CheckBox(c.UserID.ToString(), false, new { ID = c.ID, @class = "form-control form-checkbox table-checkbox tcheck" }).ToString()).Named("").Header("<th><input type=\"checkbox\" class=\"form-control form-checkbox table-checkbox\" id='chkHeader' /></th>").Sortable(false).Encode(false).HeaderAttributes(new Dictionary<string, object> { { "style", "width:20px" } });
       col.For(c => c.ParticipantID).Named(GroupsStrings.ParticipantID);
       col.For(c => c.FirstNameHe).Named(GroupsStrings.FirstNameHe);
       col.For(c => c.LastNameHe).Named(GroupsStrings.LastNameHe);
       col.For(c => c.FirstNameEn).Named(GroupsStrings.FirstNameEn);
       col.For(c => c.LastNameEn).Named(GroupsStrings.LastNameEn);
       col.For(c => c.PassportNumber).Named(GroupsStrings.PassportNumber);
       col.For(c => c.PassportExperationDate).Named(GroupsStrings.PassportExperationDate).Format("{0:dd/MM/yyyy}");
       col.For(c => c.Birthday).Named(GroupsStrings.Birthday).Format("{0:dd/MM/yyyy}");
       col.For(c => c.SEX.GetDescription()).Named(GroupsStrings.SEX);
       col.For(c => c.ParticipantStatusEnum.GetDescription()).Named(GroupsStrings.ParticipantStatus);
       col.For(c => c.ParticipantTypeEnum.GetDescription()).Named(GroupsStrings.ParticipantType);
       col.For(c => c.SchoolInstituteID).Named(SchoolsStrings.InstituteID);
       col.For(c => c.ClassTypeEnum.GetDescription()).Named(GroupsStrings.ClassType);
       col.For(c => c.Comments).Named(CommonStrings.Comments);
       col.For(c => c.UpdateDate).Named(CommonStrings.UpdateDate).Format("{0:dd/MM/yyyy HH:mm:ss}");
       col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateParticipant", "Groups", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_EditParticipants));
       col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteParticipant", "Groups", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, title = String.Format("{0} {1} - {2}", c.FirstNameHe, c.LastNameHe, c.ParticipantID) }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_DeleteParticipant));
   }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsParticipantList").Empty(CommonStrings.Empty)
    </div>
</div>

<div id="GroupParticipantModalWindowContainer" class="modal fade"></div>
<div id="GroupParticipantLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>


@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")

}