﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.MoveGroupFinalStepViewModel
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

@{
    ViewBag.Title = @ExpeditionStrings.GroupMovedFinalStepTitle;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<div class="row">
    <div class="col-md-12">
        @if (Model.transactionResult.Result)
        {
            <div id="looking-image" class="looking-image">
                <img src="~/Content/images/Operation_Successfully.png" alt="@ExpeditionStrings.GroupMovedSuccessfully" />
                <h4>@ExpeditionStrings.GroupMovedSuccessfully</h4>
            </div>
        }
        else
        {
            foreach (var error in Model.transactionResult.Errors)
            {
                <h3>@error.GetDescription()</h3>
            }
        }


    </div>
</div>