﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.MoveGroupSelectTrip
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

@{
    ViewBag.Title = String.Format("{0} {1}", GroupsStrings.MoveGroup, GroupsStrings.SelectTripPhase);
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@(String.Format("{0} {1}", GroupsStrings.MoveGroup, GroupsStrings.SelectTripPhase))</h2>
<p>@GroupsStrings.MoveGroupInstructions</p>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">@Html.Partial("_OriginalOrderDetails", Model.OriginalOrder)</div>
        <div class="col-md-6">@Html.Partial("_OriginalTripDetails", Model.OriginalTrip)</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Orders.Count() > 0)
        {
            using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

                <h4>@ExpeditionStrings.SelectOrderInTrip</h4>

                @Html.Grid(Model.Orders).Columns(col =>
           {
               col.For(c => c.TripID).Named(TripsStrings.ID);
               col.For(c => c.DepartureDate).Named(TripsStrings.DepartureDate).Format("{0:dd/MM/yyyy}");
               col.For(c => c.ReturnDate).Named(TripsStrings.ReturnDate).Format("{0:dd/MM/yyyy}");
               col.For(c => c.Destenation.GetDescription()).Named(TripsStrings.Destenation);
               col.For(c => c.ReturnedFrom.GetDescription()).Named(TripsStrings.TakeOffField);
               col.For(c => c.OrderID.GetDescription()).Named(ExpeditionStrings.ID);
               col.For(c => c.NumOfPassangersRequired).Named(ExpeditionStrings.NumOfPassengers);
               col.For(c => c.BusesRequiredPerDay).Named(ExpeditionStrings.BusesRequiredPerDay);
               col.For(c => c.ExpeditionManager).Named(ExpeditionStrings.ExpeditionManager);
               col.For(c => @Html.GetAgentStatusTag(c.eAgentStatus)).Named(ExpeditionStrings.AgentStatus).Encode(false);
               col.For(c => @Html.GetStatusTag(c.eStatus)).Named(ExpeditionStrings.Status).Encode(false);
               col.For(c => @Html.ActionLink(CommonStrings.Select, "MoveGroupSelectOrder", new { @OriginalGroupID = Model.GroupID, @OriginalOrderID = Model.OrderID, @SelectedOrderID = c.OrderID }, new { @class = "btn btn-primary" })).Named(CommonStrings.Select);
           }).RowAttributes(data => new MvcContrib.Hash(@class => "clickable-row")).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)

            }



        }
        else
        {
            <div id="looking-image" class="looking-image">
                <img src="~/Content/images/looking.png" alt="@ExpeditionStrings.OrderNotFound" />
                <h4>@ExpeditionStrings.OrderNotFoundInTrip</h4>
                <h4>@ExpeditionStrings.OrderNotFoundClickToCreateOrder</h4>
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expeditions_AddQuickExpedition))
                {
                    <span>
                        @Html.ActionLink(ExpeditionStrings.NewOrderButton, "AddQuickExpedition", "Expeditions", new { GroupID = Model.GroupID, @Area = "" }, new { @class = "btn btn-primary btn-md", mp_event = "Quick Expedition Clicked" })
                    </span>
                }
            </div>
        }
    </div>
</div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");


}

<script type="text/javascript">

    $(function () {

        $('.clickable-row').click(function () {
            var action = $(this).find('a');
            console.log(action);
            action[0].click();
        });

    });
</script>