﻿@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Helpers
@using FlightScheduling.Language
@model FlightScheduling.Web.Models.Expeditions.ExpeditionFilters
<div class="row">
    <div class="col-md-6">
        <div class="form-group" id="filter-ExpeditionID">
            @Html.LabelFor(model => model.ExpeditionID, null, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.ExpeditionID, new { @id = "expeditionID", @class = "form-control" })
            </div>
        </div>

        <div class="form-group" id="filter-ExpeditionDate">
            @Html.LabelFor(model => model.StartTime, null, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.StartTime, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                @Html.Label(CommonStrings.To)
                @Html.TextBoxFor(m => m.EndTime, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @if (!User.IsInRole(eRole.SchoolManager.ToString()))
        {
            <div class="form-group" id="filter-School">
                @Html.LabelFor(model => model.Schools, null, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.ListBoxFor(m => m.SchoolID, new MultiSelectList(Model.Schools, "ID", "Name"), new {@class = "form-control chosen-select chosen-rtl"})
                </div>
            </div>

            <div class="form-group" id="filter-InstituteID">
                @Html.LabelFor(model => model.InstituteID, null, new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.InstituteID, new {@id = "InstituteID", @class = "form-control"})
                </div>
            </div>
        }
        @if (!User.IsInRole(eRole.Viewer.ToString()))
        {
            <div class="form-group" id="filter-OrderStatus">
                @Html.LabelFor(model => model.EExpeditionStatus, null, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.ListBoxFor(m => m.ExpeditionsStatues, Helpers.SelectListItemsFor(Model.EExpeditionStatus), new { @class = "form-control chosen-select chosen-rtl" })
                    @*@Html.EnumDropDownListFor(m => m.EExpeditionStatus, CommonStrings.Select, new { @class = "form-control chosen-select chosen-rtl" })*@
                </div>
            </div>
        }

    </div>

</div>
