﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Models.Expeditions.UpdateAgentStatusViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <span class="section-header-text otakim-modal-header"><strong>@ExpeditionStrings.UpdateAgentStatus</strong></span>
        </div>
        @using (Html.BeginForm("EditAgentStatus", "Expeditions", FormMethod.Post, null))
        {
            <div class="modal-body">
                @Html.HiddenFor(m => m.ExpeditionID)

                @Html.ValidationSummary(true)

                <p class="alert alert-warning">@ExpeditionStrings.UpdateAgentStatusConfirmation</p>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.AgentStatusEnum, new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.EnumDropDownListFor(model => model.AgentStatusEnum, new { @class = "form-control chosen-select chosen-rtl" })
                        @Html.ValidationMessageFor(model => model.AgentStatusEnum)
                    </div>
                </div>

                <br/>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-info btn-otakim otakim-button-space" data-dismiss="modal">
                    <span class="button-text">@CommonStrings.Cancel</span>
                    <div class="x-white"></div>
                </button>

                <button type="button" class="btn btn-info btn-otakim otakim-button-space" onclick="submit();">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>


            </div>
        }
    </div>
</div>


