﻿@using System.Web.Optimization
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.Website.Models.Account
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@model FlightScheduling.Web.Models.Expeditions.ExpeditionViewModel

@{
    ViewBag.Title = @ExpeditionStrings.AddExpedition;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";

    int AvaliableSeats = Model.TotalPassengers - @Model.PotentialPassengers;
    string MinBuses = Model.BusPerDays.Min(b => b.AvailableBuses).ToString();
}

@section styles
{
    @Styles.Render("~/bundles/css/chosen")
}

<h2>@ExpeditionStrings.AddExpedition</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.MinimumBusesForTrip)


    if (Model.DisableOrder)
    {
        <p class="alert alert-info">@ExpeditionStrings.OrderDisabledMessage</p>
    }
    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.TripDetails.ID)
            @Html.Partial("_TripDetails", Model.TripDetails)
            @Html.ValidationSummary(true)

            <h4 id="" class="header"><i class="fa fa-newspaper-o"></i> @ExpeditionStrings.ExpeditionDetails</h4>

            <div class="form-group">
                @Html.LabelFor(model => model.AgenciesList, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.AgencyID, new SelectList(Model.AgenciesList, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
                    @Html.ValidationMessageFor(model => model.AgenciesList)
                </div>
                <div class="col-md-4">
                    <p class="alert alert-info">
                        <i class="fa fa-newspaper-o"></i> @ExpeditionStrings.ExpeditionFlightsAlert
                    </p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Schools, new { @class = "control-label col-md-2" })
                <div class="col-md-4">

                    @Html.DropDownListFor(model => model.SchoolID, new SelectList(Model.Schools, "ID", "Name"), @Model.DisableSchoolSelection ? new { @class = "form-control chosen-select chosen-rtl", @disabled = "disabled" } as object : new { @class = "form-control chosen-select chosen-rtl" } as object)
                    @if (Model.DisableSchoolSelection)
                    {
                        @Html.HiddenFor(m => m.SchoolID)
                    }
                    @Html.ValidationMessageFor(model => model.Schools)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NumOfPassangersRequired, new { @class = "control-label col-md-2" })
                <div class="col-md-4">

                    @Html.TextBoxFor(model => model.NumOfPassangersRequired, new { @class = "form-control", @Value = "" })
                    @Html.ValidationMessageFor(model => model.NumOfPassangersRequired)
                    <p class="alert alert-danger" id="seatsAboveLimit" style="margin-top: 5px; display: none;">
                        @ExpeditionStrings.SeatRequestLimit
                    </p>
                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Order_View_Available_Slots))
                    {
                        <p class="alert alert-warning" style="margin-top: 5px; font-weight: bold;">
                            <i class="fa fa-info fa-lg"></i>
                            @FunctionHelpers.GetNegativeNumber(AvaliableSeats)
                            @ExpeditionStrings.AvailablePassengeres
                        </p>
                    }
                    <script type="text/javascript">
                        $(function () {
                            $("#NumOfPassangersRequired").mouseleave(function() {
                                var field = $("#NumOfPassangersRequired");
                                var numberAvailable = @AvaliableSeats;
                                var enteredSeats = field.val();

                                if ($.isNumeric(enteredSeats)) {
                                    if (enteredSeats > numberAvailable) {
                                        $("#seatsAboveLimit").show();
                                    } else {
                                        $("#seatsAboveLimit").hide();
                                    }
                                }
                            });
                        });
                    </script>
                </div>
                <div class="col-md-4">
                    <p class="alert alert-info">
                        <i class="fa fa-newspaper-o"></i> @ExpeditionStrings.ExpeditionBusesNote
                    </p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BusesRequiredPerDay, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.BusesRequiredPerDay, new { @class = "form-control datepicker", @Value = "", @placeholder = String.Format("{0} {1}", @MinBuses, ExpeditionStrings.BusesAvailabilityPerDay) })
                    @Html.ValidationMessageFor(model => model.BusesRequiredPerDay)
                    @Html.ValidationMessage("NumberOfBasesValidationError")
                    @Html.ValidationMessage("MinimumBusesPerDay")
                    <p class="alert alert-warning" style="margin-top: 5px;font-weight:bold;">@FunctionHelpers.GetNegativeNumber(Convert.ToInt32(MinBuses)) @ExpeditionStrings.BusesAvailabilityPerDay </p>
                </div>

                <div class="col-md-4">
                    <p class="alert alert-info">
                        <i class="fa fa-newspaper-o"></i> @ExpeditionStrings.MinimumTwoBusesPerExpeditionNote
                    </p>
                </div>

            </div>
            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Order_ViewBusAvailability))
            {
                <div>

                    <table class="table table-striped">
                        <thead>
                            @for (int i = 0; i < Model.BusPerDays.Count; i++)
                            {

                            <th>@Model.BusPerDays[i].Day.ToString("dd - MMM")</th>

                        }
                            </thead>
                            <tbody>
                                @foreach (var day in Model.BusPerDays)
                                {
                                    @:
                                <td>@FunctionHelpers.GetNegativeNumber(day.AvailableBuses)</td>
                            }
                                </tbody>
                            </table>
                        </div>
             }

            <div class="form-group">
                @Html.LabelFor(model => model.ExpeditionManager, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ExpeditionManager, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.ExpeditionManager)
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpeditionManagerCell, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ExpeditionManagerCell, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.ExpeditionManagerCell)
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpeditionManagerEmail, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ExpeditionManagerEmail, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.ExpeditionManagerEmail)
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpeditionManagerPhone, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ExpeditionManagerPhone, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.ExpeditionManagerPhone)
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.Comments)
                </div>

            </div>
            @if (!Model.DisableOrder)
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@CommonStrings.Add" class="btn btn-default" />
                    </div>
                </div>
            }


        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/chosen")
}
