﻿@using System.Web.Optimization
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.Website.Models.Account
@using FlightScheduling.DAL.CustomEntities.Trip
@using FlightScheduling.DAL.CustomEntities.Trip
@using Endilo.Helpers
@model FlightScheduling.Web.Models.Expeditions.QuickExpeditionViewModel

@{
    ViewBag.Title = @ExpeditionStrings.AddExpedition;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";

}

@section styles
{
    @Styles.Render("~/bundles/css/chosen")
}

<h2>@ExpeditionStrings.AddQuickExpedition</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.GroupID)
            <h4 id="" class="header"><i class="fa fa-newspaper-o"></i> @ExpeditionStrings.ExpeditionDetails</h4>

            @if (Model.TransactionResult != null && Model.TransactionResult.Result == false)
            {
                <p class="alert alert-info">

                    @foreach (var item in Model.TransactionResult.Errors)
                    {
                        @(item.GetDescription())
                    }

                </p>
            }

            <div class="form-group">
                <label class="control-label col-md-2">@CommonStrings.Select @CommonStrings.Week</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.SelectedWeek, new SelectList(Model.SelectedWeek, "ID", "Name", "Group", null, null), new { @class = "form-control chosen-select chosen-rtl" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Trips, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.TripId, new SelectList(Model.Trips, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                    @Html.ValidationMessageFor(model => model.Trips)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Schools, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.SchoolID, new SelectList(Model.Schools, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
                    @Html.ValidationMessageFor(model => model.Schools)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AgenciesList, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.AgencyID, new SelectList(Model.AgenciesList, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
                    @Html.ValidationMessageFor(model => model.AgenciesList)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NumOfPassangersRequired, new { @class = "control-label col-md-2" })
                <div class="col-md-4">

                    @Html.TextBoxFor(model => model.NumOfPassangersRequired, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NumOfPassangersRequired)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BusesRequiredPerDay, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.BusesRequiredPerDay, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.BusesRequiredPerDay)
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@CommonStrings.Add" class="btn btn-default" />
                </div>
            </div>



        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/chosen")
}
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>
<script type="text/javascript">
    $(function () {


        $("#SelectedWeek").change(function () {
            populateTrips();
        });

        function populateTrips() {
            var SelectedDate = $("#SelectedWeek");
            var TripId = $("#TripId");
            debugger;
            if (SelectedDate.val() == "") {
                console.log("No selected date");
            } else {
                $.ajax({
                        url: "@Url.Action("GetTripsInWeek", "Expeditions")",
                        type: "GET",
                    data: "startDate=" + SelectedDate.val(),
                        success: function (result) {
                            var json = jQuery.parseJSON(result);
                            console.log(json);
                            TripId.find("option").not(':first').remove().end();
                            $.each(json, function (i , item) {
                                TripId.append($("<option />").val(item.ID).text(item.Name));
                            });
                            TripId.trigger("chosen:updated");
                            //TripId.trigger("chosen:activate");
                            //TripId.removeAttr('disabled');
                        }
                    });
            }
        }

    });
</script>