﻿@using System.Web.Optimization
@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using MvcContrib.UI.Grid
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Models.Expeditions.ExpeditionStatusViewModel

@{
    ViewBag.Title = ExpeditionStrings.ExpeditionStatus;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}
<h2>@ExpeditionStrings.ExpeditionStatus</h2>
<div class="row">
    @using (Html.BeginForm("FilterExpeditions", "Expeditions", FormMethod.Post, new { @class = "form-horizontal filterForm", @id = "FormFilters" }))
    {
        <h4 class="text-info bold">@CommonStrings.FilterOptions</h4>

        @Html.Partial("_ExpeditionFilters", Model.filters)
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-sm-12 text-left">
                    <button type="submit" id="filtersSubmit" class="btn btn-primary">@CommonStrings.Search</button>
                    <button type="reset" id="clearFilterForm" class="btn ">@CommonStrings.ClearForm</button>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="btn-group pull-left">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CommonStrings.Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("ExportExpeditionStatusReport")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Grid(Model.Expeditions).Columns(col =>
   {
       col.For(c => c.ID).Named(ExpeditionStrings.ID);
       col.For(c => c.CreationDate).Named(CommonStrings.CreationDate).Format(AppConfig.FormatDateTimeGrid);
       col.For(c => @Html.ActionLink(c.TripDetails.ID.ToString(), "TripManagement", "Trips", new { area = "Administration", @ID = c.TripDetails.ID }, new { })).Named(TripsStrings.ID);
       col.For(c => c.TripDetails.DepartureDate.ToString("dd/MM/yyyy")).Named(TripsStrings.DepartureDate);
       col.For(c => c.TripDetails.Destenation.GetDescription()).Named(TripsStrings.Destenation);
       col.For(c => c.TripDetails.ReturnDate.ToString("dd/MM/yyyy")).Named(TripsStrings.ReturnDate);
       col.For(c => c.TripDetails.ReturnedFrom.GetDescription()).Named(TripsStrings.TakeOffField);
       col.For(c => c.School.Name).Named(SchoolsStrings.Name);
       col.For(c => c.School.InstituteID).Named(SchoolsStrings.InstituteID);
       col.For(c => c.NumOfPassangersRequired).Named(ExpeditionStrings.NumOfPassengers);
       col.For(c => c.AssignedPassangers).Named(ExpeditionStrings.RegisteredPassengers);
       col.For(c => c.BusesRequiredPerDay).Named(ExpeditionStrings.NumOfBuses);
       col.For(c => @Html.GetAgentStatusTag(c.AgentStatus)).Named(ExpeditionStrings.AgentStatus).Encode(false).Visible(!User.IsInRole(eRole.Agent.ToString()) && !User.IsInRole(eRole.Administrator.ToString()));
       col.For(c => @Ajax.LinkForBootstrapModalNo("EditAgentStatus", "Expeditions", Html.GetAgentStatusTag(c.AgentStatus).ToString() + Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Visible(User.IsInRole(eRole.Agent.ToString()) || User.IsInRole(eRole.Administrator.ToString())).Encode(false);
       col.For(c => @Html.GetStatusTag(c.Status)).Named(ExpeditionStrings.Status).Encode(false);
       col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "EditExpedition", "Expeditions", new { ID = c.ID }, null)).Named(CommonStrings.Edit).Visible(User.IsInRole(eRole.Administrator.ToString()) || User.IsInRole(eRole.SchoolManager.ToString()) || User.IsInRole(eRole.Staf.ToString()));
       col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteExpedition", "Expeditions", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).Visible(User.IsInRole(eRole.Administrator.ToString()) || User.IsInRole(eRole.SchoolManager.ToString()) || User.IsInRole(eRole.Staf.ToString()));
       //col.For(c => @Ajax.LinkForBootstrapModalNo("ManageExpedition", "Trips", Html.GetIcon(Icons.Edit).ToString() , new { @ExpeditionID = c.ID }, new { @class = "lable lable-default", id = "LinkReturningFlight", title = FlightsStrings.LinkFlight })).Named(ExpeditionStrings.ID).Encode(false);
   }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)

    </div>
</div>
<div id="DeleteModalWindowContainer" class="modal fade"></div>
<div id="DeleteLoadingPanelContainer" class="modal-loading-panel" style="display: none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")

}