﻿@using FlightScheduling.Language
@model FlightScheduling.DAL.Expeditions

@{
    ViewBag.Title = ExpeditionStrings.OrderSubmissionConfirmation;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<h2>@ExpeditionStrings.OrderSubmissionConfirmation</h2>
<p>@ExpeditionStrings.OrderSubmissionP1.</p>
<p>@ExpeditionStrings.OrderSubmissionP2.</p>
<p>@ExpeditionStrings.OrderSubmissionP3.</p>
<p>@ExpeditionStrings.OrderSubmissionP4</p>


