﻿
@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";;
}
@section styles
{
    <link href="~/Content/gantt/css/mobiscroll.jquery.min.css" rel="stylesheet" />
    <link href="~/Content/gantt/css/mobiscroll.custom.css" rel="stylesheet" />
}

<div id="scheduler" class="md-timeline-template"></div>


@section scripts
{
    <script src="~/Content/gantt/js/mobiscroll.jquery.min.js"></script>
    <script src="~/Content/gantt/js/scheduler.custom.js"></script>
}
