﻿@using System.Web.Optimization
@using FlightScheduling.Language
@model FlightScheduling.Web.Models.Expeditions.SelectTripsViewModel

@{
    ViewBag.Title = TripsStrings.TripSchedule;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";

    DateTime CurrentDate = DateTime.Now;
    if (Session["LastVisitedMonth"] != null)
    {
        CurrentDate = (DateTime)Session["LastVisitedMonth"];
    }
}

@section styles
{
    <style>
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>

    @Styles.Render("~/Bundles/Content/css/fullcalendar")
}
<div id='calendar'></div>

@section scripts
{
    @Scripts.Render("~/bundles/Scripts/FullCalendar")

    <script type="text/javascript">
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            @*console.log("full calendar" + $("#calendar").fullCalendar('getDate'));
            console.log("@CurrentDate");

            var month = $("#calendar").fullCalendar('getDate');
            var Year = $("#calendar").fullCalendar('getDate');*@

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                isRTL: 'true',
                lang: 'he',
                header: {
                    left: 'next,prev today',
                    right: 'title'
                },
                defaultDate: '@CurrentDate.ToString("s")',
                    events: {
                        url: '/Expeditions/GetTripsAsEvents',
                        type: 'POST',
                        data: function() { // a function that returns an object
                            return {
                                Month: $("#calendar").fullCalendar('getDate').format("MM"),
                                Year: $("#calendar").fullCalendar('getDate').format("YYYY")
                            };
                        },
                        error: function() {
                            alert('there was an error while fetching events!');
                        }
                    },
                   dayClick: function (date, jsEvent, view) {

                        //alert('Clicked on: ' + date.format());

                       window.location.href = "/Expeditions/GetTripsForDate?date=" + date.format();

                   }
                });


            function getMonth() {
                var date = $("#calendar").fullCalendar('getDate');
                var month_int = date.getMonth();
                //you now have the visible month as an integer from 0-11
            }

      });


            </script>
}

