﻿@model FlightScheduling.Web.Models.Expeditions.TripAvilabilityViewModel
@using FlightScheduling.Language
@using Endilo.Helpers
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@{
    ViewBag.Title = "GetTripsListView";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
    int index = 1;
    DateTime tripDate = DateTime.Now;
}

<h1>@TripsStrings.OrderTrip</h1>
@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expeditions_AddQuickExpedition))
{
    <div class="col-md-12">
        @Html.ActionLink(ExpeditionStrings.AddQuickExpedition, "AddQuickExpedition", "Expeditions", new { @class = "btn btn-primary btn-sm pull-left", mp_event="Quick Expedition Clicked"})
    </div>
}
    <div class="col-lg-8">
        <div class="alert alert-info">
            <ol>
                <li>@TripsStrings.tripalert1</li>
                <li>@TripsStrings.tripalert2</li>
                <li>@TripsStrings.tripalert3</li>
                <li>@TripsStrings.tripalert4</li>

            </ol>
        </div>
        @if (Model.Months != null)
        {
            <div class="col-sm-12">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @GroupsStrings.SelectMonth
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        @foreach (var _month in Model.Months)
                        {
                            <li><a href="#@(_month.ToString("MM-yyyy"))">@_month.ToString("MMMM yyyy")</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Order_View) && Model.Months != null)
        {
            foreach (var _month in Model.Months)
            {
                if (Model.TripsAvilability.Where(t => t.DepartureDate.Month == _month.Month && t.DepartureDate.Year == _month.Year).Count() > 0)
                {
                    index = 1;
                    <div class="col-lg-12">
                        <h2 id="@(_month.ToString("MM-yyyy"))">@_month.ToString("MMMM yyyy")</h2>
                        @foreach (var _trip in Model.TripsAvilability.Where(t => t.DepartureDate.Month == _month.Month && t.DepartureDate.Year == _month.Year))
                        {
                            if (tripDate.Date != _trip.DepartureDate.Date)
                            {
                                tripDate = _trip.DepartureDate;
                                <div class="trip-day-group">@String.Format(CommonStrings.DayFormatLong, tripDate.ToString("dddd"), tripDate.ToString("dd"), tripDate.ToString("MMMM"))</div>
                            }
                    <div class="trip">
                        <div class="trip-avilability-indicator @FunctionHelpers.ReturnTripIndicationClass(_trip.TripAvilability)"></div>
                        <div class="trip-month"><div>@_trip.DepartureDate.ToString("dd")</div><div>@_trip.DepartureDate.ToString("MMMM")</div></div>
                        <div class="trip-day"><div>@CommonStrings.Day</div><div>@_trip.DepartureDate.ToString("ddd")</div></div>
                        <div class="trip-title-row">
                            <div class="trip-title">@TripsStrings.TripTo@(_trip.DestinationEnum.GetDescription()) @TripsStrings.AndReturn@_trip.ReturingFieldEnum.GetDescription()</div>
                            <div class="trip-duration">
                                @String.Format(TripsStrings.TripDuration, _trip.TripDuration)
                                @if (_trip.LateTrip)
                                {
                                    <span class="icon-red"> | <i class="fa fa-exclamation-triangle icon-orange" aria-hidden="true"></i> @ExpeditionStrings.NightFlight</span>
                                }
                            </div>
                        </div>
                        <div class="trip-buses">
                            <div class="trip-numberofBuses">@_trip.AvilableBuses</div>
                            <div class="trip-buses-title">@TripsStrings.AvilableBuses</div>
                        </div>
                       
                        <div class="trip-passengers">
                            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Order_View_Available_Slots))
                            {
                                <div class="trip-numberofpassengers">@_trip.AvilablePassengers</div>

                                <div class="trip-passengers-title">@TripsStrings.AvilableSlots</div>
                            }

                        </div>
                            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Order_Creation))
                            {
                                <div class="trip-order-trip">@Html.ActionLink(TripsStrings.OrderTripButton, "AddExpedition", new { ID = _trip.TripID }, new { @class = "btn btn-primary" })</div>
                            }
                        </div>
                            index += 1;
                        }
                    </div>
                }
            }
        }

    </div>
    <div class="col-lg-4">
        <div id="legend" ata-spy="affix" data-offset-top="10" data-offset-bottom="200">
            <div class="legend-title">מקרא צבעי מסע</div>
            <div class="legend-indication">
                <div class="legend-color-indication trip-red"></div>
                <div class="legend-color-title">אין זמינות</div>
            </div>
            <div class="legend-indication">
                <div class="legend-color-indication trip-orange"></div>
                <div class="legend-color-title">זמינות חלקית</div>
            </div>
            <div class="legend-indication">
                <div class="legend-color-indication trip-green"></div>
                <div class="legend-color-title">זמינות גבוהה</div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="Instruction-Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="InstructionModal">
        <div class="modal-dialog modal-90" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">@ExpeditionStrings.InstructionsForOrderTrip</h4>
                </div>
                <div class="modal-body">
                    <iframe class="instructions-frame" src="@SystemConfigurationRepository.OrderTripInstructionsLink"></iframe>
                </div>
                <div class="modal-footer">
                    <input type="checkbox" id="readInstructions" class="checkbox-double-size">@ExpeditionStrings.ReadTheInstructions</input>
                    <button type="button" id="instructionCloseBtn" class="btn btn-primary" disabled="disabled" data-dismiss="modal">@CommonStrings.Close</button>
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script type="text/javascript" src="~/Scripts/Bootstrap/affix.js"></script>

        <script type="text/javascript">


        $(function () {
            $('#legend').affix({
                offset: {
                    top: 10,
                    bottom: 10
                }
            });

            var instructionSession = "@(Session["ReadOrderTripInstructions"].ToString())";

            if (instructionSession === "False")
            {
                $('#Instruction-Modal').modal('show');
                mixpanel.track("Login");
            }

            $('#readInstructions').click(function () {
                $('#instructionCloseBtn').removeAttr('disabled');

            });

            $('#instructionCloseBtn').click(function () {

                $.post("@Url.Action("ReadTheInstructions")");
            });

            });



        </script>
    }