﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Administration.SiteViewModel




@using (Html.BeginForm("ManageSite", "Administration", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-groupplansubject" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => Model.IsUpdate)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @if (Model.IsUpdate)
                {
                    <h4>@AdministrationStrings.UpdateHotel</h4>
                }
                else
                {
                    <h4>@AdministrationStrings.AddHotel</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ExternalID, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ExternalID, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SiteTypeEnum, new { @class = "control-label" })
                                @Html.EnumDropDownListFor(model => model.SiteTypeEnum, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SiteTypeEnum)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LocalName, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.LocalName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LocalName)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CityID, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.CityID, new SelectList(Model.Cities.Items, "ID", "Name", "Group", null, null), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                                @Html.ValidationMessageFor(model => model.City)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Limitations, new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.Limitations, new { @class = "form-control", rows = "5" })
                                @Html.ValidationMessageFor(model => model.Limitations)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>