﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorRoleViewModel




@using (Html.BeginForm("AddInstructorRole", "Administration", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-instructorRole" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => Model.IsUpdate)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @if (Model.IsUpdate)
                {
                    <h4>@InstructorsStrings.UpdateInstructorRole</h4>
                }
                else
                {
                    <h4>@InstructorsStrings.AddInstructorRole</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">

                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RequiredHours, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.RequiredHours, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RequiredHours)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ExpirationDaysRule, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ExpirationDaysRule, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ExpirationDaysRule)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StartingValidity, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EnumDropDownListFor(model => model.StartingValidity, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StartingValidity)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StartingRenewal, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.StartingRenewal, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StartingRenewal)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AutomaticRenewal, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.AutomaticRenewal, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AutomaticRenewal)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsManager, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.IsManager, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IsManager)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AllowChangingRole, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.AllowChangingRole, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AllowChangingRole)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AllowLogin, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.AllowLogin, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AllowLogin)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>