﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Administration.GroupPlanSubjectViewModel




@using (Html.BeginForm("ManageGroupPlanSubject", "Administration", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-groupplansubject" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => Model.IsUpdate)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @if (Model.IsUpdate)
                {
                    <h4>@AdministrationStrings.UpdateGroupPlanSubject</h4>
                }
                else
                {
                    <h4>@AdministrationStrings.AddGroupPlanSubject</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HoursRequired, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.HoursRequired, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HoursRequired)
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>