﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Administration.CityViewModel




@using (Html.BeginForm("ManageCity", "Administration", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-add-groupplansubject" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.CityID)
    @Html.HiddenFor(model => Model.IsUpdate)

    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @if (Model.IsUpdate)
                {
                    <h4>@AdministrationStrings.UpdateCity</h4>
                }
                else
                {
                    <h4>@AdministrationStrings.AddCity</h4>
                }
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.CityName, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.CityName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CityName)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CityExternalID, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.CityExternalID, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DistrictID)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DistrictID, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.DistrictID, new SelectList(Model.Districts.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                                @Html.ValidationMessageFor(model => model.DistrictID)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RegionID, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.RegionID, new SelectList(Model.Regions.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
                                @Html.ValidationMessageFor(model => model.RegionID)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript" src="~/Scripts/chosen/chosen-methods.ajax.js"></script>