﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Administration.CitiesViewModel

@{
    ViewBag.Title = AdministrationStrings.CitiesManagement;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
}

<h2>@AdministrationStrings.CitiesManagement</h2>
<div class="row">
    @using (Html.BeginForm("Cities", "Administration", FormMethod.Post))
    {
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.CityName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.CityName, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Regions, null, new { @class = "control-label" })
            @Html.ListBoxFor(m => m.SelectedRegions, new MultiSelectList(Model.Regions.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Districts, null, new { @class = "control-label" })
            @Html.ListBoxFor(m => m.SelectedDistricts, new MultiSelectList(Model.Districts.Items, "ID", "Name", "Group", null, null), new { @class = "form-control chosen-select chosen-rtl" })
        </div>

        <div>&nbsp;</div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
            </div>
        </div>
    }
</div>
@(Ajax.LinkForBootstrapModal("AddCity", "Administration", null)
                                                              .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "CityAdd", title = AdministrationStrings.AddCity })
                                                              .RawLabel(@<text>@AdministrationStrings.AddCity</text>)
                                                                                                                                .LoadingPanelID("GroupPlanSubjetcsModalWindowContainer")
                                                                                                                                .ModalWindowContainerID("GroupPlanSubjetcsLoadingPanelContainer")
                                                                                                                                .UseExsistingModalcontainer(false)
)

@Html.Grid(Model.Cities).Columns(col =>
{
    col.For(c => c.CityName).Named(AdministrationStrings.City);
    col.For(c => c.CityExternalID).Named(AdministrationStrings.CityExternalID);
    col.For(c => c.RegionName).Named(AdministrationStrings.Region);
    col.For(c => c.DistrictName).Named(AdministrationStrings.District);
    col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateCity", "Administration", Html.GetIcon(Icons.Edit, null).ToString(), new { c.CityID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteCity", "Administration", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.CityID, @Title = c.CityName }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "Sites").Empty(CommonStrings.Empty)


<div id="GroupPlanSubjetcsModalWindowContainer" class="modal fade"></div>
<div id="GroupPlanSubjetcsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")
}