﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Administration.GroupPlanSubjectsViewModel

@{
    ViewBag.Title = AdministrationStrings.GroupPlanSubjects;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

<h2>@AdministrationStrings.GroupPlanSubjects</h2>
@(Ajax.LinkForBootstrapModal("AddGroupPlan", "Administration", null)
                  .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "GroupPlanSubjectAdd", title = AdministrationStrings.AddGroupPlanSubject })
                  .RawLabel(@<text>@AdministrationStrings.AddGroupPlanSubject</text>)
                  .LoadingPanelID("GroupPlanSubjetcsModalWindowContainer")
                  .ModalWindowContainerID("GroupPlanSubjetcsLoadingPanelContainer")
                  .UseExsistingModalcontainer(false)
)

@Html.Grid(Model.Subjects).Columns(col =>
{
    col.For(c => c.Name).Named(AdministrationStrings.PlanSubjectName);
    col.For(c => c.HoursRequired).Named(AdministrationStrings.HoursRequired);
    col.For(c => c.UpdateDate).Named(CommonStrings.UpdateDate);
    col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateGroupSubject", "Administration", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteGroupSubject", "Administration", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, @Title = c.Name }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupPlanSubjectList").Empty(CommonStrings.Empty)


<div id="GroupPlanSubjetcsModalWindowContainer" class="modal fade"></div>
<div id="GroupPlanSubjetcsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>