﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Instructors.InstructorRolesViewModel

@{
    ViewBag.Title = InstructorsStrings.InstructorRolesManagement;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

<h2>@InstructorsStrings.InstructorRolesManagement</h2>
@(Ajax.LinkForBootstrapModal("AddInstructorRole", "Administration", null)
                  .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "InstructorRolesAddAddRole", title = InstructorsStrings.AddInstructorRole })
                  .RawLabel(@<text>@InstructorsStrings.AddInstructorRole</text>)
                  .LoadingPanelID("InstructorRoleModalWindowContainer")
                  .ModalWindowContainerID("InstructorRoleLoadingPanelContainer")
                  .UseExsistingModalcontainer(false)
)

@Html.Grid(Model.Roles).Columns(col =>
{
    col.For(c => c.Name).Named(InstructorsStrings.InstructorRole);
    col.For(c => c.RequiredHours).Named(InstructorsStrings.RequiredHours);
    col.For(c => c.ExpirationDaysRule).Named(InstructorsStrings.ExpirationDaysRule);
    col.For(c => c.StartingValidity.GetDescription()).Named(InstructorsStrings.StartingValidity);
    col.For(c => c.StartingRenewal).Named(InstructorsStrings.StartingRenewal);
    col.For(c => @Html.GetIcon(c.AutomaticRenewal? Icons.Yes : Icons.No,null)).Named(InstructorsStrings.AutomaticRenewal).Encode(false);
    col.For(c => @Html.GetIcon(c.AllowLogin? Icons.Yes : Icons.No,null)).Named(InstructorsStrings.AllowLogin).Encode(false);
    col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateInstructorRole", "Administration", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteInstructorRole", "Administration", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, @Title = c.Name }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsNotesList").Empty(CommonStrings.Empty)


<div id="InstructorRoleModalWindowContainer" class="modal fade"></div>
<div id="InstructorRoleLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>