﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Administration.PermissionRoleViewModel>

@{
    ViewBag.Title = PermissionStrings.ManagePermissionRoles;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

<h2>@PermissionStrings.ManagePermissionRoles</h2>
@Html.ActionLink(PermissionStrings.CreatePermissionRole, "CreatePermissionRole", null, new { @class = "btn btn-default" })

@Html.Grid(Model).Columns(col =>
{
    col.For(c => c.Name).Named(PermissionStrings.RoleName);
    col.For(c => c.CreationDate).Named(CommonStrings.CreationDate).Format(AppConfig.FormatDateGrid);
    col.For(c => c.UpdateDate).Named(CommonStrings.UpdateDate).Format(AppConfig.FormatDateGrid);
    col.For(c => @Html.RawActionLink(Html.GetIcon(Icons.Edit, null).ToHtmlString(),"UpdatePermissionRole", "Administration", new { @RoleID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteRole", "Administration", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, @Title = c.Name }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "hotels").Empty(CommonStrings.Empty)


<div id="GroupPlanSubjetcsModalWindowContainer" class="modal fade"></div>
<div id="GroupPlanSubjetcsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>