﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Administration.SitesViewModel

@{
    ViewBag.Title = AdministrationStrings.HotelsManagement;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

@section styles
{
    <link href="~/Content/css/180FromStyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
    @Styles.Render("~/Content/css/jQueryUI")
}

<h2>@AdministrationStrings.HotelsManagement</h2>
<div class="row">
    @using (Html.BeginForm("GetSites", "Administration", FormMethod.Post))
    {
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.SiteName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.SiteName, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.SiteTypes, null, new { @class = "control-label" })
            @Html.ListBoxFor(m => m.SelectedSiteTypes, new MultiSelectList(Model.SiteTypes.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Cities, null, new { @class = "control-label" })
            @Html.ListBoxFor(m => m.SelectedCities, new MultiSelectList(Model.Cities.Items, "ID", "Name", "Group", null, null), new { @class = "form-control chosen-select chosen-rtl" })
        </div>

        <div>&nbsp;</div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
            </div>
        </div>
    }
</div>
@(Ajax.LinkForBootstrapModal("AddSite", "Administration", null)
                                                          .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left form-validation", id = "HotelAdd", title = AdministrationStrings.AddHotel })
                                                          .RawLabel(@<text>@AdministrationStrings.AddHotel</text>)
                                                                                                                      .LoadingPanelID("GroupPlanSubjetcsModalWindowContainer")
                                                                                                                      .ModalWindowContainerID("GroupPlanSubjetcsLoadingPanelContainer")
                                                                                                                      .UseExsistingModalcontainer(false)
)

@Html.Grid(Model.Sites).Columns(col =>
{
    col.For(c => c.SiteTypeEnum.GetDescription()).Named(AdministrationStrings.SiteType);
    col.For(c => c.Name).Named(AdministrationStrings.SiteName);
    col.For(c => c.LocalName).Named(AdministrationStrings.LocalName);
    col.For(c => c.City.CityName).Named(AdministrationStrings.City);
    col.For(c => c.City.RegionName).Named(AdministrationStrings.Region);
    col.For(c => c.City.DistrictName).Named(AdministrationStrings.District);
    col.For(c => c.Limitations).Named(AdministrationStrings.Limitations);
    col.For(c => c.UpdateDate).Named(CommonStrings.UpdateDate).Format(AppConfig.FormatDateGrid);
    col.For(c => @Ajax.LinkForBootstrapModalNo("UpdateSite", "Administration", Html.GetIcon(Icons.Edit, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Update })).Named(CommonStrings.Update).Encode(false);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteSite", "Administration", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, @Title = c.Name }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "Sites").Empty(CommonStrings.Empty)


<div id="GroupPlanSubjetcsModalWindowContainer" class="modal fade"></div>
<div id="GroupPlanSubjetcsLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")
}