﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Administration.PermissionRoleViewModel

@{
    ViewBag.Title = PermissionStrings.CreatePermissionRole;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<h2>@PermissionStrings.CreatePermissionRole</h2>

@using (Html.BeginForm("CreatePermissionRole","Administration", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-horizontal">


            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.IsUpdate)
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                        <h6>@PermissionStrings.PermissionRoleInstructions</h6>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>

                </div>
                <div class="col-md-12">
                    <h3>@PermissionStrings.PermissionDetails</h3>
                    @for (int i = 0; i < Model.Permissions.Count(); i++)
                    {
                        if (i == 0 || Model.Permissions[i].Group != Model.Permissions[i - 1].Group)
                        {
                            <h4>@Model.Permissions[i].Group</h4>
                        }

                        @Html.HiddenFor(m => m.Permissions[i].PermissionBitID)
                        @Html.HiddenFor(m => m.Permissions[i].PermissionBitEnum)
                        <div class="row">
                            <div class="col-sm-12 form-group">@Html.CheckBoxFor(m => m.Permissions[i].Enabled, new { @class = "form-control form-checkbox" }) @Model.Permissions[i].PermissionBitEnum.GetDescription()</div>
                        </div>

                    }
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-md-3 pull-left">
                        <input type="submit" value="@(Model.IsUpdate? CommonStrings.Update : CommonStrings.Add)" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}


@section scripts
{

    @Scripts.Render("~/bundles/datepicker");
    @Scripts.Render("~/bundles/tinymce")

    <script type="text/javascript">
        $(function () {

            $('.custom-property').click(function () {

                tinymce.activeEditor.execCommand('mceInsertContent', false, $(this).attr('data-property'));
            });

        })
    </script>
}
