﻿@using System.Web.Services.Description
@using FlightScheduling.DAL.CustomEntities
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Notifications;
@model FlightScheduling.Web.Areas.Administration.Models.Administration.NotificationsTemplatesViewModel

@{
    ViewBag.Title = AdministrationStrings.SystemConfigurationTitle;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@NotificationStrings.NotificationTemplates</h2>



<div class="btn-group pull-left">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @NotificationStrings.AddNotificationTemplate <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink(NotificationStrings.GroupFormAdministration180StatusChange, "UpdateNotificationTemplate", new { NotificationType = eNotificationTriggerType.GroupFormAdministration180StatusChange }, null)
        </li>
        <li>
            @Html.ActionLink(NotificationStrings.GroupFormInstructors180StatusChange, "UpdateNotificationTemplate", new { NotificationType = eNotificationTriggerType.GroupFormInstructors180StatusChange }, null)
        </li>
        <li>
            @Html.ActionLink(NotificationStrings.GroupFormPlan180StatusChange, "UpdateNotificationTemplate", new { NotificationType = eNotificationTriggerType.GroupFormPlan180StatusChange }, null)
        </li>
        <li>
            @Html.ActionLink(NotificationStrings.ExpeditionApproval, "UpdateNotificationTemplate", new { NotificationType = eNotificationTriggerType.ExpeditionApproval }, null)
        </li>
        <li>
            @Html.ActionLink(NotificationStrings.GroupForm180Creation, "UpdateNotificationTemplate", new { NotificationType = eNotificationTriggerType.GroupForm180Creation }, null)
        </li>
        <li>
            @Html.ActionLink(NotificationStrings.NewGroupFile, "UpdateNotificationTemplate", new { NotificationType = eNotificationTriggerType.NewGroupFile }, null)
        </li>
        <li>
            @Html.ActionLink(NotificationStrings.GroupForm60Updated, "UpdateNotificationTemplate", new { NotificationType = eNotificationTriggerType.GroupForm60Updated }, null)
        </li>
    </ul>
</div>

@Html.Grid(Model.Notifications).Columns(col =>
{
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "UpdateNotificationTemplate", "Administration", new { NotificationType = c.NotificationTriggerType ,ID = c.ID }, null)).Named("");
    col.For(c => c.Name).Named(NotificationStrings.Name);
    col.For(c => c.UserTypeEnum.GetDescription()).Named(NotificationStrings.UserRole);
    col.For(c => c.NotificationTriggerType.GetDescription()).Named(NotificationStrings.NotificationTriggerType);
    col.For(c => c.NotificationSchedulingType.GetDescription()).Named(NotificationStrings.NotificationSchedulingType);
    col.For(c => Html.GetIcon(c.IsActive ? Icons.Yes : Icons.No, null).ToHtmlString()).Named(NotificationStrings.IsActive).Encode(false);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteNotificationTemplate", "Administration", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID, title = String.Format("{0}", c.Name) }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsManagement").Empty(CommonStrings.Empty)
@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

}

