﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Administration.NotificationTemplateViewModel

@{
    ViewBag.Title = NotificationStrings.AddNotificationTemplate;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";

    var OnlyTimeline = "1";
}

<h2>@NotificationStrings.AddNotificationTemplate</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-horizontal">


            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.IsUpdate)
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NotificationTriggerType, new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.NotificationTriggerType, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NotificationTriggerType)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NotificationSchedulingType, new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.NotificationSchedulingType, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NotificationSchedulingType)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserPermissionRole, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.UserPermissionRole, new SelectList(Model.UserPermissionRoles.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserPermissionRole)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserTypeEnum, new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.UserTypeEnum, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserTypeEnum)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Subject, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Subject)
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Message, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control tinymce" })
                        @Html.ValidationMessageFor(model => model.Message)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="custom-properties-panel">
                    <h3>@NotificationStrings.CustomProperties</h3>
                    <h6>@NotificationStrings.CustomPropertiesInstructions</h6>
                    @foreach (var property in Model.CustomProperties)
                    {
                        <div class="custom-property" data-property="{@property.Key}">{@property.Key} - @property.Value</div>
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 pull-left">
                <input type="submit" value="@(Model.IsUpdate? CommonStrings.Update : CommonStrings.Add)" class="btn btn-primary" />
            </div>
        </div>

    </div>
    </div>
}


@section scripts
{

    @Scripts.Render("~/bundles/datepicker");
    @Scripts.Render("~/bundles/tinymce")

    <script type="text/javascript">
        $(function () {

            $('.custom-property').click(function () {

                tinymce.activeEditor.execCommand('mceInsertContent', false, $(this).attr('data-property'));
            });

        })
    </script>
}