﻿@using System.Web.Services.Description
@using FlightScheduling.DAL.CustomEntities
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Administration.SystemConfigurationViewModel

@{
    ViewBag.Title = AdministrationStrings.SystemConfigurationTitle;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@AdministrationStrings.SystemConfigurationTitle</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            <table class="table table-hover table-responsive table-condensed" id="departureFlights">
                <thead>
                    <tr>
                        <th>@AdministrationStrings.PropertyID</th>
                        <th>@AdministrationStrings.PropertyName</th>
                        <th>@AdministrationStrings.PropertyDescription</th>
                        <th>@AdministrationStrings.PropertyType</th>
                        <th>@AdministrationStrings.PropertyValue</th>
                    </tr>
                </thead>
                <tbody>


                    @for (int i = 0; i < Model.Model.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Model.Model[i].PropertyID
                                <input type="hidden" name="@String.Format("Model.Model[{0}].PropertyID", i)" value="@Model.Model[i].PropertyID" />
                            </td>
                            <td>@String.Format("{0}", FunctionHelpers.GetResourceString<AdministrationStrings>(Model.Model[i].PropertyName))</td>
                            <td>@Model.Model[i].PropertyDescription</td>
                            <td>@String.Format("{0}", FunctionHelpers.GetResourceString<AdministrationStrings>(Model.Model[i].PropertyType.ToString()))</td>



                            @if (Model.Model[i].PropertyType == ePropertyType.Date)
                            {
                                <td><input type="text" class="form-control datepicker" name="@String.Format("Model.Model[{0}].PropertyValue", i)" value="@Convert.ToDateTime(Model.Model[i].PropertyValue).ToString("dd/MM/yyyy")" /></td>
                            }

                            @if (Model.Model[i].PropertyType == ePropertyType.Text)
                            {
                                <td><input type="text" class="form-control" name="@String.Format("Model.Model[{0}].PropertyValue", i)" value="@Model.Model[i].PropertyValue" /></td>
                            }
                        </tr>
                    }

                </tbody>
            </table>

            <input type="submit" id="btnSubmit" value="@CommonStrings.SaveChanges" class="btn btn-default" />
        </div>
    </div>
}

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

}

