﻿@using FlightScheduling.Language
@using MvcContrib.UI.Grid
@model FlightScheduling.Web.Areas.Administration.Models.Reports.AgencyReportContainerViewModel

@{
    /**/

    ViewBag.Title = "AgencyReport";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.AgencyReport</h2>

@using (Html.BeginForm("AgencyReport", "Reports", FormMethod.Post))
{
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
        @Html.ValidationMessageFor(m => m.StartDate)
    </div>

    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
        @Html.ValidationMessageFor(m => m.EndDate)
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 search-button-padding">
        <input type="submit" value="@CommonStrings.Send" class="btn btn-default pull-left" />
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

<a href="@Url.Action("AgencyReportExport")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>


@Html.Grid(Model.Data).Columns(col =>
{
    col.For(c => c.GroupExternalID).Named(GroupsStrings.ExpeditionID);
    col.For(c => c.SchoolID).Named(SchoolsStrings.ID);
    col.For(c => c.InstituteID).Named(SchoolsStrings.InstituteID);
    col.For(c => c.SchoolName).Named(SchoolsStrings.Name);
    col.For(c => c.Region).Named(SchoolsStrings.Region);
    col.For(c => c.TripID).Named(TripsStrings.ID);
    col.For(c => c.DepartureDate.ToString("dd/MM/yyyy")).Named(TripsStrings.DepartureDate);
    col.For(c => c.ReturnDate.ToString("dd/MM/yyyy")).Named(TripsStrings.ReturnDate);
    col.For(c => c.Destenation).Named(TripsStrings.Destenation);
    col.For(c => c.ReturnedFrom).Named(FlightsStrings.DepartureField);
    col.For(c => c.BusesRequiredPerDay).Named(ExpeditionStrings.NumOfBuses);
    col.For(c => c.RegisteredPassengers).Named(ExpeditionStrings.RegisteredPassengers);
    col.For(c => c.CostPerStudent == 0 ? "" : c.CostPerStudent.ToString()).Named(GroupFormsStrings.CostPerStudent);
    col.For(c => @Html.GetStatusTag(c.ExpeditionStatusEnum).ToHtmlString()).Named(ExpeditionStrings.Status).Encode(false);
    col.For(c => c.ExpeditionID).Named(ExpeditionStrings.ID);
    col.For(c => c.AgencyName).Named(ExpeditionStrings.Agency);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")

}