﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Reports.EmerhencyContactReportViewModel
@using MvcContrib.UI.Grid

@{
    ViewBag.Title = "FlightsReport";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.EmerhencyContactReport</h2>
@*<h4>@Html.ActionLink("ייצא לאקסל", "ExportEmergencyContactReport")</h4>*@

@using (Html.BeginForm("GetEmergencyContactReport", "Reports", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.TargetDate, new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.TargetDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>
    </div>
    <div class="col-md-2">
        <input type="submit" value="@CommonStrings.Search" class="btn btn-default" />
    </div>


        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
}

<a href="@Url.Action("ExportEmergencyContactReport")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>

@Html.Grid(Model.Items).Columns(col =>
{
    col.For(c => c.GroupID).Named(ReportsStrings.CsvGroupID);
    col.For(c => c.SchoolName).Named(ReportsStrings.CsvSchoolName);
    col.For(c => c.RegionEnum != null ? c.RegionEnum.GetDescription() : "").Named(ReportsStrings.csvSchoolRegion);
    col.For(c => c.EmergencyContactName).Named(ReportsStrings.csvGroupEmergancyContactName);
    col.For(c => c.EmergencyContactPhone).Named(ReportsStrings.csvGroupEmergancyContactPhone);
    col.For(c => c.SchoolManagerName).Named(ReportsStrings.CsvSchoolMangerName);
    col.For(c => c.SchoolManagerPhone).Named(ReportsStrings.CsvSchoolMangerPhone);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "EmergencyContactReport").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

}