﻿@using FlightScheduling.Language
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Reports.ExpeditionReportViewModel
@using MvcContrib.UI.Grid

@{
    ViewBag.Title = "FlightsReport";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.ExpeditionStatusReport</h2>
@*<h4>@Html.ActionLink("ייצא לאקסל", "ExportFlightReport")</h4>*@

@using (Html.BeginForm("GetExpeditionStatusReport", "Reports", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            @Html.LabelFor(model => model.Status, new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.Status, CommonStrings.SelectValue, new { @class = "form-control" })
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

<a href="@Url.Action("ExportExpeditionStatusReport")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>

@Html.Grid(Model.Items).Columns(col =>
{
    col.For(c => c.ExpeditionId).Named(ReportsStrings.CsvOrderID);
    col.For(c => c.Status).Named(ReportsStrings.csvExpeditionStatus);
    col.For(c => c.SchoolName).Named(ReportsStrings.CsvSchoolName);
    col.For(c => c.InstituteID).Named(ReportsStrings.CsvInstituteID);
    col.For(c => c.Region).Named(ReportsStrings.csvSchoolRegion);
    col.For(c => c.NumOfPassenges).Named(ReportsStrings.CsvNumberOfPassengers);
    col.For(c => c.NumOfBuses).Named(ReportsStrings.CsvNumberOfBuses);
    col.For(c => c.DepartureDate).Named(ReportsStrings.CsvDepartureDate).Format(AppConfig.FormatDateGrid);
    col.For(c => c.Manager).Named(ReportsStrings.CsvSchoolMangerName);
    col.For(c => c.ManagerPhone).Named(ReportsStrings.CsvSchoolMangerPhone);
    col.For(c => c.ManagerCell).Named(ReportsStrings.CsvSchoolMangerCell);
    col.For(c => c.ManagerEmail).Named(ReportsStrings.CsvSchoolMangerEmail);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsReport").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")

}