﻿@using FlightScheduling.Language
@using MvcContrib.UI.Grid
@model FlightScheduling.Web.Areas.Administration.Models.Reports.ExpeditionsCsvViewModel

@{
    ViewBag.Title = ReportsStrings.ExpeditionsToCsv;
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.ExpeditionsToCsv</h2>

@using (Html.BeginForm("ExpeditionCsv", "Reports", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.FilterFromDate, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.FilterFromDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
            @Html.ValidationMessageFor(m => m.FilterFromDate)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilterToDate, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.FilterToDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
            @Html.ValidationMessageFor(m => m.FilterToDate)
        </div>

        <div class="col-md-2">
            <input type="submit" value="@CommonStrings.Send" class="btn btn-default" />
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}
<a href="@Url.Action("ExportExpeditionsToCsv")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>


@Html.Grid(Model.Expeditions).Columns(col =>
{
    col.For(c => c.GroupID).Named(ReportsStrings.CsvGroupID);
    col.For(c => c.ExpeditionID).Named(ReportsStrings.CsvOrderID);
    col.For(c => c.DepartureDate.ToString("dd/MM/yyyy")).Named(ReportsStrings.CsvDepartureDate);
    col.For(c => c.ReturningDate.ToString("dd/MM/yyyy")).Named(ReportsStrings.CsvReturnDate);
    col.For(c => c.DestinationID.GetDescription()).Named(ReportsStrings.CsvDestenationID);
    col.For(c => c.ReturingField.GetDescription()).Named(ReportsStrings.CsvReturingField);
    col.For(c => c.SchoolName).Named(ReportsStrings.CsvSchoolName);
    col.For(c => c.InstituteID).Named(ReportsStrings.CsvInstituteID);
    col.For(c => c.BasesPerDay).Named(ReportsStrings.CsvNumberOfBuses);
    col.For(c => c.NumberOfpassengers).Named(ReportsStrings.CsvNumberOfPassengers);
    col.For(c => c.AgencyName).Named(ReportsStrings.CsvAgencyID);
    col.For(c => c.Manager).Named(ReportsStrings.CsvExpeditionMangerName);
    col.For(c => c.ManagerCell).Named(ReportsStrings.CsvExpeditionMangerCell);
    col.For(c => c.ManagerEmail).Named(ReportsStrings.CsvExpeditionMangerEmail);
    col.For(c => c.ManagerPhone).Named(ReportsStrings.CsvExpeditionMangerPhone);
    col.For(c => c.SchoolManager).Named(ReportsStrings.CsvSchoolMangerName);
    col.For(c => c.SchoolManagerEmail).Named(ReportsStrings.CsvSchoolMangerEmail);
    col.For(c => c.SchoolManagerPhone).Named(ReportsStrings.CsvSchoolMangerPhone);

}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "ExpeditionsCsvManagement").Empty(CommonStrings.Empty)


@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                language: "he",
                orientation: "top left",
                autoclose: true,
                todayHighlight: true,
                clearBtn: true,
                startdate: '01/01/2000',
                enddate: new Date().setYear(new Date().getYear() + 6)
            });
        });
    </script>

}