﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Reports.FlightsReportMainViewModel
@using MvcContrib.UI.Grid

@{
    ViewBag.Title = "FlightsReport";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.FlightsReport</h2>
<h4>@Html.ActionLink("ייצא לאקסל", "ExportFlightReport")</h4>

@using (Html.BeginForm("FlightsReport", "Reports", FormMethod.Post))
{
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.FilterFromDate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.FilterFromDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.FilterToDate, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.FilterToDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
    </div>
    <div class="col-md-12">
        <input type="submit" value="@CommonStrings.Send" class="btn btn-default pull-left" />
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

@Html.Grid(Model.FlightsReportViewModels).Columns(col =>
{
    col.For(c => c.TripID).Named(TripsStrings.ID);
    col.For(c => c.DepartureDate).Named(ReportsStrings.TripStartDate).Format("{0:dd/MM/yyyy}");
    col.For(c => c.ReturnDate).Named(ReportsStrings.TripEndDate).Format("{0:dd/MM/yyyy}");
    col.For(c => c.FlightID).Named(FlightsStrings.ID);
    col.For(c => c.FlightDate).Named(FlightsStrings.DepartureDate).Format("{0:dd/MM/yyyy}");
    col.For(c => c.FlightDestenation).Named(ReportsStrings.FlightDeparture);
    col.For(c => c.FlightReturnField).Named(ReportsStrings.FlightLanded);
    col.For(c => c.TakeOffIsrael).Named(ReportsStrings.TakeOfFromIsrael);
    col.For(c => c.AirlineName).Named(FlightsStrings.AirlineName);
    col.For(c => c.ExpeditionID).Named(ExpeditionStrings.ID);
    col.For(c => c.NumberOfPassengers).Named(FlightsStrings.NumberOfPassengers);
    col.For(c => c.RegisteredPassengers).Named(ExpeditionStrings.RegisteredPassengers);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

}