﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Reports.BusesPerDayReportViewModel
@using MvcContrib.UI.Grid

@{
    ViewBag.Title = ReportsStrings.BusesPerDayReport;
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.BusesPerDayReport</h2>
<h4>@Html.ActionLink(ReportsStrings.ExportToExcel, "ExportBusesPerDayReport")</h4>

@using (Html.BeginForm("GetBusesPerDay", "Reports", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>

        <div class="col-md-2">
            <input type="submit" value="@CommonStrings.Send" class="btn btn-default" />
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

@Html.Grid(Model.BusesPerDayList).Columns(col =>
{
    col.For(c => c.Day).Named(ReportsStrings.Day).Format("{0:dd/MM/yyyy}");
    col.For(c => c.BusesPerDay).Named(ReportsStrings.BusesPerDayCount);
    col.For(c => c.ExpeditionPerDay).Named(ReportsStrings.ExpeditionPerDayCount);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

}