﻿@using FlightScheduling.Language
@using MvcContrib.UI.Grid
@model FlightScheduling.Web.Areas.Administration.Models.Reports.FlightSeatsAvailabilityReportViewModel

@{
    ViewBag.Title = ReportsStrings.AvailableSeatsReport;
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.AvailableSeatsReport</h2>
<h4>@Html.ActionLink(ReportsStrings.ExportToExcel, "ExportFLightAvailability")</h4>

@using (Html.BeginForm("GetFlightSeatsAvailability", "Reports", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>

        <div class="col-md-2">
            <input type="submit" value="@CommonStrings.Send" class="btn btn-default" />
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

@Html.Grid(Model.Data).Columns(col =>
    {
        col.For(c => c.TripID).Named(TripsStrings.ID);
        col.For(c => c.DepartureDate.ToString("dd/MM/yyyy")).Named(TripsStrings.DepartureDate);
        col.For(c => c.TripDestination == null? "" : c.TripDestination).Named(TripsStrings.Destenation);
        col.For(c => c.BasesPerDay).Named(ReportsStrings.BusesPerDayCount);
        col.For(c => c.TotalPassengers).Named(FlightsStrings.NumberOfPassengers);
        col.For(c => c.BookedPassengers).Named(ReportsStrings.AssignedPassengers);
        col.For(c => c.AvailableSeats).Named(ReportsStrings.AvailableSeats);
        }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")

}