﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Reports.GroupManagerReportViewModel
@using MvcContrib.UI.Grid

@{
    ViewBag.Title = ReportsStrings.GroupManagersReport;
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}

<h2>@ReportsStrings.GroupManagersReport</h2>
@*<h4>@Html.ActionLink("ייצא לאקסל", "ExportFlightReport")</h4>*@

@using (Html.BeginForm("GetGroupManagerReport", "Reports", FormMethod.Post))
{
    <h4>@ReportsStrings.FilterResults</h4>


    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.DepartureField, new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.DepartureField, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.GroupExternalID, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.GroupExternalID, new { @class = "form-control" })
        </div>

        <div class="col-md-2 pull-left">
            <input type="submit" value="@CommonStrings.Search" class="btn btn-default" />
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

<a href="@Url.Action("ExportGroupManagersReport")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>

@Html.Grid(Model.Items).Columns(col =>
{
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Folder, null).ToString(), "GroupFolderManagement", "Groups", new { ID = c.GroupID }, null)).Named("");
    col.For(c => c.GroupExternalID).Named(ReportsStrings.CsvGroupID);
    col.For(c => c.DepartureDate).Named(ReportsStrings.CsvDepartureDate).Format(AppConfig.FormatDateGrid);
    col.For(c => c.DestinationFieldEnum.GetDescription()).Named(ReportsStrings.TripDestination);
    col.For(c => c.NumberOfBuses).Named(ReportsStrings.CsvNumberOfBuses);
    col.For(c => c.TotalParticipants).Named(ReportsStrings.TotalParticipants);
    col.For(c => c.InstituteID).Named(ReportsStrings.CsvInstituteID);
    col.For(c => c.SchoolName).Named(ReportsStrings.CsvSchoolName);
    col.For(c => c.GroupManagerName).Named(ReportsStrings.GroupManagerName);
    col.For(c => c.GroupManagerCell).Named(ReportsStrings.GroupManagerCell);
    col.For(c => c.GroupManagerEmail).Named(ReportsStrings.GroupManagerEmail);
    col.For(c => c.DeputyManagerName).Named(ReportsStrings.DeputyManagerName);
    col.For(c => c.DeputyManagerCell).Named(ReportsStrings.DeputyManagerCell);
    col.For(c => c.DeputyManagerEmail).Named(ReportsStrings.DeputyManagerEmail);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "instructorTrainingReport").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");
    @Scripts.Render("~/bundles/chosen")

}
