﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Reports.GroupsByRegionsViewModel
@using MvcContrib.UI.Grid
@using Flight.DAL.FlightDB.Methods
@{
    ViewBag.Title = "FlightsReport";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")

}

<h2>@ReportsStrings.GroupsByRegionTitle</h2>
@using (Html.BeginForm("GetGroupsByRegion", "Reports", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>
        @if (!User.IsInRole(eRole.CountyManager.ToString()))
        {
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Region, new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.Region, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
            </div>
        }

        @if (!User.IsInRole(eRole.SchoolManager.ToString()))
        {
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.InstituteID, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.InstituteID, new { @class = "form-control" })
            </div>
        }
        <div class="col-md-12">
            <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
        </div>
    </div>

}
<a href="@Url.Action("ExportGetGroupsByRegion")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>

@Html.Grid(Model.Items).Columns(col =>
{
    col.For(c => c.GroupExternalID).Named(ReportsStrings.CsvGroupID);
    col.For(c => c.SchoolName).Named(ReportsStrings.CsvSchoolName);
    col.For(c => c.InstituteID).Named(ReportsStrings.CsvInstituteID);
    col.For(c => c.Year).Named(ReportsStrings.csvYear);
    col.For(c => c.DepartureDate).Named(ReportsStrings.CsvDepartureDate).Format("{0:dd/MM/yyyy}");
    col.For(c => c.RegionEnum).Named(ReportsStrings.csvSchoolRegion);
    col.For(c => c.NumberOfParticipants).Named(ReportsStrings.CsvParticipantsCount);
    col.For(c => c.CountInstructors).Named(ReportsStrings.CsvInstructorsCount);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "StudentsInExpeditionReport").Empty(CommonStrings.Empty)

@section scripts
{
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")

}