﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Reports.SchoolGlobalRemarkReportViewModel
@using MvcContrib.UI.Grid

@{
    ViewBag.Title = "FlightsReport";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.SchoolGlobalRemarksReportTitle</h2>
<a href="@Url.Action("ExportSchoolGlobalRemarks")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>



@Html.Grid(Model.Items).Columns(col =>
{
    col.For(c => c.SchoolName).Named(ReportsStrings.CsvSchoolName);
    col.For(c => c.InstituteID).Named(ReportsStrings.CsvInstituteID);
    col.For(c => c.Notes).Named(ReportsStrings.CsvComment);
    col.For(c => c.FullName).Named(ReportsStrings.csvWriterName);
    col.For(c => c.UpdateDate).Named(ReportsStrings.CsvUpdateDate).Format("{0:dd/MM/yyyy}");
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

}