﻿@using FlightScheduling.Language
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Reports.GroupsReportViewModel
@using MvcContrib.UI.Grid

@{
    ViewBag.Title = "FlightsReport";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.GroupsReport</h2>
@*<h4>@Html.ActionLink("ייצא לאקסל", "ExportFlightReport")</h4>*@

@using (Html.BeginForm("GetGroupsReport", "Reports", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        @if (!User.IsInRole(eRole.Agent.ToString()))
        {
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            @Html.LabelFor(model => model.Agencies, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.AgencyID, new SelectList(Model.Agencies.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control" })
        </div>
        }
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            @Html.LabelFor(model => model.DepartureIDEnum, new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.DepartureIDEnum, CommonStrings.SelectValue, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            @Html.LabelFor(model => model.ReturningFieldEnum, new { @class = "control-label" })
            @Html.EnumDropDownListFor(model => model.ReturningFieldEnum, CommonStrings.SelectValue, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

<a href="@Url.Action("ExportGroupsReport")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>

@Html.Grid(Model.Items).Columns(col =>
{
    col.For(c => c.GroupExternalID).Named(GroupsStrings.ExpeditionID);
    col.For(c => c.NumberOfBuses).Named(GroupsStrings.NumberOfBuses);
    col.For(c => c.NumberOfParticipants).Named(GroupsStrings.NumberOfParticipants);
    col.For(c => c.SchoolInsititueID).Named(SchoolsStrings.InstituteID);
    col.For(c => c.SchoolName).Named(SchoolsStrings.Name);
    col.For(c => c.AgencyName).Named(AgenciesStrings.Name);
    col.For(c => c.DestinationFieldEnum.GetDescription()).Named(TripsStrings.Destenation);
    col.For(c => c.DepartureDate).Named(TripsStrings.DepartureDate).Format(AppConfig.FormatDateGrid);
    col.For(c => c.ReturningFieldEnum.GetDescription()).Named(TripsStrings.TakeOffField);
    col.For(c => c.ReturningDate).Named(TripsStrings.ReturnDate).Format(AppConfig.FormatDateGrid);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsReport").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")

}