﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Reports.InstructorTrainingReportViewModel
@using MvcContrib.UI.Grid

@{
    ViewBag.Title = ReportsStrings.InstructorTrainingReport;
    Layout = Model.OpenedFromTraining? "~/Views/Shared/_InstructorManagementMenu.cshtml" : "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}

<h2>@ReportsStrings.InstructorTrainingReport</h2>
@*<h4>@Html.ActionLink("ייצא לאקסל", "ExportFlightReport")</h4>*@

@using (Html.BeginForm("GetInstructorTrainings", "Reports", FormMethod.Post))
{
    @Html.HiddenFor(m => m.OpenedFromTraining)
    <h4>@ReportsStrings.FilterResults</h4>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.TrainingName, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.TrainingID, new SelectList(Model.TrainingName.Items, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrainingLocationEnum, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumDropDownListFor(model => model.TrainingLocationEnum, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.eTrainingType, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumDropDownListFor(model => model.eTrainingType, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eOrganizationalStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumDropDownListFor(model => model.eOrganizationalStatus, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.InstructorRoles, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.InstructorType, new SelectList(Model.InstructorRoles, "ID", "Name"), CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-2">
                @Html.CheckBoxFor(model => model.TrainingCompleted, new { @class = "" })
                @InstructorsStrings.IsCompleted
            </div>
        </div>

        <div class="col-md-2 pull-left">
            <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
}

<a href="@Url.Action("ExportInstructorTrainings")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>

@Html.Grid(Model.Items).Columns(col =>
{
    col.For(c => c.InstructorID).Named(InstructorsStrings.InstructorID);
    col.For(c => c.FullNameHe).Named(InstructorsStrings.FullNameHE);
    col.For(c => c.City).Named(InstructorsStrings.City);
    col.For(c => c.CellPhone).Named(InstructorsStrings.CellPhone);
    col.For(c => c.Email).Named(AccountStrings.EmailAddress);
    col.For(c => c.InstructorRole).Named(InstructorsStrings.RoleName);
    col.For(c => c.OrganizationalStatusEnum.GetDescription()).Named(InstructorsStrings.OrganizationalStatus);
    col.For(c => c.TrainingName).Named(InstructorsStrings.TrainingName);
    col.For(c => c.TrainingDate).Named(InstructorsStrings.TrainingDate).Format(AppConfig.FormatDateGrid);
    col.For(c => c.TrainingTypeEnum.GetDescription()).Named(InstructorsStrings.TrainingType);
    col.For(c => c.TrainingLocationEnum.GetDescription()).Named(InstructorsStrings.TrainingLocation);
    col.For(c => c.TrainingHours).Named(InstructorsStrings.TrainingHours);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "instructorTrainingReport").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");
    @Scripts.Render("~/bundles/chosen")

}
