﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Reports.InstructorAssignmentsInGroupsViewModel
@using MvcContrib.UI.Grid
@using Flight.DAL.FlightDB.Methods

@{
    ViewBag.Title = ReportsStrings.InstructorTrainingReport;
    Layout = Model.OpenedFromTraining ? "~/Views/Shared/_InstructorManagementMenu.cshtml" : "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}

<h2>@ReportsStrings.InstructorsAssignmentsForGroupsTitle</h2>

@using (Html.BeginForm("GetInstructorsAssignmentsForGroups", "Reports", FormMethod.Post))
{
    @Html.HiddenFor(m => m.OpenedFromTraining)
    <h4>@ReportsStrings.FilterResults</h4>
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>
        @if (!User.IsInRole(eRole.CountyManager.ToString()))
        {
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Region, new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.Region, CommonStrings.SelectValue, new { @class = "form-control chosen-select chosen-rtl" })
            </div>
        }

        @if (!User.IsInRole(eRole.SchoolManager.ToString()))
        {
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.GroupExternalID, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.GroupExternalID, new { @class = "form-control" })
            </div>
        }
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Roles, null, new { @class = "control-label" })
                @Html.ListBoxFor(m => m.SelectedRoles, new MultiSelectList(Model.Roles.Items, "ID", "Name"), new { @class = "form-control chosen-select chosen-rtl" })
                @Html.ValidationMessageFor(model => model.Roles)
            </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.InstructorID, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.InstructorID, new { @class = "form-control" })
        </div>
        <div class="col-md-12">
            <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
        </div>
    </div>
}

<a href="@Url.Action("ExportInstructorsAssignmentsForGroups")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>

@Html.Grid(Model.Items.OrderBy(i => i.InstituteID)).Columns(col =>
{
    col.For(c => c.SchoolName).Named(ReportsStrings.CsvSchoolName);
    col.For(c => c.InstituteID).Named(ReportsStrings.CsvInstituteID);
    col.For(c => c.RegionEnum).Named(ReportsStrings.csvSchoolRegion);
    col.For(c => c.InstructorName).Named(AccountStrings.FullName);
    col.For(c => c.InstructorID).Named(InstructorsStrings.InstructorID);
    col.For(c => c.RoleName).Named(InstructorsStrings.RoleName);
    col.For(c => c.InstructorGroupRoleName).Named(ReportsStrings.csvInstructorGroupRoleName);
    col.For(c => c.GroupExternalID).Named(ReportsStrings.CsvGroupID);
    col.For(c => String.Format("{0} {1}",c.ValidityEndTime >= DateTime.Now? Html.GetIcon(Icons.Yes, "") : Html.GetIcon(Icons.No, "", IconColor.Red), c.ValidityEndTime.ToString(AppConfig.FormatDate))).Named(ReportsStrings.csvValidityEndTime).Format(AppConfig.FormatDateGrid).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "InstructorAssignmentsForGroups").Empty(CommonStrings.Empty)

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")

}
