﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Reports.SchoolExpeditionReportContainerViewModel
@using MvcContrib.UI.Grid
@using Flight.DAL.FlightDB.Methods
@{
    ViewBag.Title = "FlightsReport";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")

}

<h2>@ReportsStrings.SchoolReport</h2>
@using (Html.BeginForm("GetSchoolExpeditionParticipantionReport", "Reports", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.InstituteID, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.InstituteID, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.GroupID, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.GroupID, new { @class = "form-control" })
        </div>

        <div class="col-md-12">
            <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
        </div>
    </div>

}
<a href="@Url.Action("ExportSchoolExpeditionParticipantionReport")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>

@Html.Grid(Model.Schools).Columns(col =>
{
    col.For(c => c.Name).Named(ReportsStrings.CsvSchoolName);
    col.For(c => c.InstituteID).Named(ReportsStrings.CsvInstituteID);
    col.For(c => c.Email).Named(ReportsStrings.csvEmail);
    col.For(c => c.Fax).Named(SchoolsStrings.Fax);
    col.For(c => c.Phone).Named(SchoolsStrings.Phone);
    col.For(c => c.Manager).Named(SchoolsStrings.Manager);
    col.For(c => c.ManagerPhone).Named(SchoolsStrings.ManagerPhone);
    col.For(c => c.ManagerEmail).Named(SchoolsStrings.ManagerEmail);
    col.For(c => c.IsActivatedString).Named(SchoolsStrings.IsActivated);
    col.For(c => c.GroupExternalID).Named(ReportsStrings.CsvGroupID);
    col.For(c => c.TripDepartureDate).Named(ReportsStrings.CsvDepartureDate).Format("{0:dd/MM/yyyy}");
    col.For(c => c.Region).Named(ReportsStrings.csvSchoolRegion);
    col.For(c => c.NumberOfPassengers).Named(ReportsStrings.CsvParticipantsCount);
    col.For(c => c.NumberOfBuses).Named(ReportsStrings.CsvNumberOfBuses);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "StudentsInExpeditionReport").Empty(CommonStrings.Empty)

@section scripts
{
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")

}