﻿@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Reports.StudentsInExpeditionViewReport
@using MvcContrib.UI.Grid

@{
    ViewBag.Title = "FlightsReport";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@ReportsStrings.StudentInExpeditionReport</h2>
@using (Html.BeginForm("GetStudentsInExpedition", "Reports", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-md-3 col-sm-6">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-3 col-sm-6">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
        </div>

        <div class="form-group col-md-3 col-sm-6">
            @Html.LabelFor(model => model.ParticipantID, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ParticipantID, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-3 col-sm-6">
            @Html.LabelFor(model => model.ParticipantName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ParticipantName, new { @class = "form-control" })
        </div>
        <div class="col-md-12">
            <input type="submit" value="@CommonStrings.Search" class="btn btn-default pull-left" />
        </div>
    </div>

}
<a href="@Url.Action("ExportStudentsInExpeditionReport")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>

@Html.Grid(Model.Items).Columns(col =>
{
    col.For(c => c.StudentFirstName).Named(ReportsStrings.csvStudentFirstName);
    col.For(c => c.StudentLastName).Named(ReportsStrings.csvStudentLastName);
    col.For(c => c.PassportNumber).Named(ReportsStrings.csvPassportID);
    col.For(c => c.ParticipantID).Named(ReportsStrings.csvParticipantID);
    col.For(c => c.ParticipantTypeEnum).Named(ReportsStrings.csvParticipantTypeType);
    col.For(c => c.GroupExternalID).Named(ReportsStrings.CsvGroupID);
    col.For(c => c.SchoolName).Named(ReportsStrings.CsvSchoolName);
    col.For(c => c.RegionEnum).Named(ReportsStrings.csvSchoolRegion);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "StudentsInExpeditionReport").Empty(CommonStrings.Empty)

@section scripts
{
    @Scripts.Render("~/bundles/datepicker");
}