﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Trips.TripViewModelBasic


@using (Html.BeginForm("AddTrip", "Trips", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-add-trip" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@TripsStrings.AddTripTitle</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-horizontal">


                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartureDate, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.DepartureDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
                            @Html.ValidationMessageFor(model => model.DepartureDate)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Destenation, new { @class = "control-label " })
                            @Html.EnumDropDownListFor(model => model.Destenation, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Destenation)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ReturnDate, new { @class = "control-label " })
                            @Html.TextBoxFor(model => model.ReturnDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                            @Html.ValidationMessageFor(model => model.ReturnDate)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ReturnedFrom, new { @class = "control-label " })
                            @Html.EnumDropDownListFor(model => model.ReturnedFrom, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReturnedFrom)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Comments, new { @class = "control-label " })
                            @Html.TextBoxFor(model => model.Comments, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Comments)
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/jquery.validate.filetypevalidation.js"></script>
<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
@*~/Scripts/pickadate/datepicker.ajaxload.init.js*@

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

}


