﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Trips.ExpeditionsViewModel

<div class="highlight">
    <div class="row">
        <h4>@ExpeditionStrings.ExpeditionDetails</h4>
        <div class="col-lg-6 col-sm-12">
            <div class="col-sm-6 bold">@ExpeditionStrings.ID:</div>
            <div class="col-sm-6">&nbsp;@Model.ID</div>

            <div class="col-sm-6 bold">@ExpeditionStrings.School:</div>
            <div class="col-sm-6">&nbsp;@Model.School.Name</div>

            <div class="col-sm-6 bold">@ExpeditionStrings.Status:</div>
            <div class="col-sm-6">&nbsp; @Model.Status.GetDescription()</div>

            <div class="col-sm-6 bold">@ExpeditionStrings.NumOfPassangersRequired:</div>
            <div class="col-sm-6" id="RequiredToSchedule">&nbsp;@Model.NumOfPassangersRequired</div>

            <div class="col-sm-6 bold">@ExpeditionStrings.BusesRequiredPerDay:</div>
            <div class="col-sm-6">&nbsp;@Model.BusesRequiredPerDay</div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="col-sm-6 bold">@ExpeditionStrings.ExpeditionManager:</div>
            <div class="col-sm-6">&nbsp;@Model.ExpeditionManager</div>

            <div class="col-sm-6 bold">@ExpeditionStrings.ExpeditionManagerPhone:</div>
            <div class="col-sm-6">&nbsp;@Model.ExpeditionManagerPhone</div>

            <div class="col-sm-6 bold">@ExpeditionStrings.ExpeditionManagerCell:</div>
            <div class="col-sm-6">&nbsp;@Model.ExpeditionManagerCell</div>

            <div class="col-sm-6 bold">@ExpeditionStrings.ExpeditionManagerEmail:</div>
            <div class="col-sm-6">&nbsp;@Model.ExpeditionManagerEmail</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="col-sm-12 bold">@ExpeditionStrings.Comments:</div>
            <div class="col-sm-12">&nbsp;@Model.Comments</div>
        </div>

    </div>
</div>

