﻿@using FlightScheduling.Language
@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@using FlightScheduling.Web.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Trips.ExpeditionsViewModel>

<h4 class="header">
    <i class="fa fa-group fa-lg"></i>@ExpeditionStrings.ExpeditionManagement

    @* @(Ajax.LinkForBootstrapModal("LinkReturningFlights", "Trips", routeValues: new { TripID = Model.ID })
            .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left", id = "LinkReturningFlight", title = FlightsStrings.LinkFlight })
            .RawLabel(@<text>@FlightsStrings.LinkFlight</text>)
            .LoadingPanelID("TripLoadingPanelContainer")
            .ModalWindowContainerID("TripModalWindowContainer")
            .UseExsistingModalcontainer(true)
        )</h4>*@
</h4>

<div class="circle">
    @Html.Grid(Model).Columns(col =>
{
    col.For(c => c.ID).Named(ExpeditionStrings.ID);
    col.For(c => c.CreationDate).Named(CommonStrings.CreationDate).Format(AppConfig.FormatDateTimeGrid);
    col.For(c => c.NumOfPassangersRequired).Named(ExpeditionStrings.NumOfPassengers);
    col.For(c => c.RegisteredPassengers).Named(ExpeditionStrings.RegisteredPassengers);
    col.For(c => c.BusesRequiredPerDay).Named(ExpeditionStrings.BusesRequiredPerDay);
    col.For(c => c.School.InstituteID + " - " + c.School.Name).Named(ExpeditionStrings.School);
    col.For(c => c.ExpeditionManager).Named(ExpeditionStrings.ExpeditionManager);
    col.For(c => c.ExpeditionManagerPhone).Named(ExpeditionStrings.ExpeditionManagerPhone);
    col.For(c => @Html.GetAgentStatusTag(c.AgentStatus)).Named(ExpeditionStrings.AgentStatus).Encode(false);
    col.For(c => @Html.GetStatusTag(c.Status)).Named(ExpeditionStrings.Status).Encode(false);
    col.For(c => @Ajax.LinkForBootstrapModalNo("ManageExpedition", "Trips", Html.GetIcon(Icons.Edit, null).ToString(), new { @ExpeditionID = c.ID }, new { @class = "lable lable-default", id = "LinkReturningFlight", title = FlightsStrings.LinkFlight })).Named(ExpeditionStrings.Manage).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Manage));
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Add, GroupsStrings.GroupsCreation).ToString(), "CreateGroups", "Groups", new { ID = c.ID }, null)).Named(GroupsStrings.GroupsCreation).CellCondition(c => c.Status == FlightScheduling.DAL.eExpeditionStatus.Approved && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Manage));
    col.For(c => @Ajax.LinkForBootstrapModalNo("MoveOrder", "Trips", Html.GetIcon(Icons.Move, null).ToString(), new { OrderID = c.ID }, new { @class = "lable lable-default", id = "MoveOrder", title = GroupsStrings.MoveOrder })).Named(GroupsStrings.MoveOrder).CellCondition(c => c.Status == FlightScheduling.DAL.eExpeditionStatus.PendingApproval && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_Manage)).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)
</div>
