﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Trips.LinkFlightSelectionViewModel
<div class="modal-dialog modal-lg" style="width: 900px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>@FlightsStrings.Link 
                
                @if (Model.DepartureFlight)
                {
                    @FlightsStrings.DepartureFlights
                }
                else
                {
                    @FlightsStrings.ReturningFlights
                }

            </h4>
        </div>
        <div class="modal-body">
            @if (Model.DepartureFlight)
            {
                <p class="alert alert-info"><i class="fa fa-info"></i> @FlightsStrings.DepartureFlightsAlert</p>
            }
            else
            {
                <p class="alert alert-info"><i class="fa fa-info"></i> @FlightsStrings.ReturningFlightsAlert</p>
            }
            
            @Html.Grid(Model.FlightViewModels).Columns(col =>
                {
                    col.For(c => c.FlightNumber).Named(FlightsStrings.FlightNumber);
                    col.For(c => c.AirlineName).Named(FlightsStrings.AirlineName);
                    col.For(c => c.NumberOfPassengers).Named(FlightsStrings.NumberOfPassengers);
                    col.For(c => c.RemainingSeats).Named(FlightsStrings.RemainingSeats);
                    col.For(c => @Html.ActionLink(FlightsStrings.LinkFlight, "LinkFlight", "Trips", new { @ID = c.ID, @TripID = Model.TripID, @DepartureFlight = Model.DepartureFlight }, null)).Named(FlightsStrings.LinkFlight);
                }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "linkReturingFlights").Empty(CommonStrings.NoFlightsFound)

        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>

        </div>
    </div>
</div>
