﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Trips.ExpeditionFlightViewModel

@using (Html.BeginForm())
{
    //Adding hidden fields
    @Html.HiddenFor(m => m.ExpeditionID)
    @Html.HiddenFor(m => m.Expedition.ID)
    @Html.HiddenFor(m => m.Expedition.TripID)

    <div class="modal-dialog modal-lg" style="width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@ExpeditionStrings.ManageExpedition</h4>
            </div>
            <div class="modal-body">
                @*//Display Expedition Details*@
                @Html.Partial("_ExpeditionDetails", Model.Expedition)
                <div class="row" style="margin-bottom: 10px;">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Expedition.Status, new {@class = "control-label col-md-2"})
                        <div class="col-md-4">
                            @Html.EnumDropDownListFor(model => model.Expedition.Status, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Expedition.Status)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Expedition.NumOfPassangersRequired, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Expedition.NumOfPassangersRequired, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Expedition.BusesRequiredPerDay, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Expedition.BusesRequiredPerDay, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-md-12 .col-md-offset-6">@FlightsStrings.DepartureFlights</h4>
                </div>
                <table class="table table-hover table-responsive table-condensed" id="departureFlights">
                    <thead>
                        <tr>
                            <th>@FlightsStrings.FlightNumber</th>
                            <th>@FlightsStrings.AirlineName</th>
                            <th>@FlightsStrings.NumberOfPassengers</th>
                            <th>@FlightsStrings.RemainingSeats</th>
                            <th>@FlightsStrings.AssignPassengers</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.DepartureFLights.Count; i++)
                        {

                            <tr>
                                <td>@Model.DepartureFLights[i].FlightNumber</td>
                                <td>@Model.DepartureFLights[i].AirlineName</td>
                                <td>@Model.DepartureFLights[i].NumberOfPassengers</td>
                                <td>@Model.DepartureFLights[i].RemainingSeats</td>
                                <td>
                                    @{
                                        var disabled = Model.DepartureFLights[i].RemainingSeats < 1 && Model.DepartureFLights[i].AssignPassengers < 1 ? "disabled" : "";
                                    }
                                    <div class="form-group">
                                        <input type="hidden" name="@String.Format("DepartureFLights[{0}].ID", i)" value="@Model.DepartureFLights[i].ID" />
                                        <input type="text" name="@String.Format("DepartureFLights[{0}].AssignPassengers", i)" @disabled class="form-control" value="@Model.DepartureFLights[i].AssignPassengers" />
                                    </div>
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
                <h6 class="pull-left">@ExpeditionStrings.RemainToSchedule  <span id="DepartureFlightsTotal"></span><i id="DepartureFlightsTotalAlert" class="fa fa-warning" style="display: none; color: orange;"></i></h6>

                <h4>@FlightsStrings.ReturningFlights</h4>
                <table class="table table-hover table-responsive table-condensed" id="ReturnsFlights">
                    <thead>
                        <tr>
                            <th>@FlightsStrings.FlightNumber</th>
                            <th>@FlightsStrings.AirlineName</th>
                            <th>@FlightsStrings.NumberOfPassengers</th>
                            <th>@FlightsStrings.RemainingSeats</th>
                            <th>@FlightsStrings.AssignPassengers</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.ReturningFLights.Count; i++)
                        {
                            <tr>
                                <td>@Model.ReturningFLights[i].FlightNumber</td>
                                <td>@Model.ReturningFLights[i].AirlineName</td>
                                <td>@Model.ReturningFLights[i].NumberOfPassengers</td>
                                <td>@Model.ReturningFLights[i].RemainingSeats</td>
                                <td>
                                    <div class="form-group">
                                        <input type="hidden" name="@String.Format("ReturningFLights[{0}].ID", i)" value="@Model.ReturningFLights[i].ID" />
                                        @{
                                            var disabled = Model.ReturningFLights[i].RemainingSeats < 1 && Model.ReturningFLights[i].AssignPassengers < 1 ? "disabled" : "";
                                        }
                                        <input type="text" name="@String.Format("ReturningFLights[{0}].AssignPassengers", i)" class="form-control" @disabled value="@Model.ReturningFLights[i].AssignPassengers" />
                                    </div>
                                </td>
                            </tr>
                                            }
                    </tbody>
                </table>
                <h6 class="pull-left">@ExpeditionStrings.RemainToSchedule  <span id="ReturingFlightsTotal"></span><i id="returningFlightsTotalAlert" class="fa fa-warning" style="display: none; color: orange;"></i></h6>

            </div>
            <div class="modal-footer">
                @Html.ActionLink(ExpeditionStrings.ResetExpadition, "ResetExpadition", new { @ExpaditionID = @Model.ExpeditionID }, new { @class = "btn btn-danger pull-right" })
                <input type="submit" id="btnSubmit" value="@CommonStrings.SaveAndClose" class="btn btn-default" />
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>


            </div>
        </div>
    </div>
                                            }

<script type="text/javascript">

    $(function () {
        $("#departureFlights input[type=text]").change(function () {
            calculateDeparture();
        });

        $("#ReturnsFlights input[type=text]").change(function () {
            calculateReturning();
        });

        calculateDeparture();
        calculateReturning();

        function calculateDeparture() {
            var total = 0;
            $("#departureFlights input[type=text]").each(function (index) {


                console.log($(this).val());
                total = total + parseInt($(this).val());



            });

            total = parseInt($("#RequiredToSchedule").text()) - total;

            if (total < 0) {
                $("#DepartureFlightsTotalAlert").fadeIn();
            } else {
                $("#DepartureFlightsTotalAlert").fadeOut();
            }

            if (total < -20) {
                $("#btnSubmit").prop('disabled', true);
            } else {
                $("#btnSubmit").prop('disabled', false);
            }

            $("#DepartureFlightsTotal").text(total);
        }

        function calculateReturning() {
            var totalReturn = 0;
            $("#ReturnsFlights input[type=text]").each(function (index) {


                console.log($(this).val());
                totalReturn = totalReturn + parseInt($(this).val());


            });

            totalReturn = parseInt($("#RequiredToSchedule").text()) - totalReturn;

            if (totalReturn < 0) {
                $("#returningFlightsTotalAlert").fadeIn();
            } else {
                $("#returningFlightsTotalAlert").fadeOut();
            }

            if (totalReturn < -20) {
                $("#btnSubmit").prop('disabled', true);
            } else {
                $("#btnSubmit").prop('disabled', false);
            }

            $("#ReturingFlightsTotal").text(totalReturn);
        }
    });
</script>
