﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Trips.TripInComingFlightsViewModel

<h4 class="header"><i class="fa fa-plane fa-rotate-180 fa-lg"></i> @FlightsStrings.ReturningFlights 
    
    @(Ajax.LinkForBootstrapModal("LinkReturningFlights", "Trips", routeValues: new { TripID = Model.TripID })
                    .HtmlAttributes(new { @class = "btn btn-primary btn-sm pull-left", id = "LinkReturningFlight", title = FlightsStrings.LinkFlight })
                    .RawLabel(@<text>@FlightsStrings.LinkFlight</text>)
                    .LoadingPanelID("TripLoadingPanelContainer")
                    .ModalWindowContainerID("TripModalWindowContainer")
                    .UseExsistingModalcontainer(true)
                )</h4>

<div class="circle">
    @Html.Grid(Model.FlightViewModels).Columns(col =>
{
    col.For(c => c.FlightNumber).Named(FlightsStrings.FlightNumber);
    col.For(c => c.AirlineName).Named(FlightsStrings.AirlineName);
    col.For(c => c.NumberOfPassengers).Named(FlightsStrings.NumberOfPassengers);
    col.For(c => c.RemainingSeats).Named(FlightsStrings.RemainingSeats);
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Delete, null).ToString(), "DeleteLinkedFlight", "Trips", new { ID = c.ID, TripID = Model.TripID }, new { @class = "delete" })).Named(FlightsStrings.LinkFlight);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)
</div>