﻿@using Endilo.Helpers
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Trips.TripViewModelBasic

<h4 class="header"><i class="fa fa-newspaper-o"></i> @TripsStrings.TripDetails</h4>
<div class="circle">
    <div class="col-sm-12"><strong>@TripsStrings.ID:</strong> @Model.ID</div>
    <div class="col-sm-6"><strong>@TripsStrings.DepartureDate:</strong> @Model.DepartureDate.ToString("dd/MM/yyyy")</div>
    <div class="col-sm-6"><strong>@TripsStrings.Destenation:</strong> @Model.Destenation.GetDescription()</div>
    <div class="col-sm-6"><strong>@TripsStrings.ReturnDate:</strong> @Model.ReturnDate.ToString("dd/MM/yyyy")</div>
    <div class="col-sm-6"><strong>@TripsStrings.TakeOffField:</strong> @Model.ReturnedFrom.GetDescription()</div>
    <div class="col-sm-12"><strong>@TripsStrings.Comments:</strong> @Model.Comments</div>
</div>