﻿@using Endilo.Helpers
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Trips.TripSummaryDetailsViewModel

<h4 class="header"><i class="fa fa-info fa-lg"></i> @TripsStrings.TripSummary</h4>
<div class="circle">
    <div class="custom-box">
        <i class="fa fa-plane fa-5x"></i>
        <h4>@Model.NumberOfOutGoingFlights יוצאות</h4>
    </div>
    
    <div class="custom-box">
        <i class="fa fa-plane fa-5x fa-rotate-180"></i>
        <h4>@Model.NumberOfInComingFlights חוזרות</h4>
    </div>
    
    <div class="custom-box">
        <i class="fa fa-group fa-5x "></i>
        <h4>@Model.NumOfExpeditions משלחות</h4>
    </div>
    
    <div class="custom-box">
        <i class="fa fa-bus fa-5x "></i>
        <h4>@Model.NumOfBuses אוטובוסים</h4>
    </div>
</div>