﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Trips.TripViewModelBasic

@{
    ViewBag.Title = TripsStrings.AddTripTitle;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@TripsStrings.AddTripTitle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">


            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.DepartureDate, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.DepartureDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value= @DateTime.Now })
                    @Html.ValidationMessageFor(model => model.DepartureDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Destenation, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.Destenation, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Destenation)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReturnDate, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ReturnDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.ReturnDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReturnedFrom, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.ReturnedFrom, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReturnedFrom)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Comments, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Comments)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@CommonStrings.Add" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

}


