﻿@using Endilo.Helpers
@using FlightScheduling.Language
@using MvcContrib.UI.Grid
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Trips.TripsViewModel

@{
    ViewBag.Title = TripsStrings.TripsManagement;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@TripsStrings.TripsManagement</h2>

@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Trip_Edit))
{
    <div class="btn-group pull-left">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CommonStrings.Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">

            <li>
                @(Ajax.LinkForBootstrapModal("UploadImportTrips", "Trips", routeValues: new { })
                                                      .HtmlAttributes(new { id = "TripImport", title = TripsStrings.ImportTrips })
                                                      .RawLabel(@<text>@TripsStrings.ImportTrips</text>)
                                          .LoadingPanelID("TripModalWindowContainer")
                                          .ModalWindowContainerID("TripLoadingPanelContainer")
                                          .UseExsistingModalcontainer(false)
                )
            </li>
            <li>
                @(Ajax.LinkForBootstrapModal("AddTrip", "Trips", routeValues: new { })
                                              .HtmlAttributes(new { id = "TripsAddTrip", title = TripsStrings.AddTripTitle })
                                              .RawLabel(@<text>@TripsStrings.AddTripTitle</text>)
                              .LoadingPanelID("FlightModalWindowContainer")
                              .ModalWindowContainerID("FlightLoadingPanelContainer")
                              .UseExsistingModalcontainer(false)
                )
            </li>
        </ul>
    </div>
}

    @using (Html.BeginForm("GetTrips", "Trips", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.FilterFromDate, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.FilterFromDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilterToDate, new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.FilterToDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
            </div>

            <div class="col-md-2">
                <input type="submit" value="@CommonStrings.Send" class="btn btn-default" />
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
    }

    @Html.Grid(Model.TripViewModelBasics).Columns(col =>
    {
        col.For(c => @Html.ActionLink(c.ID.ToString(), "TripManagement", new { @ID = c.ID })).Named(TripsStrings.ID);
        col.For(c => c.DepartureDate).Named(TripsStrings.DepartureDate).Format("{0:dd/MM/yyyy}");
        col.For(c => c.ReturnDate).Named(TripsStrings.ReturnDate).Format("{0:dd/MM/yyyy}");
        col.For(c => c.Destenation.GetDescription()).Named(TripsStrings.Destenation);
        col.For(c => c.ReturnedFrom.GetDescription()).Named(TripsStrings.TakeOffField);
        col.For(c => c.NumberOfExpeditions).Named(TripsStrings.NumberOfExpeditions).Attributes(x =>
        {
            if (x.Item.NumberOfExpeditions > 0)
            {
                return new Dictionary<string, object> { { "class", "standout" } };
            }
            return new Dictionary<string, object>();
        });
        col.For(c => @Html.ActionLink(CommonStrings.Manage, "TripManagement", new { @ID = c.ID }, new { @class = "btn btn-primary btn-xs" })).Named(CommonStrings.Manage);
        col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "EditTrip", "Trips", new { ID = c.ID }, null)).Named(CommonStrings.Edit).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Trip_Delete));
        col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteTrip", "Trips", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Trip_Delete));
    }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "tripsManagement").Empty(CommonStrings.Empty)

    <div id="DeleteModalWindowContainer" class="modal fade"></div>
    <div id="DeleteLoadingPanelContainer" class="modal-loading-panel" style="display: none"></div>

    <div id="TripModalWindowContainer" class="modal fade"></div>
    <div id="TripLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

    @section scripts
{

        @Scripts.Render("~/bundles/datepicker");


    }