﻿@model FlightScheduling.Web.Areas.Administration.Models.Trips.TripManagementViewModel

@{
    ViewBag.Title = "TripManagement";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/bundles/css/chosen")
}
<div class="innerTripDetails">
    <div class="row section">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- Trip Details -->
            @Html.Partial("_TripDetails", Model.TripViewModelBasic)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- Trip Summary -->
            @Html.Partial("_TripSummary", Model.TripSummaryDetailsViewModel)
        </div>
    </div>
    <div class="row section">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- Departure Flights -->
            @Html.Partial("_DepartureFlights", Model.TripOutGoingFlightsViewModel)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- Returning Flighs -->
            @Html.Partial("_ReturningFlights", Model.TripInComingFlightsViewModel)
        </div>
    </div>
    <div class="row section">
        <div class="col-lg-12">
            @Html.Partial("_Expeditions", Model.Expeditions)
        </div>
    </div>
</div>

<div id="TripModalWindowContainer" class="modal fade"></div>
<div id="TripLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>

@section scripts
{

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/chosen")

}