﻿
.form-menu {
    background-color: #F6F6F6;
    height: 800px;
    overflow: auto;
}

.form-menu-title {
    font-weight: bold;
    font-size: 20px;
}

.form-menu-step {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.from-menu-step-active {
    border-bottom: 2px dashed #f0ad4e;
    font-weight: bold;
}

.step-number {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: lightblue;
    display: inline-block;
    color: #FFF;
}

.step-number-text {
    display: inline-block;
    margin-right: 5px;
}

.step-number-status {
    display: inline;
    float: left;
}

.section-header {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}



.form-text-help {
    font-size: 13px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.instructor-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.instructor-details {
    margin-bottom: 5px;
}

.display-block {
    width: 250px;
    display: inline-block;
}

.seperator {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    margin-top: 10px;
    margin-bottom: 10px;
}


.instructor-picture {
    float: right;
    margin-left: 20px;
}

.instructor-image {
    width: 70px;
}

.instructor-comments {
    min-height: 20px;
}

.note-red {
    display: inline;
    color: red;
}

.blue {
    background-color: #428bca;
}

.orange {
    background-color: #ec971f;
}

.red {
    background-color: #d43f3a;
}

.green {
    background-color: #5cb85c
}

.form-box {
    /*border-left: 1px solid #E5E5E5;*/
    margin-top: 30px;
    /*border-top: 1px solid #E5E5E5;*/
}

.form-box .form-header {
    font-weight: bold;
    font-size: 16px;
}

.form-box .form-additional-info {
    font-size: 12px;
    color: gray;
}

.form-box .form-step-header {
    font-weight: bold;
    margin-top: 5px;
}


.margin-buttom-30px {
    margin-bottom: 30px;
}
