﻿html, body {
    height: 100%;
}

body {
    background-color: #FCFAFC;
    color: #5A5A5A;
    padding: 0;
    padding-bottom: 40px;
}

.noPadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.modal-loading-panel {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: #000 url('/Content/images/loading.gif') 50% 50% no-repeat;
}

.modal-loading-panel {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: #000 url('/Content/images/loading.gif') 50% 50% no-repeat;
}

.box-border {
    border: 1px solid #E5E5E5;
}

.required-field {
    font-size: 18px;
    color: red;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    padding: 3px;
}

.gray-background {
    background-color: #f5f5f5;
    padding: 5px;
    margin-bottom: 10px;
}

.form-valid-error {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    display: none;
}

.top-buffer {
    margin-top: 20px;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}

.load-more-data {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

    .load-more-data:hover {
        background-color: #e5e5e5;
    }

.LoadingAnimation {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 35px;
    display: none;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

.inline-cetered-container {
    text-align: center;
}

.centered-block {
    display: block;
    margin: 0 auto;
}

.seperator {
    margin: 0 .5em;
}

/*Custom edits for including dropdown buttons within a btn-group*/
.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0;
    border-left: none;
}

.btn-group-lg > .btn + .dropdown-toggle {
    padding-left: 16px;
    padding-right: 16px;
}

.field-validation-error {
    color: red;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.glyphicon.glyphicon-lg {
    font-size: 24px;
}

a.glyphicon {
    text-decoration: none !important;
    color: #333333 !important;
}

div#orderContentRow:nth-child(2) {
    background-color: #F1F1F1;
}

.message-main {
    border-bottom: 1px dashed #E5E5E5;
    margin-bottom: 5px;
}

    .message-main .message-subject {
        min-height: 30px;
        font-weight: bold;
        cursor: pointer;
        padding-bottom: 5px;
    }

.massage-main .message-date {
    font-weight: 85%;
}

.message-body {
    padding-right: 30px;
}

div#InstiduteDetails {
    padding: 10px;
}

#header {
    position: inherit;
    padding: 0px 0 8px;
    background: none repeat scroll 0 0 #003462;
}

    #header a:link {
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        font-family: 'Alef-Bold';
    }

    #header a:visited {
        color: #ffffff;
    }

    #header a:active {
        text-decoration: underline;
    }

    #header ul.nav-pills > li.active > a {
        text-decoration: underline;
        background-color: transparent;
    }

    #header ul.nav-pills > li > a:hover {
        text-decoration: underline;
        background-color: transparent;
    }

.logosWrapper {
    /*margin-top: -45px;*/
}

.topLogos {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 20px 8% 0 8%;
}

    .topLogos:nth-last-child(1) {
        margin-left: 11%;
        margin-right: 11%;
    }

    .topLogos:nth-last-child(3) {
        margin-right: 18%;
    }

#IsraelLogo {
    background-image: url('../images/Israel.png');
    background-repeat: no-repeat;
}

#polinLogo {
    background-image: url('../images/Polin.png');
    background-repeat: no-repeat;
}

#MpolinLogo {
    background-image: url('../images/MPolinLogo.png');
    background-repeat: no-repeat;
}

.gray-header {
    min-height: 70px;
    border-top: 4px solid #006AB4;
}

.Account {
    width: 200px;
    height: 51px;
    padding-left: 5px;
    padding-top: 33px;
}

.top-header-position {
    padding-left: 0px;
    padding-top: 31px;
}

#SystemTitle {
    font-size: 50px;
    color: #006AB4;
    padding-top: 40px;
    padding-bottom: 30px;
}

.header {
    background-color: transparent;
    color: #006ab3;
    margin-bottom: 20px;
}

    .header i {
        padding-right: 5px;
    }

.circle {
    border: 1px solid #EEEEEE;
    margin-top: -13px;
    min-height: 150px;
}

.box-gray {
    border: 1px solid #EEEEEE;
    margin-top: -13px;
    min-height: 150px;
    background-color: #F5F5F5;
    padding-top: 15px;
    border-radius: 5px;
}

.custom-box {
    width: 100px;
    background-color: #EEEEEE;
    margin: 3px;
    min-width: 100px;
    height: 142px;
    float: right;
}

    .custom-box i {
        margin-right: 25px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .custom-box h4 {
        width: 100px;
        text-align: center;
    }


.section {
    margin-bottom: 5px;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.footer {
    margin: 40px 0;
    height: 100px;
}

.yellow {
    color: #EEC545;
}

.main {
    /*min-height: 650px;*/
    height: inherit;
    /*bottom: 0;
    position: relative;*/
}

.login hr {
    border-top: 1px #dedede solid !important;
    width: 35%;
}


.form-signin .form-signin-heading {
    color: #666 !important;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

.form-signin {
    padding: 19px 29px 29px;
    margin: 0 auto 20px 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
}

    .form-signin .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin input[type="text"], .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
        background: #fff;
        border: 1px #ccc solid;
    }

    .form-signin input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }

.form-control {
    -webkit-transition: none;
    transition: none;
}

.input-lg ::-webkit-input-placeholder {
    color: #fff;
}

.input-lg :-moz-placeholder {
    color: #fff;
}

.input-lg ::-moz-placeholder {
    color: #fff;
}

.input-lg :-ms-input-placeholder {
    color: #fff;
}


.loginBox {
    margin-right: 30%;
}

#RememberMe {
    cursor: pointer;
}

.signInBtn {
    display: table;
    margin: 30px auto;
    padding: 6px 20px;
    font-size: 16px;
}

.logosWrapper {
    /*margin-top: -45px;*/
}

.adminPage {
    min-height: 100%;
}

    .adminPage .topLogos {
        background-size: 100%;
        width: 50px;
        display: inline-block;
        margin: 20px 0;
        float: right;
    }

        .adminPage .topLogos:nth-last-child(1) {
            margin-left: 0;
            margin-right: 0;
        }

        .adminPage .topLogos:nth-last-child(3) {
            margin-left: 2%;
            margin-right: 2%;
        }

        .adminPage .topLogos:nth-last-child(2) {
            margin-left: 0;
            margin-right: 0;
        }

    .adminPage #SystemTitle {
        font-size: 24px;
        display: inline-block;
        padding: 42px 40px 0 0;
        float: right;
    }

    .adminPage .gray-header {
        padding: 2px 10% 0 10%;
    }

    .adminPage hr {
        width: 100%;
    }

    .adminPage .mainWrapper {
        /*padding-top: 20px;*/
    }

.innerTripDetails .header {
    background-color: transparent;
    color: #006ab3;
    margin-bottom: 20px;
}

.innerTripDetails .circle {
    border: 0;
}

.innerTripDetails .fa {
    width: 25px;
    height: 30px;
    position: relative;
    top: 6px;
}

    .innerTripDetails .fa.fa-plane {
        background: url('/Content/images/img01.jpg') no-repeat center;
    }

        .innerTripDetails .fa.fa-plane:before {
            content: "";
        }

    .innerTripDetails .fa.fa-info {
        background: url('/Content/images/img03.jpg') no-repeat center;
    }

        .innerTripDetails .fa.fa-info:before {
            content: "";
        }

    .innerTripDetails .fa.fa-newspaper-o {
        background: url('/Content/images/img04.jpg') no-repeat center;
    }

        .innerTripDetails .fa.fa-newspaper-o:before {
            content: "";
        }

    .innerTripDetails .fa.fa-group.fa-lg {
        top: 0;
        margin-left: 20px;
    }

.innerTripDetails .fa-5x {
    width: 80px;
    height: 80px;
}

.innerTripDetails .fa.fa-plane.fa-5x {
    background: url('/Content/images/img05.jpg') no-repeat center;
}

    .innerTripDetails .fa.fa-plane.fa-5x:before {
        content: "";
    }

.innerTripDetails .fa.fa-group.fa-5x {
    background: url('/Content/images/img06.jpg') no-repeat center;
}

    .innerTripDetails .fa.fa-group.fa-5x:before {
        content: "";
    }

.innerTripDetails .fa.fa-bus.fa-5x {
    background: url('/Content/images/img07.jpg') no-repeat center;
}

    .innerTripDetails .fa.fa-bus.fa-5x:before {
        content: "";
    }

.innerTripDetails .custom-box {
    background-color: transparent;
    border-left: 1px #dadcdd solid;
    margin-left: 20px;
    height: 120px;
}

.custom-box:last-of-type {
    border: 0;
}

.innerTripDetails .custom-box i {
    margin-right: 0;
    margin-top: 0;
}

.innerTripDetails .custom-box h4 {
    margin-right: -11px;
}

.standout {
    background-image: url("../img/error.png");
    background-position-x: 65px;
    background-position-y: 7px;
    background-repeat: no-repeat;
}

.largeTextarea {
    height: 150px !important;
}

.message-board-header {
    margin-top: 42px;
    color: #666;
    font-weight: bold;
    margin-bottom: 16px;
}

.message-board-item {
    border: none;
    border-bottom: 1px solid #f5f5f5;
}

.message-date {
    font-size: 12px;
    color: #5A5A5A;
    float: left;
}

.small_textbox {
    width: 150px;
}

.bottom-padding-2x {
    padding-bottom: 2px;
}

.bottom-margin-5x {
    margin-bottom: 5px;
}

.bottom-margin-25x {
    margin-bottom: 25px;
}

.padding-right-5px {
    padding-right: 5px;
    padding-left: 5px;
}

.padding-right-15px {
    padding-right: 15px;
}

.strong {
    font-weight: 500;
}

.bottom-border-gray {
    border-bottom: 1px solid #E5E5E5;
}

.inline-header {
    line-height: 25px;
    border-bottom: 1px solid #E5E5E5;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-top--20px {
    margin-top: -20px;
}

.margin-top--5px {
    margin-top: -5px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.datepicker {
    cursor: pointer !important;
}

.display-inline {
    display: inline-block;
    margin-bottom: 10px;
}

.Red {
    color: Red;
    font-weight: bold;
}

.Green {
    color: Green;
}

.black {
    color: #000000;
}

.white {
    color: #cccccc;
}

.fullwidth {
    width: 100%;
}

.LightYellow {
    background-color: #fcf8e3;
}

.small-font-size {
    font-size: 0.9em;
}

.profile-picture {
    width: 160px;
    height: 160px;
}

.light-gray {
    color: #E5E5E5;
}

.green {
    color: green;
}

.alert-info {
    color: #5A5A5A;
    font-weight: bold;
}

.alert-danger {
    color: #5A5A5A;
    font-weight: bold;
}

.fa-10x {
    font-size: 10em;
}

.dailyDashboard-header {
    margin-bottom: 50px;
}

.line-seperator {
    background-color: #E5E5E5;
    height: 2px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dailydashbaord-groups-row {
    max-width: 1200px;
    margin: auto;
}

.table-bigger-fonts {
    font-size: 22px;
}

.dailydashboard-category {
    color: #006AB4;
}

.dailydashboard-category-header {
    font-weight: 800;
}

.group-seperator {
    background-color: #E5E5E5;
    height: 1px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.group-header {
    font-weight: 800;
}

.card {
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.trip {
    height: 56px;
    width: 800px;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
}

.trip-avilability-indicator {
    height: 56px;
    width: 8px;
    display: inline-block;
    position: relative;
    top: -2px;
}

.trip-red {
    background-color: #B20000;
}

.trip-orange {
    background-color: #DF8600;
}

.trip-green {
    background-color: #008600;
}

.trip-month {
    height: 45px;
    width: 45px;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -10px;
    margin-right: 10px;
}

.trip-day {
    height: 45px;
    width: 45px;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -10px;
    margin-right: 10px;
}

.trip-title-row {
    width: 250px;
    height: 45px;
    display: inline-block;
    position: relative;
    top: -18px;
    margin-right: 8px;
}

.trip-title {
    color: #5A5A5A;
    font-weight: bold;
}

.trip-duration {
    position: relative;
    top: 7px;
}

.trip-buses {
    width: 140px;
    padding: 2px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -4px;
}

.trip-numberofBuses {
    font-size: 28px;
    font-weight: bold;
}

.trip-buses-title {
    position: relative;
    top: -7px;
}

.trip-passengers {
    width: 140px;
    padding: 2px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -4px;
}

.trip-numberofpassengers {
    font-size: 28px;
    font-weight: bold;
}

.trip-passengers-title {
    position: relative;
    top: -7px;
}

.trip-order-trip {
    width: 110px;
    padding: 2px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: -26px;
}

.light-grey-background {
    background-color: #F3F3F3;
}

.legend-title {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
}

.legend-indication {
    height: 25px;
    width: auto;
    margin-bottom: 10px;
}

.legend-color-indication {
    height: 25px;
    width: 8px;
    display: inline-block;
}

.legend-color-title {
    display: inline-block;
    height: 25px;
    position: relative;
    top: -7px;
    margin-right: 5px;
}

.trip-day-group {
    color: #006AB4;
    font-weight: 600;
}

.custom-properties-panel {
    margin-top: 10px;
    border-right: 1px solid #E5E5E5;
    margin-right: 2px;
    padding-right: 10px;
    top: 10px;
    position: relative;
}

.custom-property {
    padding: 4px 4px;
    color: #c7254e;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
}

    .custom-property:hover {
        background-color: #f9f2f4;
    }


/* AUTO COMPLETE CSS */
.ac_instructor_picture {
    display: inline-block !important;
    width: 10%;
    height: 40px;
}

.ac_instructor_picture {
    position: relative;
    top: -10px;
}

    .ac_instructor_picture img {
        width: 40px;
        height: 40px;
    }

.ac_instructorValidity {
    display: inline;
    margin-right: 10px;
}

.ac_instructorID {
    display: inline;
}


.ac_instructor_row {
    display: inline-block !important;
    width: 90%;
}

.ac_instrctor_name {
    font-weight: bold !important;
}

.margin-right-10px {
    margin-right: 10px;
}

.manager-data-box {
    background-color: #F6F6F6;
    padding: 10px;
    border: 1px solid #E5E5E5;
}

.profile-picture-big {
    width: 80px;
}

.form-status {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.file-download {
    background-color: #F6F6F6;
    padding: 10px;
    border: 1px solid #E5E5E5;
    margin-top: 5px;
}

.form-comments {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment-section {
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 10px;
}

.comment-username {
    font-weight: bold;
}

.comment-date {
    font-size: 12px;
    color: gray;
}

.comment-text {
    white-space: pre-line;
}

.comment-delete {
    display: initial;
    float: left;
}

.comment-seperator {
    float: left;
}


.ui-autocomplete {
    z-index: 999999 !important;
}

.fixed-width {
    width: 100px;
}

.label-new {
    background-color: #E5E5E5;
    color: #006AB4;
}

.avatar {
    border: none;
    vertical-align: top;
    height: 38px;
    width: 38px;
    display: inline-block;
    background-color: #457B9D;
    border-radius: 30px;
    padding-top: 8px;
    padding-right: 7px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 2px;
}

.username {
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.user-role {
    display: block;
    position: relative;
    top: -17px;
    right: 47px;
    font-size: 11px;
}

.notifications {
    width: 38px;
    font-size: 35px;
    color: #CFDBD5;
    cursor: pointer;
}

.notification-number {
    font-size: 14px;
    position: relative;
    left: 4px;
    top: -43px;
    color: #FFF;
    font-family: arial;
    font-weight: bold;
    display: inline-block;
    background-color: #F72C25;
    border-radius: 10px;
    padding: 3px;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
}

.white-popup {
    position: absolute;
    z-index: 200;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    top: 92px;
    left: 19px;
    padding: 25px;
}

.notification-popup {
    width: 470px;
    padding-bottom: 16px;
    color: #4a4a4a;
}

    .notification-popup .title {
        font-size: 18px;
        margin: 0;
        font-weight: bold;
    }

    .notification-popup .seperator {
        margin: 0 .0em;
        margin-top: 5px;
    }

    .notification-popup .group {
        border-bottom: 1px solid #eeeeee;
        color: darkgray;
        font-size: 12px;
        padding: 2px;
        margin-bottom: 5px;
        background-color: #f5f5f5;
    }

    .notification-popup .notification-alert {
        border-bottom: 1px solid #eeeeee;
        padding: 2px;
        margin-top: 5px;
    }

        .notification-popup .notification-alert:hover {
            background-color: #F2F5F5;
        }


        .notification-popup .notification-alert .title {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 2px;
        }

        .notification-popup .notification-alert .message {
            font-size: 14px;
            margin-bottom: 2px;
        }

        .notification-popup .notification-alert .link {
            text-align: left;
            margin-bottom: 5px;
        }

        .notification-popup .notification-alert .creationDate {
            font-size: 11px;
            color: #A2A39F;
            margin-bottom: 5px;
        }



.white-popup-arrow:before {
    margin-top: -6px;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    top: 0;
    margin-left: -7px;
    border-width: 0 7px 6px;
    border-style: solid;
    border-bottom-color: rgba(0,0,0,.05);
}

.white-popup-arrow:after {
    top: 0;
    margin-top: -5px;
    margin-left: -7px;
    border-width: 0 7px 6px;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #fff;
}

.top-arrow-notification:after, .top-arrow-notification:before {
    left: 338px;
}

.spinner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.mark-read {
    display: inline-block;
    float: right;
    font-size: 12px;
}

.user-profile-picture-small {
    max-height: 25px;
    max-width: 25px;
}

.form-checkbox {
    width: 22px;
    display: inline-block;
    margin-left: 10px !important;
    top: -3px;
    position: relative;
}

.checkbox-form {
    padding-top: 21px;
}

.btn-default {
    background-color: #E5E5E5;
}

.filters-header {
    color: lightgrey;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

    .filters-header::after {
        content: '';
        position: relative;
        left: -10px;
        top: 14px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #E5E5E5;
        clear: both;
    }

.search-button-padding {
    padding-top: 25px;
}

.blue-header {
    color: #006AB4;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* STYLING FOR ACTIVITY IN FORM 60 */
.activity-row {
    border-bottom: 1px solid #E5E5E5;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .activity-row:hover {
        background-color: #E5E5E5;
    }

.activity-icon {
    display: inline-block;
    font-size: 29px;
    color: #C1E0F7;
    min-height: 45px;
    min-width: 55px;
}

.activity-hours {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
    min-height: 45px;
}

.activity-content {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.activity-name {
    font-weight: bold;
}

.acticity-loaction-text {
    color: lightgrey;
}

.activity-action {
    padding-top: 15px;
    padding-left: 10px;
}

.remark {
    margin-top: 10px;
    border-bottom: 1px solid #E5E5E5;
}

.remark-writer {
    font-size: 0.9em;
    font-weight: bold;
}

.remark-date {
    font-size: 0.9em;
    color: darkgray;
    direction: ltr;
}

.remark-note {
    padding-top: 25px;
    padding-bottom: 10px;
}

.remark-actions {
    text-align: left;
    font-size: 0.9em;
    color: #428bca;
    margin-bottom: 5px;
}

.remark-action {
    display: inline-block;
    margin-left: 5px;
}

.file-container {
    margin-top: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .file-container .file-header {
        font-weight: bold;
    }

    .file-container .date {
        font-size: 0.9em;
        color: darkgray;
        direction: ltr;
    }

    .file-container .file-status {
        font-size: 0.9em;
        margin-right: 5px;
    }

    .file-container .manager-approval {
        font-size: 0.9em;
        color: darkgray;
        text-align: left;
    }

    .file-container .file-comments-title {
        /*font-size: 0.9em;*/
        font-weight: bold;
        margin-top: 5px;
    }

    .file-container .file-writer {
        font-weight: bold;
        color: darkgray;
    }

    .file-container .file-comment {
        padding-right: 15px;
        margin-top: 10px;
        /*font-size: 0.9em;*/
    }

    .file-container .file-actions {
        text-align: left;
        font-size: 0.9em;
        color: #428bca;
        margin-bottom: 5px;
        margin-top: 10px;
    }

/* GROUPS DETAILS NEW LOOK*/
.groups-container {
    height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
}

    .groups-container:hover {
        background-color: #F2F2F2;
    }

    .groups-container .groups-number {
        color: #dddddd;
        height: 100%;
        float: right;
        width: 70px;
        vertical-align: middle;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
    }

        .groups-container .groups-number a {
            cursor: pointer;
            color: #dddddd;
            text-decoration: none;
        }


    .groups-container .groups-details {
        width: 160px;
        height: 100%;
        float: right;
    }

        .groups-container .groups-details a {
            cursor: pointer;
            color: #5A5A5A;
            text-decoration: none;
        }

    .groups-container .groups-details-school {
        line-height: 17px;
        padding-top: 8px;
    }

    .groups-container .groups-details-institute {
        line-height: 25px;
    }

    .groups-container .groups-trip-details {
        width: 100px;
        height: 100%;
        float: right;
    }

        .groups-container .groups-trip-details a {
            cursor: pointer;
            color: #5A5A5A;
            text-decoration: none;
        }

        .groups-container .groups-trip-details .groups-trip-date-title {
            font-size: 8px;
            color: #797979;
            line-height: 8px;
        }

        .groups-container .groups-trip-details .groups-trip-date {
            line-height: 17px;
        }

        .groups-container .groups-trip-details .groups-trip-destination {
            line-height: 25px;
        }

    .groups-container .groups-buses {
        width: 30px;
        height: 100%;
        float: right;
    }

        .groups-container .groups-buses .groups-buses-number {
            line-height: 25px;
            text-align: center;
            font-weight: bold;
        }

        .groups-container .groups-buses .groups-buses-icon {
            line-height: 25px;
            color: #AAAAAA;
            text-align: center;
        }

    .groups-container .groups-participants {
        width: 30px;
        height: 100%;
        float: right;
    }

        .groups-container .groups-participants a {
            cursor: pointer;
            color: #5A5A5A;
            text-decoration: none;
        }

        .groups-container .groups-participants .groups-participants-number {
            line-height: 25px;
            text-align: center;
            font-weight: bold;
        }

        .groups-container .groups-participants .groups-participants-icon {
            line-height: 25px;
            color: #AAAAAA;
            text-align: center;
        }

    .groups-container .groups-form180 {
        width: 70px;
        height: 100%;
        float: right;
        margin-left: 20px;
    }

        .groups-container .groups-form180 a {
            cursor: pointer;
            color: #5A5A5A;
            text-decoration: none;
        }

        .groups-container .groups-form180 .groups-form180-number {
            line-height: 25px;
            text-align: center;
            font-weight: bold;
        }

        .groups-container .groups-form180 .groups-form180-title {
            line-height: 25px;
            text-align: center;
            color: #AAAAAA;
        }

    .groups-container .groups-status {
        width: 80px;
        height: 100%;
        float: right;
        margin-right: 5px;
    }

        .groups-container .groups-status a {
            cursor: pointer;
            color: #5A5A5A;
            text-decoration: none;
        }

        .groups-container .groups-status .groups-status-title {
            line-height: 25px;
            text-align: center;
            color: #AAAAAA;
        }

        .groups-container .groups-status .groups-status-indication {
            text-align: center;
        }

    .groups-container .groups-status-60 {
        width: 120px;
        height: 100%;
        float: right;
        margin-right: 5px;
    }

        .groups-container .groups-status-60 a {
            cursor: pointer;
            color: #5A5A5A;
            text-decoration: none;
        }

        .groups-container .groups-status-60 .groups-status-title {
            line-height: 20px;
            text-align: center;
            color: #AAAAAA;
            font-size: 12px;
        }

        .groups-container .groups-status-60 .groups-status-indication {
            text-align: center;
            line-height: 20px;
        }

    .groups-container .groups-status-date {
        width: 50px;
        height: 100%;
        float: right;
        color: #5A5A5A;
        font-size: 0.8em;
        text-align: right;
        vertical-align: unset;
        line-height: 50px;
        position: relative;
        top: 12px;
        margin-left: 10px;
        margin-right: -10px;
    }

    .groups-container .groups-final-status {
        width: 50px;
        height: 100%;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
    }

        .groups-container .groups-final-status .groups-final-status-title {
            font-size: 8px;
            color: #797979;
            text-align: center;
            line-height: 15px;
        }

        .groups-container .groups-final-status .groups-final-status-indication {
            text-align: center;
            font-size: 25px;
            vertical-align: middle;
            line-height: 35px;
        }

    .groups-container .groups-actions {
        width: auto;
        height: 100%;
        line-height: 50px;
        vertical-align: middle;
        float: left;
    }

        .groups-container .groups-actions a {
            margin-left: 8px;
        }

        .groups-container .groups-form-60-date {
        width: 50px;
        height: 100%;
        float: right;
        margin-right: 5px;
    }

    .groups-container .groups-status-60 .groups-status-indication .groups-form60-icon {
        display: inline;
        padding-left: 5px;
        font-size: 20px;
    }


    .groups-container .groups-form-60-date .group-form-60-date-title {
        font-size: 8px;
        color: #797979;
        line-height: 8px;
        margin-right: -10px;
        position: relative;
        top: 15px;
    }

    .groups-container .groups-form-60-date .group-form-60-date-status {
        color: #5A5A5A;
        font-size: 0.8em;
        line-height: 50px;
        margin-right: -10px;
    }


.label-light-yellow {
    background-color: #FFFF9D;
    color: #000000;
}

.lable-purpule {
    background-color: #9b59b6;
}

.lable-dark-pink {
    background-color: #9A5C83;
}

.lable-dark-blue {
    background-color: #374E5B;
}

.icon-gray {
    color: #E5E5E5;
}

.icon-blue {
    color: #428bca;
}

.icon-orange {
    color: #ec971f;
}

.icon-red {
    color: #d43f3a;
}

.icon-green {
    color: #5cb85c
}


.report {
    width: 100%;
    max-width: 100%;
}

.report-iframe {
    border: 0 !important;
    width: 100% !important;
}

.profile-picture {
    width: 30px;
    height: 30px;
}

/* Instructor Row in the Group Folder*/
.instructor-row {
    width: auto;
    min-height: 50px;
    margin-top: 15px;
    cursor: pointer;
}

    .instructor-row:hover {
        background-color: #F2F2F2;
    }

.instructor-picture {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 5px;
}

.instructor-data {
    height: 40px;
    float: right;
    margin-left: 5px;
    width: 200px;
}

.instructor-details {
    line-height: 25px;
}

.instructor-picture img {
    width: 40px;
    height: 40px;
}

.instructor-name {
    line-height: 20px;
}

.additional-data {
    height: 50px;
    float: right;
    border-right: 1px solid #E5E5E5;
    padding-right: 5px;
    margin-left: 15px;
}

.instructor-role {
    line-height: 25px;
}

.school-data {
    line-height: 25px;
}

.instructor-validity {
    text-align: left;
    display: inline-block;
    float: left;
}

.instructor-row .actions {
    height: 50px;
    float: left;
    line-height: 50px;
    width: 25px;
}


.dark-gray {
    color: darkgray;
}

.instructor-row .instructor-indication {
    float: right;
}

    .instructor-row .instructor-indication .icon-indication {
        line-height: 25px;
        font-size: 20px;
        text-align: center;
        color: lightgray;
    }

    .instructor-row .instructor-indication .role-name {
        font-size: 11px;
    }

.promotion:link {
    text-decoration: none;
    color: none;
}

.modal-90 {
    width: 90%;
}

.instructions-frame {
    width: 100%;
    height: 100%;
    min-height: 500px;
    margin: 0;
    padding: 0;
    border: none;
}

.checkbox-double-size {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px !important;
    margin-left: 10px !important;
}

td {
    line-height: 32px !important;
    vertical-align: middle !important;
    border-color: #EBECF0 !important;
}

.card-container {
    display: inline-flex;
    margin-bottom: 5px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    width: inherit;
}

    .card-container .card-section {
        margin-left: 20px;
        display: inline-block;
    }

        .card-container .card-section .card-data {
            min-height: 25px;
            height: 25px;
        }

            .card-container .card-section .card-data i {
                color: #AAAAAA;
                /* text-align: center; */
                position: inherit;
                width: 20px;
            }

            .card-container .card-section .card-data .card-inline-data {
                display: inline-block;
                margin-left: 5px;
            }


.info-card {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.info-card li {
    margin-right: 20px;
    line-height: 25px;
}

.clickable-row {
    cursor: pointer;
}

.looking-image {
    text-align: center;
    margin: 25px
}

.looking-image img {
    width: 250px;
}