﻿.loginBox {
    margin-right: 0;
    margin-left: 30%;
}

#RememberMe {
    margin-left: 0;
}

.topLogos:nth-last-child(1) {
    margin-left: 11% !important;
    margin-right: 0 !important;
}

.topLogos:nth-last-child(3) {
    margin-right: 11% !important;
}

.text-right {
  text-align: left !important;
}

.adminPage .topLogos {
float: left !important;
}

.pull-left {
    float: right !important;
}

.adminPage .topLogos:nth-last-child(3) {
    margin-left: 2% !important;
    margin-right: 2% !important;
}

.adminPage #SystemTitle {
    float: left !important;
    padding: 42px 0 0 40px !important;
}
