﻿div.field-container
{
	border: 1px dashed #ccc;
	padding: 0.5em;
	display: inline-block;
	position: absolute;
}

	div.field-container:focus
	{
		border-color: #5bc0de;
	}

	div.field-container:hover
	{
		cursor: move;
	}

	div.field-container input, div.field-container input:focus
	{
		border: none;
		background-color: transparent;
		width: 98%;
		height: 98%;
		outline: none;
		box-shadow: none;
	}



	div.field-container div.ui-resizable-handle
	{
		display: none !important;
	}

	div.field-container:hover div.ui-resizable-handle
	{
		display: block !important;
	}
