﻿h5.list-group-item-heading
{
	font-size: 16px;
}

.print-settings-main-container
{
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 110px 8px 20px 8px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.page-preview-container
{
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 27% 10px 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.bottom-tollbar
{
	display: block;
	position: absolute;
	height: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.folder-nav-menu, .print-settings-container
{
	display: block;
	position: absolute;
	height: auto;
	width: 25%;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 5px;
}

.list-group-item-text
{
	color: #aaa;
}

.btn.fixed-width-small
{
	width: 5em;
}

.list-group-item-label
{
	margin-top: 1em;
}

	.list-group-item-label.fixed-width-small
	{
		width: 6em;
	}


.right-page-container, .left-page-container
{
	display: block;
	position: relative;
	padding: 1px;
	height: 84%;
	width: 50%;
	
}

.left-page-container
{
	float: right;
	text-align: right;
}

	.left-page-container > .page-binding-overlay-left
	{
		margin-left: 3px;
		z-index:10;
	}

.right-page-container
{
	float: right;
	text-align: left;
}



	.right-page-container > .page-binding-overlay-right
	{
		margin-left: -1px;
		z-index:10;
	}


.page-container > .page-image
{
	border: 1px solid #ccc;
	display: inline !important;
	height: 100%;
	width: auto;
	max-width: 99%;
	display: block;
}

.page-image-overlay
{
	position: absolute;
	width:0;
	height:0;
}

.page-color-overlay
{
	opacity: 0.4;
}