﻿.upload-btn
{
	width: 45%;
	margin: 4px;
}

	.upload-btn .media-object
	{
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

.fileinput-button input[type='file']
{
	display: none;
}

/*Fix for bootstrap rtl and google picker conflict with modal-dialog class definition*/
.picker.modal-dialog
{
	right: auto;
}



.folder
{
	padding: 0;
}

	.folder li
	{
		list-style: none;
	}

	.folder .file, li.sortable-placeholder
	{
		overflow: hidden;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		height: 2.5em;
		line-height: 2.5em;
		margin: 8px;
		border-radius: 4px;
	}

.folder-sortable
{
	min-height: 2em;
	border: 1px dashed #e3e3e3;
}


li.sortable-placeholder
{
	border: 1px dashed #CCC;
	background: none;
}

.folder .progress
{
	margin-top: 8px;
}

.folder .progress-bar
{
	line-height: 1.5em;
}

#NewFolderZone
{
	text-align: center;
}

	#NewFolderZone.ui-state-hover
	{
		border: 1px solid #fcefa1;
		background-color: #fbf9ee;
	}

	#NewFolderZone span
	{
		display: block;
		margin-top: 15em;
	}

	#NewFolderZone.ui-state-hover span#DragToCreateLabel
	{
		display: none;
	}

	#NewFolderZone span#DragToCreateLabel
	{
		display: block;
	}

	#NewFolderZone span#ReleaseToCreateLabel
	{
		display: none;
	}

	#NewFolderZone.ui-state-hover span#ReleaseToCreateLabel
	{
		display: block;
	}

.FolderHeader
{
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 10px;
}

	.FolderHeader span, .FolderHeader input
	{
		margin: 0 8px 0 8px;
	}