﻿.file-tile
{
	border: 1px solid #cccccc;
	border-radius: 4px;
	display: block;
	margin: 10px auto 10px auto;
	padding: 0;
	max-width: 250px;
	text-align: center;
	height: 300px;
	overflow: hidden;
	cursor:default;
}

	.file-tile hr
	{
		margin-bottom: 0px;
	}

	.file-tile .file-tile-title
	{
		padding: 8px 8px 0 8px;
		font-size: 24px;
		overflow: hidden;
		width: 80%;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.file-tile .file-tile-select-buttton
	{
		padding: 8px 8px 0 8px;
		font-size: 24px;
	}




	.file-tile .file-preview img
	{
		margin: 4px auto 4px auto;
		width: auto;
		max-height: 220px;
	}

	.file-tile .file-tile-content
	{
		position: relative;
	}



		.file-tile .file-tile-content .file-preview
		{
			padding: 8px;
		}

		.file-tile .file-tile-content .file-details
		{
			text-align: right;
			display: none;
			position: absolute;
			background-image: url('/Content/images/transparent_patthern.png');
			height: auto;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			margin: 0;
			padding: 8px;
		}

	.file-tile:hover .file-tile-content .file-details
	{
		display: block;
	}



	.file-tile .file-tile-content .file-details-row span
	{
		margin: 4px;
	}

	.file-tile .file-tile-content .file-actions-row
	{
		text-align: center;
		margin-top: 40px;
	}

.page-preview
{
	display: block;
	margin: 0 auto;
	border: 1px solid #cccccc;
	-webkit-box-shadow: 10px 10px 20px 0px rgba(54,54,54,1);
	-moz-box-shadow: 10px 10px 20px 0px rgba(54,54,54,1);
	box-shadow: 10px 10px 20px 0px rgba(54,54,54,1);
}

.file-details-container span
{
	padding: 0 8px 0 8px;
}
