﻿#MainPictures {
    position:relative;
}

#contact_us form {
    position:absolute;
    top: 0px;
    left: 0px;
    width:250px;
    left:50px;
}

#contact_us form input, #contact_us form textarea{
    width:100%;
    padding:5px; 
    margin: 0 0 1px 0;   
}

#contact_us form input.send {
    width:50px;
    height:38px;
    float:left;
}

.is-student {
    margin-top:5px;
}

.is-student input, .is-student label{
    float:right;
}

#studentCbx {
    width:25px !important;
    height:25px !important;
    margin-left: 5px !important;
}

.big_btn {
    padding:20px;
}