﻿
.nav-pills-customized li a {
    background-color: transparent !important;
    color: #000000 !important;
}

    .nav-pills-customized li a:hover {
        background-color: transparent !important;
        color: #ffffff !important;
    }


/* CHANGING THE WIDTH OF THE SCREEN TO 970PX */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .MainPictures {
        height: 582px;
        width: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .container {
        width: 1200px;
    }

    .MainPictures {
        height: 800px;
        width: 100%;
    }
}



.MainPic1 {
    background-image: url('../../Content/images/Homepage/Pic1.png');
    background-repeat: no-repeat;
}

.NavigationHeader {
    padding-top: 16px;
    padding-right: 5%;
}

.MainPictures h1 {
    position: relative;
    top: 100px;
    right: 39px;
}

.MainPictures h3 {
    position: relative;
    top: 120px;
    right: 39px;
}


.facebookLogin {
    background-image: url('../../Content/images/fb-signup.png');
    background-repeat: no-repeat;
    cursor: pointer;
    width: 227px;
    height: 27px;
}

    .facebookLogin:hover {
        background-image: url('../../Content/images/fb-hover.png');
    }

.well img {
    padding-left: 10px;
}


