﻿@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Website.Models.Account
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.Infrastructure
@{
    //load the master layout
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles
{
    @RenderSection("styles", required: false)
}

<div class="adminPage">
    <div class="container-fluid gray-header">

        <div class="row logosWrapper">
            <div class="text-right">
                <div id="IsraelLogo" class="topLogos"></div>
                <div id="polinLogo" class="topLogos"></div>
                <div id="MpolinLogo" class="topLogos"></div>
                <div id="SystemTitle" class=""><strong>מערכת ניהול משלחות,</strong> מנהלת פולין</div>
            </div>

            <div class="pull-left">
                @if (@User.Identity.IsAuthenticated)
                {
                    <div class="Account text-info" mp-init="@(FunctionHelpers.GetUserJson)">
                        <span class="avatar">@(FunctionHelpers.User.FirstName.Substring(0, 1))@(FunctionHelpers.User.LastName.Substring(0, 1))</span>
                        <span class="username">@FunctionHelpers.User.FullName</span>
                        <span class="user-role">@(((eRole)FunctionHelpers.User.RoleID).GetDescription())</span>
                    </div>
                }
            </div>
            <div id="notification-bell" mp-event="Notification Bell Clicked" class="pull-left top-header-position">
                <span class="glyphicon glyphicon-bell notifications">
                    <span id="notification-number" class="notification-number" style="display: none;">33</span>
                </span>
            </div>
            <div class="pull-left">
                @Html.Partial("_CultureSwitchPartial")
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                @*@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.ExpeditionDashbard_View))
        {
            @Html.NavigationTab(Url.Action("GetDailyDashboard", "Groups", new { area = "Administration" }), DailyDashboardStrings.PageTitle)
        }*@

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.ExpeditionDashbard_View))
                {
                    @Html.NavigationTab(Url.Action("GetDailyDashboard", "Groups", new { area = "Administration" }), DailyDashboardStrings.PageTitle, "Daily Dashboard Clicked")
                }


                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Order_View))
                {
                    @Html.NavigationTab(Url.Action("GetTripsListView", "Expeditions", new { area = "" }), ExpeditionStrings.ScheduleExpeditions, "Trips List Order Clicked")
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_SchoolEdit) && User.IsInRole(eRole.SchoolManager.ToString()))
                {
                    @Html.NavigationTab(Url.Action("EditSchoolManager", "Schools", new { area = "Administration" }), SchoolsStrings.EditSchool, "Edit School Details Clicked")
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Order_View))
                {
                    @Html.NavigationTab(Url.Action("ExpeditionStatus", "Expeditions", new { area = "" }), ExpeditionStrings.ExpeditionStatus, "Expedition Status Clicked")
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Trip_View))
                {
                    @Html.NavigationTab(Url.Action("GetTrips", "Trips", new { area = "Administration" }), AdministrationStrings.TripManagementTitle, "Trips Management Clicked")
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Flight_View))
                {
                    @Html.NavigationTab(Url.Action("GetFlights", "Flights", new { area = "Administration" }), AdministrationStrings.FlightManagement, "Flight Management Clicked")
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_View))
                {
                    @Html.NavigationTab(Url.Action("GetGroupsDetails", "Groups", new { area = "Administration" }), GroupsStrings.GroupsManagement, "Expedition Management Clicked")
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Training_Viewing) && PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Viewing))
                {
                    @Html.NavigationTab(Url.Action("GetTrainings", "Instructors", new { area = "Administration" }), InstructorsStrings.TrainingsManagement, "Training Management Clicked")
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Viewing)
                     && FunctionHelpers.User.InstructorID != null)
                {
                    @Html.NavigationTab(Url.Action("InstructorFolder", "Instructors", new { area = "Administration", ID = FunctionHelpers.User.InstructorID, myFile = true }), InstructorsStrings.MyFile, mixpanelEvent: "Instructor Folder Clicked")
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_Viewing))
                {
                    @Html.NavigationTab(Url.Action("GetReports", "Reports", new { area = "Administration" }), ReportsStrings.Reports, "Reports Clicked")
                }

                @if (PermissionLoader.CheckUserPermissions(AppConfig.AdministrationPermission) || User.IsInRole(eRole.Administrator.ToString()))
                {
                    @Html.NavigationTab(Url.Action("GetAgencies", "Agencies", new { area = "Administration" }), AdministrationStrings.SystemAdministration, "System Management Clicked")
                }



                @if (User.Identity.IsAuthenticated)
                {
                    @Html.NavigationTab(Url.Action("Logout", "Account", new { area = "" }), CommonStrings.Logout, "Logout Clicked")
                }
                else
                {
                    @Html.NavigationTab(Url.Action("Login", "Account", new { area = "" }), CommonStrings.Login)
                }

            </ul>
        </div>

        <hr/>
    </div>

    <div class="container-fluid mainWrapper">
        <div role="main" class="col-sm-12 main ">

            @RenderBody()

        </div>
    </div>

</div>

<footer class="footer">


    <div class="container-fluid">
        <div class="col-sm-10 main col-sm-push-1 footer">
            <div class="col-md-push-1 col-md-7">
                מדינת ישראל &copy; כל הזכויות שמורות
                <img src="~/Content/images/Israel.png" style="width: 35px;" alt="מדינת ישראל"/>
                <img src="~/Content/images/Polin.png" style="width: 35px;" alt="פולין"/>
                <img src="~/Content/images/MPolinLogo.png" style="width: 35px;" alt="מנהלת פולין"/>
            </div>
            <a href="http://silagy.co.il/about-me/" class="promotion" target="_blank">
                <div class="col-md-3 col-md-push-1" style="padding-top: 10px;">
                    <strong>Powered by <span class="yellow">Silagy</span> DEVELOPMENT</strong>
                </div>
            </a>
        </div>
    </div>
</footer>

@*Notifications Panel*@
<div class="white-popup notification-popup white-popup-arrow top-arrow-notification" style="display: none;">
    <h2 class="title">התראות</h2>
    <hr class="seperator"/>
    <div id="notification-loading" class="spinner">
        <img src="~/Content/images/Spinner.gif"/>
        <div>טוען התראות חדשות....</div>
    </div>
    <div id="user-notifications" style="display: none;"></div>
</div>

@section scripts
{
    @RenderSection("scripts", required: false)
}