﻿@using System.Globalization;
@using System.Threading;
@using FlightScheduling.Language
@using Flight.DAL.FlightDB.Methods;
@using Endilo.Helpers;
@*<div class="change-language">
    @if (Thread.CurrentThread.CurrentCulture.Equals(CultureInfo.CreateSpecificCulture("he-IL")))
    {
        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
            החלף שפה <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink(CommonStrings.EnglishCultureSymbol, "ChangeCulture", "Localization", new { lang = "en-US", returnUrl = this.Request.RawUrl }, null)
            </li>
        </ul>
    }
    else
    {
        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
            Change Language <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink(CommonStrings.HebrewCultureSymbol, "ChangeCulture", "Localization", new { lang = "he-IL", returnUrl = this.Request.RawUrl }, null)
            </li>
        </ul>
    }
</div>*@
@*@if (User.IsInRole(eRole.Administrator.ToString()))
{
    <a class="pull-left" style="padding-top: 7px;" href="@Url.Action("UpdateSystemConfiguration", "Administration" , new { area = "Administration" })" title="@AdministrationStrings.SystemConfigurationTitle"><span class="glyphicon glyphicon-cog"></span></a>
}*@