﻿@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



@RenderBody()


@section scripts
{
	<script src="/Scripts/Bootstrap/bootstrap.js"></script>
	

    @RenderSection("scripts", required: false)
}

@section styles
{
    <link href="/Content/css/MainWebSite.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap.overrides.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
}
