﻿@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}


@RenderSection("styles", required: false)

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <h5>@CommonStrings.Menu</h5>
            <ul class="nav nav-pills nav-stacked">
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Training_Viewing))
                {
                    @Html.NavigationTab(Url.Action("GetTrainings", "Instructors", new { area = "Administration" }), InstructorsStrings.TrainingsManagement)
                    @Html.NavigationTab(Url.Action("GetInstructorTrainings", "Reports", new { area = "Administration", OpenFromTraining = true }), ReportsStrings.InstructorTrainingReport)
                }
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Instructors_Viewing))
                {
                    @Html.NavigationTab(Url.Action("GetInstructors", "Instructors", new { area = "Administration" }), InstructorsStrings.InstructorsManagement)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_InstructorsAssignmentsForGroups))
                {
                    @Html.NavigationTab(Url.Action("GetInstructorsAssignmentsForGroups", "Reports", new { area = "Administration", OpenFromTraining = true }), ReportsStrings.InstructorsAssignmentsForGroupsTitle)
                }

            </ul>

        </div>
        <div class="col-lg-10 col-md-10">
            @RenderBody()
        </div>
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", required: false)
}