﻿@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.Website.Models.Account
@{
    //load the master layout
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles
{
    @RenderSection("styles", required: false)
}

<div class="container-fluid gray-header login">
    <div class="container">

        <div class="row">
            <div class="col-md-1 pull-left">
                @Html.Partial("_CultureSwitchPartial")
            </div>
        </div>

        <div class="row logosWrapper">
            <div class="text-center">
                <div id="IsraelLogo" class="topLogos"></div>
                <div id="polinLogo" class="topLogos"></div>
                <div id="MpolinLogo" class="topLogos"></div>
            </div>
        </div>

        <div class="row">
            <div id="SystemTitle" class="text-center"><strong>מערכת ניהול משלחות,</strong> מנהלת פולין</div>
        </div>
    </div>
    <hr />
</div>

@RenderBody()

<footer class="footer">


    <div class="container-fluid">
        <div class="col-sm-10 main col-sm-push-1 footer">
            <div class="col-md-push-1 col-md-7">
                מדינת ישראל &copy; כל הזכויות שמורות
                        <img src="~/Content/images/Israel.png" style="width: 35px;" alt="מדינת ישראל" />
                <img src="~/Content/images/Polin.png" style="width: 35px;" alt="פולין" />
                <img src="~/Content/images/MPolinLogo.png" style="width: 35px;" alt="מנהלת פולין" />
            </div>
            <div class="col-md-3 col-md-push-1" style="padding-top: 10px;"><strong>Powered by <span class="yellow">ENDILO</span> DEVELOPMENT</strong></div>
        </div>
    </div>
</footer>

@section scripts
{
    @RenderSection("scripts", required: false)
}


