﻿@using System.Web.Optimization
@using FlightScheduling.Web.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @if (FlightScheduling.Web.Infrastructure.AppConfig.CurrentCulture == FlightScheduling.Web.Infrastructure.AppConfig.eLanguage.Hebrew)
    {
        <link href="/Content/css/bootstrap-rtl.css" rel="stylesheet" />
    }
    else
    {
        <link href="/Content/css/bootstrap.css" rel="stylesheet" />
        <link href="/Content/css/CommonLTR.css" rel="stylesheet" />
    }

    @Styles.Render("~/Content/css/Icons")



    @*<link rel="stylesheet" href="/Scripts/vendor/fontawesome/css/font-awesome.css">*@
    @*    <link rel="stylesheet" href="/Scripts/vendor/rs-plugin/css/settings.css">
        <link rel="stylesheet" href="/Scripts/vendor/owlcarousel/owl.carousel.css">
        <link rel="stylesheet" href="/Scripts/vendor/owlcarousel/owl.theme.css">
        <link rel="stylesheet" href="/Scripts/vendor/magnific-popup/magnific-popup.css">*@

    <!-- Theme CSS -->
    @*    <link rel="stylesheet" href="/Content/css/theme.css">
        <link rel="stylesheet" href="/Content/css/theme-elements.css">
        <link rel="stylesheet" href="/Content/css/theme-blog.css">
        <link rel="stylesheet" href="/Content/css/theme-shop.css">
        <link rel="stylesheet" href="/Content/css/theme-animate.css">*@


    <!-- Skin CSS -->
    @*    <link rel="stylesheet" href="/Content/css/skins/default.css">*@

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link href="/Content/css/Common.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap.overrides.css" rel="stylesheet" />



    @*<!-- Head Libs -->
        <script src="/Scripts/vendor/modernizr/modernizr.js"></script>*@

    <!--[if IE]>
            <link rel="stylesheet" href="/Content/css/ie.css">
        <![endif]-->
    <!--[if lte IE 8]>
            <script src="/Scripts/vendor/respond/respond.js"></script>
            <script src="/Scripts/vendor/excanvas/excanvas.js"></script>
        <![endif]-->

    @Scripts.Render("~/bundles/jquery")

    @*    <!-- Vendor -->
        <script src="/Scripts/vendor/jquery.appear/jquery.appear.js"></script>
        <script src="/Scripts/vendor/jquery.easing/jquery.easing.js"></script>
        <script src="/Scripts/vendor/jquery-cookie/jquery-cookie.js"></script>
        <script src="/Scripts/vendor/common/common.js"></script>
        <script src="/Scripts/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="/Scripts/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/Scripts/vendor/jquery.stellar/jquery.stellar.js"></script>
        <script src="/Scripts/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
        <script src="/Scripts/vendor/jquery.gmap/jquery.gmap.js"></script>
        <script src="/Scripts/vendor/twitterjs/twitter.js"></script>
        <script src="/Scripts/vendor/isotope/jquery.isotope.js"></script>
        <script src="/Scripts/vendor/owlcarousel/owl.carousel.js"></script>
        <script src="/Scripts/vendor/jflickrfeed/jflickrfeed.js"></script>
        <script src="/Scripts/vendor/magnific-popup/jquery.magnific-popup.js"></script>
        <script src="/Scripts/vendor/vide/vide.js"></script>*@

    <!-- Theme Base, Components and Settings -->
    @*		<script src="/Scripts/theme.js"></script>

        <!-- Specific Page Vendor and Views -->
        <script src="/Scripts/views/view.home.js"></script>*@
    <script type="text/javascript">
        (function (f, b) {
            if (!b.__SV) {
                var e, g, i, h; window.mixpanel = b; b._i = []; b.init = function (e, f, c) {
                    function g(a, d) { var b = d.split("."); 2 == b.length && (a = a[b[0]], d = b[1]); a[d] = function () { a.push([d].concat(Array.prototype.slice.call(arguments, 0))) } } var a = b; "undefined" !== typeof c ? a = b[c] = [] : c = "mixpanel"; a.people = a.people || []; a.toString = function (a) { var d = "mixpanel"; "mixpanel" !== c && (d += "." + c); a || (d += " (stub)"); return d }; a.people.toString = function () { return a.toString(1) + ".people (stub)" }; i = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                    for (h = 0; h < i.length; h++)g(a, i[h]); var j = "set set_once union unset remove delete".split(" "); a.get_group = function () { function b(c) { d[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); a.push([e, call2]) } } for (var d = {}, e = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < j.length; c++)b(j[c]); return d }; b._i.push([e, f, c])
                }; b.__SV = 1.2; e = f.createElement("script"); e.type = "text/javascript"; e.async = !0; e.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                    MIXPANEL_CUSTOM_LIB_URL : "file:" === f.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; g = f.getElementsByTagName("script")[0]; g.parentNode.insertBefore(e, g)
            }
        })(document, window.mixpanel || []);

        // Enabling the debug mode flag is useful during implementation,
        // but it's recommended you remove it for production
        mixpanel.init('@(AppConfig.MixPanelProjectId)');
    </script>
    <script src="~/Scripts/mixpanelService.js"></script>
    <!-- Theme Custom -->
    <script src="/Scripts/custom.js"></script>

    <!-- Theme Initialization Files -->
    @*		<script src="/Scripts/theme.init.js"></script>*@

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12345678-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    -->




    @RenderSection("styles", required: false)
</head>
<body>



    @RenderBody()

    @Scripts.Render("~/bundles/jquery/validate")
    <script type="text/javascript" src="~/Scripts/Common/jquery.validate.unobtrusive.dynamic-content.js"></script>
    @if (FlightScheduling.Web.Infrastructure.AppConfig.CurrentCulture == FlightScheduling.Web.Infrastructure.AppConfig.eLanguage.Hebrew)
    {
        @Scripts.Render("~/bundles/bootstrapRTL")
    }
    else
    {
        @Scripts.Render("~/bundles/bootstrapLTR")
    }

    @*<script src="/Scripts/glDatePicker/glDatePicker.min.js"></script>*@
    @*<script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>*@

    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $('.modal-loading-panel').appendTo("body") 
        });
        

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65341532-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Hotjar Tracking Code for http://p-homeland.org.il/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1103690, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

</body>
</html>
