﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Website.Models.Account
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.Infrastructure
@{
    //load the master layout
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles
{
    @RenderSection("styles", required: false)
}
    <div class="row report">
        <div role="main" class="col-sm-12 main">
            @RenderBody()
        </div>
    </div>



@section scripts
{
    @RenderSection("scripts", required: false)
}


