﻿@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.Web.App_Start
@using FlightScheduling.DAL.CustomEntities.Permissions
@{
    ViewBag.Title = ReportsStrings.SystemReports;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}


@RenderSection("styles", required: false)

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <h5>@ReportsStrings.ReportsMenu</h5>
            <ul class="nav nav-pills nav-stacked">
                @*User.IsInRole("Agent") || User.IsInRole("Administrator") || User.IsInRole("Staf") || User.IsInRole("Viewer")*@
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_Agencies))
                {
                    @Html.NavigationTab(Url.Action("AgencyReport", "Reports", null), ReportsStrings.AgencyReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_ExpeditionStatus))
                {
                    @Html.NavigationTab(Url.Action("GetExpeditionStatusReport", "Reports", null), ReportsStrings.ExpeditionStatusReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_Groups))
                {
                    @Html.NavigationTab(Url.Action("GetGroupsReport", "Reports", null), ReportsStrings.GroupsReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_Flights))
                {
                    @Html.NavigationTab(Url.Action("FlightsReport", "Reports", null), ReportsStrings.FlightsReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_Schools))
                {
                    @Html.NavigationTab(Url.Action("GetSchoolExpeditionParticipantionReport", "Reports", null), ReportsStrings.SchoolReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_AvailableSeats))
                {
                    @Html.NavigationTab(Url.Action("GetFlightSeatsAvailability", "Reports", null), ReportsStrings.AvailableSeatsReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_BusesPerDay))
                {
                    @Html.NavigationTab(Url.Action("GetBusesPerDay", "Reports", null), ReportsStrings.BusesPerDayReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_ExportGroupsForSecurity))
                {
                    @Html.NavigationTab(Url.Action("ExpeditionCsv", "Reports", null), ReportsStrings.ExpeditionsToCsv)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_PresentsOnTrip))
                {
                    @Html.NavigationTab(Url.Action("GetStudentsInExpedition", "Reports", null), ReportsStrings.StudentInExpeditionReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_GroupAndDeputyManagers))
                {
                    @Html.NavigationTab(Url.Action("GetGroupManagerReport", "Reports", null), ReportsStrings.GroupManagersReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_TrainingParticipation))
                {
                    @Html.NavigationTab(Url.Action("GetInstructorTrainings", "Reports", null), ReportsStrings.InstructorTrainingReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_ContactInUrgency))
                {
                    @Html.NavigationTab(Url.Action("GetEmergencyContactReport", "Reports", null), ReportsStrings.EmerhencyContactReport)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_SchoolGlobalRemarks))
                {
                    @Html.NavigationTab(Url.Action("GetSchoolGlobalRemarks", "Reports", null), ReportsStrings.SchoolGlobalRemarksReportTitle)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_GroupsByRegion))
                {
                    @Html.NavigationTab(Url.Action("GetGroupsByRegion", "Reports", null), ReportsStrings.GroupsByRegionTitle)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Reports_InstructorsAssignmentsForGroups))
                {
                    @Html.NavigationTab(Url.Action("GetInstructorsAssignmentsForGroups", "Reports", null), ReportsStrings.InstructorsAssignmentsForGroupsTitle)
                }

            </ul>

        </div>
        <div class="col-lg-9 col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", required: false)
}

@*@RenderSection("scripts", required: false)*@