﻿@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start

@{
    ViewBag.Title = AdministrationStrings.SystemAdministration;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}


@RenderSection("styles", required: false)

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <h5>@AdministrationStrings.SystemAdministration</h5>
            <ul class="nav nav-pills nav-stacked">
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_AgencyViewing))
                {
                    @Html.NavigationTab(Url.Action("GetAgencies", "Agencies", new { area = "Administration" }), AdministrationStrings.Agencies)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_SchoolView))
                {
                    @Html.NavigationTab(Url.Action("GetSchools", "Schools", new { area = "Administration" }), AdministrationStrings.Schools)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_Sites_View))
                {
                    @Html.NavigationTab(Url.Action("GetSites", "Administration", new { area = "Administration" }), AdministrationStrings.HotelsManagement)
                }

                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_City_View))
                {
                    @Html.NavigationTab(Url.Action("Cities", "Administration", new { area = "Administration" }), AdministrationStrings.CitiesManagement)
                }


                @if (User.IsInAnyRole(new List<string> { eRole.Administrator.ToString() }))
                {
                    @Html.NavigationTab(Url.Action("GetUsers", "Users", new { area = "Administration" }), AdministrationStrings.Users)
                    @Html.NavigationTab(Url.Action("Messages", "Messages", new { area = "Administration" }), AdministrationStrings.MessagesManagement)
                    @Html.NavigationTab(Url.Action("GetGroupPlanSubjects", "Administration", new { area = "Administration" }), AdministrationStrings.GroupPlanSubjects)
                    @Html.NavigationTab(Url.Action("GetInstructorRoles", "Administration", new { area = "Administration" }), InstructorsStrings.InstructorRolesManagement)
                    @Html.NavigationTab(Url.Action("GetAllNotificationTemplates", "Administration", new { area = "Administration" }), NotificationStrings.NotificationCenter)
                    @Html.NavigationTab(Url.Action("UpdateSystemConfiguration", "Administration", new { area = "Administration" }), AdministrationStrings.SystemConfigurationTitle)
                    @Html.NavigationTab(Url.Action("GetPermissionRoles", "Administration", new { area = "Administration" }), PermissionStrings.ManagePermissionRoles)

                }



            </ul>

        </div>
        <div class="col-lg-10 col-md-10">
            @RenderBody()
        </div>
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", required: false)
}

@*@RenderSection("scripts", required: false)*@