﻿@using Endilo.Helpers
@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@using FlightScheduling.Website.Models.Account
@{
    //load the master layout
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section styles
{
    @RenderSection("styles", required: false)
}
<div class="adminPage">
    <div class="container-fluid mainWrapper">
        <div role="main" class="col-sm-12 main">

            @RenderBody()

        </div>
    </div>

</div>

@section scripts
{
    @RenderSection("scripts", required: false)
}


