﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Flights.FlightViewModel


<h2>@FlightsStrings.CreateFlight</h2>

@using (Html.BeginForm("AddFlight", "Flights", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-add-note" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@FlightsStrings.CreateFlight</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-horizontal">


                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartureDate, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.DepartureDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.DepartureDate)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartureTime, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.DepartureTime, new { @class = "form-control timepicker" })
                                @Html.ValidationMessageFor(model => model.DepartureTime)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ArrivalDate, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ArrivalDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.ArrivalDate)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ArrivalHours, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ArrivalHours, new { @class = "form-control timepicker" })
                                @Html.ValidationMessageFor(model => model.ArrivalHours)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartureField, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EnumDropDownListFor(model => model.DepartureField, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DepartureField)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DestenationField, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EnumDropDownListFor(model => model.DestenationField, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DestenationField)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NumberOfPassengers, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.NumberOfPassengers, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NumberOfPassengers)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AirlineName, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.AirlineName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AirlineName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FlightNumber, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.FlightNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FlightNumber)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Comments)
                            </div>
                        </div>

                        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@CommonStrings.Add" class="btn btn-default" />
            </div>
        </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/jquery.validate.filetypevalidation.js"></script>
<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>


