﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Flights.DeleteMultipleFlightsViewModel


<h2>@FlightsStrings.DeleteFlights</h2>

@using (Html.BeginForm("DeleteMultipleFlightsPerform", "Flights", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-validation", id = "form-add-note" }))
{
    @Html.AntiForgeryToken()
    for (int i = 0; i < Model.Flights.Count(); i++)
    {
        @Html.HiddenFor(m => m.Flights[i])
    }
    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@FlightsStrings.DeleteFlights</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-horizontal">


                        @Html.ValidationSummary(true)

                        <p class="alert alert-danger">@String.Format(FlightsStrings.DeleteMultipleFlightsAlert, Model.Flights.Count())</p>
                        <input id="confirm_delete" type="checkbox" class="form-control form-checkbox" /> @FlightsStrings.DeleteFlightsConfirmation
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="delete_button" type="button" class="btn btn-danger validate-form" disabled="disabled">
                    <span class="button-text">@CommonStrings.Delete</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/Common/jquery.validate.filetypevalidation.js"></script>
<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
<script type="text/javascript" src="~/Scripts/pickadate/datepicker.ajaxload.init.js"></script>
<script type="text/javascript">
    $(function () {

        $("#confirm_delete").change(function () {
            if (this.checked) {
                $("#delete_button").removeAttr('disabled');
            } else {
                $("#delete_button").prop("disabled", true);
            }
        })

    })
</script>


