﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Flights.ImportFlightsViewModel

@using (Html.BeginForm("ImportFlights", "Flights", FormMethod.Post, new { enctype = "multipart/form-data", id = "group-import-participants-form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>@GroupsStrings.ImportParticipants</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 10px;">
                    <p class="alert alert-info strong">
                        @GroupsStrings.ImportParticipantInstruction
                        <br />
                        <a href="@Url.Action("DownloadFileTemplate", new { FilePath = "ImportFlightsTemplate.xlsx", FileName = "ImportFlightsTemplate.xlsx" })" class="btn btn-default">@Html.Raw(Html.GetIcon(Icons.Excel, GroupsStrings.DownloadTemplate).ToHtmlString()) @GroupsStrings.DownloadTemplate</a>
                    </p>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Attachment, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Attachment, new { type = "file", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Attachment)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default validate-form">
                    <span class="button-text">@CommonStrings.SaveAndClose</span>
                    <div class="white-v"></div>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Close</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="~/Scripts/Common/jquery.validate.filetypevalidation.js"></script>
<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>