﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Flights.FlightViewModel

@{
    ViewBag.Title = FlightsStrings.EditFlight;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@FlightsStrings.EditFlight</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    
    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">


            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.DepartureDate, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.DepartureDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.DepartureDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartureTime, new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.DepartureTime, new { @class = "form-control timepicker" })
                    @Html.ValidationMessageFor(model => model.DepartureTime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArrivalDate, new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ArrivalDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.ArrivalDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ArrivalHours, new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.ArrivalHours, new { @class = "form-control timepicker" })
                    @Html.ValidationMessageFor(model => model.ArrivalHours)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartureField, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.DepartureField, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DepartureField)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DestenationField, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.DestenationField, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DestenationField)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NumberOfPassengers, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.NumberOfPassengers, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NumberOfPassengers)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AirlineName, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.AirlineName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AirlineName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FlightNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.FlightNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FlightNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Comments)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@CommonStrings.Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    
    @Scripts.Render("~/bundles/datepicker");

}


