﻿@using Endilo.Helpers
@using FlightScheduling.Language
@using MvcContrib.UI.Grid
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Flights.FlightsViewModel

@{
    /**/

    ViewBag.Title = AdministrationStrings.FlightManagement;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@AdministrationStrings.FlightManagement</h2>

@using (Html.BeginForm("GetFilteredFlights", "Flights", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.FilterFromDate, new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.FilterFromDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilterToDate, new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.FilterToDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @value = @DateTime.Now })
        </div>

        <div class="col-md-2">
            <input type="submit" value="@CommonStrings.Send" class="btn btn-default" />
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Flight_Edit))
{
    <div class="btn-group pull-left">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CommonStrings.Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                @(Ajax.LinkForBootstrapModal("UploadImportFlights", "Fligts", routeValues: new { })
                                                      .HtmlAttributes(new { id = "FlightImport", title = FlightsStrings.ImportFlights })
                                                      .RawLabel(@<text>@FlightsStrings.ImportFlights</text>)
                                          .LoadingPanelID("FlightModalWindowContainer")
                                          .ModalWindowContainerID("FlightLoadingPanelContainer")
                                          .UseExsistingModalcontainer(false)
                )
            </li>
            <li>
                @(Ajax.LinkForBootstrapModal("AddFlight", "Flights", routeValues: new { })
                                              .HtmlAttributes(new { id = "FlightAddFlight", title = FlightsStrings.CreateFlight })
                                              .RawLabel(@<text>@FlightsStrings.CreateFlight</text>)
                              .LoadingPanelID("FlightModalWindowContainer")
                              .ModalWindowContainerID("FlightLoadingPanelContainer")
                              .UseExsistingModalcontainer(false)
                )
            </li>

            <li>
                <a href="@Url.Action("ExportToExcel")" title="@CommonStrings.ExportToExcel">@Html.Raw(Html.GetIcon(Icons.Excel, CommonStrings.ExportToExcel).ToHtmlString())  @CommonStrings.ExportToExcel</a>
            </li>
            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Flight_Delete_Multiple))
            {
                <li class="multi-action disabled">
                    <a href="#" id="delete-multiple-flights" data-container="FlightModalWindowContainer" data-action="@Url.Action("DeleteMultipleFlights", "Flights")">@Html.Raw(Html.GetIcon(Icons.Delete, CommonStrings.Delete).ToHtmlString()) @CommonStrings.Delete</a>
                </li>
            }
        </ul>
    </div>
}

@Html.Grid(Model.FlightViewModels).Columns(col =>
{
col.For(c => Html.CheckBox(c.ID.ToString(), false, new { ID = c.ID, @class = "form-control form-checkbox table-checkbox tcheck" }).ToString()).Named("").Header("<th><input type=\"checkbox\" class=\"form-control form-checkbox table-checkbox\" id='chkHeader' /></th>").Sortable(false).Encode(false).HeaderAttributes(new Dictionary<string, object> { { "style", "width:20px" } });
col.For(c => c.ID).Named(FlightsStrings.ID);
col.For(c => c.DepartureDate).Named(FlightsStrings.DepartureDate).Format("{0:dd/MM/yyyy HH:mm}");
col.For(c => c.ArrivalDate).Named(FlightsStrings.ArrivalDate).Format("{0:dd/MM/yyyy HH:mm}");
col.For(c => c.DepartureField.GetDescription()).Named(FlightsStrings.DepartureField);
col.For(c => c.DestenationField.GetDescription()).Named(FlightsStrings.DestenationField);
col.For(c => c.NumberOfPassengers).Named(FlightsStrings.NumberOfPassengers);
col.For(c => c.AirlineName).Named(FlightsStrings.AirlineName);
col.For(c => c.FlightNumber).Named(FlightsStrings.FlightNumber);
col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "EditFlight", "Flights", new { ID = c.ID }, null)).Named(CommonStrings.Edit).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Flight_Edit));
col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteFlight", "Flights", Html.GetIcon(Icons.Delete,null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false).CellCondition(x => PermissionLoader.CheckUserPermissions(PermissionBitEnum.Flight_Delete));
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "FlightsManagement")


<div id="DeleteModalWindowContainer" class="modal fade"></div>
<div id="DeleteLoadingPanelContainer" class="modal-loading-panel" style="display: none"></div>

<div id="FlightModalWindowContainer" class="modal fade"></div>
<div id="FlightLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>


@section scripts
{

    @Scripts.Render("~/bundles/datepicker");
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jQueryUI")

}
