﻿@using FlightScheduling.Language
@using Endilo.Helpers
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Messages.MessagesDetailsViewModel>

@{
    ViewBag.Title = AdministrationStrings.MessagesManagement;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

<h2>@AdministrationStrings.MessagesManagement</h2>
@Html.ActionLink(AdministrationStrings.AddMessage, "AddOrUodateMessage", null, new { @class = "btn btn-primary btn-sm", @role = "button" })

@Html.Grid(Model).Columns(col =>
{
    col.For(c => c.Id).Named(AdministrationStrings.MessageID);
    col.For(c => c.Title).Named(AdministrationStrings.Title);
    col.For(c => String.Format("{0} {1}", c.UserFirstName, c.UserLastName)).Named(AdministrationStrings.MessageAuthor);
    col.For(c => c.ActiveStartDate).Named(AdministrationStrings.ActiveStartDate).Format("{0:dd/MM/yyyy}");
    col.For(c => c.ExpirationDate).Named(AdministrationStrings.ExpirationDate).Format("{0:dd/MM/yyyy}");
    col.For(c => c.CreationDate).Named(CommonStrings.CreationDate).Format("{0:dd/MM/yyyy}");
    col.For(c => c.UpdateDate).Named(CommonStrings.UpdateDate).Format("{0:dd/MM/yyyy}");
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "AddOrUodateMessage", "Messages", new { ID = c.Id, IsUpdate = true }, null)).Named(CommonStrings.Edit);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteMessage", "Messages" ,Html.GetIcon(Icons.Delete, null).ToString(), new { ID = c.Id, Title = c.Id }, null)).Named(CommonStrings.Delete).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "MessagesManagement")


<div id="MessagesModalWindowContainer" class="modal fade"></div>
<div id="MessagesLoadingPanelContainer" class="modal-loading-panel" style="display:none"></div>