﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Messages.MessageViewModel

@{
    ViewBag.Title = AdministrationStrings.AddMessage;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/datepicker")
}

<h2>@AdministrationStrings.AddMessage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">


            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.UserID)
            @Html.HiddenFor(model => model.IsUpdate)

            @if (Model.IsUpdate)
    {
        @Html.HiddenFor(m => m.Id)
}

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = AdministrationStrings.Title })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control largeTextarea" })
                    @Html.ValidationMessageFor(model => model.Message)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActiveStartDate, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ActiveStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.ActiveStartDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExpirationDate, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ExpirationDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.ExpirationDate)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-6 pull-left">
                    <input type="submit" value="@CommonStrings.Add" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </div>
}

@section scripts
{

    @Scripts.Render("~/bundles/datepicker");

}