﻿@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.Schools.SchoolRemarksViewModel>

@if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_SchoolEdit))
{
    <div class="row">
        <h5 class="strong inline-header">@SchoolsStrings.SchoolRemarks</h5>
    </div>
    <div class="row">
        @foreach (var remark in Model.OrderByDescending(m => m.UpdateDate))
        {
            <div class="remark">
                <div class="col-md-4 remark-writer">@(String.Format("{0} {1}", remark.Firstname, remark.Lastname))</div>
                <div class="col-md-8 remark-date">@GroupsStrings.ExpeditionID @remark.GroupExternalID | @remark.UpdateDate.ToString(AppConfig.FormatDateAndTime)</div>
                <div class="col-md-12 remark-note">@remark.Notes</div>
                @*<div class="col-md-12 remark-actions">
                    <span class="remark-action">ערוך</span>
                    <span class="remark-action">מחק</span>
                </div>*@
            </div>
        }
    </div>
    @*@Html.Grid(Model).Columns(col =>
        {
            col.For(c => c.GroupExternalID).Named(GroupsStrings.ExpeditionID);
            col.For(c => string.Format("{0} {1}", c.Firstname, c.Lastname)).Named(GroupsStrings.Writer);
            col.For(c => c.UpdateDate).Named(CommonStrings.UpdateDate).Format("{0:dd/MM/yyyy hh:mm:ss}");
            col.For(c => c.Notes).Named(GroupsStrings.FileComments);
        }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsNotesList").Empty(CommonStrings.Empty)*@
}
