﻿@using FlightScheduling.Language
@using FlightScheduling.Web.App_Start
@using FlightScheduling.DAL.CustomEntities.Permissions
@model FlightScheduling.Web.Areas.Administration.Models.Schools.SchoolViewModel

@{
    ViewBag.Title = SchoolsStrings.AddNewSchool;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<h2>@SchoolsStrings.AddNewSchool</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">


            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InstituteID, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.InstituteID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InstituteID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RegionEnum, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(model => model.RegionEnum, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RegionEnum)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Fax)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Manager, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Manager, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Manager)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ManagerEmail, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ManagerEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ManagerEmail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ManagerPhone, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ManagerPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ManagerPhone)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IsAdministrative)
                <div class="form-text-help">@SchoolsStrings.IsAdministrativeNote</div>
                @Html.CheckBoxFor(m => m.IsAdministrative, new { @class = "form-control form-checkbox" })
            </div>

            @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_SchoolEdit)) { 
            <div class="form-group">
                <div class="col-md-6 pull-left">
                    <input type="submit" value="@CommonStrings.Add" class="btn btn-primary" />
                </div>
            </div>
            }
        </div>
    </div>
}


