﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@using FlightScheduling.Web.App_Start
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Website.Infrastructure
@model FlightScheduling.Web.Areas.Administration.Models.Schools.SchoolViewModel

@{
    ViewBag.Title = SchoolsStrings.EditSchool;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}


<h2>@SchoolsStrings.EditSchool</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.IsActive)
    @Html.HiddenFor(model => model.GroupID)

    <div class="col-lg-6 col-md-10 col-sm-12">
        <div class="form-horizontal">


            @Html.ValidationSummary(true)

            @if (Model.IsActivated)
            {
                <p class="alert alert-success">@CommonStrings.AccessAllowedDetails</p>
            }
            else
            {
                <p class="alert alert-danger">@CommonStrings.AccessDeniedDetails</p>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InstituteID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.InstituteID, new { @class = "form-control" }.Disable(FunctionHelpers.User.RoleID == (int)eRole.SchoolManager))
                    @Html.ValidationMessageFor(model => model.InstituteID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RegionEnum, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.RegionEnum, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RegionEnum)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Fax)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Manager, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Manager, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Manager)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ManagerEmail, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ManagerEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ManagerEmail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ManagerPhone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ManagerPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ManagerPhone)
                </div>
            </div>
            @if (FunctionHelpers.User.RoleID != (int)eRole.SchoolManager)
            {
            <div class="form-group">
                @Html.LabelFor(m => m.IsAdministrative)
                <div class="form-text-help">@SchoolsStrings.IsAdministrativeNote</div>
                @Html.CheckBoxFor(m => m.IsAdministrative, new { @class = "form-control form-checkbox" })
            </div>
            }

            <div class="form-group">
                <div class="col-md-10 pull-left">
                    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_SchoolEdit))
                    {
                        <input type="submit" value="@CommonStrings.Save" class="btn btn-primary pull-left" />
                    }

                    @if (!Model.IsActivated)
                    {
                        @Html.ActionLink(CommonStrings.GrantAccess, "GrantAccess", "Schools", new { @InstituteID = Model.InstituteID }, new { @class = "btn btn-primary" })
                    }
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-6 col-md-10 col-sm-12">

        <div class="col-sm-12">
            @Html.Action("GetGroupBySchoolID", "Groups", new { area = "Administration", ID = Model.ID })
        </div>
        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_School_Remarks_View))
        {
            <div class="col-sm-12">
                @Html.Action("GetGenerelRemarks", "Schools", new { area = "Administration", ID = Model.ID })
            </div>
            <div class="col-sm-12">
                @Html.Action("GetSchoolRemarks", "Schools", new { area = "Administration", ID = Model.ID })
            </div>
        }
    </div>
}

