﻿@using Endilo.Helpers
@using FlightScheduling.Language
@using MvcContrib.UI.Grid
@using FlightScheduling.Web.App_Start
@using FlightScheduling.DAL.CustomEntities.Permissions
@model FlightScheduling.Web.Areas.Administration.Models.Schools.SchoolsViewModel

@{
    ViewBag.Title = SchoolsStrings.SchoolsManagementTitle;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

<h2>@SchoolsStrings.SchoolsManagementTitle</h2>

@using (Html.BeginForm("GetSchools", "Schools", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(model => model.InstituteID, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.InstituteID, new { @class = "form-control chosen-select chosen-rtl" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control chosen-select chosen-rtl" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control chosen-select chosen-rtl" })
        </div>
    </div>
    <div class="col-md-2">
        <input type="submit" value="@CommonStrings.Search" class="btn btn-default" />
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
}

@Html.ActionLink(SchoolsStrings.AddNewSchool, "AddSchool", null, new { @class = "btn btn-primary", @role = "button" })

@Html.Grid(Model.SchoolViewModels).Columns(col =>
{
    col.For(c => c.ID).Named(SchoolsStrings.ID);
    col.For(c => c.InstituteID).Named(SchoolsStrings.InstituteID);
    col.For(c => c.Name).Named(SchoolsStrings.Name);
    col.For(c => c.Email).Named(SchoolsStrings.Email);
    col.For(c => c.Phone).Named(SchoolsStrings.Phone);
    col.For(c => c.Fax).Named(SchoolsStrings.Fax);
    col.For(c => c.Manager).Named(SchoolsStrings.Manager);
    col.For(c => c.ManagerPhone).Named(SchoolsStrings.ManagerPhone);
    col.For(c => @Html.GetLable(c.IsActivated,c.IsActivated? CommonStrings.AccessAllowed : CommonStrings.AccessDenied)).Named(CommonStrings.AccessStatus);
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit, null).ToString(), "EditSchool", "Schools", new { ID = c.ID }, null)).Named(CommonStrings.Edit).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_SchoolView));
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteSchool", "Schools", Html.GetIcon(Icons.Delete, null).ToString(), new { ID = c.ID, Title = c.Name }, new { @class = "lable lable-default", id = "DeleteSchool", title = InstructorsStrings.DeleteInstructor })).Named(CommonStrings.Delete).Encode(false).Visible(PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_SchoolDelete));
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "schoolsManagement")


