﻿@using FlightScheduling.DAL.CustomEntities.Notifications;
@using Endilo.Helpers;
@model IEnumerable<Notifications>

@if (Model != null && Model.Count() > 0)
{
    if (Model.Where(n => n.CreationDate.Date == DateTime.Now.Date).Count() > 0)
    {
        <div class="group">היום</div>
        foreach (var notification in Model.Where(n => n.CreationDate.Date == DateTime.Now.Date))
        {
            @GenerateNotification(notification)
        }
    }

    if (Model.Where(n => n.CreationDate.Date < DateTime.Now.Date && n.CreationDate.Date >= DateTime.Now.AddDays(-7).Date).Count() > 0)
    {
        <div class="group">השבוע</div>
        foreach (var notification in Model.Where(n => n.CreationDate.Date < DateTime.Now.Date && n.CreationDate.Date >= DateTime.Now.AddDays(-7).Date))
        {
            @GenerateNotification(notification)
        }
    }

    if (Model.Where(n => n.CreationDate.Date < DateTime.Now.AddDays(-7).Date).Count() > 0)
    {
        <div class="group">מאוחר יותר</div>
        foreach (var notification in Model.Where(n => n.CreationDate.Date < DateTime.Now.AddDays(-7).Date))
        {
            @GenerateNotification(notification)
        }
    }
}
else
{
    <div class="empty-notifications">אין התראות חדשות</div>
}

@helper GenerateNotification(Notifications notification)
    {
        <div class="notification-alert" id="notification-@notification.ID">
            <div class="title">@notification.MessageSubject</div>
            <div class="creationDate">@notification.CreationDate.ToString("hh:mm dd/MM/yyyy")</div>
            <div class="message">@(Html.Raw(Helpers.RemoveUnwantedTags(notification.MessageBody)))</div>
            <div id="mark-read" data-id="@notification.ID" class="mark-read"><a href="#" >סמן כנקרא</a></div>
            @if (!String.IsNullOrEmpty(notification.CallToAction))
            {
                <div class="link"><a href="@notification.CallToAction" class="btn btn-default btn-xs">צפה בטופס</a></div>
            }
        </div>
}

<script type="text/javascript">

    


    $(function () {

        //Mark Notification as Read
        $(".mark-read").on('click', function () {
            console.log("In");
            console.log($(this).data("id"));
            MarkNotificationAsRead($(this).data("id"));
        });

        function MarkNotificationAsRead(ID) {
            $.ajax({
                url: "/Account/MarkNotificationAsRead",
                type: "GET",
                data: "ID=" + ID,
                success: function (result) {
                    var json = jQuery.parseJSON(result);
                    console.log(json.success);
                    if (json.success) {
                        $("#notification-" + ID).fadeOut();
                    }
                    
                }
            });
        }

    });
</script>