﻿@using FlightScheduling.Language
@model FlightScheduling.Website.Models.Account.SchoolUserViewModel

@{
    ViewBag.Title = "GetSchoolBasedOnInstituteID";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container">
    <div class="row">

        <div class="col-md-5 loginBox">
            <h2>@AccountStrings.CreateSchoolManager</h2>
            @using (Html.BeginForm("GetSchoolBasedOnInstituteID", "Account", FormMethod.Post, new { Class = "form-signin" }))
            {
                <div class="featured-box featured-box-primary default info-content">
                    <div class="box-content">
                        <h2 class="form-signin-heading">@AccountStrings.LogOnTitle</h2>
                        @*@Html.ValidationSummary(true, @AccountStrings.GeneralValidationError, new { Class = "alert alert-danger" })*@
                        <div class="col-12">
                            @Html.ValidationMessage("InstituteIDNotFound", new { Class = "alert alert-danger" }, "div")
                        </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(m => m.InstituteID)
                                @Html.ValidationMessageFor(m => m.InstituteID)
                                @Html.TextBoxFor(m => m.InstituteID, new { placeholder = SchoolsStrings.InstituteID, Class = "form-control input-lg", @Value = "" })
                            </div>
                        </div>

                        <div class="row">
                            <button class="btn btn-primary push-bottom signInBtn" type="submit">@AccountStrings.SignIn</button>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
</div>