﻿@using System.ServiceModel.Channels
@using System.Web.Optimization
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@model Otakim.Website.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@section scripts
{
    @Scripts.Render("~/bundles/jquery.validate")
    <script src="/Scripts/linkify.js"></script>

    <script type="text/javascript">
        $(function () {
            jQuery('.list-group-item-text').linkify();
        });
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { Class = "form-signin" }))
            {
                <div class="featured-box featured-box-primary default info-content">
                    <div class="box-content">
                        <h2 class="form-signin-heading">@AccountStrings.LogOnTitle</h2>
                        <div class="row" > 
                            <div class="col-sm-12" style="display:grid">
                                @Html.ValidationSummary(true, @AccountStrings.GeneralValidationError, new { Class = "alert alert-danger" })
                                @if (!ViewData.ModelState.IsValid)
                                {
                                @Html.ValidationMessage("SchoolManagerDisabled", new { Class = "alert alert-danger" })
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.ValidationMessageFor(m => m.UserName)
                                @Html.TextBoxFor(m => m.UserName, new { placeholder = @AccountStrings.LoginPlaceholder, Class = "form-control input-lg" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                @Html.ValidationMessageFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { placeholder = @AccountStrings.Password, Class = "form-control input-lg" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 noPadding">
                                <span class="remember-box">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </label>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            @Html.HiddenFor(m => m.ReturnURL)
                            <button class="btn btn-primary push-bottom signInBtn" mp-event="Login Button Clicked" type="submit">@AccountStrings.SignIn</button>
                        </div>
                        <div>@Html.ActionLink(AccountStrings.CreateSchoolManager, "GetSchoolBasedOnInstituteID")</div>
                        <div>@Html.ActionLink(AccountStrings.ForgetPassword, "PasswordChangeRequest")</div>
                    </div>
                </div>
            }
            <div>
                <h5 class="message-board-header">@AccountStrings.LoginImportantEmails</h5>
                <ol class="info-card">
                    <li>לאתר של מנהל חברה ונוער - מסמכים, חוזרים , חומרי הדרכה ועוד | <a href="https://edu.gov.il/noar/minhal/Pages/hp.aspx" target="_blank">לחץ כאן</a></li>
                    <li>מצורף בזאת חוברת מעודכנת לשימוש מנהל משלחת ומנהל בית ספר. החוברת מעודכנת בהתאם לשינויים שבוצעו במערכת ניהול המשלחות | <a href="https://meyda.education.gov.il/files/noar/homeland2021.pdf">לחץ להורדת חוברת הדרכה</a></li>
                    <li>כתובת המייל של מינהלת פולין <a href="mailto:minhelet.polin@gmail.com">minhelet.polin@gmail.com</a></li>
                    <li>אם נתקלת בבעיה בכניסה למערכת יש לשלוח הודעה למייל המצורף <a href="mailto:delegation.polin@gmail.com">delegation.polin@gmail.com</a> יש לציין סמל מוסד ,שם בית ספר וטלפון נייד של הפונה .</li>
                    <li>כתובת המייל של מחלקת תוכניות <a href="mailto:tochniyot.polin@gmail.com">tochniyot.polin@gmail.com</a></li>
                    <li>כתובת המייל של רכזת משלחות משרדיות במטה  <a href="mailto:misradit.polin@gmail.com">misradit.polin@gmail.com</a></li>
                    <li>בענייני מלגות יש לפנות למייל  <a href="mailto:melagotpo@education.gov.il">melagotpo@education.gov.il</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-5">
            <div class="featured-box featured-box-primary default info-content">
                <div class="box-content">
                    <h4 class="message-board-header">@AdministrationStrings.SystemMessages</h4>
                    @if (Model != null)
                    {
                        foreach (var message in Model.Messages)
                         {
                             <div class="list-group">
                                 <a href="#" class="list-group-item message-board-item">
                                     <h5 class="list-group-item-heading">@message.Title <span class="message-date">@message.CreationDate.ToString("dd/MM/yyyy")</span></h5>
                                     <p class="list-group-item-text">@Html.Raw(Html.Nl2Br((message.Message)))</p>
                                 </a>
                             </div>
                         }
                    }
                </div>
            </div>

        </div>
    </div>
</div>


