﻿@using System.ServiceModel.Channels
@using System.Web.Optimization
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@model FlightScheduling.DAL.Users
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@section scripts
{
    @Scripts.Render("~/bundles/jquery.validate")
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <p>@(String.Format(AccountStrings.PasswordChangedRequestSent, Model.Email))</p>
        </div>
    </div>
</div>


