﻿@using System.ServiceModel.Channels
@using System.Web.Optimization
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@model FlightScheduling.Web.Models.Account.PasswordChangeRequestViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@section scripts
{
    @Scripts.Render("~/bundles/jquery.validate")
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            @using (Html.BeginForm("PasswordChangeRequest", "Account", FormMethod.Post, new { Class = "form-signin" }))
            {
                <div class="featured-box featured-box-primary default info-content">
                    <div class="box-content">
                        <h2 class="form-signin-heading">@AccountStrings.PasswordChangeRequestTitle</h2>
                        @Html.ValidationSummary(true, @AccountStrings.GeneralValidationError, new { Class = "alert alert-danger" })
                        <div class="row">
                            <div class="form-group">
                                @Html.ValidationMessageFor(m => m.UserName)
                                @Html.TextBoxFor(m => m.UserName, new { placeholder = @AccountStrings.LoginPlaceholder, Class = "form-control input-lg" })
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary push-bottom signInBtn" type="submit">@CommonStrings.Send</button>
                        </div>
                        @Html.ActionLink(AccountStrings.CreateSchoolManager, "GetSchoolBasedOnInstituteID")
                    </div>
                </div>
            }

        </div>
    </div>
</div>


