﻿@using System.ServiceModel.Channels
@using System.Web.Optimization
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@model FlightScheduling.Web.Models.Account.PasswordChangeRequestViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@section scripts
{
    @Scripts.Render("~/bundles/jquery.validate")
}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p class="alert alert-info">@AccountStrings.ResetPasswordSuccess</p>
            @Html.ActionLink(AccountStrings.ReturnToLogin, "Login", null, new { @class = "btn btn-primary" })

        </div>
    </div>
</div>


