﻿@using System.ServiceModel.Channels
@using System.Web.Optimization
@using FlightScheduling.Language
@using FlightScheduling.Website.Infrastructure
@model FlightScheduling.Web.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@section scripts
{
    @Scripts.Render("~/bundles/jquery.validate")
}
<div class="container">
    <div class="row">
        @if (Model.TokenExpired)
        {
        <div class="col-md-6 col-md-offset-1">
            <p class="alert alert-danger">@AccountStrings.PasswordChangeExpired</p>
            <div>@Html.ActionLink(AccountStrings.ForgetPassword, "PasswordChangeRequest")</div>

        </div>
        }
        else
        {
            <div class="col-md-6 col-md-offset-1">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { Class = "form-signin" }))
                {
                    <div class="featured-box featured-box-primary default info-content">
                        <div class="box-content">
                            <h2 class="form-signin-heading">@AccountStrings.PasswordChangeRequestTitle</h2>
                            @Html.ValidationSummary(true, @AccountStrings.GeneralValidationError, new { Class = "alert alert-danger" })
                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password, new { Class = "form-control input-lg" })
                                    @Html.ValidationMessageFor(m => m.Password)

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { Class = "form-control input-lg" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)

                                </div>
                            </div>
                            <div class="row">
                                @Html.HiddenFor(m => m.UserID)
                                <button class="btn btn-primary push-bottom signInBtn" type="submit">@CommonStrings.Send</button>
                            </div>
                        </div>
                    </div>
                }

            </div>
        }
    </div>
</div>


