﻿@using FlightScheduling.Language
@model FlightScheduling.Website.Models.Account.SchoolUserViewModel

@{
    ViewBag.Title = SchoolsStrings.EditSchool;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<h2>@SchoolsStrings.EditSchool</h2>
<p class="alert alert-info col-lg-6 col-md-6 col-sm-6"><i class="fa fa-info"></i> @AccountStrings.EmailApproval</p>



@using (Html.BeginForm("UpdateSchoolDetails", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.School.ID)
    @Html.HiddenFor(model => model.School.IsActive)
    @Html.HiddenFor(model => model.School.InstituteID)
    @Html.HiddenFor(m => m.InstituteID)

    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">


            @Html.ValidationSummary(false)

            <div class="form-group">
                @Html.LabelFor(model => model.School.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.School.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.School.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.School.InstituteID, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.School.InstituteID, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.School.InstituteID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.School.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.School.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.School.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.School.Phone, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.School.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.School.Phone)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.School.Fax, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.School.Fax, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.School.Fax)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.School.Manager, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.School.Manager, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.School.Manager)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.School.ManagerPhone, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.School.ManagerPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.School.ManagerPhone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.School.ManagerEmail, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.School.ManagerEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.School.ManagerEmail)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 pull-left">
                    <input type="submit" value="@CommonStrings.SaveAndClose" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </div>
}



