﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Agencies.DeleteAgencyViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <span class="section-header-text otakim-modal-header">@AdministrationStrings.DeleteUser</span>
        </div>
        @using (Html.BeginForm("DeleteAgency", "Agencies", FormMethod.Post, null))
        {
            <div class="modal-body">
                @Html.HiddenFor(m => m.ID)

                <p>@CommonStrings.DeleteConfirm</p>
                
                @if (Model.Users.Count() > 0)
                {
                    <p>@AgenciesStrings.DeleteAgencyLimitation</p>
                    <ul>
                        @foreach (var user in Model.Users)
                        {
                            <li>@user.FullName</li>
                        }
                    </ul>
                }
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Cancel</button>
				<button type="button" class="btn btn-danger" onclick="submit();">@CommonStrings.Delete</button>*@
                <button type="button" class="btn btn-info btn-otakim otakim-button-space" data-dismiss="modal">
                    <span class="button-text">@CommonStrings.Cancel</span>
                    <div class="x-white"></div>
                </button>
                @if (Model.Users.Count() == 0)
                {
                    <button type="button" class="btn btn-danger btn-otakim otakim-button-space" onclick="submit();">
                        <span class="button-text">@CommonStrings.Delete</span>
                        <div class="white-v"></div>
                    </button> 
                }

            </div>
        }
    </div>
</div>
