﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Agencies.AgencyViewModel

@{
    ViewBag.Title = AgenciesStrings.EditAgencyTitle;
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<h2>@AgenciesStrings.EditAgencyTitle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.IsActive)

    <div class="col-lg-10 col-md-8 col-sm-6">
        <div class="form-horizontal">


            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Fax)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Manager, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Manager, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Manager)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ManagerPhone, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ManagerPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ManagerPhone)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@CommonStrings.Edit" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>
}


