﻿@using Endilo.Helpers
@using FlightScheduling.Language
@using MvcContrib.UI.Grid
@model FlightScheduling.Web.Areas.Administration.Models.Agencies.AgenciesViewModel

@{
    ViewBag.Title = AdministrationStrings.Agencies;
    Layout = "~/Views/Shared/_SystemAdministration.cshtml";
}

<h2>@AdministrationStrings.Agencies</h2>

@Html.ActionLink(AgenciesStrings.CreateAgency, "AddAgency", null, new { @class = "btn btn-primary", @role = "button" })

@Html.Grid(Model.AgencyViewModels).Columns(col =>
{
    col.For(c => c.ID).Named(AgenciesStrings.ID);
    col.For(c => c.Name).Named(AgenciesStrings.Name);
    col.For(c => c.Email).Named(AgenciesStrings.Email);
    col.For(c => c.Phone).Named(AgenciesStrings.Phone);
    col.For(c => c.Fax).Named(AgenciesStrings.Fax);
    col.For(c => c.Manager).Named(AgenciesStrings.Manager);
    col.For(c => c.ManagerPhone).Named(AgenciesStrings.ManagerPhone);
    col.For(c => @Html.GetLinkWithHtml(@Html.GetIcon(Icons.Edit,null).ToString(), "EditAgency", "Agencies", new { ID = c.ID }, null)).Named(CommonStrings.Edit);
    col.For(c => @Ajax.LinkForBootstrapModalNo("DeleteAgency", "Agencies", Html.GetIcon(Icons.Delete, null).ToString(), new { @ID = c.ID }, new { @class = "lable lable-default", title = CommonStrings.Delete })).Named(CommonStrings.Delete).Encode(false);
}).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "userManagement")


<div id="DeleteModalWindowContainer" class="modal fade"></div>
<div id="DeleteLoadingPanelContainer" class="modal-loading-panel" style="display: none"></div>
