﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Common.DeleteViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <span class="section-header-text otakim-modal-header">@Model.Header</span>
        </div>

        @using (Html.BeginForm(Model.Action, Model.Controller, null, FormMethod.Post, new { id = "deleteItem" }))
        {
            <div class="modal-body">
                @Html.HiddenFor(m => m.ID)
                @if (Model.BulkActionIDs != null && Model.BulkActionIDs.Count() > 0)
                {
                    for (int i = 0; i < Model.BulkActionIDs.Count(); i++)
                    {
                        <input type="hidden" name="@String.Format("BulkActionIDs[{0}]", i)" value="@Model.BulkActionIDs[i]" />

                    }
                }

                @if (Model.ReturnRefirectProperties != null && Model.ReturnRefirectProperties.Count() > 0)
                {
                    for (int i = 0; i < Model.ReturnRefirectProperties.Count(); i++)
                    {
                        <input type="hidden" name="@String.Format("ReturnRefirectProperties[{0}]", i)" value="@Model.ReturnRefirectProperties[i]" />
                    }
                }

                @if (Model.CustomProperties != null && Model.CustomProperties.Count() > 0)
                {
                    for (int i = 0; i < Model.CustomProperties.Count(); i++)
                    {
                    <input type="hidden" name="@String.Format("CustomProperties[{0}]", i)" value="@Model.CustomProperties[i]" />
                    }
                }

                <p>@String.Format(CommonStrings.DeleteConfirmWithTitle, Model.Title)</p>

                @if (!String.IsNullOrEmpty(Model.CustomMessage))
                {
                    <p>@Model.CustomMessage</p>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-otakim otakim-button-space" data-dismiss="modal">
                    <span class="button-text">@CommonStrings.Cancel</span>
                    <div class="x-white"></div>
                </button>
                @if (Model.IsDeletable)
                {
                    <button type="button" class="btn btn-danger validate-form">
                        <span class="button-text">@CommonStrings.Delete</span>
                        <div class="white-v"></div>
                    </button>
                }

            </div>
        }
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Common/validate.form.custom.methods.js"></script>
