﻿@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model  FlightScheduling.Web.Areas.Administration.Models.Shared.EntityRemarksViewModel

<div class="row">
    <h5 class="strong inline-header">
        @CommonStrings.GeneralRemarks
        @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_School_Remarks_Edit))
        {
            @(Ajax.LinkForBootstrapModal("ManageGenericRemark", "Schools", routeValues: new { Model.EntityID })
                                            .HtmlAttributes(new { @class = "btn btn-primary btn-xs pull-left", id = "GroupFormInstructor", title = CommonStrings.AddGenericRemark })
                                            .RawLabel(@<text>@CommonStrings.AddGenericRemark</text>)
                                                                                    .LoadingPanelID("GroupFormsModalWindowContainer")
                                                                                    .ModalWindowContainerID("GroupFormsLoadingPanelContainer")
                                                                                    .UseExsistingModalcontainer(false)
            )
        }
    </h5>
    
</div>
<div class="row">
    @foreach (var remark in Model.Remarks.OrderByDescending(m => m.UpdateDate))
    {
        <div class="remark">
            <div class="col-md-8 remark-writer">@(String.Format("{0} {1}", remark.Firstname, remark.Lastname))</div>
            <div class="col-md-4 remark-date">@remark.UpdateDate.ToString(AppConfig.FormatDateAndTime)</div>
            <div class="col-md-12 remark-note">@remark.Notes</div>
            <div class="col-md-12 remark-actions">
                @*<span class="remark-action">ערוך</span>*@
                @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Administration_School_Remarks_Delete)) { }
                @(Ajax.LinkForBootstrapModal("DeleteGenericRemark", "Schools", routeValues: new { remark.ID, remark.EntityID })
                 .HtmlAttributes(new { id = "genericRemarkDeletion", title = CommonStrings.Delete, @class = "remark-action" })
                 .RawLabel(@<text>@Html.GetIcon(Icons.Delete, null)</text>)
                 .LoadingPanelID("EditSchoolModalWindowContainer")
                 .ModalWindowContainerID("EditSchoolLoadingPanelContainer")
                 .UseExsistingModalcontainer(false)
                )
            </div>
        </div>
    }
</div>
@*@Html.Grid(Model.Remarks).Columns(col =>
    {
        col.For(c => string.Format("{0} {1}", c.Firstname, c.Lastname)).Named(GroupsStrings.Writer);
        col.For(c => c.UpdateDate).Named(CommonStrings.UpdateDate).Format("{0:dd/MM/yyyy hh:mm:ss}");
        col.For(c => c.Notes).Named(CommonStrings.Remark);
    }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "GeneralRemarks").Empty(CommonStrings.Empty)*@