﻿@using FlightScheduling.Language
@using FlightScheduling.DAL.CustomEntities.Permissions
@using FlightScheduling.Web.App_Start
@using FlightScheduling.Web.Infrastructure
@model FlightScheduling.DAL.CustomEntities.Groups.GroupFolderCustom
<ul class="nav nav-tabs">
    @Html.NavigationTab(Url.Action("GroupFolderManagement", "Groups", new { area = "Administration", ID = Model.GroupID }), GroupsStrings.GroupFolderData)
    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_ViewParticipants))
    {
        @Html.NavigationTab(Url.Action("GetGroupParticipants", "Groups", new { area = "Administration", ID = Model.GroupID }), GroupsStrings.ParticipantList)
    }
    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Expedition_FormsViewing))
    {
        @Html.NavigationTab(Url.Action("GetGroup180Forms", "GroupForms", new { area = "Administration", GroupID = Model.GroupID }), GroupFormsStrings.Group180Forms)
    }
    @if (PermissionLoader.CheckUserPermissions(PermissionBitEnum.Form60_View))
    {
        @Html.NavigationTab(Url.Action("GetForm60", "GroupForms", new { area = "Administration", GroupID = Model.GroupID }), GroupFormsStrings.Form60)
    }
    </ul>
<div>&nbsp;</div>
