﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupManagerData
<h5 style="font-weight:bold;" class="bottom-margin-25x">
    @GroupFormsStrings.GroupManager
</h5>
<div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupFormsStrings.NameofHeadofGroup:</span>@(String.Format("{0}, {1}", Model.FirstNameHE, Model.LastNameHE))</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.CellPhone:</span> @Model.CellPhone</div>
    <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@InstructorsStrings.HomePhone:</span> @Model.HomePhone</div>
    <div class="col-sm-6 bottom-padding-2x">
        <span class="strong padding-right-5px">@AccountStrings.EmailAddress:</span> @Model.Email</div>
</div>

