﻿@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupGeneralDetailsViewModel
@using FlightScheduling.Web.Infrastructure
<div class="row">
    <div class="col-sm-12">
        <h5 class="strong">@GroupsStrings.GroupFolderData</h5>
        <div>
            <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ExpeditionID:</span>@Model.GroupExternalID</div>
            <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.NumberOfBuses:</span> @Model.NumberOfBuses</div>
            <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.NumberOfAssignedParticipants:</span> @Model.NumberofParticipants </div>

        </div>
    </div>
</div>
@if (Model.Trip != null && Model.Trip.ID > 0)
{
    <div class="row">
        <div class="col-sm-12">
            <h5 class="strong">@TripsStrings.TripDetails</h5>
            <div>
                <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.DepartureDate:</span>@Model.Trip.DepartureDate.ToString(AppConfig.FormatDate)</div>
                <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.Destenation:</span> @Model.Trip.DestenationEnum.GetDescription()</div>
                <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.ReturnDate:</span> @Model.Trip.ReturningDate.ToString(AppConfig.FormatDate)</div>
                <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.TakeOffField:</span> @Model.Trip.ReturnedFromEnum.GetDescription()</div>
            </div>
        </div>
    </div>
}

