﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.Language
@model IEnumerable<FlightScheduling.Web.Areas.Administration.Models.GroupForms.GroupSchoolsViewModel>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-box">
        <h5 style="font-weight:bold;">
            @GroupFormsStrings.GroupSchools
        </h5>

        @Html.Grid(Model).Columns(col =>
        {
            col.For(c => @Html.ActionLink(c.InstituteID.ToString(), "EditSchool", "Schools", new { ID = c.SchoolID }, null)).Named(SchoolsStrings.InstituteID);
            col.For(c => c.Name).Named(SchoolsStrings.Name);
            col.For(c => c.InstituteID).Named(SchoolsStrings.InstituteID);
            col.For(c => Html.GetIcon(c.IsPrimary ? Icons.YesBlack : Icons.No, null)).Named(GroupsStrings.SchoolIsPrimary);
            col.For(c => Html.GetIcon(c.IsAdministrativeInstitude ? Icons.YesBlack : Icons.No, null)).Named(SchoolsStrings.IsAdministrative);
            col.For(c => Html.GetIcon(c.IsSpecialEducation ? Icons.YesBlack : Icons.No, null)).Named(SchoolsStrings.IsSpecialEducation);
            col.For(c => c.StramEnum != null ? c.StramEnum.GetDescription(): "").Named(SchoolsStrings.Stream);
        }).Attributes(@class => "table table-hover table-responsive table-condensed", @id => "groupsNotesList").Empty(CommonStrings.Empty)
    </div>
</div>