﻿@using Flight.DAL.FlightDB.Methods
@using FlightScheduling.DAL
@using FlightScheduling.Language
@model FlightScheduling.Web.Areas.Administration.Models.Groups.GroupFolderDataViewModel

<div class="">
    <div class="row">
        <h5 class="strong">@GroupsStrings.GroupFolderData</h5>
        <div class="col-sm-6 bottom-padding-2x">
            <span class="strong padding-right-5px">@GroupsStrings.ExpeditionID:</span>@Model.GroupFolderData.GroupExternalID
        </div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ExpeditionColor:</span>@Html.AddInstitudeRetangle(Model.GroupFolderData.GroupColor.Code, Model.GroupFolderData.GroupExternalID.ToString())  @Model.GroupFolderData.GroupColor.ColorCodeName.GetDescription()</div>
        <div class="col-sm-6 bottom-padding-2x">
            <span class="strong padding-right-5px">@AgenciesStrings.Name:</span> @Model.GroupFolderData.Order.Agencies.Name
        </div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.NumberOfBuses:</span> @Model.GroupFolderData.GroupNumberOfBuses</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.NumberOfParticipants:</span> @Model.GroupFolderData.GroupNumberofParticipants</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ExpeditionStatus:</span> @Model.GroupFolderData.GroupStatusEnum.GetDescription()</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ParticipantRegistrationStatus:</span><span class="@Html.GetNumberOfParticipantsAlertIndication(Model.AssignedParticipants, Model.GroupFolderData.GroupNumberofParticipants)">@String.Format("{0}/{1}", Model.AssignedParticipants, Model.GroupFolderData.GroupNumberofParticipants)</span></div>
        <div class="col-sm-6 bottom-padding-2x">&nbsp;</div>
        <div class="col-sm-6 bottom-padding-2x">&nbsp;</div>
    </div>
    @*<div class="row">
        <h5 class="strong inline-header">@ExpeditionStrings.ExpeditionDetails</h5>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ID:</span> @Html.ActionLink(Model.GroupFolderData.Order.ID.ToString(), "EditExpedition", "Expeditions", new { area = "", ID = Model.GroupFolderData.Order.ID }, null)</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ExpeditionManager:</span> @Model.GroupFolderData.Order.Manager</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ExpeditionManagerPhone:</span> <a href="tel:@Model.GroupFolderData.Order.ManagerPhone">@Model.GroupFolderData.Order.ManagerPhone</a></div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ExpeditionManagerEmail:</span> <a href="mailto:@Model.GroupFolderData.Order.ManagerEmail">@Model.GroupFolderData.Order.ManagerEmail</a></div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@ExpeditionStrings.ExpeditionManagerCell:</span> <a href="tel:@Model.GroupFolderData.Order.ManagerCell">@Model.GroupFolderData.Order.ManagerCell</a></div>
        <div class="col-sm-6 bottom-padding-2x">&nbsp;</div>
    </div>*@
    <div class="row">
        <h5 class="strong">@TripsStrings.TripDetails</h5>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.ID:</span>@Html.ActionLink(Model.GroupFolderData.Trip.ID.ToString(), "TripManagement", "Trips", new { ID = Model.GroupFolderData.Trip.ID }, null)</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.Destenation:</span> @Model.GroupFolderData.Trip.DestenationEnum.GetDescription()</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.DepartureDate:</span> @Model.GroupFolderData.Trip.DepartureDate.ToString("dd/MM/yyyy")</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@TripsStrings.ReturnDate:</span> @Model.GroupFolderData.Trip.ReturningDate.ToString("dd/MM/yyyy")</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ContactName:</span> @Model.GroupFolderData.ContactName</div>
        <div class="col-sm-6 bottom-padding-2x"><span class="strong padding-right-5px">@GroupsStrings.ContactPhone:</span> @Model.GroupFolderData.ContactPhone</div>
    </div>
</div>
