﻿@using System.ComponentModel.DataAnnotations
@using Endilo.GenericSearch
@model Endilo.GenericSearch.BooleanSearch
<div class="form-group">

    @Html.LabelFor(m => m.SearchTerm, this.Model.LabelText, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9 form-inline">
        @if (Model.comperer == eBolleanComparators.DropdownList)
        {
            @Html.EnumDropDownListFor(m => m.EBolleanOptions, new { @class = "form-control chosen-select chosen-rtl" })
        }
        else
        {
            @Html.CheckBoxFor(m => m.SearchTerm)
        }
    </div>

    @Html.HiddenFor(m => m.Property)
    @Html.HiddenFor(m => m.TargetTypeName)
    @Html.HiddenFor(m => m.comperer)
    @Html.Hidden("ModelTypeName", this.Model.GetType().AssemblyQualifiedName)
</div>
