﻿@using System.ComponentModel.DataAnnotations
@model Endilo.GenericSearch.CustomListSearch

<div class="form-group">
    @Html.LabelFor(m => m.SearchTerms, this.Model.LabelText, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9 form-inline">
        @Html.ListBoxFor(m => m.SearchTerms, Model.AvailableValues, new { @class = "form-control chosen-select chosen-rtl", @data_placeholder_text_multiple = "@OrdersManagementStrings.SelectAnOption" })
    </div>

    @Html.HiddenFor(m => m.Property)
    @Html.HiddenFor(m => m.TargetTypeName)
    @Html.HiddenFor(m => m.MultiselectComperer)
    @Html.Hidden("ModelTypeName", this.Model.GetType().AssemblyQualifiedName)
</div>
