﻿@using Endilo.GenericSearch
@model Endilo.GenericSearch.DateSearch
<div class="form-group form-inline">
    @Html.LabelFor(m => m.SearchTerm, this.Model.LabelText, new { @class = "col-xs-3 control-label" })
    @if (Model.Comparator == eDateComparators.InRange)
    {

        <div class="col-xs-9">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", type = "date" })

            @Html.TextBoxFor(m => m.SearchTerm2, new { @class = "form-control", type = "date" })
        </div>

    }
    else
    {
        <div class="col-xs-9">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", type = "date" })
        </div>
    }

    @Html.HiddenFor(m => m.Property)
    @Html.HiddenFor(m => m.TargetTypeName)
    @Html.Hidden("ModelTypeName", this.Model.GetType().AssemblyQualifiedName)
</div>
