﻿@using System.ComponentModel.DataAnnotations
@model Endilo.GenericSearch.EnumSearch

@{
    var enumMembers = Enum.GetValues(this.Model.EnumType);
    string[] enumNames = Enum.GetNames(this.Model.EnumType);
    SelectListItem[] items = new SelectListItem[enumNames.Length + 1];
    items[0] = new SelectListItem()
    {
        Text = "",
        Value = string.Empty
    };
    
    for (int i = 0; i < enumNames.Length; i++)
    {
        var display = this.Model.EnumType.GetMember(enumNames[i])[0].GetCustomAttributes(typeof(DisplayAttribute), true).Cast<DisplayAttribute>().FirstOrDefault();
        if (display != null)
        {
            enumNames[i] = display.GetName();
        }

        items[i + 1] = new SelectListItem()
        {
            Text = enumNames[i],
            Value = enumMembers.GetValue(i).ToString()
        };
    }
}

<div class="form-group">
    @Html.LabelFor(m => m.SearchTerms, this.Model.LabelText, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9 form-inline">
		@if (Model.Multiselect)
		{
	        @Html.ListBoxFor(m => m.SearchTerms, items.Skip(1), new { @class = "form-control chosen-select chosen-rtl", @data_placeholder_text_multiple = "@OrdersManagementStrings.SelectAnOption"})
		}
		else
		{
			@Html.DropDownListFor(m => m.SearchTerms, items, new { @class = "form-control chosen-select chosen-rtl"})
		}
    </div>
    @Html.HiddenFor(m => m.Property)
    @Html.HiddenFor(m => m.EnumTypeName)
    @Html.HiddenFor(m => m.TargetTypeName)
	@Html.HiddenFor(m => m.MultiselectComperer)
    @Html.Hidden("ModelTypeName", this.Model.GetType().AssemblyQualifiedName)
</div>
