﻿@model Endilo.GenericSearch.TextSearch

<div class="form-group">

    @Html.LabelFor(m => m.SearchTerm, this.Model.LabelText, new { @class = "col-sm-3 control-label" })


    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Property)
    @Html.HiddenFor(m => m.TargetTypeName)
    @Html.Hidden("ModelTypeName", this.Model.GetType().AssemblyQualifiedName)
</div>
